In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [2]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\1994-2001\\pme1995\\pmeantiga\\PME1995P.csv'
b1995p = pd.read_csv(basep)
b1995p.head()

,uf,ano,mes,v102,v103,v201,v202,v203,v204,v205,...,deflator,v309df,v311df,v0106,v0109,v0110,v0112,painel,npesq,aest1
0,33,1995,1,332895,15,2,3,2,2,1,...,0.568534,NaN,NaN,1,2,2,2,G,5,4
1,43,1995,1,431370,16,1,3,1,1,1,...,0.568534,70.356384,NaN,1,3,3,2,G,5,3
2,33,1995,1,330132,19,1,1,1,1,1,...,0.568534,439.727390,NaN,1,3,2,2,G,5,3
3,29,1995,1,290572,1,4,1,3,3,1,...,0.568534,175.890950,NaN,1,8,6,2,G,5,3
4,29,1995,1,290572,1,5,3,3,3,1,...,0.568534,NaN,NaN,1,8,6,2,G,5,3

abrimos la tabla con el deflactor

In [3]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos para asegurarnos que estén bien

In [4]:
b1995p.describe
b1995p.dtypes

uf         int64
ano        int64
mes        int64
v102       int64
v103       int64
           ...
v0110      int64
v0112      int64
painel    object
npesq      int64
aest1      int64
Length: 68, dtype: object

## Nos quedamos con las columnas que vamos a usar

- uf: Región de la encuesta \
- ano: año\
- mes: mes\
- v102: número de control, identifica el área de la encuesta\
- v103: Número de serie, equivale a un número de domicilio específico por área\
    (juntos v102 y v103 permiten construir un índice de hogares, considerando un hogar único encuestado cada mes en cada área)\
- v202: sexo\
- v204: Condición de la familia\
    1. CHEFE\
    2. CÔNJUGE\
    3. FILHO\
    4. OUTRO PARENTE
    5. AGREGADO
    6. PENSIONISTA
    7. EMPREGADO DOMÉSTICO
    8. PARENTE DO EMPREGADO DOMÉSTICO
- v210: grado
    0. UNCA FREQÜENTOU
    1. ELEMENTAR
    2. MÉDIO 1o CICLO 
    3. 1o  GRAU
    4. MÉDIO 2o  CICLO
    5. 2o  GRAU
    6. SUPERIOR
    7. MESTRADO OU DOUTORADO
    9. IGNORADO
v236: mes de nacimiento
v246: año de nacimiento
v306: Posición en su ocupación
  2 - EMPREGADO
  4 - CONTA PRÓPRIA
  6 - EMPREGADOR
  8 - NÃO REMUNERADO
  9 - IGNORADO
v309: Rendimiento efectivamente recibido en el mes obtenido de su trabajo principal
v339: Tasa de rendimiento en dinero de su trabajo principal con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais   
v311: Rendimiento efectivamente recibido al mes de sus otros trabajos
v341: Tasa de rendimiento en dinero de sus otros trabajos con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais 
v0109: Total de moradores en el hogar
v0110: Total de moradores con 10 años o más
peso: Peso para expansión que debe ser dividido para 1000 para poder ser usado

In [5]:
#Nos quedamos con los datos que necesitamos
b1995pf = b1995p[['uf', 'ano', 'mes', 'v102', 'v103', 'v202', 'v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341', 'v0109', 'v0110']]
b1995pf.head()

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110
0,33,1995,1,332895,15,3,2,2,11,941,NaN,NaN,NaN,NaN,NaN,2,2
1,43,1995,1,431370,16,3,1,1,12,932,4.0,40.0,11.0,NaN,NaN,3,3
2,33,1995,1,330132,19,1,1,1,10,969,2.0,250.0,13.0,NaN,NaN,3,2
3,29,1995,1,290572,1,1,3,3,2,973,2.0,100.0,12.0,NaN,NaN,8,6
4,29,1995,1,290572,1,3,3,3,10,978,NaN,NaN,NaN,NaN,NaN,8,6

In [6]:
b1995pf.describe

<bound method NDFrame.describe of          uf   ano  mes      v102  v103  v202  v204  v210  v236  v246  v306  \
0        33  1995    1    332895    15     3     2     2    11   941   NaN
1        43  1995    1    431370    16     3     1     1    12   932   4.0
2        33  1995    1    330132    19     1     1     1    10   969   2.0
3        29  1995    1    290572     1     1     3     3     2   973   2.0
4        29  1995    1    290572     1     3     3     3    10   978   NaN
...      ..   ...  ...       ...   ...   ...   ...   ...   ...   ...   ...
1084458  29  1995   12  29001544    14     1     3     5     6   974   2.0
1084459  35  1995   12  35002654    12     1     1     1     9   954   NaN
1084460  26  1995   12  26001624     4     3     2     5     5   968   NaN
1084461  29  1995   12  29001501     2     3     3     3     2   962   2.0
1084462  35  1995   12  35002603    13     1     4     5     5   974   NaN

          v309  v339  v311  v341  v0109  v0110
0          NaN   NaN   NaN   NaN      2      2
1         40.0  11.0   NaN   NaN      3      3
2        250.0  13.0   NaN   NaN      3      2
3        100.0  12.0   NaN   NaN      8      6
4          NaN   NaN   NaN   NaN      8      6
...        ...   ...   ...   ...    ...    ...
1084458  180.0  12.0   NaN   NaN     11      9
1084459    NaN   NaN   NaN   NaN      4      2
1084460    NaN   NaN   NaN   NaN      3      2
1084461  100.0  11.0   NaN   NaN      2      2
1084462    NaN   NaN   NaN   NaN      3      3

[1084463 rows x 17 columns]>

In [7]:
b1995pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084463 entries, 0 to 1084462
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1084463 non-null  int64
 1   ano     1084463 non-null  int64
 2   mes     1084463 non-null  int64
 3   v102    1084463 non-null  int64
 4   v103    1084463 non-null  int64
 5   v202    1084463 non-null  int64
 6   v204    1084463 non-null  int64
 7   v210    1084463 non-null  int64
 8   v236    1084463 non-null  int64
 9   v246    1084463 non-null  int64
 10  v306    535180 non-null   float64
 11  v309    511259 non-null   float64
 12  v339    529201 non-null   float64
 13  v311    11813 non-null    float64
 14  v341    12677 non-null    float64
 15  v0109   1084463 non-null  int64
 16  v0110   1084463 non-null  int64
dtypes: float64(5), int64(12)
memory usage: 140.7 MB

## Corregimos los valores NA llenando con ceros

In [8]:
b1995pf['v306'] = b1995pf['v306'].fillna(0)
b1995pf['v309'] = b1995pf['v309'].fillna(0)
b1995pf['v339'] = b1995pf['v339'].fillna(0)
b1995pf['v341'] = b1995pf['v341'].fillna(0)
b1995pf['v311'] = b1995pf['v311'].fillna(0)
b1995pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084463 entries, 0 to 1084462
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1084463 non-null  int64
 1   ano     1084463 non-null  int64
 2   mes     1084463 non-null  int64
 3   v102    1084463 non-null  int64
 4   v103    1084463 non-null  int64
 5   v202    1084463 non-null  int64
 6   v204    1084463 non-null  int64
 7   v210    1084463 non-null  int64
 8   v236    1084463 non-null  int64
 9   v246    1084463 non-null  int64
 10  v306    1084463 non-null  float64
 11  v309    1084463 non-null  float64
 12  v339    1084463 non-null  float64
 13  v311    1084463 non-null  float64
 14  v341    1084463 non-null  float64
 15  v0109   1084463 non-null  int64
 16  v0110   1084463 non-null  int64
dtypes: float64(5), int64(12)
memory usage: 140.7 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1374360824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v306'] = b1995pf['v306'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1374360824.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v309'] = b1995pf['v309'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1374360824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v339'] = b1995pf['v339'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1374360824.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v341'] = b1995pf['v341'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1374360824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v311'] = b1995pf['v311'].fillna(0)

## Calculamos el ingreso bruto por persona
### ingr_b es la suma del ingreso del trabajo principal y el ingreso de los trabajos no principales

In [9]:
b1995pf['ingr_b'] = b1995pf['v309'] + b1995pf['v311']
b1995pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\2278215117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['ingr_b'] = b1995pf['v309'] + b1995pf['v311']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b
0,33,1995,1,332895,15,3,2,2,11,941,0.0,0.0,0.0,0.0,0.0,2,2,0.0
1,43,1995,1,431370,16,3,1,1,12,932,4.0,40.0,11.0,0.0,0.0,3,3,40.0
2,33,1995,1,330132,19,1,1,1,10,969,2.0,250.0,13.0,0.0,0.0,3,2,250.0
3,29,1995,1,290572,1,1,3,3,2,973,2.0,100.0,12.0,0.0,0.0,8,6,100.0
4,29,1995,1,290572,1,3,3,3,10,978,0.0,0.0,0.0,0.0,0.0,8,6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,2.0,180.0,12.0,0.0,0.0,11,9,180.0
1084459,35,1995,12,35002654,12,1,1,1,9,954,0.0,0.0,0.0,0.0,0.0,4,2,0.0
1084460,26,1995,12,26001624,4,3,2,5,5,968,0.0,0.0,0.0,0.0,0.0,3,2,0.0
1084461,29,1995,12,29001501,2,3,3,3,2,962,2.0,100.0,11.0,0.0,0.0,2,2,100.0
1084462,35,1995,12,35002603,13,1,4,5,5,974,0.0,0.0,0.0,0.0,0.0,3,3,0.0

In [10]:
b1995pf['ingr_b']

0            0.0
1           40.0
2          250.0
3          100.0
4            0.0
           ...
1084458    180.0
1084459      0.0
1084460      0.0
1084461    100.0
1084462      0.0
Name: ingr_b, Length: 1084463, dtype: float64

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1994.aspx

In [11]:
b1995pf['defl'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1565036122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['defl'] = 0

In [12]:
def1995 = infb.loc[infb['ano']==1995]
def1995['index'] = np.arange(1,13)
def1995 = def1995.set_index('index')
def1995

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\3977281480.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def1995['index'] = np.arange(1,13)

       Unnamed: 0   inf   ano        b100      defl
index
1               5  1.70  1995  110.801684  1.108017
2               6  1.02  1995  111.931862  1.119319
3               7  1.55  1995  113.666806  1.136668
4               8  2.43  1995  116.428909  1.164289
5               9  2.67  1995  119.537561  1.195376
6              10  2.26  1995  122.239110  1.222391
7              11  2.36  1995  125.123953  1.251240
8              12  0.99  1995  126.362680  1.263627
9              13  0.99  1995  127.613670  1.276137
10             14  1.41  1995  129.413023  1.294130
11             15  1.47  1995  131.315394  1.313154
12             16  1.56  1995  133.363915  1.333639

In [13]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b1995pf.loc[b1995pf['mes']==x]
    fl['defl'] = def1995['defl'][x]
    b1995pf['defl'].loc[b1995pf['mes']==x] = fl['defl']
    del(fl)

mes 1

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1071766921.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl['defl'] = def1995['defl'][x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1071766921.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['defl'].loc[b1995pf['mes']==x] = fl['defl']

mes 2
mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [14]:
b1995pf['ingr_r'] = b1995pf['ingr_b']/b1995pf['defl']
b1995pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\2906145916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['ingr_r'] = b1995pf['ingr_b']/b1995pf['defl']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r
0,33,1995,1,332895,15,3,2,2,11,941,0.0,0.0,0.0,0.0,0.0,2,2,0.0,1.108017,0.000000
1,43,1995,1,431370,16,3,1,1,12,932,4.0,40.0,11.0,0.0,0.0,3,3,40.0,1.108017,36.100534
2,33,1995,1,330132,19,1,1,1,10,969,2.0,250.0,13.0,0.0,0.0,3,2,250.0,1.108017,225.628339
3,29,1995,1,290572,1,1,3,3,2,973,2.0,100.0,12.0,0.0,0.0,8,6,100.0,1.108017,90.251335
4,29,1995,1,290572,1,3,3,3,10,978,0.0,0.0,0.0,0.0,0.0,8,6,0.0,1.108017,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,2.0,180.0,12.0,0.0,0.0,11,9,180.0,1.333639,134.969044
1084459,35,1995,12,35002654,12,1,1,1,9,954,0.0,0.0,0.0,0.0,0.0,4,2,0.0,1.333639,0.000000
1084460,26,1995,12,26001624,4,3,2,5,5,968,0.0,0.0,0.0,0.0,0.0,3,2,0.0,1.333639,0.000000
1084461,29,1995,12,29001501,2,3,3,3,2,962,2.0,100.0,11.0,0.0,0.0,2,2,100.0,1.333639,74.982802
1084462,35,1995,12,35002603,13,1,4,5,5,974,0.0,0.0,0.0,0.0,0.0,3,3,0.0,1.333639,0.000000

## Intento de crear un índice para hogares y una variable ingreso hogares

Los intentos de crear un indice para hogares y de calcular el ingreso de cada hogar como la suma de los perceptores de ingresos individuales es posible, pero es demasiado largo y requiere mayor capacidad de cómputo, con 1534 áreas cada una con un promedio de 40 hogares y por doce meses son aproximadamente 736320 iteraciones por año.

Este procedimiento para cada uno de los 20 años, asumiendo que el número de hogares se mantenga igual sería un total de 14 726 400 iteraciones, asumiendo que mi computador sea capáz de realizar 20 iteraciones por segundo el trabajo se completaría en 8.52 días donde la computadora tendría que estar funcionando las 24 horas del día sin descanso.

Desconozco si existe otra base u otros cálculos de la PME donde tengamos el ingreso por hogares como la suma de los ingresos de las personas encuestadas mes a mes o si el autor calculó de esta o de alguna otra forma el ingreso de los hogares.

Ya que al final el autor después de calcular el ingreso de los hogares lo divide para cada uno de los miembros, intentaré aproximar la fórmula del autor directamente para cada persona, de esta manera tendremos un resultado parecido.

Queda el código necesario para calcular el ingreso de los hogares.

In [15]:
#b1995pf['ingr_h'] = 0
#b1995pf

In [16]:
#for x in b1995pf['mes'].unique():
#   for y in b1995pf['v102'].unique():
#       for z in b1995pf['v103'].unique():
#          print('mes', x, 'Área', y, 'Hogar', z)
#           ig = b1995pf.loc[(b1995pf['mes']==x) & (b1995pf['v102']==y) & (b1995pf['v103']==z)]
#           ig['h'] = ig['ingr_b'].sum()
#           b1995pf['ingr_h'].loc[(b1995pf['mes']==x) & (b1995pf['v102']==y) & (b1995pf['v103']==z)] = ig['h']
#           del(ig)

Para calcular un índice de hogares, el siguiente código arroja todos los hogares posibles durante cada mes

In [17]:
#for x in b1994pf['mes'].unique():
#   for y in b1994pf['v102'].unique():
#       for z in b1994pf['v103'].unique():
#           print(x,y,z)

## Calculamos la edad

In [18]:
b1995pf['v246_b'] = 0
b1995pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1571309377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v246_b'] = 0

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,0.0,0.0,0.0,2,2,0.0,1.108017,0.000000,0
1,43,1995,1,431370,16,3,1,1,12,932,...,40.0,11.0,0.0,0.0,3,3,40.0,1.108017,36.100534,0
2,33,1995,1,330132,19,1,1,1,10,969,...,250.0,13.0,0.0,0.0,3,2,250.0,1.108017,225.628339,0
3,29,1995,1,290572,1,1,3,3,2,973,...,100.0,12.0,0.0,0.0,8,6,100.0,1.108017,90.251335,0
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,0.0,0.0,0.0,8,6,0.0,1.108017,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,180.0,12.0,0.0,0.0,11,9,180.0,1.333639,134.969044,0
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,0.0,0.0,0.0,4,2,0.0,1.333639,0.000000,0
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,0.0,0.0,0.0,3,2,0.0,1.333639,0.000000,0
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,100.0,11.0,0.0,0.0,2,2,100.0,1.333639,74.982802,0
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,0.0,0.0,0.0,3,3,0.0,1.333639,0.000000,0

Para las edades de tres dígitos les sumamos 1000

In [19]:
tres = b1995pf.loc[b1995pf['v246'] < 1000]
tres['v246_b'] = b1995pf.loc[b1995pf['v246']<1000]['v246']+1000
b1995pf['v246_b'].loc[b1995pf['v246']<1000] = tres['v246_b']
del(tres)
b1995pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1216913948.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v246_b'].loc[b1995pf['v246']<1000] = tres['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,0.0,0.0,0.0,2,2,0.0,1.108017,0.000000,1941
1,43,1995,1,431370,16,3,1,1,12,932,...,40.0,11.0,0.0,0.0,3,3,40.0,1.108017,36.100534,1932
2,33,1995,1,330132,19,1,1,1,10,969,...,250.0,13.0,0.0,0.0,3,2,250.0,1.108017,225.628339,1969
3,29,1995,1,290572,1,1,3,3,2,973,...,100.0,12.0,0.0,0.0,8,6,100.0,1.108017,90.251335,1973
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,0.0,0.0,0.0,8,6,0.0,1.108017,0.000000,1978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,180.0,12.0,0.0,0.0,11,9,180.0,1.333639,134.969044,1974
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,0.0,0.0,0.0,4,2,0.0,1.333639,0.000000,1954
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,0.0,0.0,0.0,3,2,0.0,1.333639,0.000000,1968
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,100.0,11.0,0.0,0.0,2,2,100.0,1.333639,74.982802,1962
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,0.0,0.0,0.0,3,3,0.0,1.333639,0.000000,1974

Para las edades que solo tienen dos dígitos, los corregimos sumando 1900

In [20]:
cien = b1995pf.loc[b1995pf['v246'] < 100]
cien['v246_b'] = b1995pf.loc[b1995pf['v246']<100]['v246']+1900
b1995pf['v246_b'].loc[b1995pf['v246']<100] = cien['v246_b']
del(cien)
b1995pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\2191681175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cien['v246_b'] = b1995pf.loc[b1995pf['v246']<100]['v246']+1900
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\2191681175.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['v246_b'].loc[b1995pf['v246']<100] = cien['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,0.0,0.0,0.0,2,2,0.0,1.108017,0.000000,1941
1,43,1995,1,431370,16,3,1,1,12,932,...,40.0,11.0,0.0,0.0,3,3,40.0,1.108017,36.100534,1932
2,33,1995,1,330132,19,1,1,1,10,969,...,250.0,13.0,0.0,0.0,3,2,250.0,1.108017,225.628339,1969
3,29,1995,1,290572,1,1,3,3,2,973,...,100.0,12.0,0.0,0.0,8,6,100.0,1.108017,90.251335,1973
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,0.0,0.0,0.0,8,6,0.0,1.108017,0.000000,1978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,180.0,12.0,0.0,0.0,11,9,180.0,1.333639,134.969044,1974
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,0.0,0.0,0.0,4,2,0.0,1.333639,0.000000,1954
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,0.0,0.0,0.0,3,2,0.0,1.333639,0.000000,1968
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,100.0,11.0,0.0,0.0,2,2,100.0,1.333639,74.982802,1962
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,0.0,0.0,0.0,3,3,0.0,1.333639,0.000000,1974

Calculamos la edad

In [21]:
b1995pf['edad_c'] = 1995-b1995pf['v246_b']
b1995pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\758616332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pf['edad_c'] = 1995-b1995pf['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,0.0,0.0,2,2,0.0,1.108017,0.000000,1941,54
1,43,1995,1,431370,16,3,1,1,12,932,...,11.0,0.0,0.0,3,3,40.0,1.108017,36.100534,1932,63
2,33,1995,1,330132,19,1,1,1,10,969,...,13.0,0.0,0.0,3,2,250.0,1.108017,225.628339,1969,26
3,29,1995,1,290572,1,1,3,3,2,973,...,12.0,0.0,0.0,8,6,100.0,1.108017,90.251335,1973,22
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,0.0,0.0,8,6,0.0,1.108017,0.000000,1978,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,12.0,0.0,0.0,11,9,180.0,1.333639,134.969044,1974,21
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,0.0,0.0,4,2,0.0,1.333639,0.000000,1954,41
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,0.0,0.0,3,2,0.0,1.333639,0.000000,1968,27
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,11.0,0.0,0.0,2,2,100.0,1.333639,74.982802,1962,33
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,0.0,0.0,3,3,0.0,1.333639,0.000000,1974,21

Limpiamos de la base los datos con edades negativas

In [22]:
b1995pf = b1995pf.loc[b1995pf['edad_c']>0]

Limpiamos también los datos con edades mayores a 100 años

In [23]:
b1995pf = b1995pf.loc[b1995pf['edad_c']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [24]:
b1995pf = b1995pf.loc[b1995pf['edad_c']>10]

Eliminamos ingresos igual a 9999999999

In [25]:
b1995pf = b1995pf.loc[b1995pf['ingr_b']!=999999999]
b1995pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,0.0,0.0,2,2,0.0,1.108017,0.000000,1941,54
1,43,1995,1,431370,16,3,1,1,12,932,...,11.0,0.0,0.0,3,3,40.0,1.108017,36.100534,1932,63
2,33,1995,1,330132,19,1,1,1,10,969,...,13.0,0.0,0.0,3,2,250.0,1.108017,225.628339,1969,26
3,29,1995,1,290572,1,1,3,3,2,973,...,12.0,0.0,0.0,8,6,100.0,1.108017,90.251335,1973,22
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,0.0,0.0,8,6,0.0,1.108017,0.000000,1978,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,12.0,0.0,0.0,11,9,180.0,1.333639,134.969044,1974,21
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,0.0,0.0,4,2,0.0,1.333639,0.000000,1954,41
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,0.0,0.0,3,2,0.0,1.333639,0.000000,1968,27
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,11.0,0.0,0.0,2,2,100.0,1.333639,74.982802,1962,33
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,0.0,0.0,3,3,0.0,1.333639,0.000000,1974,21

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [26]:
k = 0.4
s = 0.9

In [27]:
b1995pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,0.0,0.0,2,2,0.0,1.108017,0.000000,1941,54
1,43,1995,1,431370,16,3,1,1,12,932,...,11.0,0.0,0.0,3,3,40.0,1.108017,36.100534,1932,63
2,33,1995,1,330132,19,1,1,1,10,969,...,13.0,0.0,0.0,3,2,250.0,1.108017,225.628339,1969,26
3,29,1995,1,290572,1,1,3,3,2,973,...,12.0,0.0,0.0,8,6,100.0,1.108017,90.251335,1973,22
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,0.0,0.0,8,6,0.0,1.108017,0.000000,1978,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,12.0,0.0,0.0,11,9,180.0,1.333639,134.969044,1974,21
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,0.0,0.0,4,2,0.0,1.333639,0.000000,1954,41
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,0.0,0.0,3,2,0.0,1.333639,0.000000,1968,27
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,11.0,0.0,0.0,2,2,100.0,1.333639,74.982802,1962,33
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,0.0,0.0,3,3,0.0,1.333639,0.000000,1974,21

In [28]:
b1995pf['den'] = b1995pf['v0110'] + k*(b1995pf['v0109']-b1995pf['v0110'])**s
b1995pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,0.0,2,2,0.0,1.108017,0.000000,1941,54,2.000000
1,43,1995,1,431370,16,3,1,1,12,932,...,0.0,0.0,3,3,40.0,1.108017,36.100534,1932,63,3.000000
2,33,1995,1,330132,19,1,1,1,10,969,...,0.0,0.0,3,2,250.0,1.108017,225.628339,1969,26,2.400000
3,29,1995,1,290572,1,1,3,3,2,973,...,0.0,0.0,8,6,100.0,1.108017,90.251335,1973,22,6.746426
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,0.0,8,6,0.0,1.108017,0.000000,1978,17,6.746426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,0.0,0.0,11,9,180.0,1.333639,134.969044,1974,21,9.746426
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,0.0,4,2,0.0,1.333639,0.000000,1954,41,2.746426
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,0.0,3,2,0.0,1.333639,0.000000,1968,27,2.400000
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,0.0,0.0,2,2,100.0,1.333639,74.982802,1962,33,2.000000
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,0.0,3,3,0.0,1.333639,0.000000,1974,21,3.000000

In [29]:
b1995pf['ingr_t'] = b1995pf['ingr_r']/b1995pf['den']
b1995pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den,ingr_t
0,33,1995,1,332895,15,3,2,2,11,941,...,0.0,2,2,0.0,1.108017,0.000000,1941,54,2.000000,0.000000
1,43,1995,1,431370,16,3,1,1,12,932,...,0.0,3,3,40.0,1.108017,36.100534,1932,63,3.000000,12.033511
2,33,1995,1,330132,19,1,1,1,10,969,...,0.0,3,2,250.0,1.108017,225.628339,1969,26,2.400000,94.011808
3,29,1995,1,290572,1,1,3,3,2,973,...,0.0,8,6,100.0,1.108017,90.251335,1973,22,6.746426,13.377651
4,29,1995,1,290572,1,3,3,3,10,978,...,0.0,8,6,0.0,1.108017,0.000000,1978,17,6.746426,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,1995,12,29001544,14,1,3,5,6,974,...,0.0,11,9,180.0,1.333639,134.969044,1974,21,9.746426,13.848054
1084459,35,1995,12,35002654,12,1,1,1,9,954,...,0.0,4,2,0.0,1.333639,0.000000,1954,41,2.746426,0.000000
1084460,26,1995,12,26001624,4,3,2,5,5,968,...,0.0,3,2,0.0,1.333639,0.000000,1968,27,2.400000,0.000000
1084461,29,1995,12,29001501,2,3,3,3,2,962,...,0.0,2,2,100.0,1.333639,74.982802,1962,33,2.000000,37.491401
1084462,35,1995,12,35002603,13,1,4,5,5,974,...,0.0,3,3,0.0,1.333639,0.000000,1974,21,3.000000,0.000000

---------------------------------------

In [30]:
b1995pi = b1995pf[['uf', 'mes', 'v102', 'v103', 'v0109', 'v0110', 'ingr_b', 'defl', 'ingr_r', 'den', 'ingr_t', 'edad_c']]
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
0,33,1,332895,15,2,2,0.0,1.108017,0.000000,2.000000,0.000000,54
1,43,1,431370,16,3,3,40.0,1.108017,36.100534,3.000000,12.033511,63
2,33,1,330132,19,3,2,250.0,1.108017,225.628339,2.400000,94.011808,26
3,29,1,290572,1,8,6,100.0,1.108017,90.251335,6.746426,13.377651,22
4,29,1,290572,1,8,6,0.0,1.108017,0.000000,6.746426,0.000000,17
...,...,...,...,...,...,...,...,...,...,...,...,...
1084458,29,12,29001544,14,11,9,180.0,1.333639,134.969044,9.746426,13.848054,21
1084459,35,12,35002654,12,4,2,0.0,1.333639,0.000000,2.746426,0.000000,41
1084460,26,12,26001624,4,3,2,0.0,1.333639,0.000000,2.400000,0.000000,27
1084461,29,12,29001501,2,2,2,100.0,1.333639,74.982802,2.000000,37.491401,33
1084462,35,12,35002603,13,3,3,0.0,1.333639,0.000000,3.000000,0.000000,21

Vamos a descartar las personas con ingresos de 0

In [31]:
b1995pi = b1995pi.loc[b1995pi['ingr_t']>0]
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
1,43,1,431370,16,3,3,40.0,1.108017,36.100534,3.000000,12.033511,63
2,33,1,330132,19,3,2,250.0,1.108017,225.628339,2.400000,94.011808,26
3,29,1,290572,1,8,6,100.0,1.108017,90.251335,6.746426,13.377651,22
5,35,1,352772,5,3,3,500.0,1.108017,451.256677,3.000000,150.418892,50
6,33,1,330450,7,4,4,1950.0,1.108017,1759.901042,4.000000,439.975261,30
...,...,...,...,...,...,...,...,...,...,...,...,...
1084452,35,12,35003219,1,1,1,2182.0,1.333639,1636.124739,1.000000,1636.124739,46
1084456,31,12,31002331,1,5,5,200.0,1.333639,149.965604,5.000000,29.993121,41
1084457,29,12,29001811,1,5,4,360.0,1.333639,269.938087,4.400000,61.349565,24
1084458,29,12,29001544,14,11,9,180.0,1.333639,134.969044,9.746426,13.848054,21
1084461,29,12,29001501,2,2,2,100.0,1.333639,74.982802,2.000000,37.491401,33

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 1995, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [32]:
b1995pi['um_pobr']=0
b1995pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\4124613739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pi['um_pobr']=0

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
1,43,1,431370,16,3,3,40.0,1.108017,36.100534,3.000000,12.033511,63,0
2,33,1,330132,19,3,2,250.0,1.108017,225.628339,2.400000,94.011808,26,0
3,29,1,290572,1,8,6,100.0,1.108017,90.251335,6.746426,13.377651,22,0
5,35,1,352772,5,3,3,500.0,1.108017,451.256677,3.000000,150.418892,50,0
6,33,1,330450,7,4,4,1950.0,1.108017,1759.901042,4.000000,439.975261,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084452,35,12,35003219,1,1,1,2182.0,1.333639,1636.124739,1.000000,1636.124739,46,0
1084456,31,12,31002331,1,5,5,200.0,1.333639,149.965604,5.000000,29.993121,41,0
1084457,29,12,29001811,1,5,4,360.0,1.333639,269.938087,4.400000,61.349565,24,0
1084458,29,12,29001544,14,11,9,180.0,1.333639,134.969044,9.746426,13.848054,21,0
1084461,29,12,29001501,2,2,2,100.0,1.333639,74.982802,2.000000,37.491401,33,0

In [33]:
pobr = pd.Series([98.72, 92.37, 82.11, 99.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26     98.72
29     92.37
31     82.11
33     99.21
35    119.55
43     62.28
dtype: float64

In [34]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b1995pi.loc[b1995pi['uf']==x]
    p['um_pobr'] = pobr[x]
    b1995pi['um_pobr'].loc[b1995pi['uf']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1711989878.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\1711989878.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pi['um_pobr'].loc[b1995pi['uf']==x] = p['um_pobr']

-------------------------------------

## Calculo del índice de pobreza de Foster, Greer y Thorbecke

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1984), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

In [35]:
b1995pi = b1995pi.sort_values(['mes', 'ingr_t'])
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72

Creamos la variable g = um_pobr - ingr_t

In [36]:
b1995pi['g']=b1995pi['um_pobr']-b1995pi['ingr_t']
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72,9.820407e+01
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72,9.804311e+01
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37,9.157441e+01
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11,8.127434e+01
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11,8.121422e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21,-7.498279e+08
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28,-7.498283e+08
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28,-1.499656e+09
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21,-1.499656e+09
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72,-1.499656e+09

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [37]:
b1995pi['q'] = 0
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72,9.820407e+01,0
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72,9.804311e+01,0
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37,9.157441e+01,0
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11,8.127434e+01,0
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11,8.121422e+01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21,-7.498279e+08,0
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28,-7.498283e+08,0
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28,-1.499656e+09,0
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21,-1.499656e+09,0
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72,-1.499656e+09,0

In [38]:
ma = b1995pi.loc[b1995pi['g']>0]
ma['q'] = 1
b1995pi['q'] = ma['q']
b1995pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\302501529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72,9.820407e+01,1.0
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72,9.804311e+01,1.0
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37,9.157441e+01,1.0
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11,8.127434e+01,1.0
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11,8.121422e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21,-7.498279e+08,NaN
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28,-7.498283e+08,NaN
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28,-1.499656e+09,NaN
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21,-1.499656e+09,NaN
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72,-1.499656e+09,NaN

In [39]:
b1995pi['q'] = b1995pi['q'].fillna(0)
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72,9.820407e+01,1.0
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72,9.804311e+01,1.0
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37,9.157441e+01,1.0
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11,8.127434e+01,1.0
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11,8.121422e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21,-7.498279e+08,0.0
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28,-7.498283e+08,0.0
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28,-1.499656e+09,0.0
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21,-1.499656e+09,0.0
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72,-1.499656e+09,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [40]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [41]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['q'].sum()
del(x)
del(y)
qs

        26      29      31      33      35      43
1   3511.0  3440.0  5180.0  5031.0  5354.0  2911.0
2   3737.0  3675.0  5342.0  5085.0  5534.0  2927.0
3   3786.0  3540.0  5349.0  4904.0  5507.0  3032.0
4   3758.0  3582.0  5408.0  5132.0  5368.0  2967.0
5   3707.0  3640.0  5442.0  4887.0  5380.0  2974.0
6   3699.0  3547.0  5360.0  4754.0  5214.0  2719.0
7   3630.0  3697.0  5354.0  4657.0  5115.0  2701.0
8   3814.0  3770.0  5353.0  4920.0  5275.0  2757.0
9   3959.0  3786.0  5343.0  4910.0  5168.0  2671.0
10  3972.0  3899.0  5322.0  4798.0  5318.0  2749.0
11  3920.0  3860.0  5362.0  4820.0  5264.0  2739.0
12  3763.0  3912.0  5132.0  4749.0  5070.0  2668.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [42]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [43]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['mes'].count()
del(x)
del(y)
ns

        26      29      31      33      35      43
1   4128.0  4256.0  7590.0  7082.0  8531.0  6039.0
2   4339.0  4492.0  7581.0  6928.0  8453.0  6053.0
3   4515.0  4367.0  7715.0  6790.0  8508.0  6246.0
4   4393.0  4410.0  7819.0  7076.0  8450.0  6438.0
5   4422.0  4434.0  7964.0  6879.0  8539.0  6551.0
6   4451.0  4434.0  7904.0  6987.0  8416.0  6335.0
7   4401.0  4610.0  7870.0  6917.0  8308.0  6336.0
8   4674.0  4707.0  8012.0  7355.0  8407.0  6244.0
9   4744.0  4696.0  7879.0  7337.0  8363.0  6148.0
10  4861.0  4906.0  7913.0  7239.0  8491.0  6184.0
11  4807.0  4806.0  7979.0  7310.0  8487.0  6277.0
12  4540.0  4916.0  7736.0  7215.0  8395.0  6088.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [44]:
b1995pi['gq'] = b1995pi['g']*b1995pi['q']
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72,9.820407e+01,1.0,98.204067
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72,9.804311e+01,1.0,98.043115
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37,9.157441e+01,1.0,91.574409
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11,8.127434e+01,1.0,81.274339
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11,8.121422e+01,1.0,81.214218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21,-7.498279e+08,0.0,-0.000000
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28,-7.498283e+08,0.0,-0.000000
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28,-1.499656e+09,0.0,-0.000000
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21,-1.499656e+09,0.0,-0.000000
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72,-1.499656e+09,0.0,-0.000000

In [45]:
b1995pi['sumag_z'] = b1995pi['gq']/b1995pi['um_pobr']
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72,9.820407e+01,1.0,98.204067,0.994774
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72,9.804311e+01,1.0,98.043115,0.993143
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37,9.157441e+01,1.0,91.574409,0.991387
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11,8.127434e+01,1.0,81.274339,0.989823
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11,8.121422e+01,1.0,81.214218,0.989090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21,-7.498279e+08,0.0,-0.000000,-0.000000
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28,-7.498283e+08,0.0,-0.000000,-0.000000
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28,-1.499656e+09,0.0,-0.000000,-0.000000
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21,-1.499656e+09,0.0,-0.000000,-0.000000
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72,-1.499656e+09,0.0,-0.000000,-0.000000

In [46]:
b1995pi['sumag_z0'] = b1995pi['q']
b1995pi['sumag_z1'] = b1995pi['sumag_z']**1
b1995pi['sumag_z2'] = b1995pi['sumag_z']**2
b1995pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
81924,26,1,260606,10,10,8,5.000000e+00,1.108017,4.512567e+00,8.746426,5.159326e-01,13,98.72,9.820407e+01,1.0,98.204067,0.994774,1.0,0.994774,0.989575
6129,26,1,260452,14,8,8,6.000000e+00,1.108017,5.415080e+00,8.000000,6.768850e-01,55,98.72,9.804311e+01,1.0,98.043115,0.993143,1.0,0.993143,0.986334
7349,29,1,290130,1,11,8,8.000000e+00,1.108017,7.220107e+00,9.075150,7.955909e-01,82,92.37,9.157441e+01,1.0,91.574409,0.991387,1.0,0.991387,0.982848
12412,31,1,311855,17,6,5,5.000000e+00,1.108017,4.512567e+00,5.400000,8.356605e-01,14,82.11,8.127434e+01,1.0,81.274339,0.989823,1.0,0.989823,0.979749
6185,31,1,311618,50,12,9,1.000000e+01,1.108017,9.025134e+00,10.075150,8.957815e-01,13,82.11,8.121422e+01,1.0,81.214218,0.989090,1.0,0.989090,0.978300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081670,33,12,33002703,20,2,2,2.000000e+09,1.333639,1.499656e+09,2.000000,7.498280e+08,38,99.21,-7.498279e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1056493,43,12,43001700,2,1,1,1.000000e+09,1.333639,7.498284e+08,1.000000,7.498284e+08,54,62.28,-7.498283e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
997355,43,12,432172,9,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,50,62.28,-1.499656e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1006168,33,12,332615,12,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,51,99.21,-1.499656e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1042979,26,12,26001462,4,1,1,2.000000e+09,1.333639,1.499656e+09,1.000000,1.499656e+09,54,98.72,-1.499656e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [47]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [48]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

        26      29      31      33      35      43
1   3511.0  3440.0  5180.0  5031.0  5354.0  2911.0
2   3737.0  3675.0  5342.0  5085.0  5534.0  2927.0
3   3786.0  3540.0  5349.0  4904.0  5507.0  3032.0
4   3758.0  3582.0  5408.0  5132.0  5368.0  2967.0
5   3707.0  3640.0  5442.0  4887.0  5380.0  2974.0
6   3699.0  3547.0  5360.0  4754.0  5214.0  2719.0
7   3630.0  3697.0  5354.0  4657.0  5115.0  2701.0
8   3814.0  3770.0  5353.0  4920.0  5275.0  2757.0
9   3959.0  3786.0  5343.0  4910.0  5168.0  2671.0
10  3972.0  3899.0  5322.0  4798.0  5318.0  2749.0
11  3920.0  3860.0  5362.0  4820.0  5264.0  2739.0
12  3763.0  3912.0  5132.0  4749.0  5070.0  2668.0

In [49]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [50]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

,26,29,31,33,35,43
1,2432.971154,2347.640122,3131.386803,3008.731799,2945.891001,1385.000308
2,2594.474901,2515.317112,3279.596458,3054.491336,3042.774991,1394.024669
3,2610.535311,2438.960937,3262.467564,2980.426940,3051.443674,1375.915619
4,2596.107447,2505.994512,3351.682951,3137.185807,2986.834569,1386.896017
5,2586.480750,2516.461638,3400.484361,2958.136411,2953.489351,1379.908637
6,2492.366776,2356.836737,3107.825717,2725.613840,2799.140226,1170.678641
7,2427.965128,2460.380226,3083.888483,2684.491653,2755.976153,1187.291566
8,2554.703316,2460.298564,3112.062901,2701.429030,2727.401669,1204.346493
9,2622.054201,2492.603509,3055.113693,2682.603387,2717.428736,1171.901440
10,2625.656360,2576.838648,3081.863311,2604.685942,2840.129702,1190.170623
11,2600.664514,2584.985881,3086.068298,2639.421519,2829.801725,1196.668405
12,2476.433876,2590.614156,2903.151087,2609.169937,2654.121547,1205.521884

In [51]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [52]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

,26,29,31,33,35,43
1,1871.435158,1805.605292,2213.761089,2105.336773,1965.948274,822.316489
2,1994.526883,1942.036515,2345.506478,2144.995793,2032.031843,822.882390
3,1996.597948,1888.117182,2313.340654,2102.127094,2031.707533,805.579989
4,1993.606855,1945.293011,2399.044608,2218.905361,1994.206805,825.671973
5,1997.416651,1945.642384,2437.476221,2088.211253,1949.743167,810.440835
6,1881.230818,1765.530531,2146.538214,1843.585191,1815.078027,658.471615
7,1819.478230,1842.165855,2116.801767,1814.821633,1781.010231,670.982994
8,1909.198222,1826.906470,2133.388890,1797.786801,1749.768795,674.595068
9,1960.998919,1862.620369,2090.794996,1770.670841,1759.120283,655.761749
10,1954.532330,1927.937893,2117.611282,1714.353543,1852.104468,669.201066
11,1941.675864,1945.568392,2104.103188,1739.120734,1837.122390,666.278023
12,1840.874013,1939.344811,1964.173674,1709.164528,1695.829291,689.046270

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)*sumatoria(g/um_pobr)**2 para cada mes y cada región

In [53]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [54]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31        33        35        43
1   0.850533  0.808271  0.682477  0.710393  0.627593  0.482033
2   0.861258  0.818121  0.704656  0.733978  0.654679  0.483562
3   0.838538  0.810625  0.693325  0.722239  0.647273  0.485431
4   0.855452  0.812245  0.691649  0.725269  0.635266  0.460857
5   0.838308  0.820929  0.683325  0.710423  0.630050  0.453976
6   0.831049  0.799955  0.678138  0.680406  0.619534  0.429203
7   0.824813  0.801952  0.680305  0.673269  0.615672  0.426294
8   0.816003  0.800935  0.668123  0.668933  0.627453  0.441544
9   0.834528  0.806218  0.678132  0.669211  0.617960  0.434450
10  0.817116  0.794741  0.672564  0.662799  0.626310  0.444534
11  0.815477  0.803163  0.672014  0.659371  0.620243  0.436355
12  0.828855  0.795769  0.663392  0.658212  0.603931  0.438239

In [55]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [56]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31        33        35        43
1   0.589383  0.551607  0.412567  0.424842  0.345316  0.229343
2   0.597943  0.559955  0.432607  0.440891  0.359964  0.230303
3   0.578192  0.558498  0.422873  0.438944  0.358656  0.220287
4   0.590965  0.568253  0.428659  0.443356  0.353472  0.215423
5   0.584912  0.567538  0.426982  0.430024  0.345882  0.210641
6   0.559957  0.531537  0.393197  0.390098  0.332597  0.184795
7   0.551685  0.533705  0.391854  0.388101  0.331726  0.187388
8   0.546578  0.522689  0.388425  0.367292  0.324420  0.192881
9   0.552710  0.530793  0.387754  0.365627  0.324935  0.190615
10  0.540147  0.525242  0.389468  0.359813  0.334487  0.192460
11  0.541016  0.537866  0.386774  0.361070  0.333428  0.190643
12  0.545470  0.526976  0.375278  0.361631  0.316155  0.198016

In [57]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [58]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31        33        35        43
1   0.453352  0.424249  0.291668  0.297280  0.230448  0.136168
2   0.459674  0.432332  0.309393  0.309613  0.240392  0.135946
3   0.442214  0.432360  0.299850  0.309592  0.238800  0.128975
4   0.453814  0.441110  0.306822  0.313582  0.236001  0.128250
5   0.451700  0.438801  0.306062  0.303563  0.228334  0.123713
6   0.422654  0.398180  0.271576  0.263859  0.215670  0.103942
7   0.413424  0.399602  0.268971  0.262371  0.214373  0.105900
8   0.408472  0.388125  0.266274  0.244431  0.208132  0.108039
9   0.413364  0.396640  0.265363  0.241334  0.210346  0.106663
10  0.402084  0.392976  0.267612  0.236822  0.218126  0.108215
11  0.403927  0.404821  0.263705  0.237910  0.216463  0.106146
12  0.405479  0.394497  0.253900  0.236890  0.202005  0.113181

El autor menciona también los trabajos de Ravallion 1994 y 2016 pero parece ser que no los calcula

----------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/N*sumatoria(y**(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (1999)

In [59]:
b1995pi = b1995pi[['uf', 'mes', 'ingr_b', 'ingr_r', 'den', 'ingr_t']]

In [60]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [61]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

,26,29,31,33,35,43
1,1.894877e+06,1.982126e+06,1.379842e+06,3.045344e+06,1.544472e+06,1.599932e+06
2,1.003492e+06,3.001801e+06,1.272880e+06,2.911267e+06,1.216374e+06,7.891247e+05
3,1.440371e+06,3.210754e+06,7.009922e+05,3.139042e+06,6.533383e+05,1.859071e+06
4,9.394956e+05,3.943498e+06,8.468627e+05,2.964437e+06,5.131366e+05,1.558615e+06
5,1.692164e+06,3.203010e+06,2.535977e+05,4.011706e+06,4.868318e+05,7.042935e+05
6,1.696667e+06,2.977130e+06,7.477356e+05,3.854093e+06,9.624321e+05,1.269024e+06
7,1.519863e+06,2.885209e+06,9.635590e+05,3.866473e+06,1.014447e+06,1.007771e+06
8,1.244221e+06,2.467887e+06,1.478169e+06,3.913495e+06,9.371857e+05,1.124052e+06
9,1.610105e+06,2.649276e+06,1.373513e+06,2.771693e+06,6.970762e+05,1.204672e+06
10,1.471950e+06,2.795743e+06,9.298271e+05,1.587701e+06,7.179497e+05,1.311644e+06
11,1.031834e+06,3.216797e+06,7.286488e+05,1.040696e+06,6.149388e+05,1.856357e+06
12,7.192709e+05,2.127315e+06,1.152598e+06,1.197558e+06,4.461521e+05,1.480717e+06

In [62]:
b1995pi['ingr_t25'] = b1995pi['ingr_t']**(1-0.25)
b1995pi['ingr_t50'] = b1995pi['ingr_t']**(1-0.5)
b1995pi['ingr_t75'] = b1995pi['ingr_t']**(1-0.75)
b1995pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\2286199973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pi['ingr_t25'] = b1995pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\2286199973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pi['ingr_t50'] = b1995pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_10208\2286199973.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1995pi['ingr_t75'] = b1995pi['ingr_t']**(1-0.75)

,uf,mes,ingr_b,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
81924,26,1,5.000000e+00,4.512567e+00,8.746426,5.159326e-01,6.087581e-01,0.718285,0.847517
6129,26,1,6.000000e+00,5.415080e+00,8.000000,6.768850e-01,7.462531e-01,0.822730,0.907045
7349,29,1,8.000000e+00,7.220107e+00,9.075150,7.955909e-01,8.423981e-01,0.891959,0.944436
12412,31,1,5.000000e+00,4.512567e+00,5.400000,8.356605e-01,8.740221e-01,0.914145,0.956109
6185,31,1,1.000000e+01,9.025134e+00,10.075150,8.957815e-01,9.207709e-01,0.946457,0.972860
...,...,...,...,...,...,...,...,...,...
1081670,33,12,2.000000e+09,1.499656e+09,2.000000,7.498280e+08,4.531284e+06,27382.987765,165.478058
1056493,43,12,1.000000e+09,7.498284e+08,1.000000,7.498284e+08,4.531285e+06,27382.994610,165.478079
997355,43,12,2.000000e+09,1.499656e+09,1.000000,1.499656e+09,7.620680e+06,38725.392675,196.787684
1006168,33,12,2.000000e+09,1.499656e+09,1.000000,1.499656e+09,7.620680e+06,38725.392675,196.787684
1042979,26,12,2.000000e+09,1.499656e+09,1.000000,1.499656e+09,7.620680e+06,38725.392675,196.787684

In [63]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [64]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,4.978623e+07,5.752759e+07,7.188622e+07,1.375334e+08,7.797641e+07,5.913864e+07
2,3.092509e+07,8.893871e+07,6.397843e+07,1.335153e+08,6.355620e+07,3.251104e+07
3,4.429173e+07,9.288151e+07,4.053074e+07,1.271139e+08,3.360640e+07,6.961335e+07
4,2.907643e+07,1.125122e+08,4.331027e+07,1.303249e+08,2.705984e+07,6.232533e+07
5,5.240433e+07,1.012667e+08,1.596889e+07,1.752432e+08,2.729676e+07,3.123476e+07
6,5.440251e+07,8.834861e+07,4.391086e+07,1.721690e+08,5.335612e+07,5.165151e+07
7,4.235970e+07,8.941186e+07,5.174581e+07,1.597377e+08,5.308713e+07,4.164712e+07
8,4.020462e+07,7.862613e+07,8.385573e+07,1.728959e+08,5.101351e+07,4.866180e+07
9,4.928471e+07,8.525387e+07,7.647351e+07,1.293926e+08,4.176879e+07,4.694603e+07
10,4.682807e+07,9.633402e+07,5.188417e+07,7.632859e+07,3.951122e+07,5.058276e+07
11,3.564437e+07,1.068958e+08,3.750963e+07,5.452649e+07,3.418525e+07,7.814072e+07
12,2.159500e+07,7.573484e+07,6.536467e+07,5.949275e+07,2.767611e+07,5.823967e+07

In [65]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [66]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,352400.837764,423539.728081,562898.068142,9.580471e+05,564889.802548,425891.555199
2,250022.558757,625112.276036,489963.914304,9.604025e+05,488783.323671,281674.353454
3,338083.638296,659466.872647,369131.879861,8.313154e+05,294950.221457,486552.114870
4,235724.818110,777087.390688,353237.750161,8.875711e+05,263630.583153,455356.240559
5,398902.368661,761135.255177,191608.351400,1.188409e+06,270443.009429,276813.197441
6,426471.004136,634788.918072,395951.464485,1.178812e+06,443594.544912,402076.467850
7,303766.745260,646701.494334,425220.574131,1.032644e+06,429751.799045,337593.763612
8,312571.323054,580301.320688,669053.983791,1.125736e+06,433327.238392,403030.490044
9,357385.002821,624676.339090,613445.563332,9.046523e+05,391720.278901,364729.851825
10,347690.235315,723013.173008,438230.844483,5.794515e+05,352311.375829,385423.575950
11,291844.353937,794122.432863,313655.439667,4.615090e+05,320798.619661,596429.903920
12,180591.850337,588776.585966,548134.790867,4.860644e+05,296112.765024,442332.003961

In [67]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [68]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,12320.858008,13351.130479,24648.000313,26074.845479,29987.490661,20482.140867
2,12213.091223,15140.492239,23610.016114,25548.317390,29058.432751,19754.289063
3,13440.032664,15216.767552,23559.724003,23821.351241,28047.819183,21555.089642
4,12275.156000,15941.801085,23492.896985,25096.731490,27895.954481,22138.403225
5,13532.730007,16241.834136,22973.080754,26799.527051,28288.338388,21459.937196
6,14099.747855,15452.360481,24737.564433,27554.422457,29208.892753,21985.161322
7,12973.506853,15957.698036,24698.307793,26048.347508,28792.699894,21534.391754
8,13876.736197,15914.519700,26947.971890,28224.462585,29397.979632,21754.761158
9,14212.661716,16053.421424,26148.407575,27147.011319,29103.293835,21087.953805
10,14629.972756,17435.546924,24967.126126,24973.749698,28930.228202,21246.772864
11,14183.898921,17608.339805,24151.186328,24606.388920,28784.339829,23126.131985
12,12650.493175,16558.619629,25442.501601,24495.004337,28715.657483,21277.112535

In [69]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [70]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.854036  0.837557  0.854775  0.828591  0.876262  0.869050
2   0.863317  0.821562  0.865014  0.822520  0.878904  0.880802
3   0.854204  0.816464  0.869718  0.841644  0.904430  0.866086
4   0.867725  0.809542  0.884272  0.835924  0.908013  0.867623
5   0.840330  0.797697  0.900296  0.813150  0.903270  0.886057
6   0.834060  0.818557  0.868411  0.813950  0.878082  0.870686
7   0.865291  0.819387  0.872163  0.829913  0.883114  0.877821
8   0.858349  0.826977  0.845119  0.827930  0.881905  0.862539
9   0.859211  0.819897  0.849263  0.834381  0.877527  0.875180
10  0.860744  0.810516  0.868016  0.854373  0.891793  0.874350
11  0.859865  0.805548  0.891921  0.859957  0.895781  0.844580
12  0.888783  0.819803  0.850689  0.860896  0.890024  0.862853

In [71]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [72]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.996154  0.995004  0.996014  0.993991  0.997161  0.996891
2   0.996691  0.993549  0.996718  0.993399  0.997251  0.997256
3   0.996107  0.992897  0.996734  0.995225  0.998160  0.996736
4   0.996935  0.992126  0.997590  0.994693  0.998103  0.996790
5   0.995191  0.990800  0.997717  0.992560  0.997940  0.997465
6   0.994589  0.993116  0.996644  0.992614  0.997113  0.996826
7   0.996865  0.993179  0.996970  0.994236  0.997362  0.997183
8   0.996406  0.993841  0.995282  0.994014  0.997165  0.996294
9   0.996475  0.993321  0.995587  0.994515  0.996853  0.997078
10  0.996524  0.992231  0.996701  0.995964  0.997602  0.997038
11  0.996428  0.991512  0.997879  0.996170  0.997677  0.995136
12  0.997800  0.993257  0.995644  0.996210  0.997211  0.996435

In [73]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [74]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.999958  0.999951  0.999919  0.999940  0.999901  0.999917
2   0.999937  0.999957  0.999926  0.999936  0.999885  0.999856
3   0.999945  0.999954  0.999876  0.999952  0.999819  0.999924
4   0.999935  0.999957  0.999904  0.999947  0.999769  0.999910
5   0.999948  0.999944  0.999727  0.999943  0.999753  0.999836
6   0.999941  0.999950  0.999872  0.999937  0.999849  0.999886
7   0.999950  0.999950  0.999899  0.999948  0.999858  0.999868
8   0.999938  0.999947  0.999913  0.999945  0.999840  0.999869
9   0.999950  0.999948  0.999912  0.999932  0.999790  0.999885
10  0.999944  0.999943  0.999893  0.999911  0.999812  0.999894
11  0.999927  0.999944  0.999885  0.999877  0.999785  0.999901
12  0.999916  0.999939  0.999898  0.999889  0.999693  0.999899

In [75]:
a25['ano'] = 1995
a50['ano'] = 1995
a75['ano'] = 1995
fgt0['ano'] = 1995
fgt1['ano'] = 1995
fgt2['ano'] = 1995

## Calculamos el ingreso promedio por año y región

In [76]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [77]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b1995pi.loc[(b1995pi['uf']==x) & (b1995pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

,26,29,31,33,35,43
1,1.894877e+06,1.982126e+06,1.379842e+06,3.045344e+06,1.544472e+06,1.599932e+06
2,1.003492e+06,3.001801e+06,1.272880e+06,2.911267e+06,1.216374e+06,7.891247e+05
3,1.440371e+06,3.210754e+06,7.009922e+05,3.139042e+06,6.533383e+05,1.859071e+06
4,9.394956e+05,3.943498e+06,8.468627e+05,2.964437e+06,5.131366e+05,1.558615e+06
5,1.692164e+06,3.203010e+06,2.535977e+05,4.011706e+06,4.868318e+05,7.042935e+05
6,1.696667e+06,2.977130e+06,7.477356e+05,3.854093e+06,9.624321e+05,1.269024e+06
7,1.519863e+06,2.885209e+06,9.635590e+05,3.866473e+06,1.014447e+06,1.007771e+06
8,1.244221e+06,2.467887e+06,1.478169e+06,3.913495e+06,9.371857e+05,1.124052e+06
9,1.610105e+06,2.649276e+06,1.373513e+06,2.771693e+06,6.970762e+05,1.204672e+06
10,1.471950e+06,2.795743e+06,9.298271e+05,1.587701e+06,7.179497e+05,1.311644e+06
11,1.031834e+06,3.216797e+06,7.286488e+05,1.040696e+06,6.149388e+05,1.856357e+06
12,7.192709e+05,2.127315e+06,1.152598e+06,1.197558e+06,4.461521e+05,1.480717e+06

In [78]:
ynr['ano'] = 1995

--------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [79]:
a25_95 = a25
a50_95 = a50
a75_95 = a75
fgt0_95 = fgt0
fgt1_95 = fgt1
fgt2_95 = fgt2
ynr_95 = ynr

In [80]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b1995p, b1995pf, b1995pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [81]:
a25_95.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1995\\a25_95.csv')
a50_95.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1995\\a50_95.csv')
a75_95.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1995\\a75_95.csv')
fgt0_95.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1995\\fgt0_95.csv')
fgt1_95.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1995\\fgt1_95.csv')
fgt2_95.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1995\\fgt2_95.csv')
ynr_95.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1995\\ynr_95.csv')

In [83]:
a75_95

          26        29        31        33        35        43   ano
1   0.999958  0.999951  0.999919  0.999940  0.999901  0.999917  1995
2   0.999937  0.999957  0.999926  0.999936  0.999885  0.999856  1995
3   0.999945  0.999954  0.999876  0.999952  0.999819  0.999924  1995
4   0.999935  0.999957  0.999904  0.999947  0.999769  0.999910  1995
5   0.999948  0.999944  0.999727  0.999943  0.999753  0.999836  1995
6   0.999941  0.999950  0.999872  0.999937  0.999849  0.999886  1995
7   0.999950  0.999950  0.999899  0.999948  0.999858  0.999868  1995
8   0.999938  0.999947  0.999913  0.999945  0.999840  0.999869  1995
9   0.999950  0.999948  0.999912  0.999932  0.999790  0.999885  1995
10  0.999944  0.999943  0.999893  0.999911  0.999812  0.999894  1995
11  0.999927  0.999944  0.999885  0.999877  0.999785  0.999901  1995
12  0.999916  0.999939  0.999898  0.999889  0.999693  0.999899  1995