In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [2]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\1994-2001\\pme1999\\pmeantiga\\PME1999P.csv'
b1999p = pd.read_csv(basep)
b1999p.head()

,uf,ano,mes,v102,v103,v201,v202,v203,v204,v205,...,deflator,v309df,v311df,v0106,v0109,v0110,v0112,painel,npesq,aest1
0,43,1999,1,43000509,5,1,3,1.0,1.0,1,...,0.806053,496.24503,NaN,1,2,2,2,M,5,5
1,29,1999,1,29000289,6,1,3,1.0,1.0,1,...,0.806053,620.30627,NaN,1,2,2,2,M,5,2
2,29,1999,1,29000440,2,4,3,3.0,3.0,1,...,0.806053,347.37152,NaN,1,6,6,2,M,5,2
3,35,1999,1,35000406,23,4,1,3.0,3.0,1,...,0.806053,NaN,NaN,1,4,4,2,M,5,5
4,31,1999,1,31000134,9,2,3,2.0,2.0,1,...,0.806053,NaN,NaN,1,3,2,2,M,5,5

abrimos la tabla con el deflactor

In [3]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos para asegurarnos que estén bien

In [4]:
b1999p.describe
b1999p.dtypes

uf         int64
ano        int64
mes        int64
v102       int64
v103       int64
           ...
v0110      int64
v0112      int64
painel    object
npesq      int64
aest1      int64
Length: 68, dtype: object

## Nos quedamos con las columnas que vamos a usar

- uf: Región de la encuesta \
- ano: año\
- mes: mes\
- v102: número de control, identifica el área de la encuesta\
- v103: Número de serie, equivale a un número de domicilio específico por área\
    (juntos v102 y v103 permiten construir un índice de hogares, considerando un hogar único encuestado cada mes en cada área)\
- v202: sexo\
- v204: Condición de la familia\
    1. CHEFE\
    2. CÔNJUGE\
    3. FILHO\
    4. OUTRO PARENTE
    5. AGREGADO
    6. PENSIONISTA
    7. EMPREGADO DOMÉSTICO
    8. PARENTE DO EMPREGADO DOMÉSTICO
- v210: grado
    0. UNCA FREQÜENTOU
    1. ELEMENTAR
    2. MÉDIO 1o CICLO 
    3. 1o  GRAU
    4. MÉDIO 2o  CICLO
    5. 2o  GRAU
    6. SUPERIOR
    7. MESTRADO OU DOUTORADO
    9. IGNORADO
v236: mes de nacimiento
v246: año de nacimiento
v306: Posición en su ocupación
  2 - EMPREGADO
  4 - CONTA PRÓPRIA
  6 - EMPREGADOR
  8 - NÃO REMUNERADO
  9 - IGNORADO
v309: Rendimiento efectivamente recibido en el mes obtenido de su trabajo principal
v339: Tasa de rendimiento en dinero de su trabajo principal con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais   
v311: Rendimiento efectivamente recibido al mes de sus otros trabajos
v341: Tasa de rendimiento en dinero de sus otros trabajos con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais 
v0109: Total de moradores en el hogar
v0110: Total de moradores con 10 años o más
peso: Peso para expansión que debe ser dividido para 1000 para poder ser usado

In [5]:
#Nos quedamos con los datos que necesitamos
b1999pf = b1999p[['uf', 'ano', 'mes', 'v102', 'v103', 'v202', 'v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341', 'v0109', 'v0110']]
b1999pf.head()

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110
0,43,1999,1,43000509,5,3,1.0,4,8,954,2.0,400.0,13.0,NaN,NaN,2,2
1,29,1999,1,29000289,6,3,1.0,1,5,947,4.0,500.0,13.0,NaN,NaN,2,2
2,29,1999,1,29000440,2,3,3.0,3,1,959,2.0,280.0,13.0,NaN,NaN,6,6
3,35,1999,1,35000406,23,1,3.0,6,11,979,NaN,NaN,NaN,NaN,NaN,4,4
4,31,1999,1,31000134,9,3,2.0,5,8,966,NaN,NaN,NaN,NaN,NaN,3,2

In [6]:
b1999pf.describe

<bound method NDFrame.describe of          uf   ano  mes      v102  v103  v202  v204  v210  v236  v246  v306  \
0        43  1999    1  43000509     5     3   1.0     4     8   954   2.0
1        29  1999    1  29000289     6     3   1.0     1     5   947   4.0
2        29  1999    1  29000440     2     3   3.0     3     1   959   2.0
3        35  1999    1  35000406    23     1   3.0     6    11   979   NaN
4        31  1999    1  31000134     9     3   2.0     5     8   966   NaN
...      ..   ...  ...       ...   ...   ...   ...   ...   ...   ...   ...
1100793  35  1999   12  35002573     3     1   1.0     1     5   944   4.0
1100794  33  1999   12  33002916    21     3   2.0     3     1   980   NaN
1100795  33  1999   12  33002924     4     1   3.0     3     7   988   NaN
1100796  33  1999   12  33002916    22     1   1.0     4     1   956   NaN
1100797  33  1999   12  33002916    22     3   2.0     5     3   962   2.0

          v309  v339  v311  v341  v0109  v0110
0        400.0  13.0   NaN   NaN      2      2
1        500.0  13.0   NaN   NaN      2      2
2        280.0  13.0   NaN   NaN      6      6
3          NaN   NaN   NaN   NaN      4      4
4          NaN   NaN   NaN   NaN      3      2
...        ...   ...   ...   ...    ...    ...
1100793  400.0  13.0   NaN   NaN      5      4
1100794    NaN   NaN   NaN   NaN     11     10
1100795    NaN   NaN   NaN   NaN      4      3
1100796    NaN   NaN   NaN   NaN      4      4
1100797  700.0  14.0   NaN   NaN      4      4

[1100798 rows x 17 columns]>

In [7]:
b1999pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100798 entries, 0 to 1100797
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1100798 non-null  int64
 1   ano     1100798 non-null  int64
 2   mes     1100798 non-null  int64
 3   v102    1100798 non-null  int64
 4   v103    1100798 non-null  int64
 5   v202    1100798 non-null  int64
 6   v204    1100797 non-null  float64
 7   v210    1100798 non-null  int64
 8   v236    1100798 non-null  int64
 9   v246    1100798 non-null  int64
 10  v306    514915 non-null   float64
 11  v309    493062 non-null   float64
 12  v339    509696 non-null   float64
 13  v311    11729 non-null    float64
 14  v341    12441 non-null    float64
 15  v0109   1100798 non-null  int64
 16  v0110   1100798 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 142.8 MB

## Corregimos los valores NA llenando con ceros

In [8]:
b1999pf['v306'] = b1999pf['v306'].fillna(0)
b1999pf['v309'] = b1999pf['v309'].fillna(0)
b1999pf['v339'] = b1999pf['v339'].fillna(0)
b1999pf['v341'] = b1999pf['v341'].fillna(0)
b1999pf['v311'] = b1999pf['v311'].fillna(0)
b1999pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100798 entries, 0 to 1100797
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1100798 non-null  int64
 1   ano     1100798 non-null  int64
 2   mes     1100798 non-null  int64
 3   v102    1100798 non-null  int64
 4   v103    1100798 non-null  int64
 5   v202    1100798 non-null  int64
 6   v204    1100797 non-null  float64
 7   v210    1100798 non-null  int64
 8   v236    1100798 non-null  int64
 9   v246    1100798 non-null  int64
 10  v306    1100798 non-null  float64
 11  v309    1100798 non-null  float64
 12  v339    1100798 non-null  float64
 13  v311    1100798 non-null  float64
 14  v341    1100798 non-null  float64
 15  v0109   1100798 non-null  int64
 16  v0110   1100798 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 142.8 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1423507832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v306'] = b1999pf['v306'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1423507832.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v309'] = b1999pf['v309'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1423507832.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v339'] = b1999pf['v339'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1423507832.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v341'] = b1999pf['v341'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1423507832.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v311'] = b1999pf['v311'].fillna(0)

## Calculamos el ingreso bruto por persona
### ingr_b es la suma del ingreso del trabajo principal y el ingreso de los trabajos no principales

In [9]:
b1999pf['ingr_b'] = b1999pf['v309'] + b1999pf['v311']
b1999pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\2397914382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['ingr_b'] = b1999pf['v309'] + b1999pf['v311']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b
0,43,1999,1,43000509,5,3,1.0,4,8,954,2.0,400.0,13.0,0.0,0.0,2,2,400.0
1,29,1999,1,29000289,6,3,1.0,1,5,947,4.0,500.0,13.0,0.0,0.0,2,2,500.0
2,29,1999,1,29000440,2,3,3.0,3,1,959,2.0,280.0,13.0,0.0,0.0,6,6,280.0
3,35,1999,1,35000406,23,1,3.0,6,11,979,0.0,0.0,0.0,0.0,0.0,4,4,0.0
4,31,1999,1,31000134,9,3,2.0,5,8,966,0.0,0.0,0.0,0.0,0.0,3,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,4.0,400.0,13.0,0.0,0.0,5,4,400.0
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,0.0,0.0,0.0,0.0,0.0,11,10,0.0
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,0.0,0.0,0.0,0.0,0.0,4,3,0.0
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,0.0,0.0,0.0,0.0,0.0,4,4,0.0
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,2.0,700.0,14.0,0.0,0.0,4,4,700.0

In [10]:
b1999pf['ingr_b']

0          400.0
1          500.0
2          280.0
3            0.0
4            0.0
           ...
1100793    400.0
1100794      0.0
1100795      0.0
1100796      0.0
1100797    700.0
Name: ingr_b, Length: 1100798, dtype: float64

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1994.aspx

In [11]:
b1999pf['defl'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\3179595242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['defl'] = 0

In [12]:
def1999 = infb.loc[infb['ano']==1999]
def1999['index'] = np.arange(1,13)
def1999 = def1999.set_index('index')
def1999

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1156933961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def1999['index'] = np.arange(1,13)

       Unnamed: 0   inf   ano        b100      defl
index
1              53  0.70  1999  157.392574  1.573926
2              54  1.05  1999  159.045196  1.590452
3              55  1.10  1999  160.794693  1.607947
4              56  0.56  1999  161.695144  1.616951
5              57  0.30  1999  162.180229  1.621802
6              58  0.19  1999  162.488371  1.624884
7              59  1.09  1999  164.259495  1.642595
8              60  0.56  1999  165.179348  1.651793
9              61  0.31  1999  165.691404  1.656914
10             62  1.19  1999  167.663132  1.676631
11             63  0.95  1999  169.255931  1.692559
12             64  0.60  1999  170.271467  1.702715

In [13]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b1999pf.loc[b1999pf['mes']==x]
    fl['defl'] = def1999['defl'][x]
    b1999pf['defl'].loc[b1999pf['mes']==x] = fl['defl']
    del(fl)

mes 1
mes 2

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1975668279.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl['defl'] = def1999['defl'][x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1975668279.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['defl'].loc[b1999pf['mes']==x] = fl['defl']

mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [14]:
b1999pf['ingr_r'] = b1999pf['ingr_b']/b1999pf['defl']
b1999pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1182671726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['ingr_r'] = b1999pf['ingr_b']/b1999pf['defl']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r
0,43,1999,1,43000509,5,3,1.0,4,8,954,2.0,400.0,13.0,0.0,0.0,2,2,400.0,1.573926,254.141596
1,29,1999,1,29000289,6,3,1.0,1,5,947,4.0,500.0,13.0,0.0,0.0,2,2,500.0,1.573926,317.676995
2,29,1999,1,29000440,2,3,3.0,3,1,959,2.0,280.0,13.0,0.0,0.0,6,6,280.0,1.573926,177.899117
3,35,1999,1,35000406,23,1,3.0,6,11,979,0.0,0.0,0.0,0.0,0.0,4,4,0.0,1.573926,0.000000
4,31,1999,1,31000134,9,3,2.0,5,8,966,0.0,0.0,0.0,0.0,0.0,3,2,0.0,1.573926,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,4.0,400.0,13.0,0.0,0.0,5,4,400.0,1.702715,234.918984
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,0.0,0.0,0.0,0.0,0.0,11,10,0.0,1.702715,0.000000
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,0.0,0.0,0.0,0.0,0.0,4,3,0.0,1.702715,0.000000
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,0.0,0.0,0.0,0.0,0.0,4,4,0.0,1.702715,0.000000
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,2.0,700.0,14.0,0.0,0.0,4,4,700.0,1.702715,411.108222

## Intento de crear un índice para hogares y una variable ingreso hogares

Los intentos de crear un indice para hogares y de calcular el ingreso de cada hogar como la suma de los perceptores de ingresos individuales es posible, pero es demasiado largo y requiere mayor capacidad de cómputo, con 1534 áreas cada una con un promedio de 40 hogares y por doce meses son aproximadamente 736320 iteraciones por año.

Este procedimiento para cada uno de los 20 años, asumiendo que el número de hogares se mantenga igual sería un total de 14 726 400 iteraciones, asumiendo que mi computador sea capáz de realizar 20 iteraciones por segundo el trabajo se completaría en 8.52 días donde la computadora tendría que estar funcionando las 24 horas del día sin descanso.

Desconozco si existe otra base u otros cálculos de la PME donde tengamos el ingreso por hogares como la suma de los ingresos de las personas encuestadas mes a mes o si el autor calculó de esta o de alguna otra forma el ingreso de los hogares.

Ya que al final el autor después de calcular el ingreso de los hogares lo divide para cada uno de los miembros, intentaré aproximar la fórmula del autor directamente para cada persona, de esta manera tendremos un resultado parecido.

Queda el código necesario para calcular el ingreso de los hogares.

In [15]:
#b1999pf['ingr_h'] = 0
#b1999pf

In [16]:
#for x in b1999pf['mes'].unique():
#   for y in b1999pf['v102'].unique():
#       for z in b1999pf['v103'].unique():
#          print('mes', x, 'Área', y, 'Hogar', z)
#           ig = b1999pf.loc[(b1999pf['mes']==x) & (b1999pf['v102']==y) & (b1999pf['v103']==z)]
#           ig['h'] = ig['ingr_b'].sum()
#           b1999pf['ingr_h'].loc[(b1999pf['mes']==x) & (b1999pf['v102']==y) & (b1999pf['v103']==z)] = ig['h']
#           del(ig)

Para calcular un índice de hogares, el siguiente código arroja todos los hogares posibles durante cada mes

In [17]:
#for x in b1994pf['mes'].unique():
#   for y in b1994pf['v102'].unique():
#       for z in b1994pf['v103'].unique():
#           print(x,y,z)

## Calculamos la edad

In [18]:
b1999pf['v246_b'] = 0
b1999pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\2828163494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v246_b'] = 0

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,400.0,13.0,0.0,0.0,2,2,400.0,1.573926,254.141596,0
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,500.0,13.0,0.0,0.0,2,2,500.0,1.573926,317.676995,0
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,280.0,13.0,0.0,0.0,6,6,280.0,1.573926,177.899117,0
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,0.0,0.0,0.0,4,4,0.0,1.573926,0.000000,0
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,0.0,0.0,0.0,3,2,0.0,1.573926,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,400.0,13.0,0.0,0.0,5,4,400.0,1.702715,234.918984,0
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,0.0,0.0,0.0,11,10,0.0,1.702715,0.000000,0
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,0.0,0.0,0.0,4,3,0.0,1.702715,0.000000,0
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,0.0,0.0,0.0,4,4,0.0,1.702715,0.000000,0
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,700.0,14.0,0.0,0.0,4,4,700.0,1.702715,411.108222,0

Para las edades de tres dígitos les sumamos 1000

In [19]:
tres = b1999pf.loc[b1999pf['v246'] < 1000]
tres['v246_b'] = b1999pf.loc[b1999pf['v246']<1000]['v246']+1000
b1999pf['v246_b'].loc[b1999pf['v246']<1000] = tres['v246_b']
del(tres)
b1999pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\3142700602.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v246_b'].loc[b1999pf['v246']<1000] = tres['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,400.0,13.0,0.0,0.0,2,2,400.0,1.573926,254.141596,1954
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,500.0,13.0,0.0,0.0,2,2,500.0,1.573926,317.676995,1947
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,280.0,13.0,0.0,0.0,6,6,280.0,1.573926,177.899117,1959
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,0.0,0.0,0.0,4,4,0.0,1.573926,0.000000,1979
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,0.0,0.0,0.0,3,2,0.0,1.573926,0.000000,1966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,400.0,13.0,0.0,0.0,5,4,400.0,1.702715,234.918984,1944
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,0.0,0.0,0.0,11,10,0.0,1.702715,0.000000,1980
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,0.0,0.0,0.0,4,3,0.0,1.702715,0.000000,1988
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,0.0,0.0,0.0,4,4,0.0,1.702715,0.000000,1956
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,700.0,14.0,0.0,0.0,4,4,700.0,1.702715,411.108222,1962

Para las edades que solo tienen dos dígitos, los corregimos sumando 1900

In [20]:
cien = b1999pf.loc[b1999pf['v246'] < 100]
cien['v246_b'] = b1999pf.loc[b1999pf['v246']<100]['v246']+1900
b1999pf['v246_b'].loc[b1999pf['v246']<100] = cien['v246_b']
del(cien)
b1999pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1279120577.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cien['v246_b'] = b1999pf.loc[b1999pf['v246']<100]['v246']+1900
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1279120577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['v246_b'].loc[b1999pf['v246']<100] = cien['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,400.0,13.0,0.0,0.0,2,2,400.0,1.573926,254.141596,1954
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,500.0,13.0,0.0,0.0,2,2,500.0,1.573926,317.676995,1947
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,280.0,13.0,0.0,0.0,6,6,280.0,1.573926,177.899117,1959
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,0.0,0.0,0.0,4,4,0.0,1.573926,0.000000,1979
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,0.0,0.0,0.0,3,2,0.0,1.573926,0.000000,1966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,400.0,13.0,0.0,0.0,5,4,400.0,1.702715,234.918984,1944
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,0.0,0.0,0.0,11,10,0.0,1.702715,0.000000,1980
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,0.0,0.0,0.0,4,3,0.0,1.702715,0.000000,1988
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,0.0,0.0,0.0,4,4,0.0,1.702715,0.000000,1956
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,700.0,14.0,0.0,0.0,4,4,700.0,1.702715,411.108222,1962

Calculamos la edad

In [21]:
b1999pf['edad_c'] = 1999-b1999pf['v246_b']
b1999pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\1137101300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pf['edad_c'] = 1999-b1999pf['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,13.0,0.0,0.0,2,2,400.0,1.573926,254.141596,1954,45
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,13.0,0.0,0.0,2,2,500.0,1.573926,317.676995,1947,52
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,13.0,0.0,0.0,6,6,280.0,1.573926,177.899117,1959,40
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,0.0,0.0,4,4,0.0,1.573926,0.000000,1979,20
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,0.0,0.0,3,2,0.0,1.573926,0.000000,1966,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,13.0,0.0,0.0,5,4,400.0,1.702715,234.918984,1944,55
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,0.0,0.0,11,10,0.0,1.702715,0.000000,1980,19
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,0.0,0.0,4,3,0.0,1.702715,0.000000,1988,11
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,0.0,0.0,4,4,0.0,1.702715,0.000000,1956,43
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,14.0,0.0,0.0,4,4,700.0,1.702715,411.108222,1962,37

Limpiamos de la base los datos con edades negativas

In [22]:
b1999pf = b1999pf.loc[b1999pf['edad_c']>0]

Limpiamos también los datos con edades mayores a 100 años

In [23]:
b1999pf = b1999pf.loc[b1999pf['edad_c']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [24]:
b1999pf = b1999pf.loc[b1999pf['edad_c']>10]

Eliminamos ingresos igual a 9999999999

In [25]:
b1999pf = b1999pf.loc[b1999pf['ingr_b']!=999999999]
b1999pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,13.0,0.0,0.0,2,2,400.0,1.573926,254.141596,1954,45
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,13.0,0.0,0.0,2,2,500.0,1.573926,317.676995,1947,52
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,13.0,0.0,0.0,6,6,280.0,1.573926,177.899117,1959,40
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,0.0,0.0,4,4,0.0,1.573926,0.000000,1979,20
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,0.0,0.0,3,2,0.0,1.573926,0.000000,1966,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,13.0,0.0,0.0,5,4,400.0,1.702715,234.918984,1944,55
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,0.0,0.0,11,10,0.0,1.702715,0.000000,1980,19
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,0.0,0.0,4,3,0.0,1.702715,0.000000,1988,11
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,0.0,0.0,4,4,0.0,1.702715,0.000000,1956,43
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,14.0,0.0,0.0,4,4,700.0,1.702715,411.108222,1962,37

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [26]:
k = 0.4
s = 0.9

In [27]:
b1999pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,13.0,0.0,0.0,2,2,400.0,1.573926,254.141596,1954,45
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,13.0,0.0,0.0,2,2,500.0,1.573926,317.676995,1947,52
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,13.0,0.0,0.0,6,6,280.0,1.573926,177.899117,1959,40
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,0.0,0.0,4,4,0.0,1.573926,0.000000,1979,20
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,0.0,0.0,3,2,0.0,1.573926,0.000000,1966,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,13.0,0.0,0.0,5,4,400.0,1.702715,234.918984,1944,55
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,0.0,0.0,11,10,0.0,1.702715,0.000000,1980,19
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,0.0,0.0,4,3,0.0,1.702715,0.000000,1988,11
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,0.0,0.0,4,4,0.0,1.702715,0.000000,1956,43
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,14.0,0.0,0.0,4,4,700.0,1.702715,411.108222,1962,37

In [28]:
b1999pf['den'] = b1999pf['v0110'] + k*(b1999pf['v0109']-b1999pf['v0110'])**s
b1999pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,0.0,0.0,2,2,400.0,1.573926,254.141596,1954,45,2.0
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,0.0,0.0,2,2,500.0,1.573926,317.676995,1947,52,2.0
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,0.0,0.0,6,6,280.0,1.573926,177.899117,1959,40,6.0
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,0.0,4,4,0.0,1.573926,0.000000,1979,20,4.0
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,0.0,3,2,0.0,1.573926,0.000000,1966,33,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,0.0,0.0,5,4,400.0,1.702715,234.918984,1944,55,4.4
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,0.0,11,10,0.0,1.702715,0.000000,1980,19,10.4
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,0.0,4,3,0.0,1.702715,0.000000,1988,11,3.4
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,0.0,4,4,0.0,1.702715,0.000000,1956,43,4.0
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,0.0,0.0,4,4,700.0,1.702715,411.108222,1962,37,4.0

In [29]:
b1999pf['ingr_t'] = b1999pf['ingr_r']/b1999pf['den']
b1999pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den,ingr_t
0,43,1999,1,43000509,5,3,1.0,4,8,954,...,0.0,2,2,400.0,1.573926,254.141596,1954,45,2.0,127.070798
1,29,1999,1,29000289,6,3,1.0,1,5,947,...,0.0,2,2,500.0,1.573926,317.676995,1947,52,2.0,158.838498
2,29,1999,1,29000440,2,3,3.0,3,1,959,...,0.0,6,6,280.0,1.573926,177.899117,1959,40,6.0,29.649853
3,35,1999,1,35000406,23,1,3.0,6,11,979,...,0.0,4,4,0.0,1.573926,0.000000,1979,20,4.0,0.000000
4,31,1999,1,31000134,9,3,2.0,5,8,966,...,0.0,3,2,0.0,1.573926,0.000000,1966,33,2.4,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,1999,12,35002573,3,1,1.0,1,5,944,...,0.0,5,4,400.0,1.702715,234.918984,1944,55,4.4,53.390678
1100794,33,1999,12,33002916,21,3,2.0,3,1,980,...,0.0,11,10,0.0,1.702715,0.000000,1980,19,10.4,0.000000
1100795,33,1999,12,33002924,4,1,3.0,3,7,988,...,0.0,4,3,0.0,1.702715,0.000000,1988,11,3.4,0.000000
1100796,33,1999,12,33002916,22,1,1.0,4,1,956,...,0.0,4,4,0.0,1.702715,0.000000,1956,43,4.0,0.000000
1100797,33,1999,12,33002916,22,3,2.0,5,3,962,...,0.0,4,4,700.0,1.702715,411.108222,1962,37,4.0,102.777055

---------------------------------------

In [30]:
b1999pi = b1999pf[['uf', 'mes', 'v102', 'v103', 'v0109', 'v0110', 'ingr_b', 'defl', 'ingr_r', 'den', 'ingr_t', 'edad_c']]
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
0,43,1,43000509,5,2,2,400.0,1.573926,254.141596,2.0,127.070798,45
1,29,1,29000289,6,2,2,500.0,1.573926,317.676995,2.0,158.838498,52
2,29,1,29000440,2,6,6,280.0,1.573926,177.899117,6.0,29.649853,40
3,35,1,35000406,23,4,4,0.0,1.573926,0.000000,4.0,0.000000,20
4,31,1,31000134,9,3,2,0.0,1.573926,0.000000,2.4,0.000000,33
...,...,...,...,...,...,...,...,...,...,...,...,...
1100793,35,12,35002573,3,5,4,400.0,1.702715,234.918984,4.4,53.390678,55
1100794,33,12,33002916,21,11,10,0.0,1.702715,0.000000,10.4,0.000000,19
1100795,33,12,33002924,4,4,3,0.0,1.702715,0.000000,3.4,0.000000,11
1100796,33,12,33002916,22,4,4,0.0,1.702715,0.000000,4.0,0.000000,43
1100797,33,12,33002916,22,4,4,700.0,1.702715,411.108222,4.0,102.777055,37

Vamos a descartar las personas con ingresos de 0

In [31]:
b1999pi = b1999pi.loc[b1999pi['ingr_t']>0]
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
0,43,1,43000509,5,2,2,400.0,1.573926,254.141596,2.0,127.070798,45
1,29,1,29000289,6,2,2,500.0,1.573926,317.676995,2.0,158.838498,52
2,29,1,29000440,2,6,6,280.0,1.573926,177.899117,6.0,29.649853,40
5,43,1,43000215,18,4,4,400.0,1.573926,254.141596,4.0,63.535399,57
6,43,1,43000126,23,3,2,220.0,1.573926,139.777878,2.4,58.240782,41
...,...,...,...,...,...,...,...,...,...,...,...,...
1100790,33,12,33002916,14,6,6,500.0,1.702715,293.648730,6.0,48.941455,49
1100791,33,12,33002665,14,1,1,2200.0,1.702715,1292.054412,1.0,1292.054412,32
1100792,33,12,33002940,21,5,4,500.0,1.702715,293.648730,4.4,66.738348,33
1100793,35,12,35002573,3,5,4,400.0,1.702715,234.918984,4.4,53.390678,55
1100797,33,12,33002916,22,4,4,700.0,1.702715,411.108222,4.0,102.777055,37

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 1999, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [32]:
b1999pi['um_pobr']=0
b1999pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\617019688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pi['um_pobr']=0

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
0,43,1,43000509,5,2,2,400.0,1.573926,254.141596,2.0,127.070798,45,0
1,29,1,29000289,6,2,2,500.0,1.573926,317.676995,2.0,158.838498,52,0
2,29,1,29000440,2,6,6,280.0,1.573926,177.899117,6.0,29.649853,40,0
5,43,1,43000215,18,4,4,400.0,1.573926,254.141596,4.0,63.535399,57,0
6,43,1,43000126,23,3,2,220.0,1.573926,139.777878,2.4,58.240782,41,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100790,33,12,33002916,14,6,6,500.0,1.702715,293.648730,6.0,48.941455,49,0
1100791,33,12,33002665,14,1,1,2200.0,1.702715,1292.054412,1.0,1292.054412,32,0
1100792,33,12,33002940,21,5,4,500.0,1.702715,293.648730,4.4,66.738348,33,0
1100793,35,12,35002573,3,5,4,400.0,1.702715,234.918984,4.4,53.390678,55,0
1100797,33,12,33002916,22,4,4,700.0,1.702715,411.108222,4.0,102.777055,37,0

In [33]:
pobr = pd.Series([99.72, 92.37, 82.11, 99.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26     99.72
29     92.37
31     82.11
33     99.21
35    119.55
43     62.28
dtype: float64

In [34]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b1999pi.loc[b1999pi['uf']==x]
    p['um_pobr'] = pobr[x]
    b1999pi['um_pobr'].loc[b1999pi['uf']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\2876353328.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\2876353328.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pi['um_pobr'].loc[b1999pi['uf']==x] = p['um_pobr']

-------------------------------------

## Calculo del índice de pobreza de Foster, Greer y Thorbecke

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1994), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

In [35]:
b1999pi = b1999pi.sort_values(['mes', 'ingr_t'])
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21

Creamos la variable g = um_pobr - ingr_t

In [36]:
b1999pi['g']=b1999pi['um_pobr']-b1999pi['ingr_t']
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37,9.178380e+01
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72,9.908465e+01
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37,9.157581e+01
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37,9.157581e+01
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72,9.883548e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21,-1.174595e+09
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55,-1.174595e+09
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21,-1.174595e+09
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28,-1.174595e+09
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21,-1.174595e+09

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [37]:
b1999pi['q'] = 0
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37,9.178380e+01,0
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72,9.908465e+01,0
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37,9.157581e+01,0
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37,9.157581e+01,0
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72,9.883548e+01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21,-1.174595e+09,0
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55,-1.174595e+09,0
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21,-1.174595e+09,0
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28,-1.174595e+09,0
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21,-1.174595e+09,0

In [38]:
ma = b1999pi.loc[b1999pi['g']>0]
ma['q'] = 1
b1999pi['q'] = ma['q']
b1999pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\439825321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37,9.178380e+01,1.0
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72,9.908465e+01,1.0
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37,9.157581e+01,1.0
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37,9.157581e+01,1.0
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72,9.883548e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21,-1.174595e+09,NaN
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55,-1.174595e+09,NaN
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21,-1.174595e+09,NaN
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28,-1.174595e+09,NaN
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21,-1.174595e+09,NaN

In [39]:
b1999pi['q'] = b1999pi['q'].fillna(0)
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37,9.178380e+01,1.0
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72,9.908465e+01,1.0
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37,9.157581e+01,1.0
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37,9.157581e+01,1.0
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72,9.883548e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21,-1.174595e+09,0.0
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55,-1.174595e+09,0.0
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21,-1.174595e+09,0.0
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28,-1.174595e+09,0.0
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21,-1.174595e+09,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [40]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [41]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['q'].sum()
del(x)
del(y)
qs

        26      29      31      33      35      43
1   3475.0  3803.0  4536.0  3832.0  4660.0  2540.0
2   3495.0  3724.0  4789.0  3928.0  4981.0  2514.0
3   3448.0  3690.0  4614.0  4014.0  4987.0  2804.0
4   3617.0  3671.0  4980.0  3945.0  5046.0  2845.0
5   3640.0  3560.0  4998.0  4007.0  5052.0  2789.0
6   3648.0  3773.0  5141.0  4087.0  5138.0  2736.0
7   3673.0  3747.0  5084.0  4096.0  4913.0  2822.0
8   3785.0  3694.0  5203.0  4089.0  4969.0  2828.0
9   3807.0  3734.0  5188.0  4070.0  5074.0  2849.0
10  3900.0  3782.0  5222.0  4005.0  5326.0  2829.0
11  3916.0  3814.0  5275.0  4095.0  5505.0  2767.0
12  3722.0  3846.0  5241.0  4012.0  5306.0  2857.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [42]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [43]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['mes'].count()
del(x)
del(y)
ns

        26      29      31      33      35      43
1   4408.0  5008.0  7614.0  6456.0  8360.0  6126.0
2   4330.0  4828.0  7470.0  6270.0  8368.0  6122.0
3   4266.0  4796.0  7262.0  6367.0  8311.0  6120.0
4   4463.0  4752.0  7659.0  6229.0  8323.0  6241.0
5   4540.0  4609.0  7749.0  6328.0  8299.0  6238.0
6   4497.0  4790.0  7868.0  6419.0  8413.0  6279.0
7   4610.0  4741.0  7747.0  6597.0  8101.0  6323.0
8   4761.0  4611.0  7836.0  6545.0  8155.0  6373.0
9   4729.0  4703.0  7789.0  6529.0  8260.0  6388.0
10  4835.0  4753.0  8020.0  6465.0  8268.0  6376.0
11  4835.0  4764.0  8097.0  6438.0  8452.0  6460.0
12  4655.0  4830.0  8088.0  6392.0  8384.0  6498.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [44]:
b1999pi['gq'] = b1999pi['g']*b1999pi['q']
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37,9.178380e+01,1.0,91.783804
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72,9.908465e+01,1.0,99.084646
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37,9.157581e+01,1.0,91.575808
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37,9.157581e+01,1.0,91.575808
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72,9.883548e+01,1.0,98.835480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21,-1.174595e+09,0.0,-0.000000
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55,-1.174595e+09,0.0,-0.000000
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21,-1.174595e+09,0.0,-0.000000
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28,-1.174595e+09,0.0,-0.000000
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21,-1.174595e+09,0.0,-0.000000

In [45]:
b1999pi['sumag_z'] = b1999pi['gq']/b1999pi['um_pobr']
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37,9.178380e+01,1.0,91.783804,0.993654
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72,9.908465e+01,1.0,99.084646,0.993629
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37,9.157581e+01,1.0,91.575808,0.991402
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37,9.157581e+01,1.0,91.575808,0.991402
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72,9.883548e+01,1.0,98.835480,0.991130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21,-1.174595e+09,0.0,-0.000000,-0.000000
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55,-1.174595e+09,0.0,-0.000000,-0.000000
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21,-1.174595e+09,0.0,-0.000000,-0.000000
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28,-1.174595e+09,0.0,-0.000000,-0.000000
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21,-1.174595e+09,0.0,-0.000000,-0.000000

In [46]:
b1999pi['sumag_z0'] = b1999pi['q']
b1999pi['sumag_z1'] = b1999pi['sumag_z']**1
b1999pi['sumag_z2'] = b1999pi['sumag_z']**2
b1999pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
64887,29,1,29000955,13,17,11,1.200000e+01,1.573926,7.624248e+00,13.006301,5.861965e-01,29,92.37,9.178380e+01,1.0,91.783804,0.993654,1.0,0.993654,0.987348
5306,26,1,26000075,18,8,8,8.000000e+00,1.573926,5.082832e+00,8.000000,6.353540e-01,14,99.72,9.908465e+01,1.0,99.084646,0.993629,1.0,0.993629,0.987298
45242,29,1,29000645,4,7,6,8.000000e+00,1.573926,5.082832e+00,6.400000,7.941925e-01,44,92.37,9.157581e+01,1.0,91.575808,0.991402,1.0,0.991402,0.982878
1532,29,1,29000106,24,8,8,1.000000e+01,1.573926,6.353540e+00,8.000000,7.941925e-01,13,92.37,9.157581e+01,1.0,91.575808,0.991402,1.0,0.991402,0.982878
31499,26,1,26000784,12,7,5,8.000000e+00,1.573926,5.082832e+00,5.746426,8.845205e-01,13,99.72,9.883548e+01,1.0,98.835480,0.991130,1.0,0.991130,0.982339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067684,33,12,33001863,16,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,42,99.21,-1.174595e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1074111,35,12,35001860,8,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,55,119.55,-1.174595e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1091846,33,12,33002835,4,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,34,99.21,-1.174595e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1099822,43,12,43002439,9,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,53,62.28,-1.174595e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1100385,33,12,33002495,19,1,1,2.000000e+09,1.702715,1.174595e+09,1.000000,1.174595e+09,45,99.21,-1.174595e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [47]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [48]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

        26      29      31      33      35      43
1   3475.0  3803.0  4536.0  3832.0  4660.0  2540.0
2   3495.0  3724.0  4789.0  3928.0  4981.0  2514.0
3   3448.0  3690.0  4614.0  4014.0  4987.0  2804.0
4   3617.0  3671.0  4980.0  3945.0  5046.0  2845.0
5   3640.0  3560.0  4998.0  4007.0  5052.0  2789.0
6   3648.0  3773.0  5141.0  4087.0  5138.0  2736.0
7   3673.0  3747.0  5084.0  4096.0  4913.0  2822.0
8   3785.0  3694.0  5203.0  4089.0  4969.0  2828.0
9   3807.0  3734.0  5188.0  4070.0  5074.0  2849.0
10  3900.0  3782.0  5222.0  4005.0  5326.0  2829.0
11  3916.0  3814.0  5275.0  4095.0  5505.0  2767.0
12  3722.0  3846.0  5241.0  4012.0  5306.0  2857.0

In [49]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [50]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

,26,29,31,33,35,43
1,2217.639069,2373.066867,2416.203008,1953.204800,2347.604838,1091.343811
2,2251.742723,2343.243096,2583.420633,2009.536610,2578.825234,1085.917307
3,2222.954794,2307.400936,2506.352950,2084.958558,2579.550949,1124.726413
4,2361.268703,2313.939270,2730.269746,2034.598706,2636.648143,1137.182018
5,2399.062631,2236.745210,2789.739728,2081.019510,2655.338902,1158.396865
6,2367.975367,2379.143140,2782.073124,2090.229604,2733.535121,1113.397810
7,2389.915494,2391.621469,2794.753394,2093.739196,2603.970270,1180.822833
8,2477.417607,2345.246899,2885.637378,2117.409694,2634.624299,1182.295256
9,2498.715549,2372.963169,2871.879077,2096.353749,2698.754393,1193.601446
10,2516.323182,2402.428059,2892.376416,2085.724171,2716.872280,1173.779649
11,2556.740039,2426.867689,2953.981122,2123.832615,2852.534370,1146.709190
12,2423.632166,2453.944924,2917.279328,2051.939666,2770.679343,1195.204726

In [51]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [52]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

,26,29,31,33,35,43
1,1618.709406,1699.687984,1558.738377,1228.257709,1461.372595,600.350495
2,1651.711833,1691.089304,1689.366509,1260.504465,1626.574872,597.057862
3,1627.663089,1666.209912,1639.522228,1325.141618,1614.572417,618.022236
4,1745.456793,1670.465578,1798.021654,1286.065677,1664.050277,623.122293
5,1779.087276,1611.281229,1853.911690,1312.083694,1679.147315,640.990185
6,1748.772719,1728.702542,1812.369357,1313.721454,1744.693892,608.096921
7,1767.169317,1757.362834,1840.053016,1310.276740,1650.994360,659.446235
8,1836.501054,1710.623862,1912.758964,1330.385803,1676.700647,660.453672
9,1845.036251,1731.242886,1899.037461,1317.589613,1724.010552,665.111050
10,1849.127656,1754.018825,1926.226557,1320.430662,1737.860819,650.180895
11,1886.179980,1767.034506,1971.767632,1347.690817,1838.841440,631.555003
12,1779.089277,1790.635063,1935.018178,1294.387773,1786.590574,660.999611

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)*sumatoria(g/um_pobr)**2 para cada mes y cada región

In [53]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [54]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31        33        35        43
1   0.788339  0.759385  0.595745  0.593556  0.557416  0.414626
2   0.807159  0.771334  0.641098  0.626475  0.595244  0.410650
3   0.808251  0.769391  0.635362  0.630438  0.600048  0.458170
4   0.810441  0.772517  0.650215  0.633328  0.606272  0.455856
5   0.801762  0.772402  0.644986  0.633217  0.608748  0.447098
6   0.811207  0.787683  0.653406  0.636704  0.610722  0.435738
7   0.796746  0.790340  0.656254  0.620888  0.606468  0.446307
8   0.795001  0.801128  0.663987  0.624752  0.609319  0.443747
9   0.805033  0.793961  0.666068  0.623373  0.614286  0.445992
10  0.806618  0.795708  0.651122  0.619490  0.644170  0.443695
11  0.809928  0.800588  0.651476  0.636067  0.651325  0.428328
12  0.799570  0.796273  0.647997  0.627660  0.632872  0.439674

In [55]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [56]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31        33        35        43
1   0.503094  0.473855  0.317337  0.302541  0.280814  0.178149
2   0.520033  0.485344  0.345839  0.320500  0.308177  0.177380
3   0.521086  0.481109  0.345133  0.327463  0.310378  0.183779
4   0.529077  0.486940  0.356479  0.326633  0.316791  0.182212
5   0.528428  0.485299  0.360013  0.328859  0.319959  0.185700
6   0.526568  0.496690  0.353593  0.325632  0.324918  0.177321
7   0.518420  0.504455  0.360753  0.317377  0.321438  0.186750
8   0.520357  0.508620  0.368254  0.323516  0.323069  0.185516
9   0.528381  0.504564  0.368710  0.321083  0.326726  0.186851
10  0.520439  0.505455  0.360645  0.322618  0.328601  0.184093
11  0.528798  0.509418  0.364824  0.329890  0.337498  0.177509
12  0.520651  0.508063  0.360692  0.321017  0.330472  0.183934

In [57]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [58]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31        33        35        43
1   0.367221  0.339395  0.204720  0.190251  0.174805  0.098000
2   0.381458  0.350267  0.226153  0.201037  0.194380  0.097527
3   0.381543  0.347417  0.225767  0.208127  0.194269  0.100984
4   0.391095  0.351529  0.234759  0.206464  0.199934  0.099843
5   0.391869  0.349595  0.239245  0.207346  0.202331  0.102756
6   0.388875  0.360898  0.230347  0.204661  0.207381  0.096846
7   0.383334  0.370673  0.237518  0.198617  0.203801  0.104293
8   0.385739  0.370988  0.244099  0.203268  0.205604  0.103633
9   0.390154  0.368115  0.243810  0.201806  0.208718  0.104119
10  0.382446  0.369034  0.240178  0.204243  0.210191  0.101973
11  0.390110  0.370914  0.243518  0.209334  0.217563  0.097764
12  0.382189  0.370732  0.239246  0.202501  0.213095  0.101724

El autor menciona también los trabajos de Ravallion 1994 y 2016 pero parece ser que no los calcula

----------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/N*sumatoria(y**(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (1999)

In [59]:
b1999pi = b1999pi[['uf', 'mes', 'ingr_b', 'ingr_r', 'den', 'ingr_t']]

In [60]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [61]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

,26,29,31,33,35,43
1,1.255240e+06,6.688876e+05,470206.873296,1.975246e+06,115820.320978,1.052046e+06
2,1.466940e+06,6.335997e+05,707877.992163,2.586159e+06,571439.476554,1.133299e+06
3,1.097777e+06,7.482330e+05,492042.337979,2.886662e+06,709346.450339,1.103725e+06
4,1.218724e+06,9.379578e+05,662837.834160,2.459949e+06,625486.360624,9.336708e+05
5,1.902322e+06,1.065880e+06,494239.614454,2.449998e+06,447382.356394,8.659026e+05
6,1.425495e+06,5.123205e+05,658691.149787,2.298877e+06,417072.771635,7.121037e+05
7,1.046645e+06,9.611598e+05,209546.712263,2.289525e+06,560704.118458,6.962099e+05
8,4.569653e+05,1.456364e+06,631411.218843,1.690530e+06,339090.481555,6.554030e+05
9,8.411962e+05,1.522791e+06,626227.092102,1.630895e+06,221623.651419,1.052973e+06
10,8.760453e+05,1.050957e+06,648592.119103,2.352725e+06,788253.489010,9.220644e+05
11,6.203424e+05,9.560256e+05,684963.073061,2.818563e+06,587001.760697,1.382149e+06
12,5.649285e+05,7.268253e+05,243044.052903,2.637331e+06,607131.018673,1.034704e+06

In [62]:
b1999pi['ingr_t25'] = b1999pi['ingr_t']**(1-0.25)
b1999pi['ingr_t50'] = b1999pi['ingr_t']**(1-0.5)
b1999pi['ingr_t75'] = b1999pi['ingr_t']**(1-0.75)
b1999pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\3413933389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pi['ingr_t25'] = b1999pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\3413933389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pi['ingr_t50'] = b1999pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_11412\3413933389.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1999pi['ingr_t75'] = b1999pi['ingr_t']**(1-0.75)

,uf,mes,ingr_b,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
64887,29,1,1.200000e+01,7.624248e+00,13.006301,5.861965e-01,6.699346e-01,0.765635,0.875006
5306,26,1,8.000000e+00,5.082832e+00,8.000000,6.353540e-01,7.116424e-01,0.797091,0.892800
45242,29,1,8.000000e+00,5.082832e+00,6.400000,7.941925e-01,8.412873e-01,0.891175,0.944021
1532,29,1,1.000000e+01,6.353540e+00,8.000000,7.941925e-01,8.412873e-01,0.891175,0.944021
31499,26,1,8.000000e+00,5.082832e+00,5.746426,8.845205e-01,9.120758e-01,0.940489,0.969788
...,...,...,...,...,...,...,...,...,...
1067684,33,12,2.000000e+09,1.174595e+09,1.000000,1.174595e+09,6.344773e+06,34272.363775,185.127966
1074111,35,12,2.000000e+09,1.174595e+09,1.000000,1.174595e+09,6.344773e+06,34272.363775,185.127966
1091846,33,12,2.000000e+09,1.174595e+09,1.000000,1.174595e+09,6.344773e+06,34272.363775,185.127966
1099822,43,12,2.000000e+09,1.174595e+09,1.000000,1.174595e+09,6.344773e+06,34272.363775,185.127966
1100385,33,12,2.000000e+09,1.174595e+09,1.000000,1.174595e+09,6.344773e+06,34272.363775,185.127966

In [63]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [64]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,3.916168e+07,2.417573e+07,2.704179e+07,8.534845e+07,7.582207e+06,4.219179e+07
2,4.663199e+07,2.297913e+07,3.878343e+07,1.101319e+08,3.155188e+07,5.015265e+07
3,3.290408e+07,2.678565e+07,2.625308e+07,1.289190e+08,4.250647e+07,4.830315e+07
4,4.279493e+07,3.436477e+07,3.636906e+07,1.033125e+08,3.631051e+07,4.376213e+07
5,6.208123e+07,3.418796e+07,2.897888e+07,1.027541e+08,2.477693e+07,4.001238e+07
6,4.897418e+07,1.990306e+07,3.587440e+07,9.958204e+07,2.616406e+07,3.427542e+07
7,3.592087e+07,3.489932e+07,1.261444e+07,1.024170e+08,3.227557e+07,3.332744e+07
8,1.733984e+07,4.681148e+07,3.506211e+07,7.774922e+07,2.142472e+07,3.088715e+07
9,2.671659e+07,5.189321e+07,3.469190e+07,7.359559e+07,1.396119e+07,4.761497e+07
10,3.141234e+07,3.808025e+07,3.687174e+07,9.910795e+07,4.379689e+07,3.936677e+07
11,2.220910e+07,3.469594e+07,3.880806e+07,1.226399e+08,3.409220e+07,6.060617e+07
12,2.017871e+07,2.751924e+07,1.624422e+07,1.154270e+08,3.584111e+07,4.464060e+07

In [65]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [66]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,319858.712097,215301.281429,277587.952257,646034.753892,155058.029596,346192.794632
2,380999.717950,211973.073917,353325.488358,821442.214035,301213.559441,430382.930352
3,270065.884812,238212.273621,259636.802395,983567.489573,401473.566431,413411.418099
4,371364.232227,303577.916883,329181.587476,775006.532391,350324.924398,391857.988316
5,488080.786568,277186.486823,290618.145605,753634.594151,258783.431965,361280.762137
6,409270.705121,197324.686796,324428.536718,745910.380643,286600.444080,327919.482327
7,304209.895031,305296.175893,165234.155255,770205.827267,322192.361952,316919.070396
8,173373.377560,366352.898595,324107.465161,619765.289893,253979.862500,293457.157279
9,219368.529600,416722.315166,319291.425154,581031.106614,194610.980442,407669.747823
10,271483.781709,329745.105412,337848.031789,725484.728738,391866.281460,335260.685277
11,202547.508373,299862.408471,347492.199311,909588.528153,327579.433961,483945.515487
12,190978.457790,251804.677645,203817.671447,869883.480618,348066.330130,368971.915206

In [67]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [68]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,13853.528868,14736.060474,24351.628733,24123.654650,28406.003396,21023.293267
2,13956.777285,14150.430624,23854.825466,24451.135918,28700.998948,21665.317411
3,12913.137560,14284.543712,22618.657961,25997.622117,29321.242862,21438.488164
4,14271.518102,14681.544901,23910.190495,24020.036033,28849.417669,21761.578446
5,15168.114015,13935.623564,23986.993920,23934.616224,28016.951892,21583.009863
6,14572.365094,13919.292361,24566.217259,24297.547901,28553.563357,21604.244520
7,14115.550224,14486.004977,22983.087259,25140.971227,27848.414819,21475.696425
8,13568.247972,14372.589646,24326.730514,23987.652335,27516.457325,21418.434730
9,13627.136784,15100.747112,24102.903801,23625.433398,27299.337685,22243.086804
10,14451.421298,14644.748094,25025.480927,24237.870634,28622.957759,21672.813493
11,13910.471620,14368.440056,25177.387028,25504.866977,28607.747093,22986.546100
12,13470.205804,14221.726231,24289.438494,25282.140374,28798.693214,22264.921053

In [69]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [70]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.853412  0.878026  0.884759  0.841746  0.924200  0.875443
2   0.837875  0.873641  0.872998  0.823448  0.897301  0.854279
3   0.861178  0.867568  0.887238  0.808818  0.875775  0.857624
4   0.832847  0.850904  0.879587  0.828056  0.886031  0.856253
5   0.828108  0.864279  0.882553  0.832167  0.903909  0.862365
6   0.830660  0.869612  0.885217  0.831693  0.891159  0.865027
7   0.852408  0.851018  0.908582  0.830843  0.887355  0.868246
8   0.877375  0.849059  0.883226  0.839666  0.893093  0.874858
9   0.880385  0.838685  0.882979  0.845030  0.909154  0.861722
10  0.861618  0.847458  0.882134  0.838137  0.882855  0.877158
11  0.876912  0.852337  0.882023  0.819499  0.890616  0.856839
12  0.874886  0.859991  0.895738  0.820363  0.885723  0.873783

In [71]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [72]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.995805  0.997237  0.997173  0.994931  0.997030  0.996964
2   0.994722  0.996958  0.996840  0.993363  0.997733  0.995639
3   0.996349  0.996703  0.997402  0.991733  0.996710  0.995866
4   0.994319  0.995649  0.997213  0.993707  0.997168  0.995778
5   0.993924  0.996607  0.997154  0.994211  0.997827  0.996126
6   0.994190  0.996688  0.997419  0.994126  0.997217  0.996170
7   0.995840  0.995686  0.997829  0.994046  0.997179  0.996392
8   0.997098  0.995665  0.997291  0.994696  0.997140  0.996765
9   0.997442  0.994844  0.997317  0.995144  0.997495  0.996132
10  0.996401  0.995420  0.997264  0.994648  0.997150  0.997001
11  0.997171  0.995856  0.997311  0.992918  0.997441  0.995940
12  0.997021  0.996261  0.997387  0.992978  0.997161  0.996884

In [73]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [74]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.999922  0.999888  0.999777  0.999901  0.998849  0.999868
2   0.999926  0.999884  0.999853  0.999911  0.999758  0.999862
3   0.999924  0.999895  0.999809  0.999904  0.999782  0.999864
4   0.999914  0.999903  0.999857  0.999910  0.999769  0.999842
5   0.999935  0.999922  0.999814  0.999916  0.999710  0.999835
6   0.999923  0.999861  0.999856  0.999911  0.999682  0.999803
7   0.999916  0.999909  0.999630  0.999908  0.999751  0.999809
8   0.999856  0.999935  0.999853  0.999893  0.999618  0.999805
9   0.999918  0.999930  0.999854  0.999895  0.999462  0.999860
10  0.999909  0.999914  0.999854  0.999916  0.999818  0.999855
11  0.999890  0.999913  0.999864  0.999913  0.999776  0.999884
12  0.999876  0.999897  0.999665  0.999907  0.999771  0.999867

In [75]:
a25['ano'] = 1999
a50['ano'] = 1999
a75['ano'] = 1999
fgt0['ano'] = 1999
fgt1['ano'] = 1999
fgt2['ano'] = 1999

## Calculamos el ingreso promedio por año y región

In [76]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [77]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b1999pi.loc[(b1999pi['uf']==x) & (b1999pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

,26,29,31,33,35,43
1,1.255240e+06,6.688876e+05,470206.873296,1.975246e+06,115820.320978,1.052046e+06
2,1.466940e+06,6.335997e+05,707877.992163,2.586159e+06,571439.476554,1.133299e+06
3,1.097777e+06,7.482330e+05,492042.337979,2.886662e+06,709346.450339,1.103725e+06
4,1.218724e+06,9.379578e+05,662837.834160,2.459949e+06,625486.360624,9.336708e+05
5,1.902322e+06,1.065880e+06,494239.614454,2.449998e+06,447382.356394,8.659026e+05
6,1.425495e+06,5.123205e+05,658691.149787,2.298877e+06,417072.771635,7.121037e+05
7,1.046645e+06,9.611598e+05,209546.712263,2.289525e+06,560704.118458,6.962099e+05
8,4.569653e+05,1.456364e+06,631411.218843,1.690530e+06,339090.481555,6.554030e+05
9,8.411962e+05,1.522791e+06,626227.092102,1.630895e+06,221623.651419,1.052973e+06
10,8.760453e+05,1.050957e+06,648592.119103,2.352725e+06,788253.489010,9.220644e+05
11,6.203424e+05,9.560256e+05,684963.073061,2.818563e+06,587001.760697,1.382149e+06
12,5.649285e+05,7.268253e+05,243044.052903,2.637331e+06,607131.018673,1.034704e+06

In [78]:
ynr['ano'] = 1999

--------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [79]:
a25_99 = a25
a50_99 = a50
a75_99 = a75
fgt0_99 = fgt0
fgt1_99 = fgt1
fgt2_99 = fgt2
ynr_99 = ynr

In [80]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b1999p, b1999pf, b1999pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [81]:
a25_99.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1999\\a25_99.csv')
a50_99.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1999\\a50_99.csv')
a75_99.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1999\\a75_99.csv')
fgt0_99.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1999\\fgt0_99.csv')
fgt1_99.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1999\\fgt1_99.csv')
fgt2_99.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1999\\fgt2_99.csv')
ynr_99.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1999\\ynr_99.csv')

          26        29        31        33        35        43   ano
1   0.367221  0.339395  0.204720  0.190251  0.174805  0.098000  1999
2   0.381458  0.350267  0.226153  0.201037  0.194380  0.097527  1999
3   0.381543  0.347417  0.225767  0.208127  0.194269  0.100984  1999
4   0.391095  0.351529  0.234759  0.206464  0.199934  0.099843  1999
5   0.391869  0.349595  0.239245  0.207346  0.202331  0.102756  1999
6   0.388875  0.360898  0.230347  0.204661  0.207381  0.096846  1999
7   0.383334  0.370673  0.237518  0.198617  0.203801  0.104293  1999
8   0.385739  0.370988  0.244099  0.203268  0.205604  0.103633  1999
9   0.390154  0.368115  0.243810  0.201806  0.208718  0.104119  1999
10  0.382446  0.369034  0.240178  0.204243  0.210191  0.101973  1999
11  0.390110  0.370914  0.243518  0.209334  0.217563  0.097764  1999
12  0.382189  0.370732  0.239246  0.202501  0.213095  0.101724  1999