In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [2]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\1994-2001\\pme1996\\pmeantiga\\PME1996P.csv'
b1996p = pd.read_csv(basep)
b1996p.head()

,uf,ano,mes,v102,v103,v201,v202,v203,v204,v205,...,deflator,v309df,v311df,v0106,v0109,v0110,v0112,painel,npesq,aest1
0,26,1996,1,26000253,19,5,3,3.0,2.0,2,...,0.693581,NaN,NaN,1,6,5,2,J,1,4
1,35,1996,1,35000554,13,4,1,3.0,3.0,1,...,0.693581,NaN,NaN,1,4,4,2,J,1,3
2,26,1996,1,26000091,9,5,3,3.0,3.0,1,...,0.693581,NaN,NaN,1,8,7,2,J,1,3
3,43,1996,1,43000428,13,1,1,1.0,1.0,1,...,0.693581,1730.1521,NaN,1,2,2,2,J,1,5
4,26,1996,1,26000385,3,1,1,1.0,1.0,1,...,0.693581,NaN,NaN,1,3,3,2,J,1,3

abrimos la tabla con el deflactor

In [3]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos para asegurarnos que estén bien

In [4]:
b1996p.describe
b1996p.dtypes

uf         int64
ano        int64
mes        int64
v102       int64
v103       int64
           ...
v0110      int64
v0112      int64
painel    object
npesq      int64
aest1      int64
Length: 68, dtype: object

## Nos quedamos con las columnas que vamos a usar

- uf: Región de la encuesta \
- ano: año\
- mes: mes\
- v102: número de control, identifica el área de la encuesta\
- v103: Número de serie, equivale a un número de domicilio específico por área\
    (juntos v102 y v103 permiten construir un índice de hogares, considerando un hogar único encuestado cada mes en cada área)\
- v202: sexo\
- v204: Condición de la familia\
    1. CHEFE\
    2. CÔNJUGE\
    3. FILHO\
    4. OUTRO PARENTE
    5. AGREGADO
    6. PENSIONISTA
    7. EMPREGADO DOMÉSTICO
    8. PARENTE DO EMPREGADO DOMÉSTICO
- v210: grado
    0. UNCA FREQÜENTOU
    1. ELEMENTAR
    2. MÉDIO 1o CICLO 
    3. 1o  GRAU
    4. MÉDIO 2o  CICLO
    5. 2o  GRAU
    6. SUPERIOR
    7. MESTRADO OU DOUTORADO
    9. IGNORADO
v236: mes de nacimiento
v246: año de nacimiento
v306: Posición en su ocupación
  2 - EMPREGADO
  4 - CONTA PRÓPRIA
  6 - EMPREGADOR
  8 - NÃO REMUNERADO
  9 - IGNORADO
v309: Rendimiento efectivamente recibido en el mes obtenido de su trabajo principal
v339: Tasa de rendimiento en dinero de su trabajo principal con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais   
v311: Rendimiento efectivamente recibido al mes de sus otros trabajos
v341: Tasa de rendimiento en dinero de sus otros trabajos con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais 
v0109: Total de moradores en el hogar
v0110: Total de moradores con 10 años o más
peso: Peso para expansión que debe ser dividido para 1000 para poder ser usado

In [5]:
#Nos quedamos con los datos que necesitamos
b1996pf = b1996p[['uf', 'ano', 'mes', 'v102', 'v103', 'v202', 'v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341', 'v0109', 'v0110']]
b1996pf.head()

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110
0,26,1996,1,26000253,19,3,2.0,5,5,978,NaN,NaN,NaN,NaN,NaN,6,5
1,35,1996,1,35000554,13,1,3.0,3,4,984,NaN,NaN,NaN,NaN,NaN,4,4
2,26,1996,1,26000091,9,3,3.0,3,6,980,NaN,NaN,NaN,NaN,NaN,8,7
3,43,1996,1,43000428,13,1,1.0,6,8,965,2.0,1200.0,17.0,NaN,NaN,2,2
4,26,1996,1,26000385,3,1,1.0,1,12,920,NaN,NaN,NaN,NaN,NaN,3,3

In [6]:
b1996pf.describe

<bound method NDFrame.describe of          uf   ano  mes      v102  v103  v202  v204  v210  v236  v246  v306  \
0        26  1996    1  26000253    19     3   2.0     5     5   978   NaN
1        35  1996    1  35000554    13     1   3.0     3     4   984   NaN
2        26  1996    1  26000091     9     3   3.0     3     6   980   NaN
3        43  1996    1  43000428    13     1   1.0     6     8   965   2.0
4        26  1996    1  26000385     3     1   1.0     1    12   920   NaN
...      ..   ...  ...       ...   ...   ...   ...   ...   ...   ...   ...
1086934  33  1996   12  33002959    26     1   1.0     3     1   975   4.0
1086935  33  1996   12  33002967     4     3   2.0     5     8   956   2.0
1086936  33  1996   12  33002967     4     1   1.0     6    11   955   2.0
1086937  33  1996   12  33002967    11     3   3.0     5     3   968   NaN
1086938  33  1996   12  33002967     5     3   4.0     4    10   930   NaN

           v309  v339  v311  v341  v0109  v0110
0           NaN   NaN   NaN   NaN      6      5
1           NaN   NaN   NaN   NaN      4      4
2           NaN   NaN   NaN   NaN      8      7
3        1200.0  17.0   NaN   NaN      2      2
4           NaN   NaN   NaN   NaN      3      3
...         ...   ...   ...   ...    ...    ...
1086934   112.0  11.0   NaN   NaN      4      2
1086935   160.0  12.0   NaN   NaN      4      4
1086936  2000.0  20.0   NaN   NaN      4      4
1086937     NaN   NaN   NaN   NaN      5      4
1086938     NaN   NaN   NaN   NaN      3      3

[1086939 rows x 17 columns]>

In [7]:
b1996pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086939 entries, 0 to 1086938
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1086939 non-null  int64
 1   ano     1086939 non-null  int64
 2   mes     1086939 non-null  int64
 3   v102    1086939 non-null  int64
 4   v103    1086939 non-null  int64
 5   v202    1086939 non-null  int64
 6   v204    1086938 non-null  float64
 7   v210    1086939 non-null  int64
 8   v236    1086939 non-null  int64
 9   v246    1086939 non-null  int64
 10  v306    536775 non-null   float64
 11  v309    512265 non-null   float64
 12  v339    530470 non-null   float64
 13  v311    13129 non-null    float64
 14  v341    14091 non-null    float64
 15  v0109   1086939 non-null  int64
 16  v0110   1086939 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 141.0 MB

## Corregimos los valores NA llenando con ceros

In [8]:
b1996pf['v306'] = b1996pf['v306'].fillna(0)
b1996pf['v309'] = b1996pf['v309'].fillna(0)
b1996pf['v339'] = b1996pf['v339'].fillna(0)
b1996pf['v341'] = b1996pf['v341'].fillna(0)
b1996pf['v311'] = b1996pf['v311'].fillna(0)
b1996pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086939 entries, 0 to 1086938
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1086939 non-null  int64
 1   ano     1086939 non-null  int64
 2   mes     1086939 non-null  int64
 3   v102    1086939 non-null  int64
 4   v103    1086939 non-null  int64
 5   v202    1086939 non-null  int64
 6   v204    1086938 non-null  float64
 7   v210    1086939 non-null  int64
 8   v236    1086939 non-null  int64
 9   v246    1086939 non-null  int64
 10  v306    1086939 non-null  float64
 11  v309    1086939 non-null  float64
 12  v339    1086939 non-null  float64
 13  v311    1086939 non-null  float64
 14  v341    1086939 non-null  float64
 15  v0109   1086939 non-null  int64
 16  v0110   1086939 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 141.0 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3676122256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v306'] = b1996pf['v306'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3676122256.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v309'] = b1996pf['v309'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3676122256.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v339'] = b1996pf['v339'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3676122256.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v341'] = b1996pf['v341'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3676122256.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v311'] = b1996pf['v311'].fillna(0)

## Calculamos el ingreso bruto por persona
### ingr_b es la suma del ingreso del trabajo principal y el ingreso de los trabajos no principales

In [9]:
b1996pf['ingr_b'] = b1996pf['v309'] + b1996pf['v311']
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\2523514903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['ingr_b'] = b1996pf['v309'] + b1996pf['v311']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,0.0,0.0,0.0,0.0,0.0,6,5,0.0
1,35,1996,1,35000554,13,1,3.0,3,4,984,0.0,0.0,0.0,0.0,0.0,4,4,0.0
2,26,1996,1,26000091,9,3,3.0,3,6,980,0.0,0.0,0.0,0.0,0.0,8,7,0.0
3,43,1996,1,43000428,13,1,1.0,6,8,965,2.0,1200.0,17.0,0.0,0.0,2,2,1200.0
4,26,1996,1,26000385,3,1,1.0,1,12,920,0.0,0.0,0.0,0.0,0.0,3,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,4.0,112.0,11.0,0.0,0.0,4,2,112.0
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,2.0,160.0,12.0,0.0,0.0,4,4,160.0
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,2.0,2000.0,20.0,0.0,0.0,4,4,2000.0
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,0.0,0.0,0.0,0.0,0.0,5,4,0.0
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,0.0,0.0,0.0,0.0,0.0,3,3,0.0

In [10]:
b1996pf['ingr_b']

0             0.0
1             0.0
2             0.0
3          1200.0
4             0.0
            ...
1086934     112.0
1086935     160.0
1086936    2000.0
1086937       0.0
1086938       0.0
Name: ingr_b, Length: 1086939, dtype: float64

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1994.aspx

In [11]:
b1996pf['defl'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3057456585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['defl'] = 0

In [12]:
def1996 = infb.loc[infb['ano']==1996]
def1996['index'] = np.arange(1,13)
def1996 = def1996.set_index('index')
def1996

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\1770114737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def1996['index'] = np.arange(1,13)

       Unnamed: 0   inf   ano        b100      defl
index
1              17  1.34  1996  135.150991  1.351510
2              18  1.03  1996  136.543046  1.365430
3              19  0.35  1996  137.020947  1.370209
4              20  1.26  1996  138.747411  1.387474
5              21  1.22  1996  140.440129  1.404401
6              22  1.19  1996  142.111367  1.421114
7              23  1.11  1996  143.688803  1.436888
8              24  0.44  1996  144.321034  1.443210
9              25  0.15  1996  144.537515  1.445375
10             26  0.30  1996  144.971128  1.449711
11             27  0.32  1996  145.435035  1.454350
12             28  0.47  1996  146.118580  1.461186

In [13]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b1996pf.loc[b1996pf['mes']==x]
    fl['defl'] = def1996['defl'][x]
    b1996pf['defl'].loc[b1996pf['mes']==x] = fl['defl']
    del(fl)

mes 1
mes 2

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\416047738.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl['defl'] = def1996['defl'][x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\416047738.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['defl'].loc[b1996pf['mes']==x] = fl['defl']

mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [14]:
b1996pf['ingr_r'] = b1996pf['ingr_b']/b1996pf['defl']
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\1728267292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['ingr_r'] = b1996pf['ingr_b']/b1996pf['defl']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r
0,26,1996,1,26000253,19,3,2.0,5,5,978,0.0,0.0,0.0,0.0,0.0,6,5,0.0,1.351510,0.000000
1,35,1996,1,35000554,13,1,3.0,3,4,984,0.0,0.0,0.0,0.0,0.0,4,4,0.0,1.351510,0.000000
2,26,1996,1,26000091,9,3,3.0,3,6,980,0.0,0.0,0.0,0.0,0.0,8,7,0.0,1.351510,0.000000
3,43,1996,1,43000428,13,1,1.0,6,8,965,2.0,1200.0,17.0,0.0,0.0,2,2,1200.0,1.351510,887.895820
4,26,1996,1,26000385,3,1,1.0,1,12,920,0.0,0.0,0.0,0.0,0.0,3,3,0.0,1.351510,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,4.0,112.0,11.0,0.0,0.0,4,2,112.0,1.461186,76.650074
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,2.0,160.0,12.0,0.0,0.0,4,4,160.0,1.461186,109.500106
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,2.0,2000.0,20.0,0.0,0.0,4,4,2000.0,1.461186,1368.751324
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,0.0,0.0,0.0,0.0,0.0,5,4,0.0,1.461186,0.000000
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,0.0,0.0,0.0,0.0,0.0,3,3,0.0,1.461186,0.000000

## Intento de crear un índice para hogares y una variable ingreso hogares

Los intentos de crear un indice para hogares y de calcular el ingreso de cada hogar como la suma de los perceptores de ingresos individuales es posible, pero es demasiado largo y requiere mayor capacidad de cómputo, con 1534 áreas cada una con un promedio de 40 hogares y por doce meses son aproximadamente 736320 iteraciones por año.

Este procedimiento para cada uno de los 20 años, asumiendo que el número de hogares se mantenga igual sería un total de 14 726 400 iteraciones, asumiendo que mi computador sea capáz de realizar 20 iteraciones por segundo el trabajo se completaría en 8.52 días donde la computadora tendría que estar funcionando las 24 horas del día sin descanso.

Desconozco si existe otra base u otros cálculos de la PME donde tengamos el ingreso por hogares como la suma de los ingresos de las personas encuestadas mes a mes o si el autor calculó de esta o de alguna otra forma el ingreso de los hogares.

Ya que al final el autor después de calcular el ingreso de los hogares lo divide para cada uno de los miembros, intentaré aproximar la fórmula del autor directamente para cada persona, de esta manera tendremos un resultado parecido.

Queda el código necesario para calcular el ingreso de los hogares.

In [15]:
#b1996pf['ingr_h'] = 0
#b1996pf

In [16]:
#for x in b1996pf['mes'].unique():
#   for y in b1996pf['v102'].unique():
#       for z in b1996pf['v103'].unique():
#          print('mes', x, 'Área', y, 'Hogar', z)
#           ig = b1996pf.loc[(b1996pf['mes']==x) & (b1996pf['v102']==y) & (b1996pf['v103']==z)]
#           ig['h'] = ig['ingr_b'].sum()
#           b1996pf['ingr_h'].loc[(b1996pf['mes']==x) & (b1996pf['v102']==y) & (b1996pf['v103']==z)] = ig['h']
#           del(ig)

Para calcular un índice de hogares, el siguiente código arroja todos los hogares posibles durante cada mes

In [17]:
#for x in b1994pf['mes'].unique():
#   for y in b1994pf['v102'].unique():
#       for z in b1994pf['v103'].unique():
#           print(x,y,z)

## Calculamos la edad

In [18]:
b1996pf['v246_b'] = 0
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\1644458313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v246_b'] = 0

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,0.0,0.0,6,5,0.0,1.351510,0.000000,0
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,0.0,0.0,4,4,0.0,1.351510,0.000000,0
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,0.0,0.0,8,7,0.0,1.351510,0.000000,0
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,1200.0,17.0,0.0,0.0,2,2,1200.0,1.351510,887.895820,0
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,0.0,0.0,3,3,0.0,1.351510,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,112.0,11.0,0.0,0.0,4,2,112.0,1.461186,76.650074,0
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,160.0,12.0,0.0,0.0,4,4,160.0,1.461186,109.500106,0
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,2000.0,20.0,0.0,0.0,4,4,2000.0,1.461186,1368.751324,0
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,0.0,0.0,5,4,0.0,1.461186,0.000000,0
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,0.0,0.0,3,3,0.0,1.461186,0.000000,0

Para las edades de tres dígitos les sumamos 1000

In [19]:
tres = b1996pf.loc[b1996pf['v246'] < 1000]
tres['v246_b'] = b1996pf.loc[b1996pf['v246']<1000]['v246']+1000
b1996pf['v246_b'].loc[b1996pf['v246']<1000] = tres['v246_b']
del(tres)
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3236513686.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v246_b'].loc[b1996pf['v246']<1000] = tres['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,0.0,0.0,6,5,0.0,1.351510,0.000000,1978
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,0.0,0.0,4,4,0.0,1.351510,0.000000,1984
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,0.0,0.0,8,7,0.0,1.351510,0.000000,1980
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,1200.0,17.0,0.0,0.0,2,2,1200.0,1.351510,887.895820,1965
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,0.0,0.0,3,3,0.0,1.351510,0.000000,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,112.0,11.0,0.0,0.0,4,2,112.0,1.461186,76.650074,1975
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,160.0,12.0,0.0,0.0,4,4,160.0,1.461186,109.500106,1956
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,2000.0,20.0,0.0,0.0,4,4,2000.0,1.461186,1368.751324,1955
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,0.0,0.0,5,4,0.0,1.461186,0.000000,1968
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,0.0,0.0,3,3,0.0,1.461186,0.000000,1930

Para las edades que solo tienen dos dígitos, los corregimos sumando 1900

In [20]:
cien = b1996pf.loc[b1996pf['v246'] < 100]
cien['v246_b'] = b1996pf.loc[b1996pf['v246']<100]['v246']+1900
b1996pf['v246_b'].loc[b1996pf['v246']<100] = cien['v246_b']
del(cien)
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3035444437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cien['v246_b'] = b1996pf.loc[b1996pf['v246']<100]['v246']+1900
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3035444437.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v246_b'].loc[b1996pf['v246']<100] = cien['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,0.0,0.0,6,5,0.0,1.351510,0.000000,1978
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,0.0,0.0,4,4,0.0,1.351510,0.000000,1984
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,0.0,0.0,8,7,0.0,1.351510,0.000000,1980
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,1200.0,17.0,0.0,0.0,2,2,1200.0,1.351510,887.895820,1965
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,0.0,0.0,3,3,0.0,1.351510,0.000000,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,112.0,11.0,0.0,0.0,4,2,112.0,1.461186,76.650074,1975
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,160.0,12.0,0.0,0.0,4,4,160.0,1.461186,109.500106,1956
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,2000.0,20.0,0.0,0.0,4,4,2000.0,1.461186,1368.751324,1955
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,0.0,0.0,5,4,0.0,1.461186,0.000000,1968
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,0.0,0.0,3,3,0.0,1.461186,0.000000,1930

Calculamos la edad

In [21]:
b1996pf['edad_c'] = 1996-b1996pf['v246_b']
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\569034825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['edad_c'] = 1996-b1996pf['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,0.0,6,5,0.0,1.351510,0.000000,1978,18
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,0.0,4,4,0.0,1.351510,0.000000,1984,12
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,0.0,8,7,0.0,1.351510,0.000000,1980,16
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,17.0,0.0,0.0,2,2,1200.0,1.351510,887.895820,1965,31
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,0.0,3,3,0.0,1.351510,0.000000,1920,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,11.0,0.0,0.0,4,2,112.0,1.461186,76.650074,1975,21
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,12.0,0.0,0.0,4,4,160.0,1.461186,109.500106,1956,40
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,20.0,0.0,0.0,4,4,2000.0,1.461186,1368.751324,1955,41
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,0.0,5,4,0.0,1.461186,0.000000,1968,28
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,0.0,3,3,0.0,1.461186,0.000000,1930,66

Limpiamos de la base los datos con edades negativas

In [22]:
b1996pf = b1996pf.loc[b1996pf['edad_c']>0]

Limpiamos también los datos con edades mayores a 100 años

In [23]:
b1996pf = b1996pf.loc[b1996pf['edad_c']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [24]:
b1996pf = b1996pf.loc[b1996pf['edad_c']>10]

Eliminamos ingresos igual a 9999999999

In [25]:
b1996pf = b1996pf.loc[b1996pf['ingr_b']!=999999999]
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,0.0,6,5,0.0,1.351510,0.000000,1978,18
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,0.0,4,4,0.0,1.351510,0.000000,1984,12
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,0.0,8,7,0.0,1.351510,0.000000,1980,16
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,17.0,0.0,0.0,2,2,1200.0,1.351510,887.895820,1965,31
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,0.0,3,3,0.0,1.351510,0.000000,1920,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,11.0,0.0,0.0,4,2,112.0,1.461186,76.650074,1975,21
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,12.0,0.0,0.0,4,4,160.0,1.461186,109.500106,1956,40
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,20.0,0.0,0.0,4,4,2000.0,1.461186,1368.751324,1955,41
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,0.0,5,4,0.0,1.461186,0.000000,1968,28
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,0.0,3,3,0.0,1.461186,0.000000,1930,66

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [26]:
k = 0.4
s = 0.9

In [27]:
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,0.0,6,5,0.0,1.351510,0.000000,1978,18
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,0.0,4,4,0.0,1.351510,0.000000,1984,12
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,0.0,8,7,0.0,1.351510,0.000000,1980,16
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,17.0,0.0,0.0,2,2,1200.0,1.351510,887.895820,1965,31
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,0.0,3,3,0.0,1.351510,0.000000,1920,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,11.0,0.0,0.0,4,2,112.0,1.461186,76.650074,1975,21
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,12.0,0.0,0.0,4,4,160.0,1.461186,109.500106,1956,40
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,20.0,0.0,0.0,4,4,2000.0,1.461186,1368.751324,1955,41
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,0.0,5,4,0.0,1.461186,0.000000,1968,28
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,0.0,3,3,0.0,1.461186,0.000000,1930,66

In [28]:
b1996pf['den'] = b1996pf['v0110'] + k*(b1996pf['v0109']-b1996pf['v0110'])**s
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,6,5,0.0,1.351510,0.000000,1978,18,5.400000
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,4,4,0.0,1.351510,0.000000,1984,12,4.000000
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,8,7,0.0,1.351510,0.000000,1980,16,7.400000
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,0.0,2,2,1200.0,1.351510,887.895820,1965,31,2.000000
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,3,3,0.0,1.351510,0.000000,1920,76,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,0.0,4,2,112.0,1.461186,76.650074,1975,21,2.746426
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,0.0,4,4,160.0,1.461186,109.500106,1956,40,4.000000
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,0.0,4,4,2000.0,1.461186,1368.751324,1955,41,4.000000
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,5,4,0.0,1.461186,0.000000,1968,28,4.400000
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,3,3,0.0,1.461186,0.000000,1930,66,3.000000

In [29]:
b1996pf['ingr_t'] = b1996pf['ingr_r']/b1996pf['den']
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den,ingr_t
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,6,5,0.0,1.351510,0.000000,1978,18,5.400000,0.000000
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,4,4,0.0,1.351510,0.000000,1984,12,4.000000,0.000000
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,8,7,0.0,1.351510,0.000000,1980,16,7.400000,0.000000
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,2,2,1200.0,1.351510,887.895820,1965,31,2.000000,443.947910
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,3,3,0.0,1.351510,0.000000,1920,76,3.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,4,2,112.0,1.461186,76.650074,1975,21,2.746426,27.909022
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,4,4,160.0,1.461186,109.500106,1956,40,4.000000,27.375026
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,4,4,2000.0,1.461186,1368.751324,1955,41,4.000000,342.187831
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,5,4,0.0,1.461186,0.000000,1968,28,4.400000,0.000000
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,3,3,0.0,1.461186,0.000000,1930,66,3.000000,0.000000

---------------------------------------

In [30]:
b1996pi = b1996pf[['uf', 'mes', 'v102', 'v103', 'v0109', 'v0110', 'ingr_b', 'defl', 'ingr_r', 'den', 'ingr_t', 'edad_c']]
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
0,26,1,26000253,19,6,5,0.0,1.351510,0.000000,5.400000,0.000000,18
1,35,1,35000554,13,4,4,0.0,1.351510,0.000000,4.000000,0.000000,12
2,26,1,26000091,9,8,7,0.0,1.351510,0.000000,7.400000,0.000000,16
3,43,1,43000428,13,2,2,1200.0,1.351510,887.895820,2.000000,443.947910,31
4,26,1,26000385,3,3,3,0.0,1.351510,0.000000,3.000000,0.000000,76
...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,12,33002959,26,4,2,112.0,1.461186,76.650074,2.746426,27.909022,21
1086935,33,12,33002967,4,4,4,160.0,1.461186,109.500106,4.000000,27.375026,40
1086936,33,12,33002967,4,4,4,2000.0,1.461186,1368.751324,4.000000,342.187831,41
1086937,33,12,33002967,11,5,4,0.0,1.461186,0.000000,4.400000,0.000000,28
1086938,33,12,33002967,5,3,3,0.0,1.461186,0.000000,3.000000,0.000000,66

Vamos a descartar las personas con ingresos de 0

In [31]:
b1996pi = b1996pi.loc[b1996pi['ingr_t']>0]
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
3,43,1,43000428,13,2,2,1200.0,1.351510,887.895820,2.000000,443.947910,31
6,35,1,35000031,16,5,3,500.0,1.351510,369.956592,3.746426,98.749195,64
8,33,1,33000573,17,6,3,25.0,1.351510,18.497830,4.075150,4.539177,69
11,33,1,33000034,13,1,1,100.0,1.351510,73.991318,1.000000,73.991318,56
12,43,1,43000231,13,6,5,80.0,1.351510,59.193055,5.400000,10.961677,72
...,...,...,...,...,...,...,...,...,...,...,...,...
1086932,33,12,33002967,12,5,5,600.0,1.461186,410.625397,5.000000,82.125079,29
1086933,33,12,33002959,25,4,2,250.0,1.461186,171.093916,2.746426,62.296924,30
1086934,33,12,33002959,26,4,2,112.0,1.461186,76.650074,2.746426,27.909022,21
1086935,33,12,33002967,4,4,4,160.0,1.461186,109.500106,4.000000,27.375026,40
1086936,33,12,33002967,4,4,4,2000.0,1.461186,1368.751324,4.000000,342.187831,41

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 1996, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [32]:
b1996pi['um_pobr']=0
b1996pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\115255985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['um_pobr']=0

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
3,43,1,43000428,13,2,2,1200.0,1.351510,887.895820,2.000000,443.947910,31,0
6,35,1,35000031,16,5,3,500.0,1.351510,369.956592,3.746426,98.749195,64,0
8,33,1,33000573,17,6,3,25.0,1.351510,18.497830,4.075150,4.539177,69,0
11,33,1,33000034,13,1,1,100.0,1.351510,73.991318,1.000000,73.991318,56,0
12,43,1,43000231,13,6,5,80.0,1.351510,59.193055,5.400000,10.961677,72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086932,33,12,33002967,12,5,5,600.0,1.461186,410.625397,5.000000,82.125079,29,0
1086933,33,12,33002959,25,4,2,250.0,1.461186,171.093916,2.746426,62.296924,30,0
1086934,33,12,33002959,26,4,2,112.0,1.461186,76.650074,2.746426,27.909022,21,0
1086935,33,12,33002967,4,4,4,160.0,1.461186,109.500106,4.000000,27.375026,40,0
1086936,33,12,33002967,4,4,4,2000.0,1.461186,1368.751324,4.000000,342.187831,41,0

In [33]:
pobr = pd.Series([98.72, 92.37, 82.11, 99.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26     98.72
29     92.37
31     82.11
33     99.21
35    119.55
43     62.28
dtype: float64

In [34]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b1996pi.loc[b1996pi['uf']==x]
    p['um_pobr'] = pobr[x]
    b1996pi['um_pobr'].loc[b1996pi['uf']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\4016040160.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\4016040160.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['um_pobr'].loc[b1996pi['uf']==x] = p['um_pobr']

-------------------------------------

## Calculo del índice de pobreza de Foster, Greer y Thorbecke

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1984), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

In [35]:
b1996pi = b1996pi.sort_values(['mes', 'ingr_t'])
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21

Creamos la variable g = um_pobr - ingr_t

In [36]:
b1996pi['g']=b1996pi['um_pobr']-b1996pi['ingr_t']
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11,8.168702e+01
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72,9.812807e+01
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28,6.143438e+01
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11,8.108234e+01
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72,9.763189e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21,-6.843756e+08
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37,-9.776794e+08
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28,-1.368751e+09
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28,-1.368751e+09
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21,-1.368751e+09

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [37]:
b1996pi['q'] = 0
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11,8.168702e+01,0
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72,9.812807e+01,0
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28,6.143438e+01,0
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11,8.108234e+01,0
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72,9.763189e+01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21,-6.843756e+08,0
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37,-9.776794e+08,0
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28,-1.368751e+09,0
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28,-1.368751e+09,0
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21,-1.368751e+09,0

In [38]:
ma = b1996pi.loc[b1996pi['g']>0]
ma['q'] = 1
b1996pi['q'] = ma['q']
b1996pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\3317656730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11,8.168702e+01,1.0
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72,9.812807e+01,1.0
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28,6.143438e+01,1.0
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11,8.108234e+01,1.0
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72,9.763189e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21,-6.843756e+08,NaN
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37,-9.776794e+08,NaN
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28,-1.368751e+09,NaN
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28,-1.368751e+09,NaN
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21,-1.368751e+09,NaN

In [39]:
b1996pi['q'] = b1996pi['q'].fillna(0)
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11,8.168702e+01,1.0
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72,9.812807e+01,1.0
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28,6.143438e+01,1.0
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11,8.108234e+01,1.0
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72,9.763189e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21,-6.843756e+08,0.0
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37,-9.776794e+08,0.0
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28,-1.368751e+09,0.0
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28,-1.368751e+09,0.0
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21,-1.368751e+09,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [40]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [41]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['q'].sum()
del(x)
del(y)
qs

        26      29      31      33      35      43
1   3707.0  3966.0  4795.0  4605.0  4985.0  2608.0
2   3510.0  4217.0  5058.0  4649.0  5191.0  2666.0
3   3529.0  4213.0  5165.0  4734.0  5149.0  2721.0
4   3546.0  4135.0  5288.0  4824.0  5397.0  2702.0
5   3785.0  3964.0  5246.0  4739.0  5497.0  2749.0
6   3571.0  3962.0  5194.0  4591.0  5279.0  2710.0
7   3668.0  3921.0  5167.0  4589.0  5206.0  2718.0
8   3895.0  3912.0  5185.0  4523.0  5255.0  2629.0
9   3881.0  4073.0  5273.0  4533.0  5219.0  2729.0
10  4012.0  3966.0  5264.0  4663.0  5282.0  2757.0
11  3765.0  3864.0  5233.0  4438.0  5294.0  2749.0
12  3680.0  3807.0  5046.0  4257.0  5022.0  2705.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [42]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [43]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['mes'].count()
del(x)
del(y)
ns

        26      29      31      33      35      43
1   4561.0  5129.0  7828.0  7163.0  8500.0  5684.0
2   4266.0  5229.0  7865.0  7039.0  8527.0  5917.0
3   4278.0  5159.0  7944.0  7209.0  8616.0  6097.0
4   4300.0  5098.0  8171.0  7307.0  9020.0  6041.0
5   4683.0  4983.0  8045.0  7235.0  8996.0  6083.0
6   4438.0  4967.0  8004.0  7156.0  8668.0  6053.0
7   4575.0  4916.0  7949.0  7151.0  8549.0  6092.0
8   5014.0  5072.0  8049.0  7216.0  8750.0  6245.0
9   4884.0  5144.0  8242.0  7302.0  8799.0  6385.0
10  5031.0  4990.0  8234.0  7358.0  8902.0  6585.0
11  4809.0  4871.0  8200.0  7132.0  8867.0  6669.0
12  4539.0  4746.0  7960.0  6847.0  8593.0  6531.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [44]:
b1996pi['gq'] = b1996pi['g']*b1996pi['q']
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11,8.168702e+01,1.0,81.687020
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72,9.812807e+01,1.0,98.128069
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28,6.143438e+01,1.0,61.434385
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11,8.108234e+01,1.0,81.082343
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72,9.763189e+01,1.0,97.631892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21,-6.843756e+08,0.0,-0.000000
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37,-9.776794e+08,0.0,-0.000000
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28,-1.368751e+09,0.0,-0.000000
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28,-1.368751e+09,0.0,-0.000000
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21,-1.368751e+09,0.0,-0.000000

In [45]:
b1996pi['sumag_z'] = b1996pi['gq']/b1996pi['um_pobr']
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11,8.168702e+01,1.0,81.687020,0.994849
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72,9.812807e+01,1.0,98.128069,0.994004
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28,6.143438e+01,1.0,61.434385,0.986422
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11,8.108234e+01,1.0,81.082343,0.987484
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72,9.763189e+01,1.0,97.631892,0.988978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21,-6.843756e+08,0.0,-0.000000,-0.000000
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37,-9.776794e+08,0.0,-0.000000,-0.000000
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28,-1.368751e+09,0.0,-0.000000,-0.000000
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28,-1.368751e+09,0.0,-0.000000,-0.000000
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21,-1.368751e+09,0.0,-0.000000,-0.000000

In [46]:
b1996pi['sumag_z0'] = b1996pi['q']
b1996pi['sumag_z1'] = b1996pi['sumag_z']**1
b1996pi['sumag_z2'] = b1996pi['sumag_z']**2
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
52913,31,1,31001610,27,10,8,5.000000e+00,1.351510,3.699566e+00,8.746426,4.229803e-01,45,82.11,8.168702e+01,1.0,81.687020,0.994849,1.0,0.994849,0.989724
17926,26,1,26000164,1,5,5,4.000000e+00,1.351510,2.959653e+00,5.000000,5.919305e-01,52,98.72,9.812807e+01,1.0,98.128069,0.994004,1.0,0.994004,0.988044
84012,43,1,43002382,17,7,7,8.000000e+00,1.351510,5.919305e+00,7.000000,8.456151e-01,18,62.28,6.143438e+01,1.0,61.434385,0.986422,1.0,0.986422,0.973029
16481,31,1,31000614,2,15,14,2.000000e+01,1.351510,1.479826e+01,14.400000,1.027657e+00,78,82.11,8.108234e+01,1.0,81.082343,0.987484,1.0,0.987484,0.975125
55731,26,1,26001071,20,4,3,5.000000e+00,1.351510,3.699566e+00,3.400000,1.088108e+00,13,98.72,9.763189e+01,1.0,97.631892,0.988978,1.0,0.988978,0.978077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,1.461186,1.368751e+09,2.000000,6.843757e+08,31,99.21,-6.843756e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1050114,29,12,29001250,27,2,1,2.000000e+09,1.461186,1.368751e+09,1.400000,9.776795e+08,31,92.37,-9.776794e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1009932,43,12,43000460,13,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,44,62.28,-1.368751e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1021051,43,12,43001149,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,62.28,-1.368751e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1022039,33,12,33001065,14,1,1,2.000000e+09,1.461186,1.368751e+09,1.000000,1.368751e+09,54,99.21,-1.368751e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [47]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [48]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

        26      29      31      33      35      43
1   3707.0  3966.0  4795.0  4605.0  4985.0  2608.0
2   3510.0  4217.0  5058.0  4649.0  5191.0  2666.0
3   3529.0  4213.0  5165.0  4734.0  5149.0  2721.0
4   3546.0  4135.0  5288.0  4824.0  5397.0  2702.0
5   3785.0  3964.0  5246.0  4739.0  5497.0  2749.0
6   3571.0  3962.0  5194.0  4591.0  5279.0  2710.0
7   3668.0  3921.0  5167.0  4589.0  5206.0  2718.0
8   3895.0  3912.0  5185.0  4523.0  5255.0  2629.0
9   3881.0  4073.0  5273.0  4533.0  5219.0  2729.0
10  4012.0  3966.0  5264.0  4663.0  5282.0  2757.0
11  3765.0  3864.0  5233.0  4438.0  5294.0  2749.0
12  3680.0  3807.0  5046.0  4257.0  5022.0  2705.0

In [49]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [50]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

,26,29,31,33,35,43
1,2450.071851,2587.948202,2672.578796,2473.428963,2632.103394,1151.589151
2,2317.577787,2727.610341,2871.047537,2572.583040,2730.978317,1176.865876
3,2339.559195,2752.079766,2942.970946,2606.267603,2682.805579,1210.647115
4,2343.972243,2732.314356,3063.452105,2651.301085,2884.596782,1167.707926
5,2488.314475,2645.152066,2998.438359,2612.534086,2893.138972,1232.621759
6,2337.053914,2603.449589,2912.197126,2468.499971,2756.500364,1183.239862
7,2408.184136,2567.075231,2923.850763,2466.022158,2735.178903,1201.891728
8,2574.658241,2562.707201,2929.641616,2416.273395,2734.465088,1157.266015
9,2554.223573,2643.368556,2999.512787,2418.977636,2686.249046,1197.678116
10,2629.680177,2574.813392,2978.018814,2485.260938,2750.682498,1189.885973
11,2426.855110,2497.522423,2981.919065,2403.844629,2737.821348,1171.876351
12,2368.456882,2438.030542,2806.787698,2288.147758,2605.929253,1168.378389

In [51]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [52]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

,26,29,31,33,35,43
1,1825.581189,1911.911821,1790.305112,1619.693821,1696.069134,653.059458
2,1726.182431,2011.708344,1944.480181,1704.947159,1752.666086,669.535499
3,1749.232480,2043.064414,1999.850812,1719.297072,1707.366478,695.589476
4,1742.666647,2047.470755,2096.858277,1750.163055,1853.762202,660.539396
5,1845.173308,1996.184027,2036.487966,1716.772992,1871.665109,709.224633
6,1725.587502,1937.443570,1949.766878,1602.638268,1769.955760,673.953312
7,1785.099164,1907.117093,1978.431965,1596.555374,1750.892428,687.173163
8,1913.891983,1906.363183,1969.502698,1558.772201,1746.047888,653.832694
9,1899.279444,1955.840465,2040.123833,1557.365252,1694.102594,680.479911
10,1950.560652,1905.496448,2014.184543,1594.944710,1745.540515,671.932916
11,1772.310562,1845.063651,2011.299930,1552.795175,1728.486886,648.645832
12,1729.406031,1788.410758,1868.407687,1467.425143,1649.149139,650.579039

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)*sumatoria(g/um_pobr)**2 para cada mes y cada región

In [53]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [54]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31        33        35        43
1   0.812760  0.773250  0.612545  0.642887  0.586471  0.458832
2   0.822785  0.806464  0.643102  0.660463  0.608772  0.450566
3   0.824918  0.816631  0.650176  0.656679  0.597609  0.446285
4   0.824651  0.811102  0.647167  0.660189  0.598337  0.447277
5   0.808243  0.795505  0.652082  0.655010  0.611049  0.451915
6   0.804642  0.797665  0.648926  0.641560  0.609022  0.447712
7   0.801749  0.797600  0.650019  0.641728  0.608960  0.446159
8   0.776825  0.771293  0.644179  0.626802  0.600571  0.420977
9   0.794636  0.791796  0.639772  0.620789  0.593136  0.427408
10  0.797456  0.794790  0.639300  0.633732  0.593350  0.418679
11  0.782907  0.793266  0.638171  0.622266  0.597045  0.412206
12  0.810751  0.802149  0.633920  0.621732  0.584429  0.414179

In [55]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [56]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31        33        35        43
1   0.537179  0.504572  0.341413  0.345306  0.309659  0.202602
2   0.543267  0.521631  0.365041  0.365476  0.320274  0.198896
3   0.546882  0.533452  0.370465  0.361530  0.311375  0.198564
4   0.545110  0.535958  0.374918  0.362844  0.319800  0.193297
5   0.531351  0.530835  0.372708  0.361097  0.321603  0.202634
6   0.526601  0.524149  0.363843  0.344955  0.318009  0.195480
7   0.526379  0.522188  0.367826  0.344850  0.319941  0.197290
8   0.513494  0.505266  0.363976  0.334849  0.312510  0.185311
9   0.522978  0.513874  0.363930  0.331276  0.305290  0.187577
10  0.522695  0.515995  0.361673  0.337763  0.308996  0.180696
11  0.504649  0.512733  0.363649  0.337051  0.308765  0.175720
12  0.521801  0.513702  0.352612  0.334183  0.303262  0.178897

In [57]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [58]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31        33        35        43
1   0.400259  0.372765  0.228705  0.226119  0.199538  0.114894
2   0.404637  0.384721  0.247232  0.242214  0.205543  0.113155
3   0.408890  0.396019  0.251744  0.238493  0.198162  0.114087
4   0.405271  0.401622  0.256622  0.239519  0.205517  0.109343
5   0.394015  0.400599  0.253137  0.237287  0.208055  0.116591
6   0.388821  0.390063  0.243599  0.223957  0.204194  0.111342
7   0.390186  0.387941  0.248891  0.223263  0.204807  0.112799
8   0.381710  0.375860  0.244689  0.216016  0.199548  0.104697
9   0.388878  0.380218  0.247528  0.213279  0.192534  0.106575
10  0.387708  0.381863  0.244618  0.216763  0.196084  0.102040
11  0.368540  0.378785  0.245280  0.217722  0.194935  0.097263
12  0.381010  0.376825  0.234725  0.214317  0.191918  0.099614

El autor menciona también los trabajos de Ravallion 1994 y 2016 pero parece ser que no los calcula

----------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/N*sumatoria(y**(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (1999)

In [59]:
b1996pi = b1996pi[['uf', 'mes', 'ingr_b', 'ingr_r', 'den', 'ingr_t']]

In [60]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [61]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

,26,29,31,33,35,43
1,7.565515e+05,1.334608e+06,1.151612e+06,1.248392e+06,344354.985689,1.339321e+06
2,1.077798e+06,1.113554e+06,6.464852e+05,2.351740e+06,577803.834539,1.245888e+06
3,1.782647e+06,1.256786e+06,1.257542e+06,1.655673e+06,334773.143278,1.364762e+06
4,1.847623e+06,8.985786e+05,6.763537e+05,2.269842e+06,305652.221494,1.375430e+06
5,1.057385e+06,1.181032e+06,7.446323e+05,2.294578e+06,629460.735690,1.470756e+06
6,1.335538e+06,1.532335e+06,8.597590e+05,2.148015e+06,561616.351664,1.092174e+06
7,1.245187e+06,1.777379e+06,6.172606e+05,2.742840e+06,576427.824346,1.292373e+06
8,1.613227e+06,1.858006e+06,7.135185e+05,3.175813e+06,484144.278723,1.186190e+06
9,1.444122e+06,1.810730e+06,6.119720e+05,2.620857e+06,411494.674987,1.815244e+06
10,1.673995e+06,1.417435e+06,8.842898e+05,2.946903e+06,292584.037161,1.653119e+06
11,1.360247e+06,2.520949e+06,9.259432e+05,2.659974e+06,676247.282878,1.420042e+06
12,1.419618e+06,1.328545e+06,7.855783e+05,2.642414e+06,640573.608316,1.270975e+06

In [62]:
b1996pi['ingr_t25'] = b1996pi['ingr_t']**(1-0.25)
b1996pi['ingr_t50'] = b1996pi['ingr_t']**(1-0.5)
b1996pi['ingr_t75'] = b1996pi['ingr_t']**(1-0.75)
b1996pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\223639156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['ingr_t25'] = b1996pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\223639156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['ingr_t50'] = b1996pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12664\223639156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['ingr_t75'] = b1996pi['ingr_t']**(1-0.75)

,uf,mes,ingr_b,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
52913,31,1,5.000000e+00,3.699566e+00,8.746426,4.229803e-01,5.244935e-01,0.650369,0.806455
17926,26,1,4.000000e+00,2.959653e+00,5.000000,5.919305e-01,6.748435e-01,0.769370,0.877138
84012,43,1,8.000000e+00,5.919305e+00,7.000000,8.456151e-01,8.818192e-01,0.919573,0.958944
16481,31,1,2.000000e+01,1.479826e+01,14.400000,1.027657e+00,1.020672e+00,1.013734,1.006844
55731,26,1,5.000000e+00,3.699566e+00,3.400000,1.088108e+00,1.065378e+00,1.043124,1.021334
...,...,...,...,...,...,...,...,...,...
1086563,33,12,2.000000e+09,1.368751e+09,2.000000,6.843757e+08,4.231272e+06,26160.574561,161.742309
1050114,29,12,2.000000e+09,1.368751e+09,1.400000,9.776795e+08,5.529010e+06,31267.867151,176.827224
1009932,43,12,2.000000e+09,1.368751e+09,1.000000,1.368751e+09,7.116122e+06,36996.639343,192.345105
1021051,43,12,2.000000e+09,1.368751e+09,1.000000,1.368751e+09,7.116122e+06,36996.639343,192.345105
1022039,33,12,2.000000e+09,1.368751e+09,1.000000,1.368751e+09,7.116122e+06,36996.639343,192.345105

In [63]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [64]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,2.615400e+07,4.953958e+07,6.691466e+07,6.019470e+07,1.985803e+07,5.451806e+07
2,3.222560e+07,4.058740e+07,3.820141e+07,1.069662e+08,3.655159e+07,5.111618e+07
3,5.390267e+07,4.579733e+07,7.152937e+07,7.584977e+07,2.028827e+07,5.671058e+07
4,5.384555e+07,3.311961e+07,4.155742e+07,1.076339e+08,2.090614e+07,5.954740e+07
5,3.647529e+07,4.269757e+07,4.455947e+07,1.119667e+08,3.686700e+07,6.256833e+07
6,4.324818e+07,5.238791e+07,5.110700e+07,1.029556e+08,3.554210e+07,4.736434e+07
7,4.133838e+07,5.928619e+07,3.556341e+07,1.341236e+08,3.436135e+07,5.745666e+07
8,5.872374e+07,6.911985e+07,4.208385e+07,1.456930e+08,3.006786e+07,4.993778e+07
9,5.094766e+07,6.640403e+07,3.428620e+07,1.316237e+08,2.629357e+07,7.896496e+07
10,6.090435e+07,5.004081e+07,5.163759e+07,1.473352e+08,2.011899e+07,7.497085e+07
11,4.926972e+07,8.339549e+07,5.392266e+07,1.253613e+08,4.512493e+07,6.357346e+07
12,4.597991e+07,4.399092e+07,4.583419e+07,1.262429e+08,3.994274e+07,5.408194e+07

In [65]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [66]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,231620.052811,399011.935026,572768.725402,4.806800e+05,229387.891029,450188.813170
2,258248.024011,327367.812909,357572.453181,7.766298e+05,364497.877537,416594.863610
3,413649.097589,361736.859011,585506.285103,5.635129e+05,238499.256467,450358.165877
4,402888.117232,276031.793918,383499.530439,7.807453e+05,257072.728669,489822.980009
5,303413.574498,346480.503915,402079.910014,8.321182e+05,349355.056394,498591.478016
6,348091.336184,402439.122864,454525.792268,7.659608e+05,354836.048105,401053.763743
7,336682.959266,448863.615713,328553.628492,1.001096e+06,334139.198279,481385.520772
8,468057.211033,549078.399958,382944.445772,1.019301e+06,311067.718298,402113.295717
9,408646.909339,516018.420256,312725.394821,9.870789e+05,289836.740783,605734.438188
10,483029.658507,393287.915486,443070.879578,1.088637e+06,254145.889792,592379.213331
11,412045.308988,611425.202403,456470.317738,9.115274e+05,440748.561302,498026.267807
12,364454.556442,346819.549162,411186.591271,9.600440e+05,388744.923980,427563.642583

In [67]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [68]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,13238.703846,15982.200905,26702.929534,24548.170515,28705.988317,20340.904987
2,12550.657217,15522.334641,24722.311672,25760.515117,29588.149629,20700.359128
3,13653.906643,15445.372948,26358.938038,24841.486874,29122.336970,21418.995196
4,13608.866170,14691.320333,25584.480075,26500.053107,30426.371538,21692.707593
5,14151.860218,14978.352862,25355.958343,26781.963789,30893.610111,21606.072738
6,13850.596412,15340.439298,25839.228068,26341.598280,29948.925573,21063.634193
7,14159.313689,15594.022613,24673.286878,28154.923362,29336.223824,21802.673832
8,16370.080479,17050.548390,25470.384745,28279.013143,30019.267605,21756.272522
9,15473.471383,16790.953205,25394.619163,28614.365650,30281.342194,23508.912827
10,16416.666007,15423.360740,26350.812009,29332.147196,30333.249086,24266.809044
11,15601.856330,16593.607143,26239.147623,27332.010841,31585.716428,23814.160873
12,14215.267216,14502.193194,25496.624726,27082.408547,30368.952436,22892.926769

In [69]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [70]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.864336  0.845875  0.848229  0.863143  0.909978  0.847841
2   0.862479  0.861987  0.872762  0.839949  0.879487  0.857724
3   0.835527  0.853747  0.851040  0.860749  0.906423  0.856669
4   0.842616  0.865096  0.870682  0.840919  0.899647  0.846338
5   0.853984  0.851536  0.868394  0.831927  0.895812  0.847907
6   0.844146  0.849051  0.862220  0.837095  0.883142  0.857762
7   0.848859  0.844400  0.880568  0.818316  0.889135  0.845811
8   0.835129  0.824807  0.872818  0.826885  0.892893  0.865194
9   0.842168  0.832761  0.890676  0.819665  0.895402  0.842446
10  0.833950  0.847432  0.869219  0.815486  0.898630  0.845067
11  0.836413  0.824961  0.866947  0.828186  0.870556  0.857663
12  0.845603  0.853444  0.868625  0.815665  0.878897  0.868187

In [71]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [72]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.996591  0.995465  0.995351  0.996393  0.997885  0.995316
2   0.996600  0.996480  0.996803  0.994824  0.996838  0.996021
3   0.994755  0.996088  0.995680  0.996310  0.997711  0.996002
4   0.995249  0.996737  0.996743  0.994970  0.997343  0.995220
5   0.996030  0.995906  0.996645  0.994235  0.997604  0.995432
6   0.995394  0.995716  0.996249  0.994666  0.997016  0.995980
7   0.995651  0.995309  0.997232  0.992855  0.997350  0.995169
8   0.994598  0.993692  0.996828  0.993717  0.997390  0.996505
9   0.995152  0.994443  0.997648  0.993028  0.997363  0.995042
10  0.994493  0.995618  0.996726  0.992572  0.997214  0.995105
11  0.994603  0.993750  0.996653  0.993859  0.996346  0.996073
12  0.995459  0.995980  0.996603  0.992560  0.996805  0.996628

In [73]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [74]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.999906  0.999929  0.999882  0.999890  0.999622  0.999878
2   0.999930  0.999930  0.999849  0.999924  0.999749  0.999880
3   0.999942  0.999936  0.999904  0.999915  0.999610  0.999888
4   0.999946  0.999923  0.999858  0.999924  0.999576  0.999879
5   0.999921  0.999931  0.999867  0.999918  0.999779  0.999892
6   0.999929  0.999941  0.999874  0.999915  0.999746  0.999866
7   0.999926  0.999943  0.999850  0.999912  0.999759  0.999873
8   0.999930  0.999931  0.999859  0.999926  0.999714  0.999876
9   0.999930  0.999937  0.999853  0.999910  0.999659  0.999899
10  0.999932  0.999936  0.999881  0.999914  0.999539  0.999888
11  0.999919  0.999947  0.999887  0.999919  0.999762  0.999886
12  0.999932  0.999934  0.999866  0.999907  0.999756  0.999881

In [75]:
a25['ano'] = 1996
a50['ano'] = 1996
a75['ano'] = 1996
fgt0['ano'] = 1996
fgt1['ano'] = 1996
fgt2['ano'] = 1996

## Calculamos el ingreso promedio por año y región

In [76]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [77]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

,26,29,31,33,35,43
1,7.565515e+05,1.334608e+06,1.151612e+06,1.248392e+06,344354.985689,1.339321e+06
2,1.077798e+06,1.113554e+06,6.464852e+05,2.351740e+06,577803.834539,1.245888e+06
3,1.782647e+06,1.256786e+06,1.257542e+06,1.655673e+06,334773.143278,1.364762e+06
4,1.847623e+06,8.985786e+05,6.763537e+05,2.269842e+06,305652.221494,1.375430e+06
5,1.057385e+06,1.181032e+06,7.446323e+05,2.294578e+06,629460.735690,1.470756e+06
6,1.335538e+06,1.532335e+06,8.597590e+05,2.148015e+06,561616.351664,1.092174e+06
7,1.245187e+06,1.777379e+06,6.172606e+05,2.742840e+06,576427.824346,1.292373e+06
8,1.613227e+06,1.858006e+06,7.135185e+05,3.175813e+06,484144.278723,1.186190e+06
9,1.444122e+06,1.810730e+06,6.119720e+05,2.620857e+06,411494.674987,1.815244e+06
10,1.673995e+06,1.417435e+06,8.842898e+05,2.946903e+06,292584.037161,1.653119e+06
11,1.360247e+06,2.520949e+06,9.259432e+05,2.659974e+06,676247.282878,1.420042e+06
12,1.419618e+06,1.328545e+06,7.855783e+05,2.642414e+06,640573.608316,1.270975e+06

In [78]:
ynr['ano'] = 1996

--------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [79]:
a25_96 = a25
a50_96 = a50
a75_96 = a75
fgt0_96 = fgt0
fgt1_96 = fgt1
fgt2_96 = fgt2
ynr_96 = ynr

In [80]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b1996p, b1996pf, b1996pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [81]:
a25_96.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1996\\a25_96.csv')
a50_96.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1996\\a50_96.csv')
a75_96.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1996\\a75_96.csv')
fgt0_96.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1996\\fgt0_96.csv')
fgt1_96.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1996\\fgt1_96.csv')
fgt2_96.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1996\\fgt2_96.csv')
ynr_96.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1996\\ynr_96.csv')