In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [90]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\1994-2001\\pme1996\\pmeantiga\\PME1996P.csv'
b1996p = pd.read_csv(basep)
b1996p.head()

,uf,ano,mes,v102,v103,v201,v202,v203,v204,v205,...,deflator,v309df,v311df,v0106,v0109,v0110,v0112,painel,npesq,aest1
0,26,1996,1,26000253,19,5,3,3.0,2.0,2,...,0.693581,NaN,NaN,1,6,5,2,J,1,4
1,35,1996,1,35000554,13,4,1,3.0,3.0,1,...,0.693581,NaN,NaN,1,4,4,2,J,1,3
2,26,1996,1,26000091,9,5,3,3.0,3.0,1,...,0.693581,NaN,NaN,1,8,7,2,J,1,3
3,43,1996,1,43000428,13,1,1,1.0,1.0,1,...,0.693581,1730.1521,NaN,1,2,2,2,J,1,5
4,26,1996,1,26000385,3,1,1,1.0,1.0,1,...,0.693581,NaN,NaN,1,3,3,2,J,1,3

## Describimos los datos para asegurarnos que estén bien

In [91]:
b1996p.describe
b1996p.dtypes

uf         int64
ano        int64
mes        int64
v102       int64
v103       int64
           ...
v0110      int64
v0112      int64
painel    object
npesq      int64
aest1      int64
Length: 68, dtype: object

## Nos quedamos con las columnas que vamos a usar

- uf: Región de la encuesta \
- ano: año\
- mes: mes\
- v102: número de control, identifica el área de la encuesta\
- v103: Número de serie, equivale a un número de domicilio específico por área\
    (juntos v102 y v103 permiten construir un índice de hogares, considerando un hogar único encuestado cada mes en cada área)\
- v202: sexo\
- v204: Condición de la familia\
    1. CHEFE\
    2. CÔNJUGE\
    3. FILHO\
    4. OUTRO PARENTE
    5. AGREGADO
    6. PENSIONISTA
    7. EMPREGADO DOMÉSTICO
    8. PARENTE DO EMPREGADO DOMÉSTICO
- v210: grado
    0. UNCA FREQÜENTOU
    1. ELEMENTAR
    2. MÉDIO 1o CICLO 
    3. 1o  GRAU
    4. MÉDIO 2o  CICLO
    5. 2o  GRAU
    6. SUPERIOR
    7. MESTRADO OU DOUTORADO
    9. IGNORADO
v236: mes de nacimiento
v246: año de nacimiento
v306: Posición en su ocupación
  2 - EMPREGADO
  4 - CONTA PRÓPRIA
  6 - EMPREGADOR
  8 - NÃO REMUNERADO
  9 - IGNORADO
v309: Rendimiento efectivamente recibido en el mes obtenido de su trabajo principal
v339: Tasa de rendimiento en dinero de su trabajo principal con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais   
v311: Rendimiento efectivamente recibido al mes de sus otros trabajos
v341: Tasa de rendimiento en dinero de sus otros trabajos con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais 
v0109: Total de moradores en el hogar
v0110: Total de moradores con 10 años o más
peso: Peso para expansión que debe ser dividido para 1000 para poder ser usado

In [92]:
#Nos quedamos con los datos que necesitamos
b1996pf = b1996p[['uf', 'ano', 'mes', 'v102', 'v103', 'v202', 'v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341', 'v0109', 'v0110']]
b1996pf.head()

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110
0,26,1996,1,26000253,19,3,2.0,5,5,978,NaN,NaN,NaN,NaN,NaN,6,5
1,35,1996,1,35000554,13,1,3.0,3,4,984,NaN,NaN,NaN,NaN,NaN,4,4
2,26,1996,1,26000091,9,3,3.0,3,6,980,NaN,NaN,NaN,NaN,NaN,8,7
3,43,1996,1,43000428,13,1,1.0,6,8,965,2.0,1200.0,17.0,NaN,NaN,2,2
4,26,1996,1,26000385,3,1,1.0,1,12,920,NaN,NaN,NaN,NaN,NaN,3,3

In [93]:
b1996pf.describe

<bound method NDFrame.describe of          uf   ano  mes      v102  v103  v202  v204  v210  v236  v246  v306  \
0        26  1996    1  26000253    19     3   2.0     5     5   978   NaN
1        35  1996    1  35000554    13     1   3.0     3     4   984   NaN
2        26  1996    1  26000091     9     3   3.0     3     6   980   NaN
3        43  1996    1  43000428    13     1   1.0     6     8   965   2.0
4        26  1996    1  26000385     3     1   1.0     1    12   920   NaN
...      ..   ...  ...       ...   ...   ...   ...   ...   ...   ...   ...
1086934  33  1996   12  33002959    26     1   1.0     3     1   975   4.0
1086935  33  1996   12  33002967     4     3   2.0     5     8   956   2.0
1086936  33  1996   12  33002967     4     1   1.0     6    11   955   2.0
1086937  33  1996   12  33002967    11     3   3.0     5     3   968   NaN
1086938  33  1996   12  33002967     5     3   4.0     4    10   930   NaN

           v309  v339  v311  v341  v0109  v0110
0           NaN   NaN   NaN   NaN      6      5
1           NaN   NaN   NaN   NaN      4      4
2           NaN   NaN   NaN   NaN      8      7
3        1200.0  17.0   NaN   NaN      2      2
4           NaN   NaN   NaN   NaN      3      3
...         ...   ...   ...   ...    ...    ...
1086934   112.0  11.0   NaN   NaN      4      2
1086935   160.0  12.0   NaN   NaN      4      4
1086936  2000.0  20.0   NaN   NaN      4      4
1086937     NaN   NaN   NaN   NaN      5      4
1086938     NaN   NaN   NaN   NaN      3      3

[1086939 rows x 17 columns]>

In [94]:
b1996pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086939 entries, 0 to 1086938
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1086939 non-null  int64
 1   ano     1086939 non-null  int64
 2   mes     1086939 non-null  int64
 3   v102    1086939 non-null  int64
 4   v103    1086939 non-null  int64
 5   v202    1086939 non-null  int64
 6   v204    1086938 non-null  float64
 7   v210    1086939 non-null  int64
 8   v236    1086939 non-null  int64
 9   v246    1086939 non-null  int64
 10  v306    536775 non-null   float64
 11  v309    512265 non-null   float64
 12  v339    530470 non-null   float64
 13  v311    13129 non-null    float64
 14  v341    14091 non-null    float64
 15  v0109   1086939 non-null  int64
 16  v0110   1086939 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 141.0 MB

## Corregimos los valores NA llenando con ceros

In [96]:
b1996pf['v306'] = b1996pf['v306'].fillna(0)
b1996pf['v309'] = b1996pf['v309'].fillna(0)
b1996pf['v339'] = b1996pf['v339'].fillna(0)
b1996pf['v341'] = b1996pf['v341'].fillna(0)
b1996pf['v311'] = b1996pf['v311'].fillna(0)
b1996pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086939 entries, 0 to 1086938
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1086939 non-null  int64
 1   ano     1086939 non-null  int64
 2   mes     1086939 non-null  int64
 3   v102    1086939 non-null  int64
 4   v103    1086939 non-null  int64
 5   v202    1086939 non-null  int64
 6   v204    1086938 non-null  float64
 7   v210    1086939 non-null  int64
 8   v236    1086939 non-null  int64
 9   v246    1086939 non-null  int64
 10  v306    1086939 non-null  float64
 11  v309    1086939 non-null  float64
 12  v339    1086939 non-null  float64
 13  v311    1086939 non-null  float64
 14  v341    1086939 non-null  float64
 15  v0109   1086939 non-null  int64
 16  v0110   1086939 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 141.0 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3676122256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v306'] = b1996pf['v306'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3676122256.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v309'] = b1996pf['v309'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3676122256.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v339'] = b1996pf['v339'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3676122256.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v341'] = b1996pf['v341'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3676122256.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v311'] = b1996pf['v311'].fillna(0)

## Calculamos el ingreso bruto por persona
### ingr_b es la suma del ingreso del trabajo principal y el ingreso de los trabajos no principales

In [99]:
b1996pf['ingr_b'] = b1996pf['v309'] + b1996pf['v311']
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\2523514903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['ingr_b'] = b1996pf['v309'] + b1996pf['v311']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,0.0,0.0,0.0,0.0,0.0,6,5,0.0
1,35,1996,1,35000554,13,1,3.0,3,4,984,0.0,0.0,0.0,0.0,0.0,4,4,0.0
2,26,1996,1,26000091,9,3,3.0,3,6,980,0.0,0.0,0.0,0.0,0.0,8,7,0.0
3,43,1996,1,43000428,13,1,1.0,6,8,965,2.0,1200.0,17.0,0.0,0.0,2,2,1200.0
4,26,1996,1,26000385,3,1,1.0,1,12,920,0.0,0.0,0.0,0.0,0.0,3,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,4.0,112.0,11.0,0.0,0.0,4,2,112.0
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,2.0,160.0,12.0,0.0,0.0,4,4,160.0
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,2.0,2000.0,20.0,0.0,0.0,4,4,2000.0
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,0.0,0.0,0.0,0.0,0.0,5,4,0.0
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,0.0,0.0,0.0,0.0,0.0,3,3,0.0

In [100]:
b1996pf['ingr_b']

0             0.0
1             0.0
2             0.0
3          1200.0
4             0.0
            ...
1086934     112.0
1086935     160.0
1086936    2000.0
1086937       0.0
1086938       0.0
Name: ingr_b, Length: 1086939, dtype: float64

## Deflactamos el ingreso

Ingresamos el deflactor con base igual a agosto de 1994 y el IPC mensual

La información de los ipc mensuales de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1994.aspx

In [101]:
b1996pf['ipc'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\2987568478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['ipc'] = 0

In [102]:
ipc = np.array([1.34, 1.03, 0.35, 1.26, 1.22, 1.19, 1.11, 0.44, 0.15, 0.30, 0.32, 0.47])

In [105]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    ip = b1996pf.loc[b1996pf['mes']==x]
    ip['ipc'] = ipc[x-1]
    b1996pf['ipc'].loc[b1996pf['mes']==x] = ip['ipc']
    del(ip)

mes 1

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\102869069.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ip['ipc'] = ipc[x-1]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\102869069.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['ipc'].loc[b1996pf['mes']==x] = ip['ipc']

mes 2
mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [108]:
b1996pf['ipc_b'] = 1.86

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\2558714269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['ipc_b'] = 1.86

In [110]:
b1996pf['def'] = b1996pf['ipc']/b1996pf['ipc_b']

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\2331423831.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['def'] = b1996pf['ipc']/b1996pf['ipc_b']

In [111]:
b1996pf['ingr_r'] = b1996pf['ingr_b']*b1996pf['def']
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\1229765933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['ingr_r'] = b1996pf['ingr_b']*b1996pf['def']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,0.0,6,5,0.0,1.34,1.86,0.720430,0.000000
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,0.0,4,4,0.0,1.34,1.86,0.720430,0.000000
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,0.0,8,7,0.0,1.34,1.86,0.720430,0.000000
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,17.0,0.0,0.0,2,2,1200.0,1.34,1.86,0.720430,864.516129
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,0.0,3,3,0.0,1.34,1.86,0.720430,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,11.0,0.0,0.0,4,2,112.0,0.47,1.86,0.252688,28.301075
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,12.0,0.0,0.0,4,4,160.0,0.47,1.86,0.252688,40.430108
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,20.0,0.0,0.0,4,4,2000.0,0.47,1.86,0.252688,505.376344
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,0.0,5,4,0.0,0.47,1.86,0.252688,0.000000
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,0.0,3,3,0.0,0.47,1.86,0.252688,0.000000

## Intento de crear un índice para hogares y una variable ingreso hogares

Los intentos de crear un indice para hogares y de calcular el ingreso de cada hogar como la suma de los perceptores de ingresos individuales es posible, pero es demasiado largo y requiere mayor capacidad de cómputo, con 1534 áreas cada una con un promedio de 40 hogares y por doce meses son aproximadamente 736320 iteraciones por año.

Este procedimiento para cada uno de los 20 años, asumiendo que el número de hogares se mantenga igual sería un total de 14 726 400 iteraciones, asumiendo que mi computador sea capáz de realizar 20 iteraciones por segundo el trabajo se completaría en 8.52 días donde la computadora tendría que estar funcionando las 24 horas del día sin descanso.

Desconozco si existe otra base u otros cálculos de la PME donde tengamos el ingreso por hogares como la suma de los ingresos de las personas encuestadas mes a mes o si el autor calculó de esta o de alguna otra forma el ingreso de los hogares.

Ya que al final el autor después de calcular el ingreso de los hogares lo divide para cada uno de los miembros, intentaré aproximar la fórmula del autor directamente para cada persona, de esta manera tendremos un resultado parecido.

Queda el código necesario para calcular el ingreso de los hogares.

In [ ]:
b1995pf['ingr_h'] = 0
b1995pf

In [ ]:
for x in b1995pf['mes'].unique():
    for y in b1995pf['v102'].unique():
        for z in b1995pf['v103'].unique():
            print('mes', x, 'Área', y, 'Hogar', z)
            ig = b1995pf.loc[(b1995pf['mes']==x) & (b1995pf['v102']==y) & (b1995pf['v103']==z)]
            ig['h'] = ig['ingr_b'].sum()
            b1995pf['ingr_h'].loc[(b1995pf['mes']==x) & (b1995pf['v102']==y) & (b1995pf['v103']==z)] = ig['h']
            del(ig)

Para calcular un índice de hogares, el siguiente código arroja todos los hogares posibles durante cada mes

In [ ]:
for x in b1994pf['mes'].unique():
    for y in b1994pf['v102'].unique():
        for z in b1994pf['v103'].unique():
            print(x,y,z)

## Calculamos la edad

In [113]:
b1996pf['v246_b'] = 0
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\1644458313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v246_b'] = 0

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,6,5,0.0,1.34,1.86,0.720430,0.000000,0
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,4,4,0.0,1.34,1.86,0.720430,0.000000,0
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,8,7,0.0,1.34,1.86,0.720430,0.000000,0
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,0.0,2,2,1200.0,1.34,1.86,0.720430,864.516129,0
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,3,3,0.0,1.34,1.86,0.720430,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,0.0,4,2,112.0,0.47,1.86,0.252688,28.301075,0
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,0.0,4,4,160.0,0.47,1.86,0.252688,40.430108,0
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,0.0,4,4,2000.0,0.47,1.86,0.252688,505.376344,0
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,5,4,0.0,0.47,1.86,0.252688,0.000000,0
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,3,3,0.0,0.47,1.86,0.252688,0.000000,0

Para las edades de tres dígitos les sumamos 1000

In [114]:
tres = b1996pf.loc[b1996pf['v246'] < 1000]
tres['v246_b'] = b1996pf.loc[b1996pf['v246']<1000]['v246']+1000
b1996pf['v246_b'].loc[b1996pf['v246']<1000] = tres['v246_b']
del(tres)
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3236513686.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v246_b'].loc[b1996pf['v246']<1000] = tres['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,6,5,0.0,1.34,1.86,0.720430,0.000000,1978
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,4,4,0.0,1.34,1.86,0.720430,0.000000,1984
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,8,7,0.0,1.34,1.86,0.720430,0.000000,1980
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,0.0,2,2,1200.0,1.34,1.86,0.720430,864.516129,1965
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,3,3,0.0,1.34,1.86,0.720430,0.000000,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,0.0,4,2,112.0,0.47,1.86,0.252688,28.301075,1975
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,0.0,4,4,160.0,0.47,1.86,0.252688,40.430108,1956
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,0.0,4,4,2000.0,0.47,1.86,0.252688,505.376344,1955
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,5,4,0.0,0.47,1.86,0.252688,0.000000,1968
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,3,3,0.0,0.47,1.86,0.252688,0.000000,1930

Para las edades que solo tienen dos dígitos, los corregimos sumando 1900

In [115]:
cien = b1996pf.loc[b1996pf['v246'] < 100]
cien['v246_b'] = b1996pf.loc[b1996pf['v246']<100]['v246']+1900
b1996pf['v246_b'].loc[b1996pf['v246']<100] = cien['v246_b']
del(cien)
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3035444437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cien['v246_b'] = b1996pf.loc[b1996pf['v246']<100]['v246']+1900
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3035444437.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['v246_b'].loc[b1996pf['v246']<100] = cien['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,0.0,6,5,0.0,1.34,1.86,0.720430,0.000000,1978
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,0.0,4,4,0.0,1.34,1.86,0.720430,0.000000,1984
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,0.0,8,7,0.0,1.34,1.86,0.720430,0.000000,1980
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,0.0,2,2,1200.0,1.34,1.86,0.720430,864.516129,1965
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,0.0,3,3,0.0,1.34,1.86,0.720430,0.000000,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,0.0,4,2,112.0,0.47,1.86,0.252688,28.301075,1975
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,0.0,4,4,160.0,0.47,1.86,0.252688,40.430108,1956
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,0.0,4,4,2000.0,0.47,1.86,0.252688,505.376344,1955
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,0.0,5,4,0.0,0.47,1.86,0.252688,0.000000,1968
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,0.0,3,3,0.0,0.47,1.86,0.252688,0.000000,1930

Calculamos la edad

In [116]:
b1996pf['edad_c'] = 1996-b1996pf['v246_b']
b1996pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\569034825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pf['edad_c'] = 1996-b1996pf['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b,edad_c
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,6,5,0.0,1.34,1.86,0.720430,0.000000,1978,18
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,4,4,0.0,1.34,1.86,0.720430,0.000000,1984,12
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,8,7,0.0,1.34,1.86,0.720430,0.000000,1980,16
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,2,2,1200.0,1.34,1.86,0.720430,864.516129,1965,31
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,3,3,0.0,1.34,1.86,0.720430,0.000000,1920,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,4,2,112.0,0.47,1.86,0.252688,28.301075,1975,21
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,4,4,160.0,0.47,1.86,0.252688,40.430108,1956,40
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,4,4,2000.0,0.47,1.86,0.252688,505.376344,1955,41
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,5,4,0.0,0.47,1.86,0.252688,0.000000,1968,28
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,3,3,0.0,0.47,1.86,0.252688,0.000000,1930,66

Limpiamos de la base los datos con edades negativas

In [117]:
b1996pf = b1996pf.loc[b1996pf['edad_c']>0]

Limpiamos también los datos con edades mayores a 100 años

In [118]:
b1996pf = b1996pf.loc[b1996pf['edad_c']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [119]:
b1996pf = b1996pf.loc[b1996pf['edad_c']>10]

Eliminamos ingresos igual a 9999999999

In [120]:
b1996pf = b1996pf.loc[b1996pf['ingr_b']!=999999999]
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b,edad_c
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,6,5,0.0,1.34,1.86,0.720430,0.000000,1978,18
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,4,4,0.0,1.34,1.86,0.720430,0.000000,1984,12
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,8,7,0.0,1.34,1.86,0.720430,0.000000,1980,16
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,2,2,1200.0,1.34,1.86,0.720430,864.516129,1965,31
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,3,3,0.0,1.34,1.86,0.720430,0.000000,1920,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,4,2,112.0,0.47,1.86,0.252688,28.301075,1975,21
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,4,4,160.0,0.47,1.86,0.252688,40.430108,1956,40
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,4,4,2000.0,0.47,1.86,0.252688,505.376344,1955,41
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,5,4,0.0,0.47,1.86,0.252688,0.000000,1968,28
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,3,3,0.0,0.47,1.86,0.252688,0.000000,1930,66

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [121]:
k = 0.4
s = 0.9

In [122]:
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b,edad_c
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,0.0,6,5,0.0,1.34,1.86,0.720430,0.000000,1978,18
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,0.0,4,4,0.0,1.34,1.86,0.720430,0.000000,1984,12
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,0.0,8,7,0.0,1.34,1.86,0.720430,0.000000,1980,16
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,0.0,2,2,1200.0,1.34,1.86,0.720430,864.516129,1965,31
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,0.0,3,3,0.0,1.34,1.86,0.720430,0.000000,1920,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,0.0,4,2,112.0,0.47,1.86,0.252688,28.301075,1975,21
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,0.0,4,4,160.0,0.47,1.86,0.252688,40.430108,1956,40
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,0.0,4,4,2000.0,0.47,1.86,0.252688,505.376344,1955,41
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,0.0,5,4,0.0,0.47,1.86,0.252688,0.000000,1968,28
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,0.0,3,3,0.0,0.47,1.86,0.252688,0.000000,1930,66

In [123]:
b1996pf['den'] = b1996pf['v0110'] + k*(b1996pf['v0109']-b1996pf['v0110'])**s
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v0109,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b,edad_c,den
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,6,5,0.0,1.34,1.86,0.720430,0.000000,1978,18,5.400000
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,4,4,0.0,1.34,1.86,0.720430,0.000000,1984,12,4.000000
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,8,7,0.0,1.34,1.86,0.720430,0.000000,1980,16,7.400000
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,2,2,1200.0,1.34,1.86,0.720430,864.516129,1965,31,2.000000
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,3,3,0.0,1.34,1.86,0.720430,0.000000,1920,76,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,4,2,112.0,0.47,1.86,0.252688,28.301075,1975,21,2.746426
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,4,4,160.0,0.47,1.86,0.252688,40.430108,1956,40,4.000000
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,4,4,2000.0,0.47,1.86,0.252688,505.376344,1955,41,4.000000
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,5,4,0.0,0.47,1.86,0.252688,0.000000,1968,28,4.400000
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,3,3,0.0,0.47,1.86,0.252688,0.000000,1930,66,3.000000

In [124]:
b1996pf['ingr_t'] = b1996pf['ingr_r']/b1996pf['den']
b1996pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v0110,ingr_b,ipc,ipc_b,def,ingr_r,v246_b,edad_c,den,ingr_t
0,26,1996,1,26000253,19,3,2.0,5,5,978,...,5,0.0,1.34,1.86,0.720430,0.000000,1978,18,5.400000,0.000000
1,35,1996,1,35000554,13,1,3.0,3,4,984,...,4,0.0,1.34,1.86,0.720430,0.000000,1984,12,4.000000,0.000000
2,26,1996,1,26000091,9,3,3.0,3,6,980,...,7,0.0,1.34,1.86,0.720430,0.000000,1980,16,7.400000,0.000000
3,43,1996,1,43000428,13,1,1.0,6,8,965,...,2,1200.0,1.34,1.86,0.720430,864.516129,1965,31,2.000000,432.258065
4,26,1996,1,26000385,3,1,1.0,1,12,920,...,3,0.0,1.34,1.86,0.720430,0.000000,1920,76,3.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,1996,12,33002959,26,1,1.0,3,1,975,...,2,112.0,0.47,1.86,0.252688,28.301075,1975,21,2.746426,10.304691
1086935,33,1996,12,33002967,4,3,2.0,5,8,956,...,4,160.0,0.47,1.86,0.252688,40.430108,1956,40,4.000000,10.107527
1086936,33,1996,12,33002967,4,1,1.0,6,11,955,...,4,2000.0,0.47,1.86,0.252688,505.376344,1955,41,4.000000,126.344086
1086937,33,1996,12,33002967,11,3,3.0,5,3,968,...,4,0.0,0.47,1.86,0.252688,0.000000,1968,28,4.400000,0.000000
1086938,33,1996,12,33002967,5,3,4.0,4,10,930,...,3,0.0,0.47,1.86,0.252688,0.000000,1930,66,3.000000,0.000000

---------------------------------------

In [125]:
b1996pi = b1996pf[['uf', 'mes', 'v102', 'v103', 'v0109', 'v0110', 'ingr_b', 'def', 'ingr_r', 'den', 'ingr_t', 'edad_c']]
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c
0,26,1,26000253,19,6,5,0.0,0.720430,0.000000,5.400000,0.000000,18
1,35,1,35000554,13,4,4,0.0,0.720430,0.000000,4.000000,0.000000,12
2,26,1,26000091,9,8,7,0.0,0.720430,0.000000,7.400000,0.000000,16
3,43,1,43000428,13,2,2,1200.0,0.720430,864.516129,2.000000,432.258065,31
4,26,1,26000385,3,3,3,0.0,0.720430,0.000000,3.000000,0.000000,76
...,...,...,...,...,...,...,...,...,...,...,...,...
1086934,33,12,33002959,26,4,2,112.0,0.252688,28.301075,2.746426,10.304691,21
1086935,33,12,33002967,4,4,4,160.0,0.252688,40.430108,4.000000,10.107527,40
1086936,33,12,33002967,4,4,4,2000.0,0.252688,505.376344,4.000000,126.344086,41
1086937,33,12,33002967,11,5,4,0.0,0.252688,0.000000,4.400000,0.000000,28
1086938,33,12,33002967,5,3,3,0.0,0.252688,0.000000,3.000000,0.000000,66

Vamos a descartar las personas con ingresos de 0

In [126]:
b1996pi = b1996pi.loc[b1996pi['ingr_t']>0]
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c
3,43,1,43000428,13,2,2,1200.0,0.720430,864.516129,2.000000,432.258065,31
6,35,1,35000031,16,5,3,500.0,0.720430,360.215054,3.746426,96.148974,64
8,33,1,33000573,17,6,3,25.0,0.720430,18.010753,4.075150,4.419654,69
11,33,1,33000034,13,1,1,100.0,0.720430,72.043011,1.000000,72.043011,56
12,43,1,43000231,13,6,5,80.0,0.720430,57.634409,5.400000,10.673039,72
...,...,...,...,...,...,...,...,...,...,...,...,...
1086932,33,12,33002967,12,5,5,600.0,0.252688,151.612903,5.000000,30.322581,29
1086933,33,12,33002959,25,4,2,250.0,0.252688,63.172043,2.746426,23.001542,30
1086934,33,12,33002959,26,4,2,112.0,0.252688,28.301075,2.746426,10.304691,21
1086935,33,12,33002967,4,4,4,160.0,0.252688,40.430108,4.000000,10.107527,40
1086936,33,12,33002967,4,4,4,2000.0,0.252688,505.376344,4.000000,126.344086,41

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 1995, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [128]:
b1996pi['um_pobr']=0
b1996pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\115255985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['um_pobr']=0

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr
3,43,1,43000428,13,2,2,1200.0,0.720430,864.516129,2.000000,432.258065,31,0
6,35,1,35000031,16,5,3,500.0,0.720430,360.215054,3.746426,96.148974,64,0
8,33,1,33000573,17,6,3,25.0,0.720430,18.010753,4.075150,4.419654,69,0
11,33,1,33000034,13,1,1,100.0,0.720430,72.043011,1.000000,72.043011,56,0
12,43,1,43000231,13,6,5,80.0,0.720430,57.634409,5.400000,10.673039,72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086932,33,12,33002967,12,5,5,600.0,0.252688,151.612903,5.000000,30.322581,29,0
1086933,33,12,33002959,25,4,2,250.0,0.252688,63.172043,2.746426,23.001542,30,0
1086934,33,12,33002959,26,4,2,112.0,0.252688,28.301075,2.746426,10.304691,21,0
1086935,33,12,33002967,4,4,4,160.0,0.252688,40.430108,4.000000,10.107527,40,0
1086936,33,12,33002967,4,4,4,2000.0,0.252688,505.376344,4.000000,126.344086,41,0

In [129]:
pobr = pd.Series([98.72, 92.37, 82.11, 99.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26     98.72
29     92.37
31     82.11
33     99.21
35    119.55
43     62.28
dtype: float64

In [130]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b1996pi.loc[b1996pi['uf']==x]
    p['um_pobr'] = pobr[x]
    b1996pi['um_pobr'].loc[b1996pi['uf']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\4016040160.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\4016040160.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['um_pobr'].loc[b1996pi['uf']==x] = p['um_pobr']

-------------------------------------

## Calculo del índice de pobreza de Foster, Greer y Thorbecke

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1984), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

In [131]:
b1996pi = b1996pi.sort_values(['mes', 'ingr_t'])
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21

Creamos la variable g = um_pobr - ingr_t

In [133]:
b1996pi['g']=b1996pi['um_pobr']-b1996pi['ingr_t']
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr,g
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11,8.169816e+01
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72,9.814366e+01
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28,6.145665e+01
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11,8.110940e+01
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72,9.766054e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21,-2.526881e+08
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37,-3.609830e+08
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28,-5.053763e+08
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28,-5.053763e+08
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21,-5.053762e+08

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [134]:
b1996pi['q'] = 0
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11,8.169816e+01,0
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72,9.814366e+01,0
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28,6.145665e+01,0
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11,8.110940e+01,0
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72,9.766054e+01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21,-2.526881e+08,0
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37,-3.609830e+08,0
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28,-5.053763e+08,0
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28,-5.053763e+08,0
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21,-5.053762e+08,0

In [135]:
ma = b1996pi.loc[b1996pi['g']>0]
ma['q'] = 1
b1996pi['q'] = ma['q']
b1996pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\3317656730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11,8.169816e+01,1.0
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72,9.814366e+01,1.0
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28,6.145665e+01,1.0
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11,8.110940e+01,1.0
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72,9.766054e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21,-2.526881e+08,NaN
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37,-3.609830e+08,NaN
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28,-5.053763e+08,NaN
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28,-5.053763e+08,NaN
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21,-5.053762e+08,NaN

In [136]:
b1996pi['q'] = b1996pi['q'].fillna(0)
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11,8.169816e+01,1.0
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72,9.814366e+01,1.0
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28,6.145665e+01,1.0
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11,8.110940e+01,1.0
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72,9.766054e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21,-2.526881e+08,0.0
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37,-3.609830e+08,0.0
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28,-5.053763e+08,0.0
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28,-5.053763e+08,0.0
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21,-5.053762e+08,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [137]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [138]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['q'].sum()
del(x)
del(y)
qs

        26      29      31      33      35      43
1   3719.0  4052.0  4851.0  4633.0  5035.0  2629.0
2   3699.0  4499.0  5646.0  5197.0  6003.0  3270.0
3   4133.0  4952.0  7309.0  6677.0  7871.0  5149.0
4   3580.0  4182.0  5438.0  4926.0  5672.0  2858.0
5   3886.0  4033.0  5526.0  5061.0  5721.0  2937.0
6   3655.0  4043.0  5437.0  4878.0  5523.0  2845.0
7   3793.0  4061.0  5523.0  4915.0  5759.0  3130.0
8   4676.0  4701.0  7059.0  6342.0  7722.0  4854.0
9   4814.0  5067.0  8051.0  7110.0  8574.0  6040.0
10  4843.0  4816.0  7630.0  6873.0  8183.0  5600.0
11  4625.0  4680.0  7538.0  6593.0  8084.0  5591.0
12  4272.0  4463.0  6948.0  6003.0  7274.0  4908.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [139]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [140]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['mes'].count()
del(x)
del(y)
ns

        26      29      31      33      35      43
1   4561.0  5129.0  7828.0  7163.0  8500.0  5684.0
2   4266.0  5229.0  7865.0  7039.0  8527.0  5917.0
3   4278.0  5159.0  7944.0  7209.0  8616.0  6097.0
4   4300.0  5098.0  8171.0  7307.0  9020.0  6041.0
5   4683.0  4983.0  8045.0  7235.0  8996.0  6083.0
6   4438.0  4967.0  8004.0  7156.0  8668.0  6053.0
7   4575.0  4916.0  7949.0  7151.0  8549.0  6092.0
8   5014.0  5072.0  8049.0  7216.0  8750.0  6245.0
9   4884.0  5144.0  8242.0  7302.0  8799.0  6385.0
10  5031.0  4990.0  8234.0  7358.0  8902.0  6585.0
11  4809.0  4871.0  8200.0  7132.0  8867.0  6669.0
12  4539.0  4746.0  7960.0  6847.0  8593.0  6531.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [142]:
b1996pi['gq'] = b1996pi['g']*b1996pi['q']
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11,8.169816e+01,1.0,81.698157
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72,9.814366e+01,1.0,98.143656
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28,6.145665e+01,1.0,61.456651
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11,8.110940e+01,1.0,81.109403
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72,9.766054e+01,1.0,97.660544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21,-2.526881e+08,0.0,-0.000000
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37,-3.609830e+08,0.0,-0.000000
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28,-5.053763e+08,0.0,-0.000000
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28,-5.053763e+08,0.0,-0.000000
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21,-5.053762e+08,0.0,-0.000000

In [143]:
b1996pi['sumag_z'] = b1996pi['gq']/b1996pi['um_pobr']
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11,8.169816e+01,1.0,81.698157,0.994984
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72,9.814366e+01,1.0,98.143656,0.994162
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28,6.145665e+01,1.0,61.456651,0.986780
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11,8.110940e+01,1.0,81.109403,0.987814
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72,9.766054e+01,1.0,97.660544,0.989268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21,-2.526881e+08,0.0,-0.000000,-0.000000
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37,-3.609830e+08,0.0,-0.000000,-0.000000
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28,-5.053763e+08,0.0,-0.000000,-0.000000
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28,-5.053763e+08,0.0,-0.000000,-0.000000
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21,-5.053762e+08,0.0,-0.000000,-0.000000

In [144]:
b1996pi['sumag_z0'] = b1996pi['q']
b1996pi['sumag_z1'] = b1996pi['sumag_z']**1
b1996pi['sumag_z2'] = b1996pi['sumag_z']**2
b1996pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,def,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
52913,31,1,31001610,27,10,8,5.000000e+00,0.720430,3.602151e+00,8.746426,4.118425e-01,45,82.11,8.169816e+01,1.0,81.698157,0.994984,1.0,0.994984,0.989994
17926,26,1,26000164,1,5,5,4.000000e+00,0.720430,2.881720e+00,5.000000,5.763441e-01,52,98.72,9.814366e+01,1.0,98.143656,0.994162,1.0,0.994162,0.988358
84012,43,1,43002382,17,7,7,8.000000e+00,0.720430,5.763441e+00,7.000000,8.233487e-01,18,62.28,6.145665e+01,1.0,61.456651,0.986780,1.0,0.986780,0.973735
16481,31,1,31000614,2,15,14,2.000000e+01,0.720430,1.440860e+01,14.400000,1.000597e+00,78,82.11,8.110940e+01,1.0,81.109403,0.987814,1.0,0.987814,0.975776
55731,26,1,26001071,20,4,3,5.000000e+00,0.720430,3.602151e+00,3.400000,1.059456e+00,13,98.72,9.766054e+01,1.0,97.660544,0.989268,1.0,0.989268,0.978651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086563,33,12,33002630,20,2,2,2.000000e+09,0.252688,5.053763e+08,2.000000,2.526882e+08,31,99.21,-2.526881e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1050114,29,12,29001250,27,2,1,2.000000e+09,0.252688,5.053763e+08,1.400000,3.609831e+08,31,92.37,-3.609830e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1009932,43,12,43000460,13,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,44,62.28,-5.053763e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1021051,43,12,43001149,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,62.28,-5.053763e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1022039,33,12,33001065,14,1,1,2.000000e+09,0.252688,5.053763e+08,1.000000,5.053763e+08,54,99.21,-5.053762e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [145]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [146]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

        26      29      31      33      35      43
1   3719.0  4052.0  4851.0  4633.0  5035.0  2629.0
2   3699.0  4499.0  5646.0  5197.0  6003.0  3270.0
3   4133.0  4952.0  7309.0  6677.0  7871.0  5149.0
4   3580.0  4182.0  5438.0  4926.0  5672.0  2858.0
5   3886.0  4033.0  5526.0  5061.0  5721.0  2937.0
6   3655.0  4043.0  5437.0  4878.0  5523.0  2845.0
7   3793.0  4061.0  5523.0  4915.0  5759.0  3130.0
8   4676.0  4701.0  7059.0  6342.0  7722.0  4854.0
9   4814.0  5067.0  8051.0  7110.0  8574.0  6040.0
10  4843.0  4816.0  7630.0  6873.0  8183.0  5600.0
11  4625.0  4680.0  7538.0  6593.0  8084.0  5591.0
12  4272.0  4463.0  6948.0  6003.0  7274.0  4908.0

In [147]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [148]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

,26,29,31,33,35,43
1,2483.401317,2626.236762,2729.135982,2529.825342,2694.863666,1190.225510
2,2632.770196,3122.968631,3479.296297,3148.478493,3439.149871,1617.688850
3,3540.580754,4233.789099,5693.745120,5193.128066,5914.346824,3554.060330
4,2416.835439,2818.024402,3200.642384,2784.090033,3044.908071,1264.812879
5,2592.833166,2752.146160,3182.603246,2788.361869,3104.526448,1361.747141
6,2452.781806,2731.207967,3129.788046,2673.685605,2996.223118,1328.920989
7,2597.041527,2770.264706,3271.331125,2796.731931,3115.777727,1443.745438
8,3788.163941,3804.143456,5228.811320,4590.033659,5416.970092,3062.281443
9,4406.342876,4617.998734,6957.102905,6145.132025,7280.482907,4817.099635
10,4147.103189,4115.206023,6002.700725,5359.242542,6264.568331,3896.756117
11,3894.717369,3957.728902,5905.446117,5081.447614,6105.700370,3808.489877
12,3449.553927,3571.528854,5007.088130,4272.123921,5055.597832,3014.772075

In [149]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [151]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

,26,29,31,33,35,43
1,1858.912815,1948.049386,1837.639943,1665.544022,1746.360985,679.982248
2,2054.304521,2411.984420,2484.034665,2211.107200,2336.499219,987.405313
3,3144.816899,3745.916243,4751.627291,4314.499488,4801.360823,2713.775611
4,1817.136018,2132.430146,2217.691668,1863.152747,1983.485899,725.402469
5,1950.743528,2102.839566,2196.507729,1866.026009,2042.810021,798.497936
6,1841.943030,2064.382908,2136.019937,1770.850341,1962.369759,775.243537
7,1976.476783,2110.291543,2276.958271,1872.658936,2064.565437,856.467499
8,3247.694921,3251.927344,4205.875362,3632.031276,4229.044743,2202.939608
9,4106.860191,4292.410503,6236.618616,5479.682875,6429.294565,4075.927337
10,3688.754540,3648.555185,5051.371388,4459.441564,5146.830891,2993.718668
11,3418.867051,3489.082650,4928.481113,4188.852825,4976.575406,2880.461671
12,2928.166696,3022.635901,3951.310797,3324.689760,3881.913771,2119.732521

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)*sumatoria(g/um_pobr)**2 para cada mes y cada región

In [152]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [153]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31        33        35        43
1   0.815391  0.790018  0.619699  0.646796  0.592353  0.462526
2   0.867089  0.860394  0.717864  0.738315  0.703999  0.552645
3   0.966106  0.959876  0.920065  0.926203  0.913533  0.844514
4   0.832558  0.820322  0.665524  0.674148  0.628825  0.473100
5   0.829810  0.809352  0.686886  0.699516  0.635949  0.482821
6   0.823569  0.813972  0.679285  0.681666  0.637171  0.470015
7   0.829071  0.826078  0.694804  0.687316  0.673646  0.513789
8   0.932589  0.926853  0.877003  0.878880  0.882514  0.777262
9   0.985667  0.985031  0.976826  0.973706  0.974429  0.945967
10  0.962632  0.965130  0.926646  0.934085  0.919232  0.850418
11  0.961738  0.960788  0.919268  0.924425  0.911695  0.838357
12  0.941176  0.940371  0.872864  0.876734  0.846503  0.751493

In [154]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [155]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31        33        35        43
1   0.544486  0.512037  0.348638  0.353180  0.317043  0.209399
2   0.617152  0.597240  0.442377  0.447291  0.403325  0.273397
3   0.827625  0.820661  0.716735  0.720367  0.686438  0.582920
4   0.562055  0.552771  0.391708  0.381017  0.337573  0.209371
5   0.553669  0.552307  0.395600  0.385399  0.345101  0.223861
6   0.552677  0.549871  0.391028  0.373629  0.345665  0.219547
7   0.567659  0.563520  0.411540  0.391097  0.364461  0.236990
8   0.755517  0.750028  0.649622  0.636091  0.619082  0.490357
9   0.902200  0.897745  0.844104  0.841568  0.827422  0.754440
10  0.824310  0.824691  0.729014  0.728356  0.703726  0.591763
11  0.809881  0.812508  0.720176  0.712486  0.688587  0.571074
12  0.759981  0.752535  0.629031  0.623941  0.588339  0.461610

In [156]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [157]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31        33        35        43
1   0.407567  0.379811  0.234752  0.232520  0.205454  0.119631
2   0.481553  0.461271  0.315834  0.314122  0.274012  0.166876
3   0.735114  0.726093  0.598140  0.598488  0.557261  0.445100
4   0.422590  0.418288  0.271410  0.254982  0.219899  0.120080
5   0.416559  0.422003  0.273028  0.257917  0.227080  0.131267
6   0.415039  0.415620  0.266869  0.247464  0.226392  0.128076
7   0.432017  0.429270  0.286446  0.261874  0.241498  0.140589
8   0.647725  0.641153  0.522534  0.503330  0.483319  0.352753
9   0.840880  0.834450  0.756688  0.750436  0.730685  0.638360
10  0.733205  0.731173  0.613477  0.606067  0.578166  0.454627
11  0.710931  0.716297  0.601034  0.587332  0.561247  0.431918
12  0.645113  0.636881  0.496396  0.485569  0.451753  0.324565

El autor menciona también los trabajos de Ravallion 1994 y 2016 pero parece ser que no los calcula

----------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/N*sumatoria(y**(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (1999)

In [158]:
b1996pi = b1996pi[['uf', 'mes', 'ingr_b', 'ingr_r', 'den', 'ingr_t']]

In [159]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [160]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

,26,29,31,33,35,43
1,7.366303e+05,1.299465e+06,1.121289e+06,1.215520e+06,335287.578412,1.304054e+06
2,8.149507e+05,8.419868e+05,4.888239e+05,1.778210e+06,436892.196769,9.420474e+05
3,4.596290e+05,3.240437e+05,3.242386e+05,4.268905e+05,86316.271975,3.518837e+05
4,1.736585e+06,8.445757e+05,6.357061e+05,2.133429e+06,287283.077948,1.292769e+06
5,9.740273e+05,1.087927e+06,6.859303e+05,2.113688e+06,579838.104691,1.354811e+06
6,1.214281e+06,1.393210e+06,7.816990e+05,1.952990e+06,510625.592332,9.930120e+05
7,1.067745e+06,1.524098e+06,5.292996e+05,2.351979e+06,494285.530927,1.108207e+06
8,5.507630e+05,6.343316e+05,2.435985e+05,1.084237e+06,165289.081858,4.049709e+05
9,1.683305e+05,2.110633e+05,7.133299e+04,3.054937e+05,47964.853128,2.115894e+05
10,3.914208e+05,3.314308e+05,2.067685e+05,6.890578e+05,68413.286863,3.865395e+05
11,3.403486e+05,6.307688e+05,2.316810e+05,6.655543e+05,169204.382893,3.553098e+05
12,5.241577e+05,4.905311e+05,2.900546e+05,9.756437e+05,236515.386397,4.692749e+05

In [161]:
b1996pi['ingr_t25'] = b1996pi['ingr_t']**(1-0.25)
b1996pi['ingr_t50'] = b1996pi['ingr_t']**(1-0.5)
b1996pi['ingr_t75'] = b1996pi['ingr_t']**(1-0.75)
b1996pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\223639156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['ingr_t25'] = b1996pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\223639156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['ingr_t50'] = b1996pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12132\223639156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1996pi['ingr_t75'] = b1996pi['ingr_t']**(1-0.75)

,uf,mes,ingr_b,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
52913,31,1,5.000000e+00,3.602151e+00,8.746426,4.118425e-01,5.141010e-01,0.641750,0.801093
17926,26,1,4.000000e+00,2.881720e+00,5.000000,5.763441e-01,6.614719e-01,0.759173,0.871306
84012,43,1,8.000000e+00,5.763441e+00,7.000000,8.233487e-01,8.643464e-01,0.907386,0.952568
16481,31,1,2.000000e+01,1.440860e+01,14.400000,1.000597e+00,1.000448e+00,1.000299,1.000149
55731,26,1,5.000000e+00,3.602151e+00,3.400000,1.059456e+00,1.044269e+00,1.029299,1.014544
...,...,...,...,...,...,...,...,...,...
1086563,33,12,2.000000e+09,5.053763e+08,2.000000,2.526882e+08,2.004189e+06,15896.168463,126.080008
1050114,29,12,2.000000e+09,5.053763e+08,1.400000,3.609831e+08,2.618877e+06,18999.555325,137.838875
1009932,43,12,2.000000e+09,5.053763e+08,1.000000,5.053763e+08,3.370631e+06,22480.577030,149.935243
1021051,43,12,2.000000e+09,5.053763e+08,1.000000,5.053763e+08,3.370631e+06,22480.577030,149.935243
1022039,33,12,2.000000e+09,5.053763e+08,1.000000,5.053763e+08,3.370631e+06,22480.577030,149.935243

In [162]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [163]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,2.563577e+07,4.855798e+07,6.558878e+07,5.900198e+07,1.946455e+07,5.343782e+07
2,2.613042e+07,3.291067e+07,3.097596e+07,8.673453e+07,2.963819e+07,4.144802e+07
3,1.950369e+07,1.657092e+07,2.588159e+07,2.744485e+07,7.340939e+06,2.051968e+07
4,5.139983e+07,3.161528e+07,3.966984e+07,1.027451e+08,1.995656e+07,5.684270e+07
5,3.429670e+07,4.014733e+07,4.189803e+07,1.052792e+08,3.466501e+07,5.883126e+07
6,4.026846e+07,4.877848e+07,4.758582e+07,9.586211e+07,3.309331e+07,4.410101e+07
7,3.683648e+07,5.282972e+07,3.169043e+07,1.195171e+08,3.061928e+07,5.119943e+07
8,2.622803e+07,3.087129e+07,1.879609e+07,6.507148e+07,1.342934e+07,2.230392e+07
9,1.016350e+07,1.324688e+07,6.839722e+06,2.625750e+07,5.245280e+06,1.575265e+07
10,2.047933e+07,1.682642e+07,1.736334e+07,4.954205e+07,6.765091e+06,2.520924e+07
11,1.743049e+07,2.950340e+07,1.907660e+07,4.434995e+07,1.596416e+07,2.249083e+07
12,2.177890e+07,2.083679e+07,2.170988e+07,5.979637e+07,1.891932e+07,2.561651e+07

In [164]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [166]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,228550.250049,393723.584879,565177.469834,474309.290226,226347.672477,444222.184437
2,224560.797168,284664.238247,310928.826809,675322.161220,316950.862486,362252.044431
3,210040.533919,183680.814119,297305.260553,286137.565408,121103.881187,228680.468946
4,390594.121489,267608.776325,371797.170917,756921.151513,249228.240592,474876.196091
5,291208.508799,332543.034833,385905.908155,798645.530618,335301.956025,478535.217328
6,331913.281403,383735.175080,433401.040220,730361.633315,338344.522956,382414.202554
7,311772.364350,415652.966359,304244.508822,927026.902669,309416.811877,445768.631422
8,273485.069785,320825.619156,223753.818993,595576.177990,181756.363626,234954.146947
9,139517.173214,176175.151886,106768.366726,337001.100288,98953.893554,206805.324115
10,233570.887940,190175.915740,214248.663495,526414.790383,122893.242888,286447.294526
11,206109.500975,305841.470833,228331.368775,455955.821327,220467.176895,249118.102526
12,221456.566740,210740.859946,249852.743458,583359.556555,236216.325686,259804.067958

In [167]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [168]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,13150.680883,15875.936674,26525.384132,24384.951914,28515.124756,20205.660121
2,11703.477792,14474.564608,23053.535812,24021.659692,27590.925806,19303.068289
3,9729.543078,11006.111685,18782.933693,17701.623644,20752.085062,15262.813926
4,13399.622560,14465.433411,25191.104986,26092.600591,29958.549772,21359.170591
5,13864.303506,14674.002351,24840.741553,26237.771483,30265.871792,21167.051215
6,13524.903749,14979.713423,25231.626291,25722.183417,29244.685480,20568.329088
7,13625.437116,15006.050375,23742.981204,27093.342671,28230.102228,20980.604553
8,12513.193353,13033.339027,19469.412475,21616.311524,22946.551812,16630.366910
9,9041.229241,9811.040673,14838.207125,16719.521626,17693.544629,13736.379174
10,11415.828078,10725.103046,18323.838682,20397.000792,21093.147443,16874.663828
11,11034.503409,11735.924925,18557.789392,19330.723243,22339.181199,16842.703444
12,11080.965868,11304.628000,19874.915051,21111.051954,23672.951081,17845.302258

In [169]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [170]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.864336  0.845875  0.848229  0.863143  0.909978  0.847841
2   0.862479  0.861987  0.872762  0.839949  0.879487  0.857724
3   0.835527  0.853747  0.851040  0.860749  0.906423  0.856669
4   0.842616  0.865096  0.870682  0.840919  0.899647  0.846338
5   0.853984  0.851536  0.868394  0.831927  0.895812  0.847907
6   0.844146  0.849051  0.862220  0.837095  0.883142  0.857762
7   0.848859  0.844400  0.880568  0.818316  0.889135  0.845811
8   0.835129  0.824807  0.872818  0.826885  0.892893  0.865194
9   0.842168  0.832761  0.890676  0.819665  0.895402  0.842446
10  0.833950  0.847432  0.869219  0.815486  0.898630  0.845067
11  0.836413  0.824961  0.866947  0.828186  0.870556  0.857663
12  0.845603  0.853444  0.868625  0.815665  0.878897  0.868187

In [171]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [172]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.996591  0.995465  0.995351  0.996393  0.997885  0.995316
2   0.996600  0.996480  0.996803  0.994824  0.996838  0.996021
3   0.994755  0.996088  0.995680  0.996310  0.997711  0.996002
4   0.995249  0.996737  0.996743  0.994970  0.997343  0.995220
5   0.996030  0.995906  0.996645  0.994235  0.997604  0.995432
6   0.995394  0.995716  0.996249  0.994666  0.997016  0.995980
7   0.995651  0.995309  0.997232  0.992855  0.997350  0.995169
8   0.994598  0.993692  0.996828  0.993717  0.997390  0.996505
9   0.995152  0.994443  0.997648  0.993028  0.997363  0.995042
10  0.994493  0.995618  0.996726  0.992572  0.997214  0.995105
11  0.994603  0.993750  0.996653  0.993859  0.996346  0.996073
12  0.995459  0.995980  0.996603  0.992560  0.996805  0.996628

In [173]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [174]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.999906  0.999929  0.999882  0.999890  0.999622  0.999878
2   0.999930  0.999930  0.999849  0.999924  0.999749  0.999880
3   0.999942  0.999936  0.999904  0.999915  0.999610  0.999888
4   0.999946  0.999923  0.999858  0.999924  0.999576  0.999879
5   0.999921  0.999931  0.999867  0.999918  0.999779  0.999892
6   0.999929  0.999941  0.999874  0.999915  0.999746  0.999866
7   0.999926  0.999943  0.999850  0.999912  0.999759  0.999873
8   0.999930  0.999931  0.999859  0.999926  0.999714  0.999876
9   0.999930  0.999937  0.999853  0.999910  0.999659  0.999899
10  0.999932  0.999936  0.999881  0.999914  0.999539  0.999888
11  0.999919  0.999947  0.999887  0.999919  0.999762  0.999886
12  0.999932  0.999934  0.999866  0.999907  0.999756  0.999881

In [176]:
a25['ano'] = 1996
a50['ano'] = 1996
a75['ano'] = 1996
fgt0['ano'] = 1996
fgt1['ano'] = 1996
fgt2['ano'] = 1996

## Calculamos el ingreso promedio por año y región

In [178]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [179]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b1996pi.loc[(b1996pi['uf']==x) & (b1996pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

,26,29,31,33,35,43
1,7.366303e+05,1.299465e+06,1.121289e+06,1.215520e+06,335287.578412,1.304054e+06
2,8.149507e+05,8.419868e+05,4.888239e+05,1.778210e+06,436892.196769,9.420474e+05
3,4.596290e+05,3.240437e+05,3.242386e+05,4.268905e+05,86316.271975,3.518837e+05
4,1.736585e+06,8.445757e+05,6.357061e+05,2.133429e+06,287283.077948,1.292769e+06
5,9.740273e+05,1.087927e+06,6.859303e+05,2.113688e+06,579838.104691,1.354811e+06
6,1.214281e+06,1.393210e+06,7.816990e+05,1.952990e+06,510625.592332,9.930120e+05
7,1.067745e+06,1.524098e+06,5.292996e+05,2.351979e+06,494285.530927,1.108207e+06
8,5.507630e+05,6.343316e+05,2.435985e+05,1.084237e+06,165289.081858,4.049709e+05
9,1.683305e+05,2.110633e+05,7.133299e+04,3.054937e+05,47964.853128,2.115894e+05
10,3.914208e+05,3.314308e+05,2.067685e+05,6.890578e+05,68413.286863,3.865395e+05
11,3.403486e+05,6.307688e+05,2.316810e+05,6.655543e+05,169204.382893,3.553098e+05
12,5.241577e+05,4.905311e+05,2.900546e+05,9.756437e+05,236515.386397,4.692749e+05

In [180]:
ynr['ano'] = 1996

--------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [181]:
a25_96 = a25
a50_96 = a50
a75_96 = a75
fgt0_96 = fgt0
fgt1_96 = fgt1
fgt2_96 = fgt2
ynr_96 = ynr

In [183]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b1996p, b1996pf, b1996pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr)

NameError: name 'a25' is not defined

In [185]:
a25_95

          26        29        31        33        35        43   ano
1   0.854036  0.837557  0.854775  0.828591  0.876262  0.869050  1995
2   0.863317  0.821562  0.865014  0.822520  0.878904  0.880802  1995
3   0.854204  0.816464  0.869718  0.841644  0.904430  0.866086  1995
4   0.867725  0.809542  0.884272  0.835924  0.908013  0.867623  1995
5   0.840330  0.797697  0.900296  0.813150  0.903270  0.886057  1995
6   0.834060  0.818557  0.868411  0.813950  0.878082  0.870686  1995
7   0.865291  0.819387  0.872163  0.829913  0.883114  0.877821  1995
8   0.858349  0.826977  0.845119  0.827930  0.881905  0.862539  1995
9   0.859211  0.819897  0.849263  0.834381  0.877527  0.875180  1995
10  0.860744  0.810516  0.868016  0.854373  0.891793  0.874350  1995
11  0.859865  0.805548  0.891921  0.859957  0.895781  0.844580  1995
12  0.888783  0.819803  0.850689  0.860896  0.890024  0.862853  1995

In [ ]:
a2