In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [2]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\1994-2001\\pme1997\\pmeantiga\\PME1997P.csv'
b1997p = pd.read_csv(basep)
b1997p.head()

,uf,ano,mes,v102,v103,v201,v202,v203,v204,v205,...,deflator,v309df,v311df,v0106,v0109,v0110,v0112,painel,npesq,aest1
0,35,1997,1,35000775,7,4,3,3.0,3,1,...,0.754381,NaN,NaN,1,4,4,2,J,5,3
1,26,1997,1,26000202,11,2,3,2.0,2,1,...,0.754381,159.07088,NaN,1,4,3,2,J,5,1
2,26,1997,1,26000067,24,2,3,2.0,2,1,...,0.754381,NaN,NaN,1,8,6,2,J,5,1
3,26,1997,1,26000091,8,1,1,1.0,1,1,...,0.754381,265.11813,NaN,1,4,2,2,J,5,2
4,43,1997,1,43000223,7,4,3,3.0,3,1,...,0.754381,291.62994,NaN,1,5,5,2,J,5,4

abrimos la tabla con el deflactor

In [3]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos para asegurarnos que estén bien

In [4]:
b1997p.describe
b1997p.dtypes

uf         int64
ano        int64
mes        int64
v102       int64
v103       int64
           ...
v0110      int64
v0112      int64
painel    object
npesq      int64
aest1      int64
Length: 68, dtype: object

## Nos quedamos con las columnas que vamos a usar

- uf: Región de la encuesta \
- ano: año\
- mes: mes\
- v102: número de control, identifica el área de la encuesta\
- v103: Número de serie, equivale a un número de domicilio específico por área\
    (juntos v102 y v103 permiten construir un índice de hogares, considerando un hogar único encuestado cada mes en cada área)\
- v202: sexo\
- v204: Condición de la familia\
    1. CHEFE\
    2. CÔNJUGE\
    3. FILHO\
    4. OUTRO PARENTE
    5. AGREGADO
    6. PENSIONISTA
    7. EMPREGADO DOMÉSTICO
    8. PARENTE DO EMPREGADO DOMÉSTICO
- v210: grado
    0. UNCA FREQÜENTOU
    1. ELEMENTAR
    2. MÉDIO 1o CICLO 
    3. 1o  GRAU
    4. MÉDIO 2o  CICLO
    5. 2o  GRAU
    6. SUPERIOR
    7. MESTRADO OU DOUTORADO
    9. IGNORADO
v236: mes de nacimiento
v246: año de nacimiento
v306: Posición en su ocupación
  2 - EMPREGADO
  4 - CONTA PRÓPRIA
  6 - EMPREGADOR
  8 - NÃO REMUNERADO
  9 - IGNORADO
v309: Rendimiento efectivamente recibido en el mes obtenido de su trabajo principal
v339: Tasa de rendimiento en dinero de su trabajo principal con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais   
v311: Rendimiento efectivamente recibido al mes de sus otros trabajos
v341: Tasa de rendimiento en dinero de sus otros trabajos con base en el salario mínimo vigente del mes de abril de 1994
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais 
v0109: Total de moradores en el hogar
v0110: Total de moradores con 10 años o más
peso: Peso para expansión que debe ser dividido para 1000 para poder ser usado

In [5]:
#Nos quedamos con los datos que necesitamos
b1997pf = b1997p[['uf', 'ano', 'mes', 'v102', 'v103', 'v202', 'v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341', 'v0109', 'v0110']]
b1997pf.head()

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110
0,35,1997,1,35000775,7,3,3,3,10,986,NaN,NaN,NaN,NaN,NaN,4,4
1,26,1997,1,26000202,11,3,2,0,6,939,4.0,120.0,12.0,NaN,NaN,4,3
2,26,1997,1,26000067,24,3,2,0,9,949,NaN,NaN,NaN,NaN,NaN,8,6
3,26,1997,1,26000091,8,1,1,3,12,966,4.0,200.0,12.0,NaN,NaN,4,2
4,43,1997,1,43000223,7,3,3,5,3,979,2.0,220.0,12.0,NaN,NaN,5,5

In [6]:
b1997pf.describe

<bound method NDFrame.describe of          uf   ano  mes      v102  v103  v202  v204  v210  v236  v246  v306  \
0        35  1997    1  35000775     7     3     3     3    10   986   NaN
1        26  1997    1  26000202    11     3     2     0     6   939   4.0
2        26  1997    1  26000067    24     3     2     0     9   949   NaN
3        26  1997    1  26000091     8     1     1     3    12   966   4.0
4        43  1997    1  43000223     7     3     3     5     3   979   2.0
...      ..   ...  ...       ...   ...   ...   ...   ...   ...   ...   ...
1099250  35  1997   12  35002883    13     1     1     1     6   951   2.0
1099251  35  1997   12  35002883    22     3     2     6     7   958   2.0
1099252  35  1997   12  35002883    14     3     2     3    12   975   4.0
1099253  35  1997   12  35002883    17     3     2     0     5   960   NaN
1099254  35  1997   12  35002883    18     3     2     1     4   938   NaN

          v309  v339  v311  v341  v0109  v0110
0          NaN   NaN   NaN   NaN      4      4
1        120.0  12.0   NaN   NaN      4      3
2          NaN   NaN   NaN   NaN      8      6
3        200.0  12.0   NaN   NaN      4      2
4        220.0  12.0   NaN   NaN      5      5
...        ...   ...   ...   ...    ...    ...
1099250  420.0  13.0   NaN   NaN      5      4
1099251  800.0  15.0   NaN   NaN      4      3
1099252  200.0  12.0   NaN   NaN      3      2
1099253    NaN   NaN   NaN   NaN      5      5
1099254    NaN   NaN   NaN   NaN      3      3

[1099255 rows x 17 columns]>

In [7]:
b1997pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099255 entries, 0 to 1099254
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1099255 non-null  int64
 1   ano     1099255 non-null  int64
 2   mes     1099255 non-null  int64
 3   v102    1099255 non-null  int64
 4   v103    1099255 non-null  int64
 5   v202    1099255 non-null  int64
 6   v204    1099255 non-null  int64
 7   v210    1099255 non-null  int64
 8   v236    1099255 non-null  int64
 9   v246    1099255 non-null  int64
 10  v306    534928 non-null   float64
 11  v309    512710 non-null   float64
 12  v339    529223 non-null   float64
 13  v311    12688 non-null    float64
 14  v341    13545 non-null    float64
 15  v0109   1099255 non-null  int64
 16  v0110   1099255 non-null  int64
dtypes: float64(5), int64(12)
memory usage: 142.6 MB

## Corregimos los valores NA llenando con ceros

In [8]:
b1997pf['v306'] = b1997pf['v306'].fillna(0)
b1997pf['v309'] = b1997pf['v309'].fillna(0)
b1997pf['v339'] = b1997pf['v339'].fillna(0)
b1997pf['v341'] = b1997pf['v341'].fillna(0)
b1997pf['v311'] = b1997pf['v311'].fillna(0)
b1997pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099255 entries, 0 to 1099254
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1099255 non-null  int64
 1   ano     1099255 non-null  int64
 2   mes     1099255 non-null  int64
 3   v102    1099255 non-null  int64
 4   v103    1099255 non-null  int64
 5   v202    1099255 non-null  int64
 6   v204    1099255 non-null  int64
 7   v210    1099255 non-null  int64
 8   v236    1099255 non-null  int64
 9   v246    1099255 non-null  int64
 10  v306    1099255 non-null  float64
 11  v309    1099255 non-null  float64
 12  v339    1099255 non-null  float64
 13  v311    1099255 non-null  float64
 14  v341    1099255 non-null  float64
 15  v0109   1099255 non-null  int64
 16  v0110   1099255 non-null  int64
dtypes: float64(5), int64(12)
memory usage: 142.6 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2264807455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v306'] = b1997pf['v306'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2264807455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v309'] = b1997pf['v309'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2264807455.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v339'] = b1997pf['v339'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2264807455.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v341'] = b1997pf['v341'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2264807455.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v311'] = b1997pf['v311'].fillna(0)

## Calculamos el ingreso bruto por persona
### ingr_b es la suma del ingreso del trabajo principal y el ingreso de los trabajos no principales

In [9]:
b1997pf['ingr_b'] = b1997pf['v309'] + b1997pf['v311']
b1997pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\4237806860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['ingr_b'] = b1997pf['v309'] + b1997pf['v311']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b
0,35,1997,1,35000775,7,3,3,3,10,986,0.0,0.0,0.0,0.0,0.0,4,4,0.0
1,26,1997,1,26000202,11,3,2,0,6,939,4.0,120.0,12.0,0.0,0.0,4,3,120.0
2,26,1997,1,26000067,24,3,2,0,9,949,0.0,0.0,0.0,0.0,0.0,8,6,0.0
3,26,1997,1,26000091,8,1,1,3,12,966,4.0,200.0,12.0,0.0,0.0,4,2,200.0
4,43,1997,1,43000223,7,3,3,5,3,979,2.0,220.0,12.0,0.0,0.0,5,5,220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,2.0,420.0,13.0,0.0,0.0,5,4,420.0
1099251,35,1997,12,35002883,22,3,2,6,7,958,2.0,800.0,15.0,0.0,0.0,4,3,800.0
1099252,35,1997,12,35002883,14,3,2,3,12,975,4.0,200.0,12.0,0.0,0.0,3,2,200.0
1099253,35,1997,12,35002883,17,3,2,0,5,960,0.0,0.0,0.0,0.0,0.0,5,5,0.0
1099254,35,1997,12,35002883,18,3,2,1,4,938,0.0,0.0,0.0,0.0,0.0,3,3,0.0

In [10]:
b1997pf['ingr_b']

0            0.0
1          120.0
2            0.0
3          200.0
4          220.0
           ...
1099250    420.0
1099251    800.0
1099252    200.0
1099253      0.0
1099254      0.0
Name: ingr_b, Length: 1099255, dtype: float64

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1994.aspx

In [11]:
b1997pf['defl'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2564641291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['defl'] = 0

In [12]:
def1997 = infb.loc[infb['ano']==1997]
def1997['index'] = np.arange(1,13)
def1997 = def1997.set_index('index')
def1997

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\3668287719.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def1997['index'] = np.arange(1,13)

       Unnamed: 0   inf   ano        b100      defl
index
1              29  1.18  1997  147.842779  1.478428
2              30  0.50  1997  148.581993  1.485820
3              31  0.51  1997  149.339761  1.493398
4              32  0.88  1997  150.653951  1.506540
5              33  0.41  1997  151.271633  1.512716
6              34  0.54  1997  152.088499  1.520885
7              35  0.22  1997  152.423094  1.524231
8              36 -0.02  1997  152.392609  1.523926
9              37  0.06  1997  152.484045  1.524840
10             38  0.23  1997  152.834758  1.528348
11             39  0.17  1997  153.094577  1.530946
12             40  0.43  1997  153.752884  1.537529

In [13]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b1997pf.loc[b1997pf['mes']==x]
    fl['defl'] = def1997['defl'][x]
    b1997pf['defl'].loc[b1997pf['mes']==x] = fl['defl']
    del(fl)

mes 1
mes 2

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\3453923307.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl['defl'] = def1997['defl'][x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\3453923307.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['defl'].loc[b1997pf['mes']==x] = fl['defl']

mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [14]:
b1997pf['ingr_r'] = b1997pf['ingr_b']/b1997pf['defl']
b1997pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\1970409996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['ingr_r'] = b1997pf['ingr_b']/b1997pf['defl']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r
0,35,1997,1,35000775,7,3,3,3,10,986,0.0,0.0,0.0,0.0,0.0,4,4,0.0,1.478428,0.000000
1,26,1997,1,26000202,11,3,2,0,6,939,4.0,120.0,12.0,0.0,0.0,4,3,120.0,1.478428,81.167305
2,26,1997,1,26000067,24,3,2,0,9,949,0.0,0.0,0.0,0.0,0.0,8,6,0.0,1.478428,0.000000
3,26,1997,1,26000091,8,1,1,3,12,966,4.0,200.0,12.0,0.0,0.0,4,2,200.0,1.478428,135.278842
4,43,1997,1,43000223,7,3,3,5,3,979,2.0,220.0,12.0,0.0,0.0,5,5,220.0,1.478428,148.806726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,2.0,420.0,13.0,0.0,0.0,5,4,420.0,1.537529,273.165608
1099251,35,1997,12,35002883,22,3,2,6,7,958,2.0,800.0,15.0,0.0,0.0,4,3,800.0,1.537529,520.315443
1099252,35,1997,12,35002883,14,3,2,3,12,975,4.0,200.0,12.0,0.0,0.0,3,2,200.0,1.537529,130.078861
1099253,35,1997,12,35002883,17,3,2,0,5,960,0.0,0.0,0.0,0.0,0.0,5,5,0.0,1.537529,0.000000
1099254,35,1997,12,35002883,18,3,2,1,4,938,0.0,0.0,0.0,0.0,0.0,3,3,0.0,1.537529,0.000000

## Intento de crear un índice para hogares y una variable ingreso hogares

Los intentos de crear un indice para hogares y de calcular el ingreso de cada hogar como la suma de los perceptores de ingresos individuales es posible, pero es demasiado largo y requiere mayor capacidad de cómputo, con 1534 áreas cada una con un promedio de 40 hogares y por doce meses son aproximadamente 736320 iteraciones por año.

Este procedimiento para cada uno de los 20 años, asumiendo que el número de hogares se mantenga igual sería un total de 14 726 400 iteraciones, asumiendo que mi computador sea capáz de realizar 20 iteraciones por segundo el trabajo se completaría en 8.52 días donde la computadora tendría que estar funcionando las 24 horas del día sin descanso.

Desconozco si existe otra base u otros cálculos de la PME donde tengamos el ingreso por hogares como la suma de los ingresos de las personas encuestadas mes a mes o si el autor calculó de esta o de alguna otra forma el ingreso de los hogares.

Ya que al final el autor después de calcular el ingreso de los hogares lo divide para cada uno de los miembros, intentaré aproximar la fórmula del autor directamente para cada persona, de esta manera tendremos un resultado parecido.

Queda el código necesario para calcular el ingreso de los hogares.

In [15]:
#b1997pf['ingr_h'] = 0
#b1997pf

In [16]:
#for x in b1997pf['mes'].unique():
#   for y in b1997pf['v102'].unique():
#       for z in b1997pf['v103'].unique():
#          print('mes', x, 'Área', y, 'Hogar', z)
#           ig = b1997pf.loc[(b1997pf['mes']==x) & (b1997pf['v102']==y) & (b1997pf['v103']==z)]
#           ig['h'] = ig['ingr_b'].sum()
#           b1997pf['ingr_h'].loc[(b1997pf['mes']==x) & (b1997pf['v102']==y) & (b1997pf['v103']==z)] = ig['h']
#           del(ig)

Para calcular un índice de hogares, el siguiente código arroja todos los hogares posibles durante cada mes

In [17]:
#for x in b1994pf['mes'].unique():
#   for y in b1994pf['v102'].unique():
#       for z in b1994pf['v103'].unique():
#           print(x,y,z)

## Calculamos la edad

In [18]:
b1997pf['v246_b'] = 0
b1997pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2064730848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v246_b'] = 0

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,0.0,0.0,0.0,4,4,0.0,1.478428,0.000000,0
1,26,1997,1,26000202,11,3,2,0,6,939,...,120.0,12.0,0.0,0.0,4,3,120.0,1.478428,81.167305,0
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,0.0,0.0,0.0,8,6,0.0,1.478428,0.000000,0
3,26,1997,1,26000091,8,1,1,3,12,966,...,200.0,12.0,0.0,0.0,4,2,200.0,1.478428,135.278842,0
4,43,1997,1,43000223,7,3,3,5,3,979,...,220.0,12.0,0.0,0.0,5,5,220.0,1.478428,148.806726,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,420.0,13.0,0.0,0.0,5,4,420.0,1.537529,273.165608,0
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,800.0,15.0,0.0,0.0,4,3,800.0,1.537529,520.315443,0
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,200.0,12.0,0.0,0.0,3,2,200.0,1.537529,130.078861,0
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,0.0,0.0,0.0,5,5,0.0,1.537529,0.000000,0
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,0.0,0.0,0.0,3,3,0.0,1.537529,0.000000,0

Para las edades de tres dígitos les sumamos 1000

In [19]:
tres = b1997pf.loc[b1997pf['v246'] < 1000]
tres['v246_b'] = b1997pf.loc[b1997pf['v246']<1000]['v246']+1000
b1997pf['v246_b'].loc[b1997pf['v246']<1000] = tres['v246_b']
del(tres)
b1997pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\1737030594.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v246_b'].loc[b1997pf['v246']<1000] = tres['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,0.0,0.0,0.0,4,4,0.0,1.478428,0.000000,1986
1,26,1997,1,26000202,11,3,2,0,6,939,...,120.0,12.0,0.0,0.0,4,3,120.0,1.478428,81.167305,1939
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,0.0,0.0,0.0,8,6,0.0,1.478428,0.000000,1949
3,26,1997,1,26000091,8,1,1,3,12,966,...,200.0,12.0,0.0,0.0,4,2,200.0,1.478428,135.278842,1966
4,43,1997,1,43000223,7,3,3,5,3,979,...,220.0,12.0,0.0,0.0,5,5,220.0,1.478428,148.806726,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,420.0,13.0,0.0,0.0,5,4,420.0,1.537529,273.165608,1951
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,800.0,15.0,0.0,0.0,4,3,800.0,1.537529,520.315443,1958
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,200.0,12.0,0.0,0.0,3,2,200.0,1.537529,130.078861,1975
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,0.0,0.0,0.0,5,5,0.0,1.537529,0.000000,1960
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,0.0,0.0,0.0,3,3,0.0,1.537529,0.000000,1938

Para las edades que solo tienen dos dígitos, los corregimos sumando 1900

In [20]:
cien = b1997pf.loc[b1997pf['v246'] < 100]
cien['v246_b'] = b1997pf.loc[b1997pf['v246']<100]['v246']+1900
b1997pf['v246_b'].loc[b1997pf['v246']<100] = cien['v246_b']
del(cien)
b1997pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\3666715674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cien['v246_b'] = b1997pf.loc[b1997pf['v246']<100]['v246']+1900
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\3666715674.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['v246_b'].loc[b1997pf['v246']<100] = cien['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,0.0,0.0,0.0,4,4,0.0,1.478428,0.000000,1986
1,26,1997,1,26000202,11,3,2,0,6,939,...,120.0,12.0,0.0,0.0,4,3,120.0,1.478428,81.167305,1939
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,0.0,0.0,0.0,8,6,0.0,1.478428,0.000000,1949
3,26,1997,1,26000091,8,1,1,3,12,966,...,200.0,12.0,0.0,0.0,4,2,200.0,1.478428,135.278842,1966
4,43,1997,1,43000223,7,3,3,5,3,979,...,220.0,12.0,0.0,0.0,5,5,220.0,1.478428,148.806726,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,420.0,13.0,0.0,0.0,5,4,420.0,1.537529,273.165608,1951
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,800.0,15.0,0.0,0.0,4,3,800.0,1.537529,520.315443,1958
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,200.0,12.0,0.0,0.0,3,2,200.0,1.537529,130.078861,1975
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,0.0,0.0,0.0,5,5,0.0,1.537529,0.000000,1960
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,0.0,0.0,0.0,3,3,0.0,1.537529,0.000000,1938

Calculamos la edad

In [21]:
b1997pf['edad_c'] = 1997-b1997pf['v246_b']
b1997pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2187418593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pf['edad_c'] = 1997-b1997pf['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,0.0,0.0,4,4,0.0,1.478428,0.000000,1986,11
1,26,1997,1,26000202,11,3,2,0,6,939,...,12.0,0.0,0.0,4,3,120.0,1.478428,81.167305,1939,58
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,0.0,0.0,8,6,0.0,1.478428,0.000000,1949,48
3,26,1997,1,26000091,8,1,1,3,12,966,...,12.0,0.0,0.0,4,2,200.0,1.478428,135.278842,1966,31
4,43,1997,1,43000223,7,3,3,5,3,979,...,12.0,0.0,0.0,5,5,220.0,1.478428,148.806726,1979,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,13.0,0.0,0.0,5,4,420.0,1.537529,273.165608,1951,46
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,15.0,0.0,0.0,4,3,800.0,1.537529,520.315443,1958,39
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,12.0,0.0,0.0,3,2,200.0,1.537529,130.078861,1975,22
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,0.0,0.0,5,5,0.0,1.537529,0.000000,1960,37
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,0.0,0.0,3,3,0.0,1.537529,0.000000,1938,59

Limpiamos de la base los datos con edades negativas

In [22]:
b1997pf = b1997pf.loc[b1997pf['edad_c']>0]

Limpiamos también los datos con edades mayores a 100 años

In [23]:
b1997pf = b1997pf.loc[b1997pf['edad_c']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [24]:
b1997pf = b1997pf.loc[b1997pf['edad_c']>10]

Eliminamos ingresos igual a 9999999999

In [25]:
b1997pf = b1997pf.loc[b1997pf['ingr_b']!=999999999]
b1997pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,0.0,0.0,4,4,0.0,1.478428,0.000000,1986,11
1,26,1997,1,26000202,11,3,2,0,6,939,...,12.0,0.0,0.0,4,3,120.0,1.478428,81.167305,1939,58
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,0.0,0.0,8,6,0.0,1.478428,0.000000,1949,48
3,26,1997,1,26000091,8,1,1,3,12,966,...,12.0,0.0,0.0,4,2,200.0,1.478428,135.278842,1966,31
4,43,1997,1,43000223,7,3,3,5,3,979,...,12.0,0.0,0.0,5,5,220.0,1.478428,148.806726,1979,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,13.0,0.0,0.0,5,4,420.0,1.537529,273.165608,1951,46
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,15.0,0.0,0.0,4,3,800.0,1.537529,520.315443,1958,39
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,12.0,0.0,0.0,3,2,200.0,1.537529,130.078861,1975,22
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,0.0,0.0,5,5,0.0,1.537529,0.000000,1960,37
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,0.0,0.0,3,3,0.0,1.537529,0.000000,1938,59

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [26]:
k = 0.4
s = 0.9

In [27]:
b1997pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,0.0,0.0,4,4,0.0,1.478428,0.000000,1986,11
1,26,1997,1,26000202,11,3,2,0,6,939,...,12.0,0.0,0.0,4,3,120.0,1.478428,81.167305,1939,58
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,0.0,0.0,8,6,0.0,1.478428,0.000000,1949,48
3,26,1997,1,26000091,8,1,1,3,12,966,...,12.0,0.0,0.0,4,2,200.0,1.478428,135.278842,1966,31
4,43,1997,1,43000223,7,3,3,5,3,979,...,12.0,0.0,0.0,5,5,220.0,1.478428,148.806726,1979,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,13.0,0.0,0.0,5,4,420.0,1.537529,273.165608,1951,46
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,15.0,0.0,0.0,4,3,800.0,1.537529,520.315443,1958,39
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,12.0,0.0,0.0,3,2,200.0,1.537529,130.078861,1975,22
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,0.0,0.0,5,5,0.0,1.537529,0.000000,1960,37
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,0.0,0.0,3,3,0.0,1.537529,0.000000,1938,59

In [28]:
b1997pf['den'] = b1997pf['v0110'] + k*(b1997pf['v0109']-b1997pf['v0110'])**s
b1997pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,0.0,4,4,0.0,1.478428,0.000000,1986,11,4.000000
1,26,1997,1,26000202,11,3,2,0,6,939,...,0.0,0.0,4,3,120.0,1.478428,81.167305,1939,58,3.400000
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,0.0,8,6,0.0,1.478428,0.000000,1949,48,6.746426
3,26,1997,1,26000091,8,1,1,3,12,966,...,0.0,0.0,4,2,200.0,1.478428,135.278842,1966,31,2.746426
4,43,1997,1,43000223,7,3,3,5,3,979,...,0.0,0.0,5,5,220.0,1.478428,148.806726,1979,18,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,0.0,0.0,5,4,420.0,1.537529,273.165608,1951,46,4.400000
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,0.0,0.0,4,3,800.0,1.537529,520.315443,1958,39,3.400000
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,0.0,0.0,3,2,200.0,1.537529,130.078861,1975,22,2.400000
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,0.0,5,5,0.0,1.537529,0.000000,1960,37,5.000000
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,0.0,3,3,0.0,1.537529,0.000000,1938,59,3.000000

In [29]:
b1997pf['ingr_t'] = b1997pf['ingr_r']/b1997pf['den']
b1997pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den,ingr_t
0,35,1997,1,35000775,7,3,3,3,10,986,...,0.0,4,4,0.0,1.478428,0.000000,1986,11,4.000000,0.000000
1,26,1997,1,26000202,11,3,2,0,6,939,...,0.0,4,3,120.0,1.478428,81.167305,1939,58,3.400000,23.872737
2,26,1997,1,26000067,24,3,2,0,9,949,...,0.0,8,6,0.0,1.478428,0.000000,1949,48,6.746426,0.000000
3,26,1997,1,26000091,8,1,1,3,12,966,...,0.0,4,2,200.0,1.478428,135.278842,1966,31,2.746426,49.256314
4,43,1997,1,43000223,7,3,3,5,3,979,...,0.0,5,5,220.0,1.478428,148.806726,1979,18,5.000000,29.761345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,1997,12,35002883,13,1,1,1,6,951,...,0.0,5,4,420.0,1.537529,273.165608,1951,46,4.400000,62.083093
1099251,35,1997,12,35002883,22,3,2,6,7,958,...,0.0,4,3,800.0,1.537529,520.315443,1958,39,3.400000,153.033954
1099252,35,1997,12,35002883,14,3,2,3,12,975,...,0.0,3,2,200.0,1.537529,130.078861,1975,22,2.400000,54.199525
1099253,35,1997,12,35002883,17,3,2,0,5,960,...,0.0,5,5,0.0,1.537529,0.000000,1960,37,5.000000,0.000000
1099254,35,1997,12,35002883,18,3,2,1,4,938,...,0.0,3,3,0.0,1.537529,0.000000,1938,59,3.000000,0.000000

---------------------------------------

In [30]:
b1997pi = b1997pf[['uf', 'mes', 'v102', 'v103', 'v0109', 'v0110', 'ingr_b', 'defl', 'ingr_r', 'den', 'ingr_t', 'edad_c']]
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
0,35,1,35000775,7,4,4,0.0,1.478428,0.000000,4.000000,0.000000,11
1,26,1,26000202,11,4,3,120.0,1.478428,81.167305,3.400000,23.872737,58
2,26,1,26000067,24,8,6,0.0,1.478428,0.000000,6.746426,0.000000,48
3,26,1,26000091,8,4,2,200.0,1.478428,135.278842,2.746426,49.256314,31
4,43,1,43000223,7,5,5,220.0,1.478428,148.806726,5.000000,29.761345,18
...,...,...,...,...,...,...,...,...,...,...,...,...
1099250,35,12,35002883,13,5,4,420.0,1.537529,273.165608,4.400000,62.083093,46
1099251,35,12,35002883,22,4,3,800.0,1.537529,520.315443,3.400000,153.033954,39
1099252,35,12,35002883,14,3,2,200.0,1.537529,130.078861,2.400000,54.199525,22
1099253,35,12,35002883,17,5,5,0.0,1.537529,0.000000,5.000000,0.000000,37
1099254,35,12,35002883,18,3,3,0.0,1.537529,0.000000,3.000000,0.000000,59

Vamos a descartar las personas con ingresos de 0

In [31]:
b1997pi = b1997pi.loc[b1997pi['ingr_t']>0]
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
1,26,1,26000202,11,4,3,120.0,1.478428,81.167305,3.400000,23.872737,58
3,26,1,26000091,8,4,2,200.0,1.478428,135.278842,2.746426,49.256314,31
4,43,1,43000223,7,5,5,220.0,1.478428,148.806726,5.000000,29.761345,18
9,33,1,33000131,20,5,5,700.0,1.478428,473.475947,5.000000,94.695189,49
14,43,1,43000649,20,3,1,112.0,1.478428,75.756152,1.746426,43.377810,30
...,...,...,...,...,...,...,...,...,...,...,...,...
1099243,35,12,35002883,2,4,3,600.0,1.537529,390.236582,3.400000,114.775465,35
1099244,35,12,35002883,3,5,4,120.0,1.537529,78.047316,4.400000,17.738026,16
1099250,35,12,35002883,13,5,4,420.0,1.537529,273.165608,4.400000,62.083093,46
1099251,35,12,35002883,22,4,3,800.0,1.537529,520.315443,3.400000,153.033954,39
1099252,35,12,35002883,14,3,2,200.0,1.537529,130.078861,2.400000,54.199525,22

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 1997, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [32]:
b1997pi['um_pobr']=0
b1997pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\1859471500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pi['um_pobr']=0

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
1,26,1,26000202,11,4,3,120.0,1.478428,81.167305,3.400000,23.872737,58,0
3,26,1,26000091,8,4,2,200.0,1.478428,135.278842,2.746426,49.256314,31,0
4,43,1,43000223,7,5,5,220.0,1.478428,148.806726,5.000000,29.761345,18,0
9,33,1,33000131,20,5,5,700.0,1.478428,473.475947,5.000000,94.695189,49,0
14,43,1,43000649,20,3,1,112.0,1.478428,75.756152,1.746426,43.377810,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099243,35,12,35002883,2,4,3,600.0,1.537529,390.236582,3.400000,114.775465,35,0
1099244,35,12,35002883,3,5,4,120.0,1.537529,78.047316,4.400000,17.738026,16,0
1099250,35,12,35002883,13,5,4,420.0,1.537529,273.165608,4.400000,62.083093,46,0
1099251,35,12,35002883,22,4,3,800.0,1.537529,520.315443,3.400000,153.033954,39,0
1099252,35,12,35002883,14,3,2,200.0,1.537529,130.078861,2.400000,54.199525,22,0

In [33]:
pobr = pd.Series([98.72, 92.37, 82.11, 99.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26     98.72
29     92.37
31     82.11
33     99.21
35    119.55
43     62.28
dtype: float64

In [34]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b1997pi.loc[b1997pi['uf']==x]
    p['um_pobr'] = pobr[x]
    b1997pi['um_pobr'].loc[b1997pi['uf']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\3860519756.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\3860519756.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pi['um_pobr'].loc[b1997pi['uf']==x] = p['um_pobr']

-------------------------------------

## Calculo del índice de pobreza de Foster, Greer y Thorbecke

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1984), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

In [35]:
b1997pi = b1997pi.sort_values(['mes', 'ingr_t'])
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21

Creamos la variable g = um_pobr - ingr_t

In [36]:
b1997pi['g']=b1997pi['um_pobr']-b1997pi['ingr_t']
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11,8.148288e+01
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37,9.169361e+01
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37,9.165747e+01
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11,8.134137e+01
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72,9.794666e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72,-6.503942e+08
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37,-6.503942e+08
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11,-6.503945e+08
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21,-9.291346e+08
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21,-1.300789e+09

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [37]:
b1997pi['q'] = 0
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11,8.148288e+01,0
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37,9.169361e+01,0
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37,9.165747e+01,0
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11,8.134137e+01,0
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72,9.794666e+01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72,-6.503942e+08,0
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37,-6.503942e+08,0
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11,-6.503945e+08,0
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21,-9.291346e+08,0
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21,-1.300789e+09,0

In [38]:
ma = b1997pi.loc[b1997pi['g']>0]
ma['q'] = 1
b1997pi['q'] = ma['q']
b1997pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\2602681397.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11,8.148288e+01,1.0
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37,9.169361e+01,1.0
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37,9.165747e+01,1.0
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11,8.134137e+01,1.0
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72,9.794666e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72,-6.503942e+08,NaN
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37,-6.503942e+08,NaN
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11,-6.503945e+08,NaN
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21,-9.291346e+08,NaN
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21,-1.300789e+09,NaN

In [39]:
b1997pi['q'] = b1997pi['q'].fillna(0)
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11,8.148288e+01,1.0
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37,9.169361e+01,1.0
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37,9.165747e+01,1.0
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11,8.134137e+01,1.0
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72,9.794666e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72,-6.503942e+08,0.0
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37,-6.503942e+08,0.0
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11,-6.503945e+08,0.0
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21,-9.291346e+08,0.0
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21,-1.300789e+09,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [40]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [41]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['q'].sum()
del(x)
del(y)
qs

        26      29      31      33      35      43
1   3483.0  3672.0  4786.0  4188.0  4685.0  2441.0
2   3381.0  3606.0  4988.0  4410.0  5090.0  2447.0
3   3567.0  3733.0  5120.0  4392.0  5059.0  2603.0
4   3514.0  3989.0  5150.0  4425.0  5037.0  2642.0
5   3422.0  3991.0  5306.0  4510.0  5127.0  2706.0
6   3495.0  3981.0  5150.0  4460.0  5166.0  2813.0
7   3598.0  4000.0  5327.0  4479.0  5232.0  2823.0
8   3807.0  4049.0  5276.0  4469.0  5119.0  2723.0
9   3879.0  4033.0  5268.0  4447.0  5021.0  2767.0
10  3985.0  4118.0  5255.0  4320.0  4996.0  2780.0
11  3740.0  4140.0  5237.0  4328.0  5054.0  2845.0
12  3682.0  4176.0  4948.0  4174.0  4619.0  2840.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [42]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [43]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['mes'].count()
del(x)
del(y)
ns

        26      29      31      33      35      43
1   4297.0  4596.0  7857.0  6956.0  8349.0  6190.0
2   4187.0  4449.0  7775.0  7045.0  8633.0  5980.0
3   4406.0  4688.0  7961.0  7036.0  8521.0  6203.0
4   4288.0  4997.0  8011.0  7056.0  8462.0  6389.0
5   4261.0  5059.0  8337.0  6934.0  8556.0  6439.0
6   4352.0  5102.0  8289.0  6913.0  8610.0  6684.0
7   4489.0  5132.0  8398.0  6924.0  8750.0  6680.0
8   4732.0  5201.0  8218.0  6930.0  8631.0  6600.0
9   4873.0  5214.0  8284.0  6930.0  8531.0  6833.0
10  4958.0  5321.0  8248.0  6867.0  8505.0  6836.0
11  4661.0  5317.0  8259.0  6938.0  8491.0  6906.0
12  4559.0  5421.0  8036.0  6747.0  8034.0  6817.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [44]:
b1997pi['gq'] = b1997pi['g']*b1997pi['q']
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11,8.148288e+01,1.0,81.482882
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37,9.169361e+01,1.0,91.693606
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37,9.165747e+01,1.0,91.657470
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11,8.134137e+01,1.0,81.341370
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72,9.794666e+01,1.0,97.946662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72,-6.503942e+08,0.0,-0.000000
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37,-6.503942e+08,0.0,-0.000000
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11,-6.503945e+08,0.0,-0.000000
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21,-9.291346e+08,0.0,-0.000000
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21,-1.300789e+09,0.0,-0.000000

In [45]:
b1997pi['sumag_z'] = b1997pi['gq']/b1997pi['um_pobr']
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11,8.148288e+01,1.0,81.482882,0.992362
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37,9.169361e+01,1.0,91.693606,0.992677
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37,9.165747e+01,1.0,91.657470,0.992286
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11,8.134137e+01,1.0,81.341370,0.990639
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72,9.794666e+01,1.0,97.946662,0.992166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72,-6.503942e+08,0.0,-0.000000,-0.000000
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37,-6.503942e+08,0.0,-0.000000,-0.000000
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11,-6.503945e+08,0.0,-0.000000,-0.000000
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21,-9.291346e+08,0.0,-0.000000,-0.000000
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21,-1.300789e+09,0.0,-0.000000,-0.000000

In [46]:
b1997pi['sumag_z0'] = b1997pi['q']
b1997pi['sumag_z1'] = b1997pi['sumag_z']**1
b1997pi['sumag_z2'] = b1997pi['sumag_z']**2
b1997pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
45939,31,1,31001670,22,8,4,5.000000e+00,1.478428,3.381971e+00,5.392881,6.271177e-01,11,82.11,8.148288e+01,1.0,81.482882,0.992362,1.0,0.992362,0.984783
22608,29,1,29000718,25,5,5,5.000000e+00,1.478428,3.381971e+00,5.000000,6.763942e-01,27,92.37,9.169361e+01,1.0,91.693606,0.992677,1.0,0.992677,0.985408
90,29,1,29000440,10,6,4,5.000000e+00,1.478428,3.381971e+00,4.746426,7.125300e-01,28,92.37,9.165747e+01,1.0,91.657470,0.992286,1.0,0.992286,0.984632
51861,31,1,31001785,5,5,4,5.000000e+00,1.478428,3.381971e+00,4.400000,7.686298e-01,50,82.11,8.134137e+01,1.0,81.341370,0.990639,1.0,0.990639,0.981366
72478,26,1,26001926,10,10,8,1.000000e+01,1.478428,6.763942e+00,8.746426,7.733378e-01,33,98.72,9.794666e+01,1.0,97.946662,0.992166,1.0,0.992166,0.984394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094847,26,12,26001799,20,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,31,98.72,-6.503942e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1095317,29,12,29001463,21,2,2,2.000000e+09,1.537529,1.300789e+09,2.000000,6.503943e+08,40,92.37,-6.503942e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1028329,31,12,31000134,6,1,1,1.000000e+09,1.537529,6.503946e+08,1.000000,6.503946e+08,40,82.11,-6.503945e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1032702,33,12,33000930,8,2,1,2.000000e+09,1.537529,1.300789e+09,1.400000,9.291347e+08,52,99.21,-9.291346e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1025932,33,12,33000280,5,1,1,2.000000e+09,1.537529,1.300789e+09,1.000000,1.300789e+09,36,99.21,-1.300789e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [47]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [48]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

        26      29      31      33      35      43
1   3483.0  3672.0  4786.0  4188.0  4685.0  2441.0
2   3381.0  3606.0  4988.0  4410.0  5090.0  2447.0
3   3567.0  3733.0  5120.0  4392.0  5059.0  2603.0
4   3514.0  3989.0  5150.0  4425.0  5037.0  2642.0
5   3422.0  3991.0  5306.0  4510.0  5127.0  2706.0
6   3495.0  3981.0  5150.0  4460.0  5166.0  2813.0
7   3598.0  4000.0  5327.0  4479.0  5232.0  2823.0
8   3807.0  4049.0  5276.0  4469.0  5119.0  2723.0
9   3879.0  4033.0  5268.0  4447.0  5021.0  2767.0
10  3985.0  4118.0  5255.0  4320.0  4996.0  2780.0
11  3740.0  4140.0  5237.0  4328.0  5054.0  2845.0
12  3682.0  4176.0  4948.0  4174.0  4619.0  2840.0

In [49]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [50]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

,26,29,31,33,35,43
1,2238.223149,2378.273226,2563.520562,2200.449420,2340.452917,1022.445496
2,2214.947208,2332.093510,2756.101456,2343.288369,2611.972088,1050.194799
3,2339.125182,2430.429807,2870.793417,2328.818676,2596.825253,1123.827281
4,2328.095394,2600.746060,2896.680764,2375.589557,2597.348105,1135.230194
5,2251.385213,2612.618379,2993.810903,2342.365586,2673.405297,1167.830226
6,2247.528766,2565.196093,2909.594294,2292.891705,2681.318057,1208.190165
7,2313.899984,2577.436934,2954.795271,2274.939983,2739.662588,1223.957394
8,2439.619664,2622.560328,2908.174815,2263.920856,2617.412903,1173.425554
9,2529.473897,2614.618434,2968.221528,2258.010174,2532.473001,1198.178125
10,2601.598343,2665.450209,2901.679990,2208.370395,2515.831252,1210.284087
11,2416.741483,2668.411955,2905.683200,2216.592163,2560.218802,1245.446219
12,2374.645695,2727.527139,2716.169813,2120.990193,2332.545945,1254.867715

In [51]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [52]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

,26,29,31,33,35,43
1,1640.431887,1752.116186,1681.771849,1393.861685,1460.334007,557.936609
2,1640.313481,1717.787232,1839.892515,1498.846392,1655.623913,580.481068
3,1731.248741,1793.844424,1932.942403,1494.058928,1649.947731,624.044644
4,1736.302566,1928.760198,1942.483960,1529.999641,1641.930539,634.030526
5,1666.042986,1935.085774,2010.751775,1504.920518,1708.646640,649.089355
6,1641.908302,1891.529068,1957.213375,1463.635012,1708.131398,674.007989
7,1698.625513,1903.668568,1987.002274,1446.442458,1749.821727,684.857897
8,1801.527725,1933.499650,1948.286105,1440.053641,1658.662187,653.707551
9,1880.020253,1927.089481,2013.995563,1440.262028,1588.876941,669.930442
10,1932.763979,1957.678196,1943.442897,1410.389049,1578.963099,679.460629
11,1786.849521,1960.102297,1950.443822,1411.289919,1614.360604,698.606016
12,1756.839255,2022.026723,1807.343412,1340.872168,1457.888870,716.125399

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)*sumatoria(g/um_pobr)**2 para cada mes y cada región

In [53]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [54]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31        33        35        43
1   0.810566  0.798956  0.609138  0.602070  0.561145  0.394346
2   0.807499  0.810519  0.641543  0.625976  0.589598  0.409197
3   0.809578  0.796288  0.643135  0.624218  0.593710  0.419636
4   0.819496  0.798279  0.642866  0.627126  0.595249  0.413523
5   0.803098  0.788891  0.636440  0.650418  0.599229  0.420252
6   0.803079  0.780282  0.621305  0.645161  0.600000  0.420856
7   0.801515  0.779423  0.634318  0.646880  0.597943  0.422605
8   0.804522  0.778504  0.642005  0.644877  0.593095  0.412576
9   0.796019  0.773494  0.635925  0.641703  0.588559  0.404947
10  0.803752  0.773915  0.637124  0.629096  0.587419  0.406671
11  0.802403  0.778635  0.634096  0.623811  0.595218  0.411961
12  0.807633  0.770338  0.615729  0.618645  0.574932  0.416606

In [55]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [56]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31        33        35        43
1   0.520880  0.517466  0.326272  0.316338  0.280327  0.165177
2   0.529006  0.524184  0.354483  0.332617  0.302557  0.175618
3   0.530895  0.518436  0.360607  0.330986  0.304756  0.181175
4   0.542933  0.520461  0.361588  0.336677  0.306943  0.177685
5   0.528370  0.516430  0.359099  0.337809  0.312460  0.181368
6   0.516436  0.502782  0.351019  0.331678  0.311419  0.180759
7   0.515460  0.502229  0.351845  0.328559  0.313104  0.183227
8   0.515558  0.504242  0.353879  0.326684  0.303257  0.177792
9   0.519079  0.501461  0.358308  0.325831  0.296855  0.175352
10  0.524727  0.500930  0.351804  0.321592  0.295806  0.177046
11  0.518503  0.501864  0.351820  0.319486  0.301521  0.180343
12  0.520870  0.503141  0.338000  0.314360  0.290334  0.184079

In [57]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [58]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31        33        35        43
1   0.381762  0.381226  0.214048  0.200383  0.174911  0.090135
2   0.391763  0.386106  0.236642  0.212753  0.191779  0.097070
3   0.392930  0.382646  0.242801  0.212345  0.193633  0.100604
4   0.404921  0.385984  0.242477  0.216837  0.194036  0.099238
5   0.390998  0.382504  0.241184  0.217035  0.199702  0.100806
6   0.377277  0.370743  0.236122  0.211722  0.198389  0.100839
7   0.378397  0.370941  0.236604  0.208903  0.199980  0.102524
8   0.380712  0.371755  0.237075  0.207800  0.192175  0.099047
9   0.385803  0.369599  0.243119  0.207830  0.186247  0.098043
10  0.389827  0.367915  0.235626  0.205386  0.185651  0.099394
11  0.383362  0.368648  0.236160  0.203415  0.190126  0.101159
12  0.385356  0.372999  0.224906  0.198736  0.181465  0.105050

El autor menciona también los trabajos de Ravallion 1994 y 2016 pero parece ser que no los calcula

----------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/N*sumatoria(y**(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (1999)

In [59]:
b1997pi = b1997pi[['uf', 'mes', 'ingr_b', 'ingr_r', 'den', 'ingr_t']]

In [60]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [61]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

,26,29,31,33,35,43
1,9.703845e+05,1.137854e+06,5.547577e+05,1.612522e+06,392534.755625,1.071457e+06
2,1.747924e+06,1.292572e+06,9.723962e+05,2.042286e+06,253938.698419,1.163137e+06
3,9.822154e+05,1.911892e+06,1.295950e+06,1.805013e+06,390023.585248,1.175957e+06
4,1.675877e+06,1.383157e+06,8.038647e+05,3.080296e+06,770165.724388,8.040868e+05
5,1.537055e+06,1.065058e+06,8.614353e+05,2.472265e+06,401103.228408,1.633878e+06
6,9.919702e+05,1.472595e+06,3.635515e+05,3.391012e+06,522741.698803,1.481242e+06
7,9.502497e+05,1.765244e+06,3.263400e+05,2.662634e+06,651882.431640,1.490385e+06
8,1.209460e+06,1.231278e+06,2.433148e+05,2.521307e+06,304302.205195,5.678522e+05
9,1.379614e+06,8.917223e+05,5.137711e+05,2.738480e+06,493841.782903,1.078514e+06
10,1.721562e+06,1.111829e+06,3.936079e+05,2.404587e+06,470907.814595,6.796332e+05
11,1.678913e+06,8.346979e+05,3.214130e+05,1.877744e+06,382961.747071,5.902547e+05
12,1.796980e+06,7.000157e+05,5.486146e+05,2.056567e+06,251993.591401,7.034176e+05

In [62]:
b1997pi['ingr_t25'] = b1997pi['ingr_t']**(1-0.25)
b1997pi['ingr_t50'] = b1997pi['ingr_t']**(1-0.5)
b1997pi['ingr_t75'] = b1997pi['ingr_t']**(1-0.75)
b1997pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\1881850782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pi['ingr_t25'] = b1997pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\1881850782.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pi['ingr_t50'] = b1997pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_14532\1881850782.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b1997pi['ingr_t75'] = b1997pi['ingr_t']**(1-0.75)

,uf,mes,ingr_b,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
45939,31,1,5.000000e+00,3.381971e+00,5.392881,6.271177e-01,7.047122e-01,0.791908,0.889892
22608,29,1,5.000000e+00,3.381971e+00,5.000000,6.763942e-01,7.458473e-01,0.822432,0.906880
90,29,1,5.000000e+00,3.381971e+00,4.746426,7.125300e-01,7.755367e-01,0.844115,0.918757
51861,31,1,5.000000e+00,3.381971e+00,4.400000,7.686298e-01,8.208956e-01,0.876715,0.936331
72478,26,1,1.000000e+01,6.763942e+00,8.746426,7.733378e-01,8.246638e-01,0.879396,0.937761
...,...,...,...,...,...,...,...,...,...
1094847,26,12,2.000000e+09,1.300789e+09,2.000000,6.503943e+08,4.072701e+06,25502.829318,159.696053
1095317,29,12,2.000000e+09,1.300789e+09,2.000000,6.503943e+08,4.072701e+06,25502.829318,159.696053
1028329,31,12,1.000000e+09,6.503946e+08,1.000000,6.503946e+08,4.072703e+06,25502.835694,159.696073
1032702,33,12,2.000000e+09,1.300789e+09,1.400000,9.291347e+08,5.321806e+06,30481.711220,174.590123
1025932,33,12,2.000000e+09,1.300789e+09,1.000000,1.300789e+09,6.849440e+06,36066.447101,189.911682

In [63]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [64]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,3.094693e+07,3.864117e+07,3.333245e+07,7.673561e+07,2.435831e+07,4.752255e+07
2,5.476086e+07,4.364412e+07,5.624653e+07,9.729465e+07,1.330201e+07,4.425580e+07
3,3.156263e+07,6.462410e+07,7.381061e+07,8.680428e+07,2.122563e+07,5.251408e+07
4,4.747310e+07,4.929111e+07,4.612471e+07,1.410724e+08,4.190669e+07,3.747614e+07
5,4.600523e+07,4.061618e+07,5.398859e+07,1.153463e+08,2.375069e+07,6.975245e+07
6,3.312942e+07,5.625254e+07,2.293547e+07,1.486976e+08,2.747976e+07,6.571121e+07
7,3.203109e+07,6.095075e+07,2.152599e+07,1.234367e+08,3.630912e+07,6.636215e+07
8,4.236250e+07,4.446441e+07,1.399269e+07,1.198127e+08,1.846636e+07,2.564554e+07
9,5.067137e+07,3.442394e+07,2.931045e+07,1.297008e+08,2.916501e+07,4.997772e+07
10,6.213105e+07,4.115700e+07,2.431600e+07,1.132466e+08,2.823023e+07,3.148304e+07
11,5.958326e+07,3.191518e+07,2.050799e+07,9.372409e+07,2.223339e+07,3.051062e+07
12,6.042637e+07,2.815100e+07,3.197373e+07,9.658492e+07,1.441270e+07,3.685759e+07

In [65]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [66]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,261020.726510,321711.225346,327961.087868,6.024023e+05,277824.853300,407137.042655
2,441907.010696,367473.078734,488626.568052,7.393755e+05,178066.823176,348885.956874
3,263419.082656,504201.267405,603152.466779,6.696524e+05,232881.737079,442414.477264
4,348275.209644,393876.285294,403432.966119,1.000444e+06,366182.263522,339902.314993
5,356911.456520,343867.635969,482607.551704,8.565877e+05,259798.791473,534119.244800
6,288762.700444,462129.089001,248621.145614,1.033714e+06,267419.856904,510352.726569
7,277193.529337,459619.031031,246027.865660,9.111962e+05,334771.282775,515256.525049
8,350929.868463,354178.697608,172592.714975,9.008611e+05,225655.252923,249607.914558
9,421487.209351,296033.093666,277260.592674,9.693805e+05,299980.092911,418505.275343
10,496542.463819,335272.161502,258166.391457,8.561086e+05,295798.268734,289031.441236
11,491967.342802,271945.670481,233517.760832,7.495940e+05,247370.809008,300360.994558
12,483588.845609,253040.288903,306974.057663,7.511430e+05,193613.714123,353217.278882

In [67]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [68]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,12865.709652,13989.735186,25215.398244,25126.682316,29231.263574,22085.089808
2,13883.412727,13994.729369,25485.622499,26051.845390,28805.170762,20584.471863
3,13085.987670,15528.464253,26665.080171,25613.324601,28781.313279,22069.192181
4,13114.714936,15460.406260,25403.194285,27603.244242,29335.184907,21972.118663
5,13396.930838,15396.045874,27178.393806,26463.866625,29027.025459,23215.024688
6,13434.031973,16547.553882,25431.166184,27388.010138,29211.184750,23829.669243
7,13666.232848,16385.804121,25790.114375,26878.772082,30112.538576,23829.650259
8,14810.968421,15886.454107,24627.908803,26896.328106,29229.486535,22030.539033
9,15743.248672,15596.856464,25422.840491,27391.073701,29593.074779,23924.769288
10,16362.857729,16120.547935,25384.955919,26553.284795,29447.549411,23066.518569
11,15700.836741,15660.779199,25220.760559,26313.099302,28923.778928,23421.453343
12,15233.091886,15846.274684,25247.713533,25692.225512,27319.474847,23432.044058

In [69]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [70]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.856674  0.849753  0.876203  0.847708  0.893797  0.858647
2   0.823708  0.837534  0.856114  0.837759  0.929917  0.876008
3   0.859407  0.827120  0.849704  0.842067  0.913423  0.853274
4   0.852764  0.847053  0.871625  0.823835  0.890395  0.868439
5   0.844748  0.849059  0.859880  0.828236  0.902736  0.853298
6   0.849038  0.833358  0.893150  0.823591  0.910107  0.857818
7   0.855437  0.846496  0.892507  0.825094  0.897708  0.856706
8   0.846306  0.858025  0.916438  0.822690  0.909401  0.892422
9   0.835488  0.861104  0.895060  0.818545  0.895713  0.868358
10  0.830925  0.862418  0.892603  0.825430  0.894856  0.887256
11  0.821968  0.869309  0.895384  0.828662  0.905759  0.877183
12  0.825445  0.871537  0.885078  0.830986  0.913497  0.865094

In [71]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [72]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.996197  0.995694  0.996859  0.995349  0.997179  0.995962
2   0.993627  0.994722  0.995938  0.994607  0.998325  0.997074
3   0.996361  0.993950  0.995571  0.994982  0.998085  0.995674
4   0.996064  0.995508  0.996845  0.993474  0.997569  0.996480
5   0.995435  0.995662  0.996110  0.993827  0.997701  0.995789
6   0.995562  0.994429  0.997525  0.993406  0.998155  0.996064
7   0.995987  0.995456  0.997370  0.993496  0.997755  0.996008
8   0.995453  0.996234  0.998187  0.993298  0.997754  0.997481
9   0.994577  0.996385  0.997820  0.992855  0.997496  0.996522
10  0.994174  0.996429  0.997511  0.993536  0.997431  0.997370
11  0.993364  0.996866  0.997513  0.993783  0.997784  0.996795
12  0.993739  0.996887  0.997340  0.993973  0.997695  0.996183

In [73]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [74]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.999917  0.999925  0.999809  0.999894  0.999617  0.999849
2   0.999931  0.999924  0.999881  0.999908  0.999512  0.999879
3   0.999921  0.999937  0.999903  0.999903  0.999666  0.999864
4   0.999948  0.999934  0.999874  0.999924  0.999812  0.999826
5   0.999936  0.999919  0.999869  0.999914  0.999670  0.999897
6   0.999908  0.999925  0.999756  0.999927  0.999747  0.999891
7   0.999910  0.999941  0.999727  0.999915  0.999785  0.999891
8   0.999921  0.999929  0.999669  0.999910  0.999568  0.999781
9   0.999921  0.999910  0.999827  0.999911  0.999707  0.999861
10  0.999931  0.999924  0.999772  0.999907  0.999695  0.999809
11  0.999923  0.999910  0.999729  0.999890  0.999648  0.999776
12  0.999931  0.999896  0.999822  0.999898  0.999469  0.999802

In [75]:
a25['ano'] = 1997
a50['ano'] = 1997
a75['ano'] = 1997
fgt0['ano'] = 1997
fgt1['ano'] = 1997
fgt2['ano'] = 1997

## Calculamos el ingreso promedio por año y región

In [76]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [77]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b1997pi.loc[(b1997pi['uf']==x) & (b1997pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

,26,29,31,33,35,43
1,9.703845e+05,1.137854e+06,5.547577e+05,1.612522e+06,392534.755625,1.071457e+06
2,1.747924e+06,1.292572e+06,9.723962e+05,2.042286e+06,253938.698419,1.163137e+06
3,9.822154e+05,1.911892e+06,1.295950e+06,1.805013e+06,390023.585248,1.175957e+06
4,1.675877e+06,1.383157e+06,8.038647e+05,3.080296e+06,770165.724388,8.040868e+05
5,1.537055e+06,1.065058e+06,8.614353e+05,2.472265e+06,401103.228408,1.633878e+06
6,9.919702e+05,1.472595e+06,3.635515e+05,3.391012e+06,522741.698803,1.481242e+06
7,9.502497e+05,1.765244e+06,3.263400e+05,2.662634e+06,651882.431640,1.490385e+06
8,1.209460e+06,1.231278e+06,2.433148e+05,2.521307e+06,304302.205195,5.678522e+05
9,1.379614e+06,8.917223e+05,5.137711e+05,2.738480e+06,493841.782903,1.078514e+06
10,1.721562e+06,1.111829e+06,3.936079e+05,2.404587e+06,470907.814595,6.796332e+05
11,1.678913e+06,8.346979e+05,3.214130e+05,1.877744e+06,382961.747071,5.902547e+05
12,1.796980e+06,7.000157e+05,5.486146e+05,2.056567e+06,251993.591401,7.034176e+05

In [78]:
ynr['ano'] = 1997

--------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [79]:
a25_97 = a25
a50_97 = a50
a75_97 = a75
fgt0_97 = fgt0
fgt1_97 = fgt1
fgt2_97 = fgt2
ynr_97 = ynr

In [80]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b1997p, b1997pf, b1997pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [81]:
a25_97.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1997\\a25_97.csv')
a50_97.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1997\\a50_97.csv')
a75_97.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1997\\a75_97.csv')
fgt0_97.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1997\\fgt0_97.csv')
fgt1_97.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1997\\fgt1_97.csv')
fgt2_97.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1997\\fgt2_97.csv')
ynr_97.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\1997\\ynr_97.csv')

          26        29        31        33        35        43   ano
1   0.381762  0.381226  0.214048  0.200383  0.174911  0.090135  1997
2   0.391763  0.386106  0.236642  0.212753  0.191779  0.097070  1997
3   0.392930  0.382646  0.242801  0.212345  0.193633  0.100604  1997
4   0.404921  0.385984  0.242477  0.216837  0.194036  0.099238  1997
5   0.390998  0.382504  0.241184  0.217035  0.199702  0.100806  1997
6   0.377277  0.370743  0.236122  0.211722  0.198389  0.100839  1997
7   0.378397  0.370941  0.236604  0.208903  0.199980  0.102524  1997
8   0.380712  0.371755  0.237075  0.207800  0.192175  0.099047  1997
9   0.385803  0.369599  0.243119  0.207830  0.186247  0.098043  1997
10  0.389827  0.367915  0.235626  0.205386  0.185651  0.099394  1997
11  0.383362  0.368648  0.236160  0.203415  0.190126  0.101159  1997
12  0.385356  0.372999  0.224906  0.198736  0.181465  0.105050  1997