In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [2]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\2003\\pmenova\\pmenova2003.csv'
b2003p = pd.read_csv(basep)
b2003p.head()

,v035,v040,v050,v055,v060,v063,v070,v075,v072,v104,...,v4241df,vI4241df,v4302df,vI4302df,v4312df,vI4312df,vD23df,vD24df,vD25df,vD26df
0,26,26000011,1,1,C,1,1,2003,8,1,...,4394.57280,4394.57280,NaN,NaN,NaN,NaN,4394.57280,4394.57280,4394.57280,4394.57280
1,26,26000011,1,1,C,1,1,2003,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,26000011,1,1,C,1,1,2003,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26,26000011,2,1,C,1,1,2003,8,1,...,878.91461,878.91461,NaN,NaN,NaN,NaN,878.91461,878.91461,878.91461,878.91461
4,26,26000011,2,1,C,1,1,2003,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Abrimos la tabla con el deflactor

In [3]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos

In [4]:
b2003p.describe()

,v035,v040,v050,v055,v063,v070,v075,v072,v104,v106,...,v4241df,vI4241df,v4302df,vI4302df,v4312df,vI4312df,vD23df,vD24df,vD25df,vD26df
count,1.202644e+06,1.202644e+06,1.202644e+06,1.202644e+06,1.202644e+06,1.202644e+06,1202644.0,1.202644e+06,1202644.0,1.202644e+06,...,118418.000000,128356.000000,9596.000000,10940.000000,9518.000000,10940.000000,493752.000000,493752.000000,493791.000000,493791.000000
mean,3.299896e+01,3.300070e+07,1.000651e+01,2.485938e+00,4.474463e+00,6.520582e+00,2003.0,4.505866e+00,1.0,1.144936e+02,...,1773.017856,1819.234990,1720.792942,1763.997495,1635.784576,1688.681006,1607.196665,1588.173561,1646.151307,1625.461059
std,5.019348e+00,5.019491e+06,5.881651e+00,1.118271e+00,2.289644e+00,3.444805e+00,0.0,2.290217e+00,0.0,9.684760e+01,...,3466.233715,3506.779586,2292.957654,2318.853213,2256.138992,2311.706229,2585.013334,2623.101471,2682.076349,2716.629940
min,2.600000e+01,2.600001e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2003.0,1.000000e+00,1.0,2.000000e+00,...,0.000000,0.000000,2.061991,2.061991,0.000000,0.000000,2.020245,0.000000,2.020245,0.000000
25%,2.900000e+01,2.900201e+07,5.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,2003.0,3.000000e+00,1.0,1.800000e+01,...,412.398220,414.300690,431.020940,439.457310,409.917020,412.398220,538.776180,509.331820,543.446040,512.396300
50%,3.300000e+01,3.300091e+07,1.000000e+01,2.000000e+00,4.000000e+00,6.000000e+00,2003.0,4.000000e+00,1.0,1.180000e+02,...,823.936650,824.796450,1014.896200,1024.792600,922.313290,967.406585,862.041870,849.989260,862.041870,855.677430
75%,3.500000e+01,3.500230e+07,1.400000e+01,3.000000e+00,6.000000e+00,1.000000e+01,2003.0,7.000000e+00,1.0,2.020000e+02,...,1826.813200,1912.475800,2061.991200,2071.503400,2059.841600,2061.991200,1639.668100,1639.668100,1649.592900,1647.964800
max,4.300000e+01,4.300330e+07,6.600000e+01,4.000000e+00,8.000000e+00,1.200000e+01,2003.0,8.000000e+00,1.0,2.520000e+02,...,158204.630000,158204.630000,32326.570000,32326.570000,32326.570000,32326.570000,131837.190000,158204.630000,138429.050000,164796.480000

## Nos quedamos con las columnas que vamos a usar

In [5]:
#Nos quedamos con los datos que necesitamos
b2003pf = b2003p[['v035', 'v075', 'v070', 'v040', 'v050', 'v115', 'v209', 'v210', 'v234', 'vD26']]
b2003pf.head()

   v035  v075  v070      v040  v050  v115  v209  v210  v234    vD26
0    26  2003     1  26000011     1   200     3     2    44  2000.0
1    26  2003     1  26000011     1   200     3     2    27     NaN
2    26  2003     1  26000011     1   200     3     2     6     NaN
3    26  2003     1  26000011     2   200     4     4    53   400.0
4    26  2003     1  26000011     2   200     4     4    52     NaN

In [6]:
b2003pf.describe()

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26
count,1.202644e+06,1202644.0,1.202644e+06,1.202644e+06,1.202644e+06,1.202644e+06,1.202644e+06,1.202644e+06,1.202644e+06,493791.000000
mean,3.299896e+01,2003.0,6.520582e+00,3.300070e+07,1.000651e+01,2.267747e+02,4.150316e+00,3.395753e+00,3.094305e+01,781.103102
std,5.019348e+00,0.0,3.444805e+00,5.019491e+06,5.881651e+00,1.881763e+01,1.840076e+00,1.548411e+00,1.990456e+01,1300.028021
min,2.600000e+01,2003.0,1.000000e+00,2.600001e+07,1.000000e+00,2.000000e+02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,2.900000e+01,2003.0,4.000000e+00,2.900201e+07,5.000000e+00,2.000000e+02,3.000000e+00,2.000000e+00,1.500000e+01,250.000000
50%,3.300000e+01,2003.0,6.000000e+00,3.300091e+07,1.000000e+01,2.400000e+02,4.000000e+00,3.000000e+00,2.800000e+01,400.000000
75%,3.500000e+01,2003.0,1.000000e+01,3.500230e+07,1.400000e+01,2.400000e+02,5.000000e+00,4.000000e+00,4.500000e+01,800.000000
max,4.300000e+01,2003.0,1.200000e+01,4.300330e+07,6.600000e+01,2.400000e+02,1.900000e+01,1.600000e+01,1.200000e+02,75000.000000

In [7]:
b2003pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202644 entries, 0 to 1202643
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   v035    1202644 non-null  int64
 1   v075    1202644 non-null  int64
 2   v070    1202644 non-null  int64
 3   v040    1202644 non-null  int64
 4   v050    1202644 non-null  int64
 5   v115    1202644 non-null  int64
 6   v209    1202644 non-null  int64
 7   v210    1202644 non-null  int64
 8   v234    1202644 non-null  int64
 9   vD26    493791 non-null   float64
dtypes: float64(1), int64(9)
memory usage: 91.8 MB

In [8]:
b2003pf['vD26'] = b2003pf['vD26'].fillna(0)
b2003pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202644 entries, 0 to 1202643
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   v035    1202644 non-null  int64
 1   v075    1202644 non-null  int64
 2   v070    1202644 non-null  int64
 3   v040    1202644 non-null  int64
 4   v050    1202644 non-null  int64
 5   v115    1202644 non-null  int64
 6   v209    1202644 non-null  int64
 7   v210    1202644 non-null  int64
 8   v234    1202644 non-null  int64
 9   vD26    1202644 non-null  float64
dtypes: float64(1), int64(9)
memory usage: 91.8 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\3165478023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pf['vD26'] = b2003pf['vD26'].fillna(0)

No es necesario calcular el ingreso por persona ya que la variable vD26, recoge toda esta información, como la suma de los ingresos del trabajo principal y los no principales

In [9]:
b2003pf['vD26']

0          2000.0
1             0.0
2             0.0
3           400.0
4             0.0
            ...
1202639    2000.0
1202640       0.0
1202641     300.0
1202642     360.0
1202643       0.0
Name: vD26, Length: 1202644, dtype: float64

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1994.aspx

In [10]:
b2003pf['defl'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\188628226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pf['defl'] = 0

In [11]:
def2003 = infb.loc[infb['ano']==2003]
def2003['index'] = np.arange(1,13)
def2003 = def2003.set_index('index')
def2003

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\868214326.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def2003['index'] = np.arange(1,13)

       Unnamed: 0   inf   ano        b100      defl
index
1             101  2.25  2003  223.554495  2.235545
2             102  1.57  2003  227.064300  2.270643
3             103  1.23  2003  229.857191  2.298572
4             104  0.97  2003  232.086806  2.320868
5             105  0.61  2003  233.502536  2.335025
6             106 -0.15  2003  233.152282  2.331523
7             107  0.20  2003  233.618586  2.336186
8             108  0.34  2003  234.412890  2.344129
9             109  0.78  2003  236.241310  2.362413
10            110  0.29  2003  236.926410  2.369264
11            111  0.34  2003  237.731960  2.377320
12            112  0.52  2003  238.968166  2.389682

In [12]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b2003pf.loc[b2003pf['v070']==x]
    fl['defl'] = def2003['defl'][x]
    b2003pf['defl'].loc[b2003pf['v070']==x] = fl['defl']
    del(fl)

mes 1

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\872061026.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl['defl'] = def2003['defl'][x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\872061026.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pf['defl'].loc[b2003pf['v070']==x] = fl['defl']

mes 2
mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [13]:
b2003pf['ingr_r'] = b2003pf['vD26']/b2003pf['defl']
b2003pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\4052302924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pf['ingr_r'] = b2003pf['vD26']/b2003pf['defl']

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451
1,26,2003,1,26000011,1,200,3,2,27,0.0,2.235545,0.000000
2,26,2003,1,26000011,1,200,3,2,6,0.0,2.235545,0.000000
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290
4,26,2003,1,26000011,2,200,4,4,52,0.0,2.235545,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561
1202640,43,2003,12,43003296,20,240,3,2,5,0.0,2.389682,0.000000
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681
1202643,43,2003,12,43003296,21,240,3,2,3,0.0,2.389682,0.000000

No Vamos a intentar un índice hogares o un ingreso por hogar ya que el problema que se daba con pme antiga se mantiene para pme nova, y sigue siendo la capacidad de cómputo

Tampoco es necesario calcular la edad, ya que la variable v234 ya nos da una edad calculada

Limpiamos de la base los datos con edades negativas

In [14]:
b2003pf = b2003pf.loc[b2003pf['v234']>0]

Limpiamos también los datos con edades mayores a 100 años

In [15]:
b2003pf = b2003pf.loc[b2003pf['v234']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [16]:
b2003pf = b2003pf.loc[b2003pf['v234']>10]

Eliminamos ingresos igual a 9999999999

In [17]:
b2003pf = b2003pf.loc[b2003pf['vD26']!=999999999]
b2003pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451
1,26,2003,1,26000011,1,200,3,2,27,0.0,2.235545,0.000000
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290
4,26,2003,1,26000011,2,200,4,4,52,0.0,2.235545,0.000000
5,26,2003,1,26000011,2,200,4,4,25,450.0,2.235545,201.293202
...,...,...,...,...,...,...,...,...,...,...,...,...
1202636,43,2003,12,43003296,19,240,3,2,30,300.0,2.389682,125.539734
1202638,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [18]:
k = 0.4
s = 0.9

In [19]:
b2003pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451
1,26,2003,1,26000011,1,200,3,2,27,0.0,2.235545,0.000000
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290
4,26,2003,1,26000011,2,200,4,4,52,0.0,2.235545,0.000000
5,26,2003,1,26000011,2,200,4,4,25,450.0,2.235545,201.293202
...,...,...,...,...,...,...,...,...,...,...,...,...
1202636,43,2003,12,43003296,19,240,3,2,30,300.0,2.389682,125.539734
1202638,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681

In [20]:
b2003pf['den'] = b2003pf['v210'] + k*(b2003pf['v209']-b2003pf['v210'])**s
b2003pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451,2.4
1,26,2003,1,26000011,1,200,3,2,27,0.0,2.235545,0.000000,2.4
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290,4.0
4,26,2003,1,26000011,2,200,4,4,52,0.0,2.235545,0.000000,4.0
5,26,2003,1,26000011,2,200,4,4,25,450.0,2.235545,201.293202,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202636,43,2003,12,43003296,19,240,3,2,30,300.0,2.389682,125.539734,2.4
1202638,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734,2.4
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681,2.4

In [21]:
b2003pf['ingr_t'] = b2003pf['ingr_r']/b2003pf['den']
b2003pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451,2.4,372.765188
1,26,2003,1,26000011,1,200,3,2,27,0.0,2.235545,0.000000,2.4,0.000000
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290,4.0,44.731823
4,26,2003,1,26000011,2,200,4,4,52,0.0,2.235545,0.000000,4.0,0.000000
5,26,2003,1,26000011,2,200,4,4,25,450.0,2.235545,201.293202,4.0,50.323300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202636,43,2003,12,43003296,19,240,3,2,30,300.0,2.389682,125.539734,2.4,52.308223
1202638,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734,2.4,52.308223
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681,2.4,62.769867

-----------------------------------------

Vamos a descartar las personas con ingresos de 0

In [22]:
b2003pi = b2003pf.loc[b2003pf['ingr_t']>0]
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451,2.4,372.765188
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290,4.0,44.731823
5,26,2003,1,26000011,2,200,4,4,25,450.0,2.235545,201.293202,4.0,50.323300
7,26,2003,1,26000011,4,200,3,2,37,4000.0,2.235545,1789.272903,2.4,745.530376
10,26,2003,1,26000011,5,200,2,2,29,700.0,2.235545,313.122758,2.0,156.561379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202636,43,2003,12,43003296,19,240,3,2,30,300.0,2.389682,125.539734,2.4,52.308223
1202638,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734,2.4,52.308223
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681,2.4,62.769867

In [23]:
b2003pi.describe()

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t
count,477301.000000,477301.0,477301.000000,4.773010e+05,477301.000000,477301.000000,477301.000000,477301.000000,477301.000000,477301.000000,477301.000000,477301.000000,477301.000000,477301.000000
mean,33.186551,2003.0,6.541405,3.318831e+07,10.012158,226.841092,3.885607,3.332551,36.618140,806.879060,2.331523,346.344682,3.543480,128.791935
std,4.968500,0.0,3.447787,4.968633e+06,5.906166,18.793621,1.729651,1.514907,12.330485,1313.412526,0.042731,565.506773,1.542607,268.393401
min,26.000000,2003.0,1.000000,2.600001e+07,1.000000,200.000000,1.000000,1.000000,11.000000,1.000000,2.235545,0.418466,1.000000,0.045838
25%,29.000000,2003.0,4.000000,2.900240e+07,5.000000,200.000000,3.000000,2.000000,27.000000,260.000000,2.320868,113.573287,2.400000,31.991414
50%,33.000000,2003.0,7.000000,3.300131e+07,10.000000,240.000000,4.000000,3.000000,36.000000,423.000000,2.336186,182.722149,3.400000,59.077522
75%,35.000000,2003.0,10.000000,3.500242e+07,14.000000,240.000000,5.000000,4.000000,45.000000,800.000000,2.369264,343.123384,4.400000,124.747090
max,43.000000,2003.0,12.000000,4.300330e+07,65.000000,240.000000,19.000000,16.000000,97.000000,75000.000000,2.389682,33548.866928,16.400000,22365.911285

## Calculo del índice de pobreza de Foster, Greer y Thorbecke¶

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1984), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 1996, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [24]:
b2003pi['um_pobr']=0
b2003pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\3782236813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pi['um_pobr']=0

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451,2.4,372.765188,0
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290,4.0,44.731823,0
5,26,2003,1,26000011,2,200,4,4,25,450.0,2.235545,201.293202,4.0,50.323300,0
7,26,2003,1,26000011,4,200,3,2,37,4000.0,2.235545,1789.272903,2.4,745.530376,0
10,26,2003,1,26000011,5,200,2,2,29,700.0,2.235545,313.122758,2.0,156.561379,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202636,43,2003,12,43003296,19,240,3,2,30,300.0,2.389682,125.539734,2.4,52.308223,0
1202638,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484,0
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484,0
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734,2.4,52.308223,0
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681,2.4,62.769867,0

In [25]:
pobr = pd.Series([98.72, 92.37, 82.11, 99.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26     98.72
29     92.37
31     82.11
33     99.21
35    119.55
43     62.28
dtype: float64

In [26]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b2003pi.loc[b2003pi['v035']==x]
    p['um_pobr'] = pobr[x]
    b2003pi['um_pobr'].loc[b2003pi['v035']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\780679638.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\780679638.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pi['um_pobr'].loc[b2003pi['v035']==x] = p['um_pobr']

--------------------------------------------------

In [27]:
b2003pi = b2003pi.sort_values(['v070', 'ingr_t'])
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr
33150,31,2003,1,31001149,3,200,6,5,20,1.0,2.235545,0.447318,5.400000,0.082837,82.11
82843,35,2003,1,35004223,19,200,5,5,55,1.0,2.235545,0.447318,5.000000,0.089464,119.55
66667,35,2003,1,35001097,9,200,6,4,48,1.0,2.235545,0.447318,4.746426,0.094243,119.55
76748,35,2003,1,35002988,16,200,5,4,56,1.0,2.235545,0.447318,4.400000,0.101663,119.55
93977,43,2003,1,43002439,2,200,4,4,19,1.0,2.235545,0.447318,4.000000,0.111830,62.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,2.389682,10461.644507,2.000000,5230.822253,82.11
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,2.389682,8369.315605,1.400000,5978.082575,119.55
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,2.389682,12553.973408,2.000000,6276.986704,92.37
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,2.389682,10461.644507,1.000000,10461.644507,119.55
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,2.389682,10880.110287,1.000000,10880.110287,119.55

Creamos la variable g = um_pobr - ingr_t

In [28]:
b2003pi['g']=b2003pi['um_pobr']-b2003pi['ingr_t']
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g
33150,31,2003,1,31001149,3,200,6,5,20,1.0,2.235545,0.447318,5.400000,0.082837,82.11,82.027163
82843,35,2003,1,35004223,19,200,5,5,55,1.0,2.235545,0.447318,5.000000,0.089464,119.55,119.460536
66667,35,2003,1,35001097,9,200,6,4,48,1.0,2.235545,0.447318,4.746426,0.094243,119.55,119.455757
76748,35,2003,1,35002988,16,200,5,4,56,1.0,2.235545,0.447318,4.400000,0.101663,119.55,119.448337
93977,43,2003,1,43002439,2,200,4,4,19,1.0,2.235545,0.447318,4.000000,0.111830,62.28,62.168170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,2.389682,10461.644507,2.000000,5230.822253,82.11,-5148.712253
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,2.389682,8369.315605,1.400000,5978.082575,119.55,-5858.532575
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,2.389682,12553.973408,2.000000,6276.986704,92.37,-6184.616704
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,2.389682,10461.644507,1.000000,10461.644507,119.55,-10342.094507
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,2.389682,10880.110287,1.000000,10880.110287,119.55,-10760.560287

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [29]:
b2003pi['q'] = 0
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q
33150,31,2003,1,31001149,3,200,6,5,20,1.0,2.235545,0.447318,5.400000,0.082837,82.11,82.027163,0
82843,35,2003,1,35004223,19,200,5,5,55,1.0,2.235545,0.447318,5.000000,0.089464,119.55,119.460536,0
66667,35,2003,1,35001097,9,200,6,4,48,1.0,2.235545,0.447318,4.746426,0.094243,119.55,119.455757,0
76748,35,2003,1,35002988,16,200,5,4,56,1.0,2.235545,0.447318,4.400000,0.101663,119.55,119.448337,0
93977,43,2003,1,43002439,2,200,4,4,19,1.0,2.235545,0.447318,4.000000,0.111830,62.28,62.168170,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,2.389682,10461.644507,2.000000,5230.822253,82.11,-5148.712253,0
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,2.389682,8369.315605,1.400000,5978.082575,119.55,-5858.532575,0
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,2.389682,12553.973408,2.000000,6276.986704,92.37,-6184.616704,0
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,2.389682,10461.644507,1.000000,10461.644507,119.55,-10342.094507,0
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,2.389682,10880.110287,1.000000,10880.110287,119.55,-10760.560287,0

In [30]:
ma = b2003pi.loc[b2003pi['g']>0]
ma['q'] = 1
b2003pi['q'] = ma['q']
b2003pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\26313603.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q
33150,31,2003,1,31001149,3,200,6,5,20,1.0,2.235545,0.447318,5.400000,0.082837,82.11,82.027163,1.0
82843,35,2003,1,35004223,19,200,5,5,55,1.0,2.235545,0.447318,5.000000,0.089464,119.55,119.460536,1.0
66667,35,2003,1,35001097,9,200,6,4,48,1.0,2.235545,0.447318,4.746426,0.094243,119.55,119.455757,1.0
76748,35,2003,1,35002988,16,200,5,4,56,1.0,2.235545,0.447318,4.400000,0.101663,119.55,119.448337,1.0
93977,43,2003,1,43002439,2,200,4,4,19,1.0,2.235545,0.447318,4.000000,0.111830,62.28,62.168170,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,2.389682,10461.644507,2.000000,5230.822253,82.11,-5148.712253,NaN
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,2.389682,8369.315605,1.400000,5978.082575,119.55,-5858.532575,NaN
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,2.389682,12553.973408,2.000000,6276.986704,92.37,-6184.616704,NaN
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,2.389682,10461.644507,1.000000,10461.644507,119.55,-10342.094507,NaN
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,2.389682,10880.110287,1.000000,10880.110287,119.55,-10760.560287,NaN

In [31]:
b2003pi['q'] = b2003pi['q'].fillna(0)
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q
33150,31,2003,1,31001149,3,200,6,5,20,1.0,2.235545,0.447318,5.400000,0.082837,82.11,82.027163,1.0
82843,35,2003,1,35004223,19,200,5,5,55,1.0,2.235545,0.447318,5.000000,0.089464,119.55,119.460536,1.0
66667,35,2003,1,35001097,9,200,6,4,48,1.0,2.235545,0.447318,4.746426,0.094243,119.55,119.455757,1.0
76748,35,2003,1,35002988,16,200,5,4,56,1.0,2.235545,0.447318,4.400000,0.101663,119.55,119.448337,1.0
93977,43,2003,1,43002439,2,200,4,4,19,1.0,2.235545,0.447318,4.000000,0.111830,62.28,62.168170,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,2.389682,10461.644507,2.000000,5230.822253,82.11,-5148.712253,0.0
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,2.389682,8369.315605,1.400000,5978.082575,119.55,-5858.532575,0.0
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,2.389682,12553.973408,2.000000,6276.986704,92.37,-6184.616704,0.0
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,2.389682,10461.644507,1.000000,10461.644507,119.55,-10342.094507,0.0
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,2.389682,10880.110287,1.000000,10880.110287,119.55,-10760.560287,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [32]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [33]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['q'].sum()
del(x)
del(y)
qs

        26      29      31      33      35      43
1   3714.0  3598.0  4659.0  3465.0  5559.0  2515.0
2   3991.0  3839.0  4971.0  4109.0  6394.0  2670.0
3   3952.0  3896.0  5036.0  4410.0  6405.0  2696.0
4   3941.0  3999.0  5253.0  4676.0  6337.0  2736.0
5   3880.0  3797.0  5239.0  4702.0  6309.0  2703.0
6   3797.0  3665.0  5231.0  4817.0  6314.0  2790.0
7   3862.0  3365.0  5134.0  4684.0  6203.0  2381.0
8   3976.0  3471.0  5225.0  4625.0  6152.0  2703.0
9   3997.0  3522.0  5270.0  4703.0  6288.0  2797.0
10  4052.0  3603.0  5229.0  4719.0  6243.0  2726.0
11  4085.0  3766.0  5219.0  4745.0  6367.0  2787.0
12  4073.0  3760.0  5091.0  4521.0  6188.0  2681.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [34]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [35]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['v070'].count()
del(x)
del(y)
ns

        26      29      31      33      35      43
1   4951.0  5071.0  7481.0  5981.0  9189.0  5862.0
2   5030.0  5135.0  7381.0  6121.0  9381.0  5842.0
3   4950.0  5140.0  7411.0  6558.0  9366.0  5960.0
4   4895.0  5312.0  7675.0  7022.0  9310.0  5995.0
5   4888.0  5111.0  7625.0  7277.0  9185.0  5989.0
6   4844.0  5000.0  7568.0  7517.0  9306.0  6058.0
7   4925.0  4642.0  7384.0  7333.0  9242.0  5104.0
8   4979.0  4847.0  7586.0  7356.0  9111.0  5905.0
9   5058.0  4894.0  7674.0  7356.0  9257.0  6020.0
10  5073.0  4997.0  7704.0  7309.0  9087.0  5978.0
11  5062.0  5243.0  7813.0  7310.0  9244.0  6157.0
12  5034.0  5280.0  7635.0  7006.0  9215.0  6094.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [36]:
b2003pi['gq'] = b2003pi['g']*b2003pi['q']
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q,gq
33150,31,2003,1,31001149,3,200,6,5,20,1.0,2.235545,0.447318,5.400000,0.082837,82.11,82.027163,1.0,82.027163
82843,35,2003,1,35004223,19,200,5,5,55,1.0,2.235545,0.447318,5.000000,0.089464,119.55,119.460536,1.0,119.460536
66667,35,2003,1,35001097,9,200,6,4,48,1.0,2.235545,0.447318,4.746426,0.094243,119.55,119.455757,1.0,119.455757
76748,35,2003,1,35002988,16,200,5,4,56,1.0,2.235545,0.447318,4.400000,0.101663,119.55,119.448337,1.0,119.448337
93977,43,2003,1,43002439,2,200,4,4,19,1.0,2.235545,0.447318,4.000000,0.111830,62.28,62.168170,1.0,62.168170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,2.389682,10461.644507,2.000000,5230.822253,82.11,-5148.712253,0.0,-0.000000
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,2.389682,8369.315605,1.400000,5978.082575,119.55,-5858.532575,0.0,-0.000000
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,2.389682,12553.973408,2.000000,6276.986704,92.37,-6184.616704,0.0,-0.000000
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,2.389682,10461.644507,1.000000,10461.644507,119.55,-10342.094507,0.0,-0.000000
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,2.389682,10880.110287,1.000000,10880.110287,119.55,-10760.560287,0.0,-0.000000

In [37]:
b2003pi['sumag_z'] = b2003pi['gq']/b2003pi['um_pobr']
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q,gq,sumag_z
33150,31,2003,1,31001149,3,200,6,5,20,1.0,2.235545,0.447318,5.400000,0.082837,82.11,82.027163,1.0,82.027163,0.998991
82843,35,2003,1,35004223,19,200,5,5,55,1.0,2.235545,0.447318,5.000000,0.089464,119.55,119.460536,1.0,119.460536,0.999252
66667,35,2003,1,35001097,9,200,6,4,48,1.0,2.235545,0.447318,4.746426,0.094243,119.55,119.455757,1.0,119.455757,0.999212
76748,35,2003,1,35002988,16,200,5,4,56,1.0,2.235545,0.447318,4.400000,0.101663,119.55,119.448337,1.0,119.448337,0.999150
93977,43,2003,1,43002439,2,200,4,4,19,1.0,2.235545,0.447318,4.000000,0.111830,62.28,62.168170,1.0,62.168170,0.998204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,2.389682,10461.644507,2.000000,5230.822253,82.11,-5148.712253,0.0,-0.000000,-0.000000
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,2.389682,8369.315605,1.400000,5978.082575,119.55,-5858.532575,0.0,-0.000000,-0.000000
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,2.389682,12553.973408,2.000000,6276.986704,92.37,-6184.616704,0.0,-0.000000,-0.000000
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,2.389682,10461.644507,1.000000,10461.644507,119.55,-10342.094507,0.0,-0.000000,-0.000000
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,2.389682,10880.110287,1.000000,10880.110287,119.55,-10760.560287,0.0,-0.000000,-0.000000

In [38]:
b2003pi['sumag_z0'] = b2003pi['q']
b2003pi['sumag_z1'] = b2003pi['sumag_z']**1
b2003pi['sumag_z2'] = b2003pi['sumag_z']**2
b2003pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,...,den,ingr_t,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
33150,31,2003,1,31001149,3,200,6,5,20,1.0,...,5.400000,0.082837,82.11,82.027163,1.0,82.027163,0.998991,1.0,0.998991,0.997983
82843,35,2003,1,35004223,19,200,5,5,55,1.0,...,5.000000,0.089464,119.55,119.460536,1.0,119.460536,0.999252,1.0,0.999252,0.998504
66667,35,2003,1,35001097,9,200,6,4,48,1.0,...,4.746426,0.094243,119.55,119.455757,1.0,119.455757,0.999212,1.0,0.999212,0.998424
76748,35,2003,1,35002988,16,200,5,4,56,1.0,...,4.400000,0.101663,119.55,119.448337,1.0,119.448337,0.999150,1.0,0.999150,0.998300
93977,43,2003,1,43002439,2,200,4,4,19,1.0,...,4.000000,0.111830,62.28,62.168170,1.0,62.168170,0.998204,1.0,0.998204,0.996412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141072,31,2003,12,31002080,18,240,2,2,52,25000.0,...,2.000000,5230.822253,82.11,-5148.712253,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1181718,35,2003,12,35003049,7,240,2,1,34,20000.0,...,1.400000,5978.082575,119.55,-5858.532575,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1127708,29,2003,12,29001998,12,240,2,2,49,30000.0,...,2.000000,6276.986704,92.37,-6184.616704,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1175887,35,2003,12,35001892,5,240,1,1,40,25000.0,...,1.000000,10461.644507,119.55,-10342.094507,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1187464,35,2003,12,35004207,6,240,1,1,49,26000.0,...,1.000000,10880.110287,119.55,-10760.560287,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [39]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [40]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

        26      29      31      33      35      43
1   3714.0  3598.0  4659.0  3465.0  5559.0  2515.0
2   3991.0  3839.0  4971.0  4109.0  6394.0  2670.0
3   3952.0  3896.0  5036.0  4410.0  6405.0  2696.0
4   3941.0  3999.0  5253.0  4676.0  6337.0  2736.0
5   3880.0  3797.0  5239.0  4702.0  6309.0  2703.0
6   3797.0  3665.0  5231.0  4817.0  6314.0  2790.0
7   3862.0  3365.0  5134.0  4684.0  6203.0  2381.0
8   3976.0  3471.0  5225.0  4625.0  6152.0  2703.0
9   3997.0  3522.0  5270.0  4703.0  6288.0  2797.0
10  4052.0  3603.0  5229.0  4719.0  6243.0  2726.0
11  4085.0  3766.0  5219.0  4745.0  6367.0  2787.0
12  4073.0  3760.0  5091.0  4521.0  6188.0  2681.0

In [41]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [42]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

,26,29,31,33,35,43
1,2317.009782,2133.596615,2456.111239,1677.880988,2853.043051,1034.068863
2,2570.085261,2338.172535,2752.254209,2082.074552,3368.716733,1114.422166
3,2557.278359,2400.028538,2762.559472,2263.533185,3405.018971,1117.090058
4,2526.505564,2437.893970,2924.246108,2435.457138,3396.271489,1138.023890
5,2481.293837,2298.628394,2874.754861,2444.849761,3393.321628,1149.327800
6,2406.094135,2189.704708,2857.828019,2495.867772,3424.410723,1173.818962
7,2450.994202,1989.073728,2777.896039,2444.491207,3337.905050,1013.336999
8,2526.401709,2069.135865,2850.102560,2380.780842,3321.022801,1131.601520
9,2571.395727,2111.269983,2879.786926,2406.816982,3410.565201,1158.149841
10,2584.144965,2149.498466,2860.207038,2411.422816,3346.069760,1102.478605
11,2620.783777,2234.281008,2858.102479,2407.806599,3432.495331,1151.071750
12,2626.508764,2233.607750,2819.593374,2293.290810,3325.248957,1095.030897

In [43]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [44]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

,26,29,31,33,35,43
1,1661.262709,1488.809708,1574.035265,1027.967914,1803.460709,562.628127
2,1870.990541,1653.086874,1801.158438,1291.886162,2140.833665,607.260580
3,1870.431012,1707.062602,1797.942276,1412.532191,2173.200086,604.478057
4,1835.967383,1720.058021,1916.607144,1534.365614,2183.163850,614.833707
5,1798.225660,1618.131943,1862.458847,1527.911805,2179.590381,631.252318
6,1733.313431,1526.478830,1846.096447,1562.101477,2215.329697,642.847897
7,1761.529044,1370.662697,1771.318781,1530.260507,2156.618695,558.677759
8,1811.364689,1426.430347,1824.415066,1472.485060,2151.593922,618.903399
9,1863.272369,1469.521101,1849.115730,1492.782596,2211.946856,630.341387
10,1863.858427,1497.622187,1839.187724,1489.419335,2142.157502,589.482246
11,1898.233836,1551.590978,1843.432098,1485.397523,2202.156969,623.901282
12,1908.928139,1550.888869,1831.298470,1408.974298,2126.451337,584.697859

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)sumatoria(g/um_pobr)*2 para cada mes y cada región

In [45]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [46]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31        33        35        43
1   0.750151  0.709525  0.622778  0.579335  0.604962  0.429034
2   0.793439  0.747614  0.673486  0.671296  0.681590  0.457035
3   0.798384  0.757977  0.679530  0.672461  0.683857  0.452349
4   0.805107  0.752824  0.684430  0.665907  0.680666  0.456380
5   0.793781  0.742907  0.687082  0.646145  0.686881  0.451327
6   0.783856  0.733000  0.691200  0.640814  0.678487  0.460548
7   0.784162  0.724903  0.695287  0.638756  0.671175  0.466497
8   0.798554  0.716113  0.688769  0.628738  0.675228  0.457748
9   0.790233  0.719657  0.686734  0.639342  0.679270  0.464618
10  0.798738  0.721033  0.678738  0.645642  0.687025  0.456005
11  0.806993  0.718291  0.667989  0.649111  0.688771  0.452656
12  0.809098  0.712121  0.666798  0.645304  0.671514  0.439941

In [47]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [48]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31        33        35        43
1   0.467988  0.420745  0.328313  0.280535  0.310485  0.176402
2   0.510951  0.455340  0.372884  0.340153  0.359100  0.190760
3   0.516622  0.466932  0.372765  0.345156  0.363551  0.187431
4   0.516140  0.458941  0.381009  0.346832  0.364798  0.189829
5   0.507630  0.449741  0.377017  0.335969  0.369442  0.191906
6   0.496716  0.437941  0.377620  0.332030  0.367979  0.193763
7   0.497664  0.428495  0.376205  0.333355  0.361167  0.198538
8   0.507411  0.426890  0.375706  0.323652  0.364507  0.191634
9   0.508382  0.431400  0.375265  0.327191  0.368431  0.192384
10  0.509392  0.430158  0.371263  0.329925  0.368226  0.184423
11  0.517737  0.426146  0.365814  0.329385  0.371321  0.186953
12  0.521754  0.423032  0.369298  0.327332  0.360852  0.179690

In [49]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [50]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31        33        35        43
1   0.335541  0.293593  0.210404  0.171872  0.196263  0.095979
2   0.371966  0.321925  0.244026  0.211058  0.228210  0.103947
3   0.377865  0.332113  0.242605  0.215391  0.232031  0.101422
4   0.375070  0.323806  0.249721  0.218508  0.234497  0.102558
5   0.367886  0.316598  0.244257  0.209965  0.237299  0.105402
6   0.357827  0.305296  0.243935  0.207809  0.238054  0.106116
7   0.357671  0.295274  0.239886  0.208681  0.233350  0.109459
8   0.363801  0.294291  0.240498  0.200175  0.236153  0.104810
9   0.368381  0.300270  0.240959  0.202934  0.238949  0.104708
10  0.367408  0.299704  0.238732  0.203779  0.235739  0.098609
11  0.374997  0.295936  0.235944  0.203201  0.238226  0.101332
12  0.379207  0.293729  0.239856  0.201110  0.230760  0.095946

El autor menciona también los trabajos de Ravallion 1994 y 2016 pero parece ser que no los calcula

------------------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/Nsumatoria(y*(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (1999)

In [51]:
b2003pi = b2003pf.loc[b2003pf['ingr_t']>0]

In [52]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [53]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

            26          29          31          33          35          43
1   107.198934  144.681319  137.401943  152.025405  203.021700  140.878539
2    90.354794  119.093858  108.554519  132.278800  164.136816  132.888946
3    89.840697  111.214699  111.517143  133.432480  162.642465  136.774178
4    88.438943  109.941545  108.535785  133.231932  165.164014  132.047919
5    91.653628  102.962599  109.241009  140.940355  155.637371  133.603406
6    98.178994  106.144332  111.365401  138.520874  156.927096  129.356814
7    94.107768  107.212675  104.544125  135.833933  157.187878  124.247415
8    89.313901  114.805983  104.567787  138.989701  159.192375  135.288098
9    88.980246  112.585696  107.934100  138.406770  153.287396  134.169140
10   84.119701  110.540962  108.615937  139.148179  152.721625  136.772827
11   82.537832  109.652875  107.025410  137.662979  155.785214  137.148476
12   82.238196  112.119666  104.406734  142.046733  158.709320  138.377620

In [54]:
b2003pi['ingr_t25'] = b2003pi['ingr_t']**(1-0.25)
b2003pi['ingr_t50'] = b2003pi['ingr_t']**(1-0.5)
b2003pi['ingr_t75'] = b2003pi['ingr_t']**(1-0.75)
b2003pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\3303073303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pi['ingr_t25'] = b2003pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\3303073303.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pi['ingr_t50'] = b2003pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_2552\3303073303.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2003pi['ingr_t75'] = b2003pi['ingr_t']**(1-0.75)

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
0,26,2003,1,26000011,1,200,3,2,44,2000.0,2.235545,894.636451,2.4,372.765188,84.835283,19.307128,4.393988
3,26,2003,1,26000011,2,200,4,4,53,400.0,2.235545,178.927290,4.0,44.731823,17.296668,6.688185,2.586153
5,26,2003,1,26000011,2,200,4,4,25,450.0,2.235545,201.293202,4.0,50.323300,18.894127,7.093892,2.663436
7,26,2003,1,26000011,4,200,3,2,37,4000.0,2.235545,1789.272903,2.4,745.530376,142.675370,27.304402,5.225361
10,26,2003,1,26000011,5,200,2,2,29,700.0,2.235545,313.122758,2.0,156.561379,44.260211,12.512449,3.537294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202636,43,2003,12,43003296,19,240,3,2,30,300.0,2.389682,125.539734,2.4,52.308223,19.450352,7.232442,2.689320
1202638,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484,80.697304,18.674086,4.321352
1202639,43,2003,12,43003296,20,240,3,2,38,2000.0,2.389682,836.931561,2.4,348.721484,80.697304,18.674086,4.321352
1202641,43,2003,12,43003296,21,240,3,2,23,300.0,2.389682,125.539734,2.4,52.308223,19.450352,7.232442,2.689320
1202642,43,2003,12,43003296,21,240,3,2,28,360.0,2.389682,150.647681,2.4,62.769867,22.300439,7.922744,2.814737

In [55]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [56]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,139840.954599,170007.763705,255631.388019,230019.467335,425327.791397,211929.481650
2,125809.322909,150796.563291,215803.921375,209028.492876,374105.734084,201679.073159
3,122632.623501,145749.116773,219720.847820,224862.226308,370165.888052,210644.539169
4,120102.117745,150743.925154,223431.144801,240931.411281,371737.488497,207077.326897
5,123230.452753,141377.185722,221039.513141,259772.043752,354091.822930,207899.817951
6,126636.856166,141713.059189,222810.331562,266595.247752,360833.483805,206814.817618
7,126251.819545,132703.424279,210479.428263,256714.519136,359997.126378,169300.406384
8,123289.057166,143855.785277,216593.010099,263187.782536,355301.080393,206908.861586
9,124864.165875,142834.373978,223197.768001,262131.762998,352908.462624,209217.501975
10,121738.930638,145530.033408,225326.139239,259904.224407,346271.358764,211037.302841
11,119480.473098,152398.838346,227096.695638,258827.249532,354292.626832,218652.438538
12,118680.824778,156325.124738,218288.547680,253072.896036,359764.632759,218170.916002

In [57]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [58]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,41393.296340,46380.391639,71442.218896,63305.428147,107923.473668,59417.448749
2,38936.661796,43373.010505,64179.025553,59503.904779,100396.435292,57373.059491
3,37970.476918,42583.805508,64866.758333,63821.574207,99540.649224,59437.946197
4,37394.056616,44263.791211,66366.713884,68364.822849,99462.515051,58994.658837
5,38016.045104,42366.481499,65697.228602,72602.745147,96368.311900,59017.343562
6,38395.713905,42146.585007,65776.010322,74905.974131,97977.616979,59233.124905
7,38768.651542,39459.160439,63317.144127,72570.814055,97790.136039,49030.117317
8,38398.400669,41943.337740,65142.497697,73983.194124,96158.772656,58518.797659
9,38898.956081,41872.089310,66494.463624,73725.775303,96460.813779,59298.777950
10,38544.382002,42823.474319,67063.755040,72988.189154,94792.272488,59580.899074
11,37993.685399,44973.543947,67908.795685,72899.786573,96440.406561,61641.185869
12,37723.457874,45834.526060,65717.459541,70655.277292,97521.664304,61447.260650

In [59]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [60]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,13637.894760,14494.046017,22110.547008,18796.939917,30164.786929,18023.067589
2,13360.963172,14161.949123,20898.719783,18415.914963,29490.365368,17678.199564
3,13074.908652,14046.244953,21037.354269,19722.556369,29333.441223,18165.034460
4,12918.777119,14588.296353,21648.374938,21114.167524,29204.636801,18164.966254
5,13012.739988,14050.184505,21486.350113,22134.062242,28613.466595,18144.207517
6,13004.580359,13863.592385,21395.672478,22872.434820,29030.684629,18300.734007
7,13206.484866,12948.000724,20805.487993,22256.980891,28925.560503,15297.200382
8,13231.227258,13605.688423,21386.143664,22515.726697,28449.720170,17934.804521
9,13416.307349,13656.795202,21700.468108,22466.543932,28742.625369,18230.334289
10,13405.970563,13960.926297,21847.197620,22274.157079,28254.480311,18222.518391
11,13288.283784,14668.651703,22156.795506,22272.059727,28715.923435,18800.281513
12,13194.276285,14850.625127,21552.846810,21447.850506,28842.354973,18694.748313

In [61]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [62]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.197587  0.252827  0.192988  0.146104  0.181413  0.151440
2   0.190453  0.239244  0.170256  0.162431  0.169918  0.154117
3   0.196114  0.222510  0.177156  0.165169  0.172269  0.151990
4   0.193842  0.212687  0.174886  0.163174  0.173708  0.148092
5   0.193447  0.187509  0.184818  0.166028  0.163238  0.152417
6   0.209705  0.185878  0.183690  0.158808  0.163703  0.143855
7   0.196813  0.184689  0.167104  0.156892  0.159976  0.142220
8   0.191914  0.199598  0.165466  0.151765  0.169286  0.152475
9   0.192173  0.201867  0.171297  0.152747  0.162954  0.154690
10  0.177148  0.189410  0.170340  0.159645  0.160358  0.153284
11  0.179686  0.184954  0.164967  0.155422  0.170512  0.148883
12  0.177979  0.183083  0.162662  0.159374  0.165496  0.147306

In [63]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [64]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.347946  0.421812  0.336260  0.263084  0.320557  0.270725
2   0.336822  0.400942  0.303521  0.285576  0.302198  0.274222
3   0.345049  0.382836  0.313012  0.290209  0.305522  0.272838
4   0.340133  0.368433  0.311077  0.288565  0.308959  0.266643
5   0.340034  0.332650  0.320439  0.293738  0.292712  0.273169
6   0.360061  0.330597  0.321699  0.283150  0.293634  0.260937
7   0.341549  0.326032  0.296669  0.278972  0.287739  0.257294
8   0.334079  0.347748  0.294812  0.272220  0.300281  0.274076
9   0.335302  0.349813  0.304385  0.274232  0.291639  0.276821
10  0.313730  0.335612  0.302331  0.283342  0.287468  0.273723
11  0.317464  0.328982  0.294122  0.277562  0.301330  0.269176
12  0.317154  0.327897  0.290398  0.283992  0.294318  0.265259

In [65]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [66]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.462935  0.538713  0.444650  0.358292  0.428014  0.365712
2   0.449030  0.514219  0.407934  0.380568  0.404998  0.369018
3   0.458173  0.498552  0.417742  0.386936  0.408436  0.369107
4   0.451431  0.482603  0.416804  0.386458  0.413736  0.361663
5   0.451975  0.445342  0.422828  0.392705  0.394866  0.369453
6   0.470885  0.443165  0.426374  0.381192  0.396498  0.356175
7   0.450587  0.435396  0.397100  0.375216  0.389558  0.350592
8   0.441642  0.459214  0.395939  0.368469  0.402792  0.371005
9   0.443682  0.461413  0.407579  0.371333  0.393657  0.373184
10  0.420257  0.448816  0.404579  0.380137  0.387979  0.368737
11  0.424648  0.441245  0.395676  0.374028  0.402242  0.366145
12  0.426127  0.441836  0.391790  0.381666  0.395301  0.359966

In [67]:
a25['ano'] = 2003
a50['ano'] = 2003
a75['ano'] = 2003
fgt0['ano'] = 2003
fgt1['ano'] = 2003
fgt2['ano'] = 2003

## Calculamos el ingreso promedio por año y región

In [68]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [69]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b2003pi.loc[(b2003pi['v035']==x) & (b2003pi['v070']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

            26          29          31          33          35          43
1   107.198934  144.681319  137.401943  152.025405  203.021700  140.878539
2    90.354794  119.093858  108.554519  132.278800  164.136816  132.888946
3    89.840697  111.214699  111.517143  133.432480  162.642465  136.774178
4    88.438943  109.941545  108.535785  133.231932  165.164014  132.047919
5    91.653628  102.962599  109.241009  140.940355  155.637371  133.603406
6    98.178994  106.144332  111.365401  138.520874  156.927096  129.356814
7    94.107768  107.212675  104.544125  135.833933  157.187878  124.247415
8    89.313901  114.805983  104.567787  138.989701  159.192375  135.288098
9    88.980246  112.585696  107.934100  138.406770  153.287396  134.169140
10   84.119701  110.540962  108.615937  139.148179  152.721625  136.772827
11   82.537832  109.652875  107.025410  137.662979  155.785214  137.148476
12   82.238196  112.119666  104.406734  142.046733  158.709320  138.377620

In [70]:
ynr['ano'] = 2003

----------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [71]:
a25_03 = a25
a50_03 = a50
a75_03 = a75
fgt0_03 = fgt0
fgt1_03 = fgt1
fgt2_03 = fgt2
ynr_03 = ynr

In [72]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b2003p, b2003pf, b2003pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [73]:
a25_03.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2003\\a25_03.csv')
a50_03.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2003\\a50_03.csv')
a75_03.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2003\\a75_03.csv')
fgt0_03.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2003\\fgt0_03.csv')
fgt1_03.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2003\\fgt1_03.csv')
fgt2_03.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2003\\fgt2_03.csv')
ynr_03.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2003\\ynr_03.csv')