In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [2]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\1994-2001\\pme2000\\pmeantiga\\PME2000P.csv'
b2000p = pd.read_csv(basep)
b2000p.head()

,uf,ano,mes,v102,v103,v201,v202,v203,v204,v205,...,deflator,v309df,v311df,v0106,v0109,v0110,v0112,painel,npesq,aest1
0,33,2000,1,33000174,26,1,1,1,1.0,1,...,0.873823,2632.11250,NaN,1,3,2,2,P,1,4
1,43,2000,1,43000053,16,4,1,3,3.0,1,...,0.873823,NaN,NaN,1,4,4,2,P,1,2
2,26,2000,1,26000156,23,2,3,2,2.0,1,...,0.873823,286.09918,NaN,1,3,3,2,P,1,4
3,31,2000,1,31000304,4,2,3,3,3.0,1,...,0.873823,155.63795,NaN,1,3,3,2,P,1,3
4,35,2000,1,35000708,2,1,1,1,1.0,1,...,0.873823,1144.39670,NaN,1,3,3,2,P,1,4

abrimos la tabla con el deflactor

In [3]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos para asegurarnos que estén bien

In [4]:
b2000p.describe
b2000p.dtypes

uf         int64
ano        int64
mes        int64
v102       int64
v103       int64
           ...
v0110      int64
v0112      int64
painel    object
npesq      int64
aest1      int64
Length: 68, dtype: object

## Nos quedamos con las columnas que vamos a usar

- uf: Región de la encuesta \
- ano: año\
- mes: mes\
- v102: número de control, identifica el área de la encuesta\
- v103: Número de serie, equivale a un número de domicilio específico por área\
    (juntos v102 y v103 permiten construir un índice de hogares, considerando un hogar único encuestado cada mes en cada área)\
- v202: sexo\
- v204: Condición de la familia\
    1. CHEFE\
    2. CÔNJUGE\
    3. FILHO\
    4. OUTRO PARENTE
    5. AGREGADO
    6. PENSIONISTA
    7. EMPREGADO DOMÉSTICO
    8. PARENTE DO EMPREGADO DOMÉSTICO
- v210: grado
    0. UNCA FREQÜENTOU
    1. ELEMENTAR
    2. MÉDIO 1o CICLO 
    3. 1o  GRAU
    4. MÉDIO 2o  CICLO
    5. 2o  GRAU
    6. SUPERIOR
    7. MESTRADO OU DOUTORADO
    9. IGNORADO
v236: mes de nacimiento
v246: año de nacimiento
v306: Posición en su ocupación
  2 - EMPREGADO
  4 - CONTA PRÓPRIA
  6 - EMPREGADOR
  8 - NÃO REMUNERADO
  9 - IGNORADO
v309: Rendimiento efectivamente recibido en el mes obtenido de su trabajo principal
v339: Tasa de rendimiento en dinero de su trabajo principal con base en el salario mínimo vigente del mes de abril de 1004
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais   
v311: Rendimiento efectivamente recibido al mes de sus otros trabajos
v341: Tasa de rendimiento en dinero de sus otros trabajos con base en el salario mínimo vigente del mes de abril de 1004
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais 
v0109: Total de moradores en el hogar
v0110: Total de moradores con 10 años o más
peso: Peso para expansión que debe ser dividido para 1000 para poder ser usado

In [5]:
#Nos quedamos con los datos que necesitamos
b2000pf = b2000p[['uf', 'ano', 'mes', 'v102', 'v103', 'v202', 'v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341', 'v0109', 'v0110']]
b2000pf.head()

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110
0,33,2000,1,33000174,26,1,1.0,3,3,974,2.0,2300.0,20.0,NaN,NaN,3,2
1,43,2000,1,43000053,16,1,3.0,3,3,982,8.0,NaN,NaN,NaN,NaN,4,4
2,26,2000,1,26000156,23,3,2.0,4,11,947,2.0,250.0,12.0,NaN,NaN,3,3
3,31,2000,1,31000304,4,3,3.0,3,9,980,2.0,136.0,11.0,NaN,NaN,3,3
4,35,2000,1,35000708,2,1,1.0,2,10,930,4.0,1000.0,15.0,NaN,NaN,3,3

In [6]:
b2000pf.describe

<bound method NDFrame.describe of          uf   ano  mes      v102  v103  v202  v204  v210  v236  v246  v306  \
0        33  2000    1  33000174    26     1   1.0     3     3   974   2.0
1        43  2000    1  43000053    16     1   3.0     3     3   982   8.0
2        26  2000    1  26000156    23     3   2.0     4    11   947   2.0
3        31  2000    1  31000304     4     3   3.0     3     9   980   2.0
4        35  2000    1  35000708     2     1   1.0     2    10   930   4.0
...      ..   ...  ...       ...   ...   ...   ...   ...   ...   ...   ...
1110325  33  2000   12  33002533     1     3   2.0     3     2   955   NaN
1110326  26  2000   12  26001845    20     1   3.0     3     8   989   NaN
1110327  26  2000   12  26001845    20     3   2.0     0    12   947   NaN
1110328  29  2000   12  29001811    28     1   3.0     3    12   982   NaN
1110329  35  2000   12  35003197    23     3   2.0     4     9   953   2.0

           v309  v339  v311  v341  v0109  v0110
0        2300.0  20.0   NaN   NaN      3      2
1           NaN   NaN   NaN   NaN      4      4
2         250.0  12.0   NaN   NaN      3      3
3         136.0  11.0   NaN   NaN      3      3
4        1000.0  15.0   NaN   NaN      3      3
...         ...   ...   ...   ...    ...    ...
1110325     NaN   NaN   NaN   NaN      5      5
1110326     NaN   NaN   NaN   NaN      5      4
1110327     NaN   NaN   NaN   NaN      5      4
1110328     NaN   NaN   NaN   NaN      4      4
1110329   890.0  14.0   NaN   NaN      2      2

[1110330 rows x 17 columns]>

In [7]:
b2000pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110330 entries, 0 to 1110329
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1110330 non-null  int64
 1   ano     1110330 non-null  int64
 2   mes     1110330 non-null  int64
 3   v102    1110330 non-null  int64
 4   v103    1110330 non-null  int64
 5   v202    1110330 non-null  int64
 6   v204    1110329 non-null  float64
 7   v210    1110330 non-null  int64
 8   v236    1110330 non-null  int64
 9   v246    1110330 non-null  int64
 10  v306    532699 non-null   float64
 11  v309    510171 non-null   float64
 12  v339    527534 non-null   float64
 13  v311    12949 non-null    float64
 14  v341    13827 non-null    float64
 15  v0109   1110330 non-null  int64
 16  v0110   1110330 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 144.0 MB

## Corregimos los valores NA llenando con ceros

In [8]:
b2000pf['v306'] = b2000pf['v306'].fillna(0)
b2000pf['v309'] = b2000pf['v309'].fillna(0)
b2000pf['v339'] = b2000pf['v339'].fillna(0)
b2000pf['v341'] = b2000pf['v341'].fillna(0)
b2000pf['v311'] = b2000pf['v311'].fillna(0)
b2000pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110330 entries, 0 to 1110329
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   uf      1110330 non-null  int64
 1   ano     1110330 non-null  int64
 2   mes     1110330 non-null  int64
 3   v102    1110330 non-null  int64
 4   v103    1110330 non-null  int64
 5   v202    1110330 non-null  int64
 6   v204    1110329 non-null  float64
 7   v210    1110330 non-null  int64
 8   v236    1110330 non-null  int64
 9   v246    1110330 non-null  int64
 10  v306    1110330 non-null  float64
 11  v309    1110330 non-null  float64
 12  v339    1110330 non-null  float64
 13  v311    1110330 non-null  float64
 14  v341    1110330 non-null  float64
 15  v0109   1110330 non-null  int64
 16  v0110   1110330 non-null  int64
dtypes: float64(6), int64(11)
memory usage: 144.0 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3427735985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v306'] = b2000pf['v306'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3427735985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v309'] = b2000pf['v309'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3427735985.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v339'] = b2000pf['v339'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3427735985.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v341'] = b2000pf['v341'].fillna(0)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3427735985.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v311'] = b2000pf['v311'].fillna(0)

## Calculamos el ingreso bruto por persona
### ingr_b es la suma del ingreso del trabajo principal y el ingreso de los trabajos no principales

In [9]:
b2000pf['ingr_b'] = b2000pf['v309'] + b2000pf['v311']
b2000pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\2933759241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['ingr_b'] = b2000pf['v309'] + b2000pf['v311']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b
0,33,2000,1,33000174,26,1,1.0,3,3,974,2.0,2300.0,20.0,0.0,0.0,3,2,2300.0
1,43,2000,1,43000053,16,1,3.0,3,3,982,8.0,0.0,0.0,0.0,0.0,4,4,0.0
2,26,2000,1,26000156,23,3,2.0,4,11,947,2.0,250.0,12.0,0.0,0.0,3,3,250.0
3,31,2000,1,31000304,4,3,3.0,3,9,980,2.0,136.0,11.0,0.0,0.0,3,3,136.0
4,35,2000,1,35000708,2,1,1.0,2,10,930,4.0,1000.0,15.0,0.0,0.0,3,3,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,0.0,0.0,0.0,0.0,0.0,5,5,0.0
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,0.0,0.0,0.0,0.0,0.0,5,4,0.0
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,0.0,0.0,0.0,0.0,0.0,5,4,0.0
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,0.0,0.0,0.0,0.0,0.0,4,4,0.0
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,2.0,890.0,14.0,0.0,0.0,2,2,890.0

In [10]:
b2000pf['ingr_b']

0          2300.0
1             0.0
2           250.0
3           136.0
4          1000.0
            ...
1110325       0.0
1110326       0.0
1110327       0.0
1110328       0.0
1110329     890.0
Name: ingr_b, Length: 1110330, dtype: float64

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1004.aspx

In [11]:
b2000pf['defl'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\1954646038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['defl'] = 0

In [12]:
def2000 = infb.loc[infb['ano']==2000]
def2000['index'] = np.arange(1,13)
def2000 = def2000.set_index('index')
def2000

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\1879767690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def2000['index'] = np.arange(1,13)

       Unnamed: 0   inf   ano        b100      defl
index
1              65  0.62  2000  171.327150  1.713271
2              66  0.13  2000  171.549875  1.715499
3              67  0.22  2000  171.927285  1.719273
4              68  0.42  2000  172.649380  1.726494
5              69  0.01  2000  172.666645  1.726666
6              70  0.23  2000  173.063778  1.730638
7              71  1.61  2000  175.850105  1.758501
8              72  1.31  2000  178.153741  1.781537
9              73  0.23  2000  178.563495  1.785635
10             74  0.14  2000  178.813484  1.788135
11             75  0.32  2000  179.385687  1.793857
12             76  0.59  2000  180.444062  1.804441

In [13]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b2000pf.loc[b2000pf['mes']==x]
    fl['defl'] = def2000['defl'][x]
    b2000pf['defl'].loc[b2000pf['mes']==x] = fl['defl']
    del(fl)

mes 1
mes 2

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\2249471149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl['defl'] = def2000['defl'][x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\2249471149.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['defl'].loc[b2000pf['mes']==x] = fl['defl']

mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [14]:
b2000pf['ingr_r'] = b2000pf['ingr_b']/b2000pf['defl']
b2000pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\1002060827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['ingr_r'] = b2000pf['ingr_b']/b2000pf['defl']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,v306,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r
0,33,2000,1,33000174,26,1,1.0,3,3,974,2.0,2300.0,20.0,0.0,0.0,3,2,2300.0,1.713271,1342.460900
1,43,2000,1,43000053,16,1,3.0,3,3,982,8.0,0.0,0.0,0.0,0.0,4,4,0.0,1.713271,0.000000
2,26,2000,1,26000156,23,3,2.0,4,11,947,2.0,250.0,12.0,0.0,0.0,3,3,250.0,1.713271,145.919663
3,31,2000,1,31000304,4,3,3.0,3,9,980,2.0,136.0,11.0,0.0,0.0,3,3,136.0,1.713271,79.380297
4,35,2000,1,35000708,2,1,1.0,2,10,930,4.0,1000.0,15.0,0.0,0.0,3,3,1000.0,1.713271,583.678652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,0.0,0.0,0.0,0.0,0.0,5,5,0.0,1.804441,0.000000
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,0.0,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,0.0,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,0.0,0.0,0.0,0.0,0.0,4,4,0.0,1.804441,0.000000
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,2.0,890.0,14.0,0.0,0.0,2,2,890.0,1.804441,493.227646

## Intento de crear un índice para hogares y una variable ingreso hogares

Los intentos de crear un indice para hogares y de calcular el ingreso de cada hogar como la suma de los perceptores de ingresos individuales es posible, pero es demasiado largo y requiere mayor capacidad de cómputo, con 1534 áreas cada una con un promedio de 40 hogares y por doce meses son aproximadamente 736320 iteraciones por año.

Este procedimiento para cada uno de los 20 años, asumiendo que el número de hogares se mantenga igual sería un total de 14 726 400 iteraciones, asumiendo que mi computador sea capáz de realizar 20 iteraciones por segundo el trabajo se completaría en 8.52 días donde la computadora tendría que estar funcionando las 24 horas del día sin descanso.

Desconozco si existe otra base u otros cálculos de la PME donde tengamos el ingreso por hogares como la suma de los ingresos de las personas encuestadas mes a mes o si el autor calculó de esta o de alguna otra forma el ingreso de los hogares.

Ya que al final el autor después de calcular el ingreso de los hogares lo divide para cada uno de los miembros, intentaré aproximar la fórmula del autor directamente para cada persona, de esta manera tendremos un resultado parecido.

Queda el código necesario para calcular el ingreso de los hogares.

In [15]:
#b2000pf['ingr_h'] = 0
#b2000pf

In [16]:
#for x in b2000pf['mes'].unique():
#   for y in b2000pf['v102'].unique():
#       for z in b2000pf['v103'].unique():
#          print('mes', x, 'Área', y, 'Hogar', z)
#           ig = b2000pf.loc[(b2000pf['mes']==x) & (b2000pf['v102']==y) & (b2000pf['v103']==z)]
#           ig['h'] = ig['ingr_b'].sum()
#           b2000pf['ingr_h'].loc[(b2000pf['mes']==x) & (b2000pf['v102']==y) & (b2000pf['v103']==z)] = ig['h']
#           del(ig)

Para calcular un índice de hogares, el siguiente código arroja todos los hogares posibles durante cada mes

In [17]:
#for x in b1004pf['mes'].unique():
#   for y in b1004pf['v102'].unique():
#       for z in b1004pf['v103'].unique():
#           print(x,y,z)

## Calculamos la edad

In [18]:
b2000pf['v246_b'] = 0
b2000pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\339437709.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v246_b'] = 0

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,2300.0,20.0,0.0,0.0,3,2,2300.0,1.713271,1342.460900,0
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,0.0,0.0,0.0,4,4,0.0,1.713271,0.000000,0
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,250.0,12.0,0.0,0.0,3,3,250.0,1.713271,145.919663,0
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,136.0,11.0,0.0,0.0,3,3,136.0,1.713271,79.380297,0
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,1000.0,15.0,0.0,0.0,3,3,1000.0,1.713271,583.678652,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,0.0,0.0,0.0,5,5,0.0,1.804441,0.000000,0
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,0
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,0
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,0.0,0.0,0.0,4,4,0.0,1.804441,0.000000,0
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,890.0,14.0,0.0,0.0,2,2,890.0,1.804441,493.227646,0

Para las edades de tres dígitos les sumamos 1000

In [19]:
tres = b2000pf.loc[b2000pf['v246'] < 1000]
tres['v246_b'] = b2000pf.loc[b2000pf['v246']<1000]['v246']+1000
b2000pf['v246_b'].loc[b2000pf['v246']<1000] = tres['v246_b']
del(tres)
b2000pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\577069435.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v246_b'].loc[b2000pf['v246']<1000] = tres['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,2300.0,20.0,0.0,0.0,3,2,2300.0,1.713271,1342.460900,1974
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,0.0,0.0,0.0,4,4,0.0,1.713271,0.000000,1982
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,250.0,12.0,0.0,0.0,3,3,250.0,1.713271,145.919663,1947
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,136.0,11.0,0.0,0.0,3,3,136.0,1.713271,79.380297,1980
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,1000.0,15.0,0.0,0.0,3,3,1000.0,1.713271,583.678652,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,0.0,0.0,0.0,5,5,0.0,1.804441,0.000000,1955
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1989
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1947
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,0.0,0.0,0.0,4,4,0.0,1.804441,0.000000,1982
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,890.0,14.0,0.0,0.0,2,2,890.0,1.804441,493.227646,1953

Para las edades que solo tienen dos dígitos, los corregimos sumando 1900

In [20]:
cien = b2000pf.loc[b2000pf['v246'] < 100]
cien['v246_b'] = b2000pf.loc[b2000pf['v246']<100]['v246']+1900
b2000pf['v246_b'].loc[b2000pf['v246']<100] = cien['v246_b']
del(cien)
b2000pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\1210380322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cien['v246_b'] = b2000pf.loc[b2000pf['v246']<100]['v246']+1900
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\1210380322.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['v246_b'].loc[b2000pf['v246']<100] = cien['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v309,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,2300.0,20.0,0.0,0.0,3,2,2300.0,1.713271,1342.460900,1974
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,0.0,0.0,0.0,4,4,0.0,1.713271,0.000000,1982
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,250.0,12.0,0.0,0.0,3,3,250.0,1.713271,145.919663,1947
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,136.0,11.0,0.0,0.0,3,3,136.0,1.713271,79.380297,1980
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,1000.0,15.0,0.0,0.0,3,3,1000.0,1.713271,583.678652,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,0.0,0.0,0.0,5,5,0.0,1.804441,0.000000,1955
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1989
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1947
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,0.0,0.0,0.0,4,4,0.0,1.804441,0.000000,1982
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,890.0,14.0,0.0,0.0,2,2,890.0,1.804441,493.227646,1953

Calculamos la edad

In [21]:
b2000pf['edad_c'] = 2000-b2000pf['v246_b']
b2000pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\2843755189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pf['edad_c'] = 2000-b2000pf['v246_b']

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,20.0,0.0,0.0,3,2,2300.0,1.713271,1342.460900,1974,26
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,0.0,0.0,4,4,0.0,1.713271,0.000000,1982,18
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,12.0,0.0,0.0,3,3,250.0,1.713271,145.919663,1947,53
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,11.0,0.0,0.0,3,3,136.0,1.713271,79.380297,1980,20
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,15.0,0.0,0.0,3,3,1000.0,1.713271,583.678652,1930,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,0.0,0.0,5,5,0.0,1.804441,0.000000,1955,45
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1989,11
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1947,53
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,0.0,0.0,4,4,0.0,1.804441,0.000000,1982,18
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,14.0,0.0,0.0,2,2,890.0,1.804441,493.227646,1953,47

Limpiamos de la base los datos con edades negativas

In [22]:
b2000pf = b2000pf.loc[b2000pf['edad_c']>0]

Limpiamos también los datos con edades mayores a 100 años

In [23]:
b2000pf = b2000pf.loc[b2000pf['edad_c']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [24]:
b2000pf = b2000pf.loc[b2000pf['edad_c']>10]

Eliminamos ingresos igual a 0000000000

In [25]:
b2000pf = b2000pf.loc[b2000pf['ingr_b']!=999999999]
b2000pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,20.0,0.0,0.0,3,2,2300.0,1.713271,1342.460900,1974,26
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,0.0,0.0,4,4,0.0,1.713271,0.000000,1982,18
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,12.0,0.0,0.0,3,3,250.0,1.713271,145.919663,1947,53
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,11.0,0.0,0.0,3,3,136.0,1.713271,79.380297,1980,20
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,15.0,0.0,0.0,3,3,1000.0,1.713271,583.678652,1930,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,0.0,0.0,5,5,0.0,1.804441,0.000000,1955,45
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1989,11
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1947,53
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,0.0,0.0,4,4,0.0,1.804441,0.000000,1982,18
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,14.0,0.0,0.0,2,2,890.0,1.804441,493.227646,1953,47

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [26]:
k = 0.4
s = 0.9

In [27]:
b2000pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v339,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,20.0,0.0,0.0,3,2,2300.0,1.713271,1342.460900,1974,26
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,0.0,0.0,4,4,0.0,1.713271,0.000000,1982,18
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,12.0,0.0,0.0,3,3,250.0,1.713271,145.919663,1947,53
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,11.0,0.0,0.0,3,3,136.0,1.713271,79.380297,1980,20
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,15.0,0.0,0.0,3,3,1000.0,1.713271,583.678652,1930,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,0.0,0.0,5,5,0.0,1.804441,0.000000,1955,45
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1989,11
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,0.0,0.0,5,4,0.0,1.804441,0.000000,1947,53
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,0.0,0.0,4,4,0.0,1.804441,0.000000,1982,18
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,14.0,0.0,0.0,2,2,890.0,1.804441,493.227646,1953,47

In [28]:
b2000pf['den'] = b2000pf['v0110'] + k*(b2000pf['v0109']-b2000pf['v0110'])**s
b2000pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v311,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,0.0,0.0,3,2,2300.0,1.713271,1342.460900,1974,26,2.4
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,0.0,4,4,0.0,1.713271,0.000000,1982,18,4.0
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,0.0,0.0,3,3,250.0,1.713271,145.919663,1947,53,3.0
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,0.0,0.0,3,3,136.0,1.713271,79.380297,1980,20,3.0
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,0.0,0.0,3,3,1000.0,1.713271,583.678652,1930,70,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,0.0,5,5,0.0,1.804441,0.000000,1955,45,5.0
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,0.0,5,4,0.0,1.804441,0.000000,1989,11,4.4
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,0.0,5,4,0.0,1.804441,0.000000,1947,53,4.4
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,0.0,4,4,0.0,1.804441,0.000000,1982,18,4.0
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,0.0,0.0,2,2,890.0,1.804441,493.227646,1953,47,2.0

In [29]:
b2000pf['ingr_t'] = b2000pf['ingr_r']/b2000pf['den']
b2000pf

,uf,ano,mes,v102,v103,v202,v204,v210,v236,v246,...,v341,v0109,v0110,ingr_b,defl,ingr_r,v246_b,edad_c,den,ingr_t
0,33,2000,1,33000174,26,1,1.0,3,3,974,...,0.0,3,2,2300.0,1.713271,1342.460900,1974,26,2.4,559.358708
1,43,2000,1,43000053,16,1,3.0,3,3,982,...,0.0,4,4,0.0,1.713271,0.000000,1982,18,4.0,0.000000
2,26,2000,1,26000156,23,3,2.0,4,11,947,...,0.0,3,3,250.0,1.713271,145.919663,1947,53,3.0,48.639888
3,31,2000,1,31000304,4,3,3.0,3,9,980,...,0.0,3,3,136.0,1.713271,79.380297,1980,20,3.0,26.460099
4,35,2000,1,35000708,2,1,1.0,2,10,930,...,0.0,3,3,1000.0,1.713271,583.678652,1930,70,3.0,194.559551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,2000,12,33002533,1,3,2.0,3,2,955,...,0.0,5,5,0.0,1.804441,0.000000,1955,45,5.0,0.000000
1110326,26,2000,12,26001845,20,1,3.0,3,8,989,...,0.0,5,4,0.0,1.804441,0.000000,1989,11,4.4,0.000000
1110327,26,2000,12,26001845,20,3,2.0,0,12,947,...,0.0,5,4,0.0,1.804441,0.000000,1947,53,4.4,0.000000
1110328,29,2000,12,29001811,28,1,3.0,3,12,982,...,0.0,4,4,0.0,1.804441,0.000000,1982,18,4.0,0.000000
1110329,35,2000,12,35003197,23,3,2.0,4,9,953,...,0.0,2,2,890.0,1.804441,493.227646,1953,47,2.0,246.613823

---------------------------------------

In [30]:
b2000pi = b2000pf[['uf', 'mes', 'v102', 'v103', 'v0109', 'v0110', 'ingr_b', 'defl', 'ingr_r', 'den', 'ingr_t', 'edad_c']]
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
0,33,1,33000174,26,3,2,2300.0,1.713271,1342.460900,2.4,559.358708,26
1,43,1,43000053,16,4,4,0.0,1.713271,0.000000,4.0,0.000000,18
2,26,1,26000156,23,3,3,250.0,1.713271,145.919663,3.0,48.639888,53
3,31,1,31000304,4,3,3,136.0,1.713271,79.380297,3.0,26.460099,20
4,35,1,35000708,2,3,3,1000.0,1.713271,583.678652,3.0,194.559551,70
...,...,...,...,...,...,...,...,...,...,...,...,...
1110325,33,12,33002533,1,5,5,0.0,1.804441,0.000000,5.0,0.000000,45
1110326,26,12,26001845,20,5,4,0.0,1.804441,0.000000,4.4,0.000000,11
1110327,26,12,26001845,20,5,4,0.0,1.804441,0.000000,4.4,0.000000,53
1110328,29,12,29001811,28,4,4,0.0,1.804441,0.000000,4.0,0.000000,18
1110329,35,12,35003197,23,2,2,890.0,1.804441,493.227646,2.0,246.613823,47

Vamos a descartar las personas con ingresos de 0

In [31]:
b2000pi = b2000pi.loc[b2000pi['ingr_t']>0]
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c
0,33,1,33000174,26,3,2,2300.0,1.713271,1342.460900,2.4,559.358708,26
2,26,1,26000156,23,3,3,250.0,1.713271,145.919663,3.0,48.639888,53
3,31,1,31000304,4,3,3,136.0,1.713271,79.380297,3.0,26.460099,20
4,35,1,35000708,2,3,3,1000.0,1.713271,583.678652,3.0,194.559551,70
5,43,1,43000509,8,3,3,410.0,1.713271,239.308247,3.0,79.769416,48
...,...,...,...,...,...,...,...,...,...,...,...,...
1110312,26,12,26001829,33,2,2,330.0,1.804441,182.882161,2.0,91.441080,71
1110318,26,12,26001837,17,2,2,151.0,1.804441,83.682443,2.0,41.841222,57
1110321,26,12,26001845,2,2,2,120.0,1.804441,66.502604,2.0,33.251302,47
1110322,26,12,26001845,2,2,2,160.0,1.804441,88.670139,2.0,44.335069,36
1110329,35,12,35003197,23,2,2,890.0,1.804441,493.227646,2.0,246.613823,47

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 2000, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [32]:
b2000pi['um_pobr']=0
b2000pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\1636185016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pi['um_pobr']=0

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
0,33,1,33000174,26,3,2,2300.0,1.713271,1342.460900,2.4,559.358708,26,0
2,26,1,26000156,23,3,3,250.0,1.713271,145.919663,3.0,48.639888,53,0
3,31,1,31000304,4,3,3,136.0,1.713271,79.380297,3.0,26.460099,20,0
4,35,1,35000708,2,3,3,1000.0,1.713271,583.678652,3.0,194.559551,70,0
5,43,1,43000509,8,3,3,410.0,1.713271,239.308247,3.0,79.769416,48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110312,26,12,26001829,33,2,2,330.0,1.804441,182.882161,2.0,91.441080,71,0
1110318,26,12,26001837,17,2,2,151.0,1.804441,83.682443,2.0,41.841222,57,0
1110321,26,12,26001845,2,2,2,120.0,1.804441,66.502604,2.0,33.251302,47,0
1110322,26,12,26001845,2,2,2,160.0,1.804441,88.670139,2.0,44.335069,36,0
1110329,35,12,35003197,23,2,2,890.0,1.804441,493.227646,2.0,246.613823,47,0

In [33]:
pobr = pd.Series([00.72, 92.37, 82.11, 00.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26      0.72
29     92.37
31     82.11
33      0.21
35    119.55
43     62.28
dtype: float64

In [34]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b2000pi.loc[b2000pi['uf']==x]
    p['um_pobr'] = pobr[x]
    b2000pi['um_pobr'].loc[b2000pi['uf']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\409893897.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\409893897.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pi['um_pobr'].loc[b2000pi['uf']==x] = p['um_pobr']

-------------------------------------

## Calculo del índice de pobreza de Foster, Greer y Thorbecke

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1004), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

In [35]:
b2000pi = b2000pi.sort_values(['mes', 'ingr_t'])
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28

Creamos la variable g = um_pobr - ingr_t

In [36]:
b2000pi['g']=b2000pi['um_pobr']-b2000pi['ingr_t']
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72,3.552008e-01
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37,9.192123e+01
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37,9.192123e+01
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37,9.192123e+01
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37,9.191979e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72,-5.541903e+08
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21,-5.541939e+08
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21,-1.108377e+09
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21,-1.108377e+09
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28,-1.108377e+09

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [37]:
b2000pi['q'] = 0
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72,3.552008e-01,0
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37,9.192123e+01,0
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37,9.192123e+01,0
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37,9.192123e+01,0
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37,9.191979e+01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72,-5.541903e+08,0
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21,-5.541939e+08,0
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21,-1.108377e+09,0
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21,-1.108377e+09,0
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28,-1.108377e+09,0

In [38]:
ma = b2000pi.loc[b2000pi['g']>0]
ma['q'] = 1
b2000pi['q'] = ma['q']
b2000pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3508581485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72,3.552008e-01,1.0
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37,9.192123e+01,1.0
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37,9.192123e+01,1.0
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37,9.192123e+01,1.0
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37,9.191979e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72,-5.541903e+08,NaN
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21,-5.541939e+08,NaN
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21,-1.108377e+09,NaN
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21,-1.108377e+09,NaN
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28,-1.108377e+09,NaN

In [39]:
b2000pi['q'] = b2000pi['q'].fillna(0)
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72,3.552008e-01,1.0
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37,9.192123e+01,1.0
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37,9.192123e+01,1.0
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37,9.192123e+01,1.0
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37,9.191979e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72,-5.541903e+08,0.0
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21,-5.541939e+08,0.0
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21,-1.108377e+09,0.0
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21,-1.108377e+09,0.0
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28,-1.108377e+09,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [40]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [41]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['q'].sum()
del(x)
del(y)
qs

     26      29      31   33      35      43
1   1.0  3644.0  4927.0  0.0  4968.0  2581.0
2   1.0  3851.0  5229.0  0.0  5178.0  2679.0
3   1.0  3706.0  5348.0  0.0  5453.0  2779.0
4   1.0  3900.0  5358.0  0.0  5628.0  2760.0
5   3.0  3979.0  5467.0  0.0  5541.0  2770.0
6   0.0  4086.0  5389.0  0.0  5419.0  2666.0
7   3.0  4048.0  5206.0  0.0  5321.0  2800.0
8   6.0  4170.0  5339.0  0.0  5436.0  2755.0
9   0.0  4057.0  5382.0  0.0  5505.0  2779.0
10  0.0  4066.0  5322.0  0.0  5646.0  2712.0
11  0.0  4321.0  5175.0  0.0  5555.0  2619.0
12  1.0  4145.0  5238.0  0.0  5580.0  2582.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [42]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [43]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['mes'].count()
del(x)
del(y)
ns

        26      29      31      33      35      43
1   4726.0  4787.0  8049.0  6607.0  8215.0  6241.0
2   4783.0  4880.0  8024.0  6519.0  8299.0  6425.0
3   4769.0  4714.0  8099.0  6672.0  8642.0  6478.0
4   4613.0  4891.0  8207.0  6650.0  8752.0  6478.0
5   4727.0  5016.0  8333.0  6617.0  8766.0  6587.0
6   4696.0  5204.0  8309.0  6449.0  8662.0  6493.0
7   4780.0  5111.0  8152.0  6645.0  8582.0  6599.0
8   4635.0  5235.0  8351.0  6760.0  8611.0  6680.0
9   4578.0  5244.0  8306.0  6865.0  8732.0  6617.0
10  4867.0  5252.0  8386.0  6903.0  8786.0  6593.0
11  4663.0  5523.0  8240.0  6754.0  8721.0  6478.0
12  4618.0  5270.0  8186.0  6632.0  8782.0  6369.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [44]:
b2000pi['gq'] = b2000pi['g']*b2000pi['q']
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72,3.552008e-01,1.0,0.355201
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37,9.192123e+01,1.0,91.921234
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37,9.192123e+01,1.0,91.921234
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37,9.192123e+01,1.0,91.921234
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37,9.191979e+01,1.0,91.919787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72,-5.541903e+08,0.0,-0.000000
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21,-5.541939e+08,0.0,-0.000000
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21,-1.108377e+09,0.0,-0.000000
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21,-1.108377e+09,0.0,-0.000000
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28,-1.108377e+09,0.0,-0.000000

In [45]:
b2000pi['sumag_z'] = b2000pi['gq']/b2000pi['um_pobr']
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72,3.552008e-01,1.0,0.355201,0.493335
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37,9.192123e+01,1.0,91.921234,0.995142
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37,9.192123e+01,1.0,91.921234,0.995142
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37,9.192123e+01,1.0,91.921234,0.995142
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37,9.191979e+01,1.0,91.919787,0.995126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72,-5.541903e+08,0.0,-0.000000,-0.000000
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21,-5.541939e+08,0.0,-0.000000,-0.000000
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21,-1.108377e+09,0.0,-0.000000,-0.000000
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21,-1.108377e+09,0.0,-0.000000,-0.000000
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28,-1.108377e+09,0.0,-0.000000,-0.000000

In [46]:
b2000pi['sumag_z0'] = b2000pi['q']
b2000pi['sumag_z1'] = b2000pi['sumag_z']**1
b2000pi['sumag_z2'] = b2000pi['sumag_z']**2
b2000pi

,uf,mes,v102,v103,v0109,v0110,ingr_b,defl,ingr_r,den,ingr_t,edad_c,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
56538,26,1,26001004,9,7,6,4.000000e+00,1.713271,2.334715e+00,6.400000,3.647992e-01,17,0.72,3.552008e-01,1.0,0.355201,0.493335,1.0,0.493335,0.243379
42989,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,16,92.37,9.192123e+01,1.0,91.921234,0.995142,1.0,0.995142,0.990307
44090,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,13,92.37,9.192123e+01,1.0,91.921234,0.995142,1.0,0.995142,0.990307
44309,29,1,29000645,2,17,11,1.000000e+01,1.713271,5.836787e+00,13.006301,4.487661e-01,21,92.37,9.192123e+01,1.0,91.921234,0.995142,1.0,0.995142,0.990307
27065,29,1,29000505,19,11,8,7.000000e+00,1.713271,4.085751e+00,9.075150,4.502130e-01,17,92.37,9.191979e+01,1.0,91.919787,0.995126,1.0,0.995126,0.990276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076587,26,12,26001071,6,1,1,1.000003e+09,1.804441,5.541903e+08,1.000000,5.541903e+08,47,0.72,-5.541903e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1053465,33,12,33001103,23,1,1,1.000010e+09,1.804441,5.541939e+08,1.000000,5.541939e+08,47,0.21,-5.541939e+08,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1026499,33,12,33000310,19,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,36,0.21,-1.108377e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1089044,33,12,33002665,2,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,24,0.21,-1.108377e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1092276,43,12,43600255,1,1,1,2.000000e+09,1.804441,1.108377e+09,1.000000,1.108377e+09,29,62.28,-1.108377e+09,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [47]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [48]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

     26      29      31   33      35      43
1   1.0  3644.0  4927.0  0.0  4968.0  2581.0
2   1.0  3851.0  5229.0  0.0  5178.0  2679.0
3   1.0  3706.0  5348.0  0.0  5453.0  2779.0
4   1.0  3900.0  5358.0  0.0  5628.0  2760.0
5   3.0  3979.0  5467.0  0.0  5541.0  2770.0
6   0.0  4086.0  5389.0  0.0  5419.0  2666.0
7   3.0  4048.0  5206.0  0.0  5321.0  2800.0
8   6.0  4170.0  5339.0  0.0  5436.0  2755.0
9   0.0  4057.0  5382.0  0.0  5505.0  2779.0
10  0.0  4066.0  5322.0  0.0  5646.0  2712.0
11  0.0  4321.0  5175.0  0.0  5555.0  2619.0
12  1.0  4145.0  5238.0  0.0  5580.0  2582.0

In [49]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [50]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

          26           29           31   33           35           43
1   0.493335  2287.932814  2668.668801  0.0  2522.278978  1087.485255
2   0.190388  2433.808604  2870.856489  0.0  2679.438403  1113.433507
3   0.192165  2383.863091  2960.392774  0.0  2843.622784  1170.784343
4   0.099010  2460.334994  2990.678489  0.0  2915.574143  1169.057282
5   0.757573  2483.887907  3020.842366  0.0  2885.854175  1151.751102
6   0.000000  2560.744124  2946.347846  0.0  2792.805701  1106.409726
7   0.542015  2536.011821  2872.143485  0.0  2732.193693  1167.524653
8   1.523289  2636.531364  2908.288041  0.0  2831.382778  1148.764445
9   0.000000  2578.704928  2932.107891  0.0  2874.237809  1150.547869
10  0.000000  2571.967431  2900.886103  0.0  2967.481762  1121.140395
11  0.000000  2719.540818  2827.482686  0.0  2907.648048  1094.162041
12  0.189173  2616.003376  2878.375366  0.0  2907.175567  1067.458887

In [51]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [52]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

          26           29           31   33           35          43
1   0.243379  1654.450713  1748.641492  0.0  1612.605400  602.530806
2   0.036247  1757.888185  1887.349330  0.0  1712.536942  613.629880
3   0.036927  1749.448031  1955.279061  0.0  1825.505406  651.220262
4   0.009803  1777.890631  1982.025521  0.0  1860.214800  652.121003
5   0.334002  1786.011322  1992.396561  0.0  1840.422233  633.638791
6   0.000000  1845.507460  1932.540126  0.0  1778.734799  605.189095
7   0.182612  1832.279366  1890.673269  0.0  1730.090739  637.787035
8   0.485814  1910.161141  1904.095603  0.0  1808.529331  625.483310
9   0.000000  1864.981075  1910.189551  0.0  1832.043957  630.572763
10  0.000000  1858.779175  1902.254997  0.0  1904.855897  612.820442
11  0.000000  1964.627689  1848.393061  0.0  1857.212132  596.911606
12  0.035786  1901.376829  1887.313962  0.0  1854.091086  577.530101

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)*sumatoria(g/um_pobr)**2 para cada mes y cada región

In [53]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [54]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31   33        35        43
1   0.000212  0.761228  0.612126  0.0  0.604747  0.413556
2   0.000209  0.789139  0.651670  0.0  0.623931  0.416965
3   0.000210  0.786169  0.660328  0.0  0.630988  0.428990
4   0.000217  0.797383  0.652857  0.0  0.643053  0.426057
5   0.000635  0.793262  0.656066  0.0  0.632101  0.420525
6   0.000000  0.785165  0.648574  0.0  0.625606  0.410596
7   0.000628  0.792017  0.638616  0.0  0.620019  0.424307
8   0.001294  0.796562  0.639325  0.0  0.631286  0.412425
9   0.000000  0.773646  0.647965  0.0  0.630440  0.419979
10  0.000000  0.774181  0.634629  0.0  0.642613  0.411345
11  0.000000  0.782365  0.628034  0.0  0.636968  0.404291
12  0.000217  0.786528  0.639873  0.0  0.635391  0.405401

In [55]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [56]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31   33        35        43
1   0.000104  0.477947  0.331553  0.0  0.307033  0.174249
2   0.000040  0.498731  0.357784  0.0  0.322863  0.173297
3   0.000040  0.505699  0.365526  0.0  0.329047  0.180732
4   0.000021  0.503033  0.364406  0.0  0.333132  0.180466
5   0.000160  0.495193  0.362516  0.0  0.329210  0.174852
6   0.000000  0.492072  0.354597  0.0  0.322420  0.170400
7   0.000113  0.496187  0.352324  0.0  0.318363  0.176924
8   0.000329  0.503635  0.348256  0.0  0.328810  0.171971
9   0.000000  0.491744  0.353011  0.0  0.329161  0.173878
10  0.000000  0.489712  0.345920  0.0  0.337751  0.170050
11  0.000000  0.492403  0.343141  0.0  0.333408  0.168904
12  0.000041  0.496395  0.351622  0.0  0.331038  0.167602

In [57]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [58]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31   33        35        43
1   0.000051  0.345613  0.217250  0.0  0.196300  0.096544
2   0.000008  0.360223  0.235213  0.0  0.206355  0.095507
3   0.000008  0.371118  0.241422  0.0  0.211236  0.100528
4   0.000002  0.363502  0.241504  0.0  0.212547  0.100667
5   0.000071  0.356063  0.239097  0.0  0.209950  0.096195
6   0.000000  0.354632  0.232584  0.0  0.205349  0.093206
7   0.000038  0.358497  0.231928  0.0  0.201595  0.096649
8   0.000105  0.364883  0.228008  0.0  0.210025  0.093635
9   0.000000  0.355641  0.229977  0.0  0.209808  0.095296
10  0.000000  0.353918  0.226837  0.0  0.216806  0.092950
11  0.000000  0.355717  0.224320  0.0  0.212959  0.092144
12  0.000008  0.360793  0.230554  0.0  0.211124  0.090678

El autor menciona también los trabajos de Ravallion 1004 y 2016 pero parece ser que no los calcula

----------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/N*sumatoria(y**(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (2000)

In [59]:
b2000pi = b2000pi[['uf', 'mes', 'ingr_b', 'ingr_r', 'den', 'ingr_t']]

In [60]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [61]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

,26,29,31,33,35,43
1,6.350160e+05,9.158117e+05,251779.422523,2.350146e+06,314128.858790,1.834648e+06
2,1.146590e+06,1.215905e+06,595523.036697,2.491849e+06,412919.157934,8.272811e+05
3,1.643390e+06,1.348586e+06,558245.290945,2.510280e+06,320530.135182,8.277336e+05
4,1.416708e+06,7.579823e+05,399197.896314,2.003584e+06,370005.797310,1.215114e+06
5,1.036368e+06,9.392446e+05,284167.015256,1.743757e+06,236917.193097,1.556987e+06
6,4.905205e+05,1.097634e+06,448580.272382,1.763690e+06,467799.299678,8.980796e+05
7,6.472598e+05,8.213552e+05,244527.481071,2.609415e+06,365626.689098,1.109931e+06
8,1.402645e+06,1.033546e+06,581649.656455,2.019074e+06,292088.947027,8.932338e+05
9,8.726790e+05,6.300505e+05,557914.899051,2.684211e+06,460873.657596,7.839213e+05
10,1.095850e+06,5.513461e+05,606520.605778,2.830209e+06,241734.109646,6.789589e+05
11,1.599596e+06,6.373987e+05,506529.201721,1.579940e+06,176274.452933,4.582881e+05
12,1.061879e+06,4.195811e+05,418639.406048,2.123480e+06,261677.684285,5.399640e+05

In [62]:
b2000pi['ingr_t25'] = b2000pi['ingr_t']**(1-0.25)
b2000pi['ingr_t50'] = b2000pi['ingr_t']**(1-0.5)
b2000pi['ingr_t75'] = b2000pi['ingr_t']**(1-0.75)
b2000pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3054552152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pi['ingr_t25'] = b2000pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3054552152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pi['ingr_t50'] = b2000pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_12100\3054552152.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2000pi['ingr_t75'] = b2000pi['ingr_t']**(1-0.75)

,uf,mes,ingr_b,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
56538,26,1,4.000000e+00,2.334715e+00,6.400000,3.647992e-01,4.693971e-01,0.603986,0.777165
42989,29,1,1.000000e+01,5.836787e+00,13.006301,4.487661e-01,5.482959e-01,0.669900,0.818474
44090,29,1,1.000000e+01,5.836787e+00,13.006301,4.487661e-01,5.482959e-01,0.669900,0.818474
44309,29,1,1.000000e+01,5.836787e+00,13.006301,4.487661e-01,5.482959e-01,0.669900,0.818474
27065,29,1,7.000000e+00,4.085751e+00,9.075150,4.502130e-01,5.496213e-01,0.670979,0.819133
...,...,...,...,...,...,...,...,...,...
1076587,26,12,1.000003e+09,5.541903e+08,1.000000,5.541903e+08,3.611970e+06,23541.246891,153.431571
1053465,33,12,1.000010e+09,5.541939e+08,1.000000,5.541939e+08,3.611988e+06,23541.323399,153.431820
1026499,33,12,2.000000e+09,1.108377e+09,1.000000,1.108377e+09,6.074570e+06,33292.292367,182.461756
1089044,33,12,2.000000e+09,1.108377e+09,1.000000,1.108377e+09,6.074570e+06,33292.292367,182.461756
1092276,43,12,2.000000e+09,1.108377e+09,1.000000,1.108377e+09,6.074570e+06,33292.292367,182.461756

In [63]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [64]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,2.283789e+07,3.314105e+07,1.768994e+07,1.052716e+08,1.846462e+07,7.686235e+07
2,4.158057e+07,4.362668e+07,3.440069e+07,1.142599e+08,2.278217e+07,3.316898e+07
3,5.514059e+07,4.728388e+07,3.225844e+07,1.194734e+08,1.970614e+07,3.691134e+07
4,4.848083e+07,2.579822e+07,2.604407e+07,9.266608e+07,2.425428e+07,5.336243e+07
5,3.645636e+07,3.659659e+07,1.914417e+07,8.422090e+07,1.463094e+07,6.568181e+07
6,1.789802e+07,4.347425e+07,2.842358e+07,7.986842e+07,2.703378e+07,4.123236e+07
7,2.438197e+07,3.257789e+07,1.629303e+07,1.220856e+08,2.111853e+07,4.612958e+07
8,4.914546e+07,3.818403e+07,3.735916e+07,1.003094e+08,1.647375e+07,4.017250e+07
9,2.899609e+07,2.702750e+07,3.033578e+07,1.268006e+08,2.606426e+07,3.674074e+07
10,4.218263e+07,2.362906e+07,3.805644e+07,1.328642e+08,1.657529e+07,2.896861e+07
11,5.706856e+07,2.634036e+07,3.448215e+07,7.342995e+07,1.195437e+07,2.356989e+07
12,3.918889e+07,1.755474e+07,2.785096e+07,9.891703e+07,1.718491e+07,2.452480e+07

In [65]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [66]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,211663.654594,291472.965959,229132.642214,798183.003785,224745.497828,585794.403948
2,355785.765694,361069.911402,324600.409232,882161.997018,243406.555073,275722.596185
3,432146.460865,390180.587163,307312.373232,926915.753233,232947.908748,323321.565039
4,397016.206195,219260.262423,277962.508672,716592.386015,274497.927764,435521.590449
5,308314.527850,322721.218342,226877.711670,684622.618377,196702.345408,498157.633096
6,175576.527041,370826.035411,290740.531440,631103.585933,277488.658029,365827.228866
7,229963.240712,291922.828864,205015.901852,938830.828923,237938.514984,366765.920656
8,410269.643460,312587.771311,363963.326133,811726.820288,201822.845123,344811.479637
9,250612.003450,260181.428826,276520.749651,958140.262662,266761.085703,333516.332136
10,373009.398140,231944.331944,361508.294535,992357.802471,223041.981014,259351.574195
11,482095.795355,237600.266977,358864.594769,583628.883475,184704.039038,253786.696090
12,349377.964763,178230.823038,297652.376146,773853.472894,221820.108910,243848.200421

In [67]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [68]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,13979.596837,14773.822133,25131.185131,25589.641507,27845.610019,23019.455662
2,15171.014468,15225.882267,24989.501115,25607.394715,27820.117903,21390.429658
3,15499.600544,14972.057264,24962.786670,26337.055526,28731.536950,21974.322217
4,14851.897904,14088.628593,25157.288808,24648.081813,29324.456093,22738.505153
5,14461.223671,15360.924216,25152.311476,24629.040762,28824.694549,23444.614330
6,13556.916118,16179.166288,25631.412963,23757.638555,29166.032773,22566.485259
7,14133.749552,15365.267920,24625.888639,26625.552356,28760.874079,22570.272713
8,15079.669660,15648.456738,26429.048211,26147.959497,28343.552280,22801.720096
9,13779.915898,15635.404831,25335.396695,27235.179592,29233.663986,22604.528571
10,15631.749816,15442.944349,26435.385697,27630.720200,29075.137725,21954.807473
11,16016.677201,16013.865247,26263.519448,24526.858805,28629.442878,21802.656436
12,14668.802034,14939.410636,25392.360058,25709.607986,29065.328204,21275.194000

In [69]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [70]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.871344  0.855922  0.886510  0.829399  0.906272  0.844978
2   0.844100  0.847404  0.883049  0.817290  0.906912  0.892149
3   0.840907  0.839594  0.886901  0.813377  0.906363  0.877048
4   0.837507  0.878867  0.883182  0.832638  0.894796  0.863088
5   0.852971  0.849340  0.893322  0.829578  0.916434  0.862155
6   0.878630  0.845569  0.885097  0.837537  0.902503  0.869059
7   0.864343  0.856112  0.897043  0.814213  0.909135  0.879578
8   0.833928  0.863136  0.873269  0.819404  0.918691  0.877565
9   0.865714  0.858698  0.899187  0.818103  0.906748  0.874577
10  0.837540  0.865289  0.876124  0.817747  0.903568  0.894006
11  0.823681  0.874054  0.866867  0.847556  0.913618  0.877890
12  0.836994  0.881433  0.877768  0.827103  0.906465  0.888224

In [71]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [72]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.996841  0.995952  0.996781  0.993790  0.997617  0.995198
2   0.995174  0.995498  0.997252  0.992651  0.997917  0.997774
3   0.995003  0.994920  0.997421  0.992311  0.997733  0.996990
4   0.994772  0.997349  0.997126  0.994204  0.997341  0.996280
5   0.995895  0.995593  0.997391  0.993861  0.997875  0.996327
6   0.997150  0.995374  0.997271  0.994570  0.997806  0.996465
7   0.996424  0.996028  0.997413  0.992350  0.997898  0.997217
8   0.994414  0.996550  0.996734  0.992859  0.998119  0.997017
9   0.996566  0.996093  0.998013  0.992743  0.997975  0.996759
10  0.994640  0.996463  0.996936  0.992698  0.997334  0.997721
11  0.993318  0.997096  0.996255  0.995274  0.997455  0.996651
12  0.994610  0.997274  0.996842  0.993588  0.997562  0.997285

In [73]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [74]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.999879  0.999901  0.999623  0.999904  0.999580  0.999899
2   0.999912  0.999922  0.999842  0.999904  0.999694  0.999851
3   0.999932  0.999925  0.999838  0.999903  0.999619  0.999840
4   0.999924  0.999909  0.999779  0.999906  0.999659  0.999875
5   0.999915  0.999906  0.999708  0.999890  0.999507  0.999897
6   0.999858  0.999915  0.999798  0.999896  0.999725  0.999838
7   0.999882  0.999901  0.999659  0.999901  0.999655  0.999877
8   0.999920  0.999923  0.999828  0.999889  0.999598  0.999848
9   0.999906  0.999875  0.999845  0.999908  0.999727  0.999826
10  0.999903  0.999864  0.999837  0.999909  0.999504  0.999819
11  0.999913  0.999889  0.999796  0.999890  0.999341  0.999720
12  0.999904  0.999846  0.999779  0.999894  0.999541  0.999769

In [75]:
a25['ano'] = 2000
a50['ano'] = 2000
a75['ano'] = 2000
fgt0['ano'] = 2000
fgt1['ano'] = 2000
fgt2['ano'] = 2000

## Calculamos el ingreso promedio por año y región

In [76]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [77]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b2000pi.loc[(b2000pi['uf']==x) & (b2000pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

,26,29,31,33,35,43
1,6.350160e+05,9.158117e+05,251779.422523,2.350146e+06,314128.858790,1.834648e+06
2,1.146590e+06,1.215905e+06,595523.036697,2.491849e+06,412919.157934,8.272811e+05
3,1.643390e+06,1.348586e+06,558245.290945,2.510280e+06,320530.135182,8.277336e+05
4,1.416708e+06,7.579823e+05,399197.896314,2.003584e+06,370005.797310,1.215114e+06
5,1.036368e+06,9.392446e+05,284167.015256,1.743757e+06,236917.193097,1.556987e+06
6,4.905205e+05,1.097634e+06,448580.272382,1.763690e+06,467799.299678,8.980796e+05
7,6.472598e+05,8.213552e+05,244527.481071,2.609415e+06,365626.689098,1.109931e+06
8,1.402645e+06,1.033546e+06,581649.656455,2.019074e+06,292088.947027,8.932338e+05
9,8.726790e+05,6.300505e+05,557914.899051,2.684211e+06,460873.657596,7.839213e+05
10,1.095850e+06,5.513461e+05,606520.605778,2.830209e+06,241734.109646,6.789589e+05
11,1.599596e+06,6.373987e+05,506529.201721,1.579940e+06,176274.452933,4.582881e+05
12,1.061879e+06,4.195811e+05,418639.406048,2.123480e+06,261677.684285,5.399640e+05

In [78]:
ynr['ano'] = 2000

--------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [79]:
a25_00 = a25
a50_00 = a50
a75_00 = a75
fgt0_00 = fgt0
fgt1_00 = fgt1
fgt2_00 = fgt2
ynr_00 = ynr

In [80]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b2000p, b2000pf, b2000pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [81]:
a25_00.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2000\\a25_00.csv')
a50_00.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2000\\a50_00.csv')
a75_00.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2000\\a75_00.csv')
fgt0_00.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2000\\fgt0_00.csv')
fgt1_00.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2000\\fgt1_00.csv')
fgt2_00.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2000\\fgt2_00.csv')
ynr_00.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2000\\ynr_00.csv')

In [84]:
a25_00

          26        29        31        33        35        43   ano
1   0.871344  0.855922  0.886510  0.829399  0.906272  0.844978  2000
2   0.844100  0.847404  0.883049  0.817290  0.906912  0.892149  2000
3   0.840907  0.839594  0.886901  0.813377  0.906363  0.877048  2000
4   0.837507  0.878867  0.883182  0.832638  0.894796  0.863088  2000
5   0.852971  0.849340  0.893322  0.829578  0.916434  0.862155  2000
6   0.878630  0.845569  0.885097  0.837537  0.902503  0.869059  2000
7   0.864343  0.856112  0.897043  0.814213  0.909135  0.879578  2000
8   0.833928  0.863136  0.873269  0.819404  0.918691  0.877565  2000
9   0.865714  0.858698  0.899187  0.818103  0.906748  0.874577  2000
10  0.837540  0.865289  0.876124  0.817747  0.903568  0.894006  2000
11  0.823681  0.874054  0.866867  0.847556  0.913618  0.877890  2000
12  0.836994  0.881433  0.877768  0.827103  0.906465  0.888224  2000