In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [5]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\2007\\pmenova_1\\pmenova2007.csv'
b2007p = pd.read_csv(basep)
b2007p.head()

,v035,v040,v050,v055,v060,v063,v070,v075,v072,v104,...,v4241df,vI4241df,v4302df,vI4302df,v4312df,vI4312df,vD23df,vD24df,vD25df,vD26df
0,26,26000011,1,1,I,1,1,2007,8,1,...,438.3653,438.3653,NaN,NaN,NaN,NaN,438.3653,438.3653,438.3653,438.3653
1,26,26000011,1,1,I,1,1,2007,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,26000011,1,1,I,1,1,2007,8,1,...,438.3653,438.3653,NaN,NaN,NaN,NaN,438.3653,438.3653,438.3653,438.3653
3,26,26000011,2,1,I,1,1,2007,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26,26000011,2,1,I,1,1,2007,8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Abrimos la tabla con el deflactor

In [6]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos

In [7]:
b2007p.describe()

,v035,v040,v050,v055,v063,v070,v075,v072,v104,v106,...,v4241df,vI4241df,v4302df,vI4302df,v4312df,vI4312df,vD23df,vD24df,vD25df,vD26df
count,1.225931e+06,1.225931e+06,1.225931e+06,1.225931e+06,1.225931e+06,1.225931e+06,1225931.0,1.225931e+06,1225931.0,1.225931e+06,...,128708.000000,130413.000000,12781.000000,13213.000000,13095.000000,13213.000000,530036.000000,530036.000000,530193.000000,530193.000000
mean,3.318080e+01,3.318748e+07,1.061764e+01,2.479634e+00,4.464897e+00,6.512288e+00,2007.0,4.490093e+00,1.0,1.119965e+02,...,1973.207884,1991.877245,1850.042950,1870.121305,1805.891445,1809.298456,1740.047137,1753.578766,1786.137382,1798.149232
std,5.101215e+00,5.103206e+06,6.472286e+00,1.117739e+00,2.291933e+00,3.450351e+00,0.0,2.289178e+00,0.0,9.700237e+01,...,3909.844523,3932.497613,2716.330185,2759.438497,2732.384793,2732.307339,2746.893753,2837.780362,2860.038904,2945.865876
min,2.600000e+01,2.600001e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2007.0,1.000000e+00,1.0,0.000000e+00,...,0.000000,0.000000,0.000000,13.619163,0.000000,0.000000,1.679816,0.000000,1.679816,0.000000
25%,2.900000e+01,2.900232e+07,5.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,2007.0,2.000000e+00,1.0,1.700000e+01,...,519.673830,521.502750,521.502750,523.714420,503.944890,503.944890,676.643800,658.253540,676.643800,663.527470
50%,3.300000e+01,3.300115e+07,1.000000e+01,2.000000e+00,4.000000e+00,7.000000e+00,2007.0,4.000000e+00,1.0,1.180000e+02,...,1014.965700,1018.628700,1036.621200,1039.347700,1025.679200,1025.679200,1018.628700,1021.437100,1021.437100,1025.679200
75%,3.500000e+01,3.500247e+07,1.500000e+01,3.000000e+00,6.000000e+00,1.000000e+01,2007.0,6.000000e+00,1.0,2.020000e+02,...,2051.358400,2060.629400,2094.857700,2199.092500,2073.242400,2078.695300,1727.701900,1738.342500,1732.246100,1745.714700
max,4.300000e+01,4.360223e+07,5.900000e+01,4.000000e+00,8.000000e+00,1.200000e+01,2007.0,8.000000e+00,1.0,2.520000e+02,...,345540.380000,345540.380000,92389.898000,92389.898000,92389.898000,92389.898000,344576.220000,345540.380000,344576.220000,345540.380000

## Nos quedamos con las columnas que vamos a usar

In [8]:
#Nos quedamos con los datos que necesitamos
b2007pf = b2007p[['v035', 'v075', 'v070', 'v040', 'v050', 'v115', 'v209', 'v210', 'v234', 'vD26']]
b2007pf.head()

   v035  v075  v070      v040  v050  v115  v209  v210  v234   vD26
0    26  2007     1  26000011     1   350     3     3    50  250.0
1    26  2007     1  26000011     1   350     3     3    56    NaN
2    26  2007     1  26000011     1   350     3     3    25  250.0
3    26  2007     1  26000011     2   350     4     3    66    NaN
4    26  2007     1  26000011     2   350     4     3    45    NaN

In [9]:
b2007pf.describe()

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26
count,1.225931e+06,1225931.0,1.225931e+06,1.225931e+06,1.225931e+06,1.225931e+06,1.225931e+06,1.225931e+06,1.225931e+06,530193.000000
mean,3.318080e+01,2007.0,6.512288e+00,3.318748e+07,1.061764e+01,3.700484e+02,3.945879e+00,3.310741e+00,3.284075e+01,1046.747879
std,5.101215e+00,0.0,3.450351e+00,5.103206e+06,6.472286e+00,1.412495e+01,1.737017e+00,1.457562e+00,2.032472e+01,1713.903341
min,2.600000e+01,2007.0,1.000000e+00,2.600001e+07,1.000000e+00,3.500000e+02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,2.900000e+01,2007.0,4.000000e+00,2.900232e+07,5.000000e+00,3.500000e+02,3.000000e+00,2.000000e+00,1.600000e+01,385.000000
50%,3.300000e+01,2007.0,7.000000e+00,3.300115e+07,1.000000e+01,3.800000e+02,4.000000e+00,3.000000e+00,3.100000e+01,600.000000
75%,3.500000e+01,2007.0,1.000000e+01,3.500247e+07,1.500000e+01,3.800000e+02,5.000000e+00,4.000000e+00,4.700000e+01,1000.000000
max,4.300000e+01,2007.0,1.200000e+01,4.360223e+07,5.900000e+01,3.800000e+02,1.800000e+01,1.500000e+01,1.200000e+02,200000.000000

In [10]:
b2007pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225931 entries, 0 to 1225930
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   v035    1225931 non-null  int64
 1   v075    1225931 non-null  int64
 2   v070    1225931 non-null  int64
 3   v040    1225931 non-null  int64
 4   v050    1225931 non-null  int64
 5   v115    1225931 non-null  int64
 6   v209    1225931 non-null  int64
 7   v210    1225931 non-null  int64
 8   v234    1225931 non-null  int64
 9   vD26    530193 non-null   float64
dtypes: float64(1), int64(9)
memory usage: 93.5 MB

In [11]:
b2007pf['vD26'] = b2007pf['vD26'].fillna(0)
b2007pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225931 entries, 0 to 1225930
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   v035    1225931 non-null  int64
 1   v075    1225931 non-null  int64
 2   v070    1225931 non-null  int64
 3   v040    1225931 non-null  int64
 4   v050    1225931 non-null  int64
 5   v115    1225931 non-null  int64
 6   v209    1225931 non-null  int64
 7   v210    1225931 non-null  int64
 8   v234    1225931 non-null  int64
 9   vD26    1225931 non-null  float64
dtypes: float64(1), int64(9)
memory usage: 93.5 MB

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\1184722072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pf['vD26'] = b2007pf['vD26'].fillna(0)

No es necesario calcular el ingreso por persona ya que la variable vD26, recoge toda esta información, como la suma de los ingresos del trabajo principal y los no principales

In [12]:
b2007pf['vD26']

0           250.0
1             0.0
2           250.0
3             0.0
4             0.0
            ...
1225926       0.0
1225927     600.0
1225928    1200.0
1225929     600.0
1225930       0.0
Name: vD26, Length: 1225931, dtype: float64

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1994.aspx

In [13]:
b2007pf['defl'] = 0

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\483837238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pf['defl'] = 0

In [14]:
def2007 = infb.loc[infb['ano']==2007]
def2007['index'] = np.arange(1,13)
def2007 = def2007.set_index('index')
def2007

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\3747587822.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def2007['index'] = np.arange(1,13)

       Unnamed: 0   inf   ano        b100      defl
index
1             149  0.44  2007  281.532819  2.815328
2             150  0.44  2007  282.771563  2.827716
3             151  0.37  2007  283.817818  2.838178
4             152  0.25  2007  284.527363  2.845274
5             153  0.28  2007  285.324039  2.853240
6             154  0.28  2007  286.122946  2.861229
7             155  0.24  2007  286.809642  2.868096
8             156  0.47  2007  288.157647  2.881576
9             157  0.18  2007  288.676331  2.886763
10            158  0.30  2007  289.542360  2.895424
11            159  0.38  2007  290.642621  2.906426
12            160  0.74  2007  292.793376  2.927934

In [15]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b2007pf.loc[b2007pf['v070']==x]
    fl['defl'] = def2007['defl'][x]
    b2007pf['defl'].loc[b2007pf['v070']==x] = fl['defl']
    del(fl)

mes 1

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\481096295.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl['defl'] = def2007['defl'][x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\481096295.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pf['defl'].loc[b2007pf['v070']==x] = fl['defl']

mes 2
mes 3
mes 4
mes 5
mes 6
mes 7
mes 8
mes 9
mes 10
mes 11
mes 12

In [16]:
b2007pf['ingr_r'] = b2007pf['vD26']/b2007pf['defl']
b2007pf

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\3626202109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pf['ingr_r'] = b2007pf['vD26']/b2007pf['defl']

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594
1,26,2007,1,26000011,1,350,3,3,56,0.0,2.815328,0.000000
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594
3,26,2007,1,26000011,2,350,4,3,66,0.0,2.815328,0.000000
4,26,2007,1,26000011,2,350,4,3,45,0.0,2.815328,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1225926,43,2007,12,43602177,1,380,2,2,59,0.0,2.927934,0.000000
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669
1225930,43,2007,12,43602207,1,380,1,1,58,0.0,2.927934,0.000000

No Vamos a intentar un índice hogares o un ingreso por hogar ya que el problema que se daba con pme antiga se mantiene para pme nova, y sigue siendo la capacidad de cómputo

Tampoco es necesario calcular la edad, ya que la variable v234 ya nos da una edad calculada

Limpiamos de la base los datos con edades negativas

In [17]:
b2007pf = b2007pf.loc[b2007pf['v234']>0]

Limpiamos también los datos con edades mayores a 100 años

In [18]:
b2007pf = b2007pf.loc[b2007pf['v234']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [19]:
b2007pf = b2007pf.loc[b2007pf['v234']>10]

Eliminamos ingresos igual a 9999999999

In [20]:
b2007pf = b2007pf.loc[b2007pf['vD26']!=999999999]
b2007pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594
1,26,2007,1,26000011,1,350,3,3,56,0.0,2.815328,0.000000
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594
3,26,2007,1,26000011,2,350,4,3,66,0.0,2.815328,0.000000
4,26,2007,1,26000011,2,350,4,3,45,0.0,2.815328,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1225926,43,2007,12,43602177,1,380,2,2,59,0.0,2.927934,0.000000
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669
1225930,43,2007,12,43602207,1,380,1,1,58,0.0,2.927934,0.000000

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [21]:
k = 0.4
s = 0.9

In [22]:
b2007pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594
1,26,2007,1,26000011,1,350,3,3,56,0.0,2.815328,0.000000
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594
3,26,2007,1,26000011,2,350,4,3,66,0.0,2.815328,0.000000
4,26,2007,1,26000011,2,350,4,3,45,0.0,2.815328,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1225926,43,2007,12,43602177,1,380,2,2,59,0.0,2.927934,0.000000
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669
1225930,43,2007,12,43602207,1,380,1,1,58,0.0,2.927934,0.000000

In [23]:
b2007pf['den'] = b2007pf['v210'] + k*(b2007pf['v209']-b2007pf['v210'])**s
b2007pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594,3.0
1,26,2007,1,26000011,1,350,3,3,56,0.0,2.815328,0.000000,3.0
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594,3.0
3,26,2007,1,26000011,2,350,4,3,66,0.0,2.815328,0.000000,3.4
4,26,2007,1,26000011,2,350,4,3,45,0.0,2.815328,0.000000,3.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225926,43,2007,12,43602177,1,380,2,2,59,0.0,2.927934,0.000000,2.0
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669,2.0
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338,2.0
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669,2.0
1225930,43,2007,12,43602207,1,380,1,1,58,0.0,2.927934,0.000000,1.0

In [24]:
b2007pf['ingr_t'] = b2007pf['ingr_r']/b2007pf['den']
b2007pf

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594,3.0,29.599865
1,26,2007,1,26000011,1,350,3,3,56,0.0,2.815328,0.000000,3.0,0.000000
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594,3.0,29.599865
3,26,2007,1,26000011,2,350,4,3,66,0.0,2.815328,0.000000,3.4,0.000000
4,26,2007,1,26000011,2,350,4,3,45,0.0,2.815328,0.000000,3.4,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225926,43,2007,12,43602177,1,380,2,2,59,0.0,2.927934,0.000000,2.0,0.000000
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669,2.0,102.461334
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338,2.0,204.922669
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669,2.0,102.461334
1225930,43,2007,12,43602207,1,380,1,1,58,0.0,2.927934,0.000000,1.0,0.000000

-----------------------------------------

Vamos a descartar las personas con ingresos de 0

In [25]:
b2007pi = b2007pf.loc[b2007pf['ingr_t']>0]
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594,3.000000,29.599865
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594,3.000000,29.599865
5,26,2007,1,26000011,2,350,4,3,28,240.0,2.815328,85.247610,3.400000,25.072827
7,26,2007,1,26000011,3,350,3,2,32,1050.0,2.815328,372.958295,2.400000,155.399289
12,26,2007,1,26000011,6,350,4,2,27,1400.0,2.815328,497.277726,2.746426,181.063555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225924,43,2007,12,43602134,1,380,2,2,36,1370.0,2.927934,467.906760,2.000000,233.953380
1225925,43,2007,12,43602134,1,380,2,2,32,1150.0,2.927934,392.768448,2.000000,196.384224
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669,2.000000,102.461334
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338,2.000000,204.922669
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669,2.000000,102.461334

In [26]:
b2007pi.describe()

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t
count,517781.000000,517781.0,517781.000000,5.177810e+05,517781.000000,517781.000000,517781.000000,517781.000000,517781.000000,517781.000000,517781.000000,517781.000000,517781.000000,517781.000000
mean,33.381157,2007.0,6.564335,3.338867e+07,10.608497,370.209838,3.721091,3.252439,37.435132,1071.745788,2.867849,373.762238,3.432236,141.895991
std,5.023081,0.0,3.453440,5.025162e+06,6.498527,14.066200,1.622229,1.420081,12.511516,1726.554271,0.032200,602.405377,1.450454,286.193216
min,26.000000,2007.0,1.000000,2.600001e+07,1.000000,350.000000,1.000000,1.000000,11.000000,1.000000,2.815328,0.352339,1.000000,0.117446
25%,31.000000,2007.0,4.000000,3.100031e+07,5.000000,350.000000,3.000000,2.000000,27.000000,400.000000,2.845274,138.563491,2.400000,39.318762
50%,33.000000,2007.0,7.000000,3.300150e+07,10.000000,380.000000,4.000000,3.000000,36.000000,600.000000,2.868096,209.700063,3.000000,69.281745
75%,35.000000,2007.0,10.000000,3.500264e+07,15.000000,380.000000,5.000000,4.000000,46.000000,1030.000000,2.895424,358.614670,4.000000,138.149043
max,43.000000,2007.0,12.000000,4.360223e+07,59.000000,380.000000,18.000000,15.000000,95.000000,200000.000000,2.927934,70095.741176,15.400000,29206.558823

## Calculo del índice de pobreza de Foster, Greer y Thorbecke¶

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1984), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2007) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 1996, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [27]:
b2007pi['um_pobr']=0
b2007pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\1897599939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pi['um_pobr']=0

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594,3.000000,29.599865,0
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594,3.000000,29.599865,0
5,26,2007,1,26000011,2,350,4,3,28,240.0,2.815328,85.247610,3.400000,25.072827,0
7,26,2007,1,26000011,3,350,3,2,32,1050.0,2.815328,372.958295,2.400000,155.399289,0
12,26,2007,1,26000011,6,350,4,2,27,1400.0,2.815328,497.277726,2.746426,181.063555,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225924,43,2007,12,43602134,1,380,2,2,36,1370.0,2.927934,467.906760,2.000000,233.953380,0
1225925,43,2007,12,43602134,1,380,2,2,32,1150.0,2.927934,392.768448,2.000000,196.384224,0
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669,2.000000,102.461334,0
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338,2.000000,204.922669,0
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669,2.000000,102.461334,0

In [28]:
pobr = pd.Series([98.72, 92.37, 82.11, 99.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

26     98.72
29     92.37
31     82.11
33     99.21
35    119.55
43     62.28
dtype: float64

In [29]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b2007pi.loc[b2007pi['v035']==x]
    p['um_pobr'] = pobr[x]
    b2007pi['um_pobr'].loc[b2007pi['v035']==x] = p['um_pobr']
    del(p)

Región 43
Región 33
Región 29
Región 35
Región 31
Región 26

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\2860509016.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['um_pobr'] = pobr[x]
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\2860509016.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pi['um_pobr'].loc[b2007pi['v035']==x] = p['um_pobr']

--------------------------------------------------

In [30]:
b2007pi = b2007pi.sort_values(['v070', 'ingr_t'])
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr
35714,31,2007,1,31001684,13,350,7,6,15,10.0,2.815328,3.551984,6.400000,0.554997,82.11
10637,26,2007,1,26001883,5,350,7,5,20,10.0,2.815328,3.551984,5.746426,0.618120,98.72
91190,43,2007,1,43001050,3,350,4,3,20,6.0,2.815328,2.131190,3.400000,0.626821,62.28
11619,26,2007,1,26002078,15,350,6,4,27,10.0,2.815328,3.551984,4.746426,0.748349,98.72
9380,26,2007,1,26001640,15,350,10,9,29,20.0,2.815328,7.103968,9.400000,0.755741,98.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,2.927934,6830.755625,1.000000,6830.755625,62.28
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,2.927934,8538.444532,1.000000,8538.444532,92.37
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,2.927934,21346.111330,2.000000,10673.055665,119.55

Creamos la variable g = um_pobr - ingr_t

In [31]:
b2007pi['g']=b2007pi['um_pobr']-b2007pi['ingr_t']
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g
35714,31,2007,1,31001684,13,350,7,6,15,10.0,2.815328,3.551984,6.400000,0.554997,82.11,81.555003
10637,26,2007,1,26001883,5,350,7,5,20,10.0,2.815328,3.551984,5.746426,0.618120,98.72,98.101880
91190,43,2007,1,43001050,3,350,4,3,20,6.0,2.815328,2.131190,3.400000,0.626821,62.28,61.653179
11619,26,2007,1,26002078,15,350,6,4,27,10.0,2.815328,3.551984,4.746426,0.748349,98.72,97.971651
9380,26,2007,1,26001640,15,350,10,9,29,20.0,2.815328,7.103968,9.400000,0.755741,98.72,97.964259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,2.927934,6830.755625,1.000000,6830.755625,62.28,-6768.475625
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,2.927934,8538.444532,1.000000,8538.444532,92.37,-8446.074532
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,2.927934,21346.111330,2.000000,10673.055665,119.55,-10553.505665

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [32]:
b2007pi['q'] = 0
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q
35714,31,2007,1,31001684,13,350,7,6,15,10.0,2.815328,3.551984,6.400000,0.554997,82.11,81.555003,0
10637,26,2007,1,26001883,5,350,7,5,20,10.0,2.815328,3.551984,5.746426,0.618120,98.72,98.101880,0
91190,43,2007,1,43001050,3,350,4,3,20,6.0,2.815328,2.131190,3.400000,0.626821,62.28,61.653179,0
11619,26,2007,1,26002078,15,350,6,4,27,10.0,2.815328,3.551984,4.746426,0.748349,98.72,97.971651,0
9380,26,2007,1,26001640,15,350,10,9,29,20.0,2.815328,7.103968,9.400000,0.755741,98.72,97.964259,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,2.927934,6830.755625,1.000000,6830.755625,62.28,-6768.475625,0
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,2.927934,8538.444532,1.000000,8538.444532,92.37,-8446.074532,0
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,2.927934,21346.111330,2.000000,10673.055665,119.55,-10553.505665,0

In [33]:
ma = b2007pi.loc[b2007pi['g']>0]
ma['q'] = 1
b2007pi['q'] = ma['q']
b2007pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\1145849143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ma['q'] = 1

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q
35714,31,2007,1,31001684,13,350,7,6,15,10.0,2.815328,3.551984,6.400000,0.554997,82.11,81.555003,1.0
10637,26,2007,1,26001883,5,350,7,5,20,10.0,2.815328,3.551984,5.746426,0.618120,98.72,98.101880,1.0
91190,43,2007,1,43001050,3,350,4,3,20,6.0,2.815328,2.131190,3.400000,0.626821,62.28,61.653179,1.0
11619,26,2007,1,26002078,15,350,6,4,27,10.0,2.815328,3.551984,4.746426,0.748349,98.72,97.971651,1.0
9380,26,2007,1,26001640,15,350,10,9,29,20.0,2.815328,7.103968,9.400000,0.755741,98.72,97.964259,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,2.927934,6830.755625,1.000000,6830.755625,62.28,-6768.475625,NaN
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,2.927934,8538.444532,1.000000,8538.444532,92.37,-8446.074532,NaN
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,NaN
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,NaN
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,2.927934,21346.111330,2.000000,10673.055665,119.55,-10553.505665,NaN

In [34]:
b2007pi['q'] = b2007pi['q'].fillna(0)
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q
35714,31,2007,1,31001684,13,350,7,6,15,10.0,2.815328,3.551984,6.400000,0.554997,82.11,81.555003,1.0
10637,26,2007,1,26001883,5,350,7,5,20,10.0,2.815328,3.551984,5.746426,0.618120,98.72,98.101880,1.0
91190,43,2007,1,43001050,3,350,4,3,20,6.0,2.815328,2.131190,3.400000,0.626821,62.28,61.653179,1.0
11619,26,2007,1,26002078,15,350,6,4,27,10.0,2.815328,3.551984,4.746426,0.748349,98.72,97.971651,1.0
9380,26,2007,1,26001640,15,350,10,9,29,20.0,2.815328,7.103968,9.400000,0.755741,98.72,97.964259,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,2.927934,6830.755625,1.000000,6830.755625,62.28,-6768.475625,0.0
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,2.927934,8538.444532,1.000000,8538.444532,92.37,-8446.074532,0.0
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0.0
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0.0
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,2.927934,21346.111330,2.000000,10673.055665,119.55,-10553.505665,0.0

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [35]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [36]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['q'].sum()
del(x)
del(y)
qs

        26      29      31      33      35      43
1   3399.0  3355.0  4531.0  4104.0  5542.0  2214.0
2   3843.0  3577.0  5266.0  4830.0  6337.0  2565.0
3   3900.0  3491.0  5385.0  4724.0  6418.0  2684.0
4   3884.0  3422.0  5471.0  4584.0  6517.0  2813.0
5   3891.0  3583.0  5282.0  4596.0  6371.0  2700.0
6   3981.0  3565.0  5287.0  4593.0  6429.0  2757.0
7   3836.0  3718.0  5417.0  4672.0  6375.0  2731.0
8   3858.0  3725.0  5452.0  4763.0  6340.0  2831.0
9   3819.0  3736.0  5474.0  4831.0  6463.0  2777.0
10  3719.0  3820.0  5399.0  4784.0  6494.0  2782.0
11  3851.0  3773.0  5386.0  4723.0  6529.0  2807.0
12  3742.0  3550.0  5180.0  4539.0  6351.0  2583.0

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [37]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [38]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['v070'].count()
del(x)
del(y)
ns

        26      29      31      33       35      43
1   5095.0  5107.0  8417.0  7739.0   9491.0  6448.0
2   4928.0  4957.0  8487.0  7670.0   9473.0  6498.0
3   4980.0  4850.0  8544.0  7586.0   9541.0  6715.0
4   4995.0  4776.0  8670.0  7448.0   9654.0  6903.0
5   5051.0  4965.0  8472.0  7526.0   9587.0  6860.0
6   5048.0  5018.0  8608.0  7535.0   9726.0  6982.0
7   4897.0  5194.0  8762.0  7632.0   9655.0  6936.0
8   4947.0  5265.0  8916.0  7750.0   9703.0  7149.0
9   4932.0  5283.0  8913.0  7822.0   9867.0  7126.0
10  4884.0  5249.0  8856.0  7863.0  10002.0  7198.0
11  4987.0  5338.0  8984.0  7795.0  10044.0  7465.0
12  4986.0  5119.0  8784.0  7743.0  10170.0  7215.0

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [39]:
b2007pi['gq'] = b2007pi['g']*b2007pi['q']
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q,gq
35714,31,2007,1,31001684,13,350,7,6,15,10.0,2.815328,3.551984,6.400000,0.554997,82.11,81.555003,1.0,81.555003
10637,26,2007,1,26001883,5,350,7,5,20,10.0,2.815328,3.551984,5.746426,0.618120,98.72,98.101880,1.0,98.101880
91190,43,2007,1,43001050,3,350,4,3,20,6.0,2.815328,2.131190,3.400000,0.626821,62.28,61.653179,1.0,61.653179
11619,26,2007,1,26002078,15,350,6,4,27,10.0,2.815328,3.551984,4.746426,0.748349,98.72,97.971651,1.0,97.971651
9380,26,2007,1,26001640,15,350,10,9,29,20.0,2.815328,7.103968,9.400000,0.755741,98.72,97.964259,1.0,97.964259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,2.927934,6830.755625,1.000000,6830.755625,62.28,-6768.475625,0.0,-0.000000
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,2.927934,8538.444532,1.000000,8538.444532,92.37,-8446.074532,0.0,-0.000000
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0.0,-0.000000
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0.0,-0.000000
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,2.927934,21346.111330,2.000000,10673.055665,119.55,-10553.505665,0.0,-0.000000

In [40]:
b2007pi['sumag_z'] = b2007pi['gq']/b2007pi['um_pobr']
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,um_pobr,g,q,gq,sumag_z
35714,31,2007,1,31001684,13,350,7,6,15,10.0,2.815328,3.551984,6.400000,0.554997,82.11,81.555003,1.0,81.555003,0.993241
10637,26,2007,1,26001883,5,350,7,5,20,10.0,2.815328,3.551984,5.746426,0.618120,98.72,98.101880,1.0,98.101880,0.993739
91190,43,2007,1,43001050,3,350,4,3,20,6.0,2.815328,2.131190,3.400000,0.626821,62.28,61.653179,1.0,61.653179,0.989935
11619,26,2007,1,26002078,15,350,6,4,27,10.0,2.815328,3.551984,4.746426,0.748349,98.72,97.971651,1.0,97.971651,0.992419
9380,26,2007,1,26001640,15,350,10,9,29,20.0,2.815328,7.103968,9.400000,0.755741,98.72,97.964259,1.0,97.964259,0.992345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,2.927934,6830.755625,1.000000,6830.755625,62.28,-6768.475625,0.0,-0.000000,-0.000000
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,2.927934,8538.444532,1.000000,8538.444532,92.37,-8446.074532,0.0,-0.000000,-0.000000
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0.0,-0.000000,-0.000000
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,2.927934,8538.444532,1.000000,8538.444532,82.11,-8456.334532,0.0,-0.000000,-0.000000
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,2.927934,21346.111330,2.000000,10673.055665,119.55,-10553.505665,0.0,-0.000000,-0.000000

In [41]:
b2007pi['sumag_z0'] = b2007pi['q']
b2007pi['sumag_z1'] = b2007pi['sumag_z']**1
b2007pi['sumag_z2'] = b2007pi['sumag_z']**2
b2007pi

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,...,den,ingr_t,um_pobr,g,q,gq,sumag_z,sumag_z0,sumag_z1,sumag_z2
35714,31,2007,1,31001684,13,350,7,6,15,10.0,...,6.400000,0.554997,82.11,81.555003,1.0,81.555003,0.993241,1.0,0.993241,0.986527
10637,26,2007,1,26001883,5,350,7,5,20,10.0,...,5.746426,0.618120,98.72,98.101880,1.0,98.101880,0.993739,1.0,0.993739,0.987517
91190,43,2007,1,43001050,3,350,4,3,20,6.0,...,3.400000,0.626821,62.28,61.653179,1.0,61.653179,0.989935,1.0,0.989935,0.979972
11619,26,2007,1,26002078,15,350,6,4,27,10.0,...,4.746426,0.748349,98.72,97.971651,1.0,97.971651,0.992419,1.0,0.992419,0.984896
9380,26,2007,1,26001640,15,350,10,9,29,20.0,...,9.400000,0.755741,98.72,97.964259,1.0,97.964259,0.992345,1.0,0.992345,0.984748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224177,43,2007,12,43002974,14,380,1,1,54,20000.0,...,1.000000,6830.755625,62.28,-6768.475625,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1147467,29,2007,12,29001998,17,380,1,1,66,25000.0,...,1.000000,8538.444532,92.37,-8446.074532,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1151010,31,2007,12,31000274,9,380,1,1,44,25000.0,...,1.000000,8538.444532,82.11,-8456.334532,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1155349,31,2007,12,31001041,15,380,1,1,45,25000.0,...,1.000000,8538.444532,82.11,-8456.334532,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000
1203034,35,2007,12,35003049,17,380,2,2,62,62500.0,...,2.000000,10673.055665,119.55,-10553.505665,0.0,-0.000000,-0.000000,0.0,-0.000000,0.000000

In [42]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [43]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

        26      29      31      33      35      43
1   3399.0  3355.0  4531.0  4104.0  5542.0  2214.0
2   3843.0  3577.0  5266.0  4830.0  6337.0  2565.0
3   3900.0  3491.0  5385.0  4724.0  6418.0  2684.0
4   3884.0  3422.0  5471.0  4584.0  6517.0  2813.0
5   3891.0  3583.0  5282.0  4596.0  6371.0  2700.0
6   3981.0  3565.0  5287.0  4593.0  6429.0  2757.0
7   3836.0  3718.0  5417.0  4672.0  6375.0  2731.0
8   3858.0  3725.0  5452.0  4763.0  6340.0  2831.0
9   3819.0  3736.0  5474.0  4831.0  6463.0  2777.0
10  3719.0  3820.0  5399.0  4784.0  6494.0  2782.0
11  3851.0  3773.0  5386.0  4723.0  6529.0  2807.0
12  3742.0  3550.0  5180.0  4539.0  6351.0  2583.0

In [44]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [45]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

,26,29,31,33,35,43
1,1869.667651,1879.730299,2143.414199,1920.288186,2670.683191,847.084850
2,2226.249142,2001.230492,2651.220973,2377.188903,3193.458486,968.560805
3,2275.179257,1944.178063,2682.900440,2311.394448,3261.243550,993.985446
4,2284.425892,1886.741440,2687.486468,2235.129575,3338.826141,1060.384070
5,2249.108575,1999.359982,2525.214353,2207.863951,3214.517386,1000.298710
6,2300.583190,1970.359961,2460.009940,2212.063040,3219.672340,1020.747957
7,2201.386288,2068.690874,2539.591419,2235.605608,3197.066885,1017.820468
8,2189.369948,2075.118719,2599.645815,2285.476573,3180.248340,1065.047436
9,2164.527685,2078.541239,2634.614746,2290.855788,3229.463570,1044.093691
10,2098.563906,2076.601022,2561.817591,2276.661608,3280.694609,1058.318364
11,2146.158425,2072.739021,2553.066245,2257.907852,3276.076924,1063.671609
12,2089.099822,1925.066963,2443.207467,2155.234272,3064.067091,968.933406

In [46]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [47]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

,26,29,31,33,35,43
1,1256.479763,1264.621102,1278.881148,1129.059022,1623.877819,448.639124
2,1492.539035,1339.311079,1614.883079,1420.895981,1967.309126,505.866058
3,1537.705525,1296.283079,1618.724012,1370.822204,2022.290674,509.400569
4,1549.075401,1243.432558,1621.266359,1324.298793,2071.431236,556.967262
5,1504.635339,1335.487406,1490.889458,1292.769733,1975.828780,512.406230
6,1536.263305,1306.429726,1425.670352,1298.053982,1975.295708,521.510036
7,1469.971410,1372.572794,1480.060610,1303.854350,1952.468741,516.015408
8,1444.325831,1380.498860,1535.730454,1339.711966,1944.579737,545.174990
9,1427.297822,1375.894073,1553.610826,1341.930428,1965.734839,537.366225
10,1379.447798,1364.688594,1501.510312,1332.191696,2001.495054,555.104145
11,1400.623435,1364.146278,1489.983414,1320.204339,1990.971097,553.409810
12,1356.951597,1257.964294,1431.569289,1250.426701,1834.674583,507.724135

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)sumatoria(g/um_pobr)*2 para cada mes y cada región

In [48]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [49]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

          26        29        31        33        35        43
1   0.667125  0.656941  0.538315  0.530301  0.583922  0.343362
2   0.779830  0.721606  0.620478  0.629726  0.668954  0.394737
3   0.783133  0.719794  0.630267  0.622726  0.672676  0.399702
4   0.777578  0.716499  0.631027  0.615467  0.675057  0.407504
5   0.770343  0.721652  0.623466  0.610683  0.664546  0.393586
6   0.788629  0.710442  0.614196  0.609555  0.661012  0.394873
7   0.783337  0.715826  0.618238  0.612159  0.660280  0.393743
8   0.779867  0.707502  0.611485  0.614581  0.653406  0.395999
9   0.774331  0.707174  0.614159  0.617617  0.655012  0.389700
10  0.761466  0.727758  0.609643  0.608419  0.649270  0.386496
11  0.772208  0.706819  0.599510  0.605901  0.650040  0.376021
12  0.750501  0.693495  0.589709  0.586207  0.624484  0.358004

In [50]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [51]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

          26        29        31        33        35        43
1   0.366961  0.368069  0.254653  0.248131  0.281391  0.131372
2   0.451755  0.403718  0.312386  0.309933  0.337112  0.149055
3   0.456863  0.400861  0.314010  0.304692  0.341814  0.148025
4   0.457343  0.395046  0.309975  0.300098  0.345849  0.153612
5   0.445280  0.402691  0.298066  0.293365  0.335300  0.145816
6   0.455742  0.392658  0.285782  0.293572  0.331038  0.146197
7   0.449538  0.398285  0.289842  0.292925  0.331131  0.146745
8   0.442565  0.394135  0.291571  0.294900  0.327759  0.148979
9   0.438874  0.393440  0.295592  0.292873  0.327299  0.146519
10  0.429681  0.395618  0.289275  0.289541  0.328004  0.147030
11  0.430351  0.388299  0.284179  0.289661  0.326173  0.142488
12  0.418993  0.376063  0.278143  0.278346  0.301285  0.134294

In [52]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [53]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

          26        29        31        33        35        43
1   0.246610  0.247625  0.151940  0.145892  0.171097  0.069578
2   0.302869  0.270186  0.190277  0.185254  0.207675  0.077850
3   0.308776  0.267275  0.189457  0.180704  0.211958  0.075860
4   0.310125  0.260350  0.186997  0.177806  0.214567  0.080685
5   0.297889  0.268980  0.175978  0.171774  0.206095  0.074695
6   0.304331  0.260349  0.165622  0.172270  0.203094  0.074694
7   0.300178  0.264261  0.168918  0.170840  0.202224  0.074397
8   0.291960  0.262203  0.172244  0.172866  0.200410  0.076259
9   0.289395  0.260438  0.174308  0.171558  0.199223  0.075409
10  0.282442  0.259990  0.169547  0.169425  0.200109  0.077119
11  0.280855  0.255554  0.165849  0.169366  0.198225  0.074134
12  0.272152  0.245744  0.162975  0.161491  0.180401  0.070371

El autor menciona también los trabajos de Ravallion 1994 y 2016 pero parece ser que no los calcula

------------------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/Nsumatoria(y*(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (1999)

In [54]:
b2007pi = b2007pf.loc[b2007pf['ingr_t']>0]

In [55]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [56]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

            26          29          31          33          35          43
1   127.874571  129.844246  160.832347  178.278353  204.936028  176.657403
2    90.261586  111.217672  126.016286  146.385611  170.982834  142.557352
3    88.756626  105.310813  122.545088  153.200964  172.805368  143.405487
4    91.234366  106.680596  123.298979  152.454040  166.196500  146.397022
5    92.066679  107.781947  127.270791  152.680278  170.182226  145.347500
6    92.427174  110.369717  128.212720  154.894414  167.789508  147.133518
7    92.673057  112.991833  128.198870  155.229876  165.032061  152.315662
8    93.479816  114.107944  132.410832  147.843090  164.862218  153.310341
9    92.454899  114.796217  130.048529  149.932928  163.446849  155.538232
10   93.423526  109.422007  133.273871  148.326976  164.645831  154.877700
11   93.142285  119.714687  137.354561  151.332256  169.431433  153.963281
12   97.213037  121.802137  137.093634  154.606508  185.541131  157.541530

In [57]:
b2007pi['ingr_t25'] = b2007pi['ingr_t']**(1-0.25)
b2007pi['ingr_t50'] = b2007pi['ingr_t']**(1-0.5)
b2007pi['ingr_t75'] = b2007pi['ingr_t']**(1-0.75)
b2007pi

C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\1406876340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pi['ingr_t25'] = b2007pi['ingr_t']**(1-0.25)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\1406876340.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pi['ingr_t50'] = b2007pi['ingr_t']**(1-0.5)
C:\Users\PATRICIO\AppData\Local\Temp\ipykernel_6384\1406876340.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b2007pi['ingr_t75'] = b2007pi['ingr_t']**(1-0.75)

,v035,v075,v070,v040,v050,v115,v209,v210,v234,vD26,defl,ingr_r,den,ingr_t,ingr_t25,ingr_t50,ingr_t75
0,26,2007,1,26000011,1,350,3,3,50,250.0,2.815328,88.799594,3.000000,29.599865,12.690166,5.440576,2.332504
2,26,2007,1,26000011,1,350,3,3,25,250.0,2.815328,88.799594,3.000000,29.599865,12.690166,5.440576,2.332504
5,26,2007,1,26000011,2,350,4,3,28,240.0,2.815328,85.247610,3.400000,25.072827,11.204758,5.007277,2.237695
7,26,2007,1,26000011,3,350,3,2,32,1050.0,2.815328,372.958295,2.400000,155.399289,44.013588,12.465925,3.530712
12,26,2007,1,26000011,6,350,4,2,27,1400.0,2.815328,497.277726,2.746426,181.063555,49.359788,13.455986,3.668240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225924,43,2007,12,43602134,1,380,2,2,36,1370.0,2.927934,467.906760,2.000000,233.953380,59.820081,15.295535,3.910951
1225925,43,2007,12,43602134,1,380,2,2,32,1150.0,2.927934,392.768448,2.000000,196.384224,52.460201,14.013716,3.743490
1225927,43,2007,12,43602177,1,380,2,2,26,600.0,2.927934,204.922669,2.000000,102.461334,32.204755,10.122319,3.181559
1225928,43,2007,12,43602195,1,380,2,2,29,1200.0,2.927934,409.845338,2.000000,204.922669,54.161727,14.315120,3.783533
1225929,43,2007,12,43602195,1,380,2,2,27,600.0,2.927934,204.922669,2.000000,102.461334,32.204755,10.122319,3.181559

In [58]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [59]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

,26,29,31,33,35,43
1,168455.192652,169837.214419,331020.410689,333881.074405,448017.187388,276934.134305
2,127956.566127,146870.686124,279634.680902,284470.335852,389186.150885,240633.062771
3,127311.672060,139832.026008,276210.026527,288335.760303,391217.492027,249681.673112
4,130228.882335,139240.442349,281501.418614,282893.815801,388781.187457,258628.968269
5,133264.687696,144729.258784,281793.714144,286384.465253,393322.458962,256923.395781
6,132092.182256,149238.753388,288960.448213,289000.141716,397555.743355,263517.415689
7,128639.212310,155439.562103,293980.849973,294618.229253,391132.379547,266663.720609
8,131146.112813,158817.151506,303315.089524,291056.036592,393491.997712,275678.915929
9,130487.302724,159627.504090,299222.612593,296288.054676,398505.349204,276712.084726
10,130702.720494,154126.184047,303433.300979,297593.285690,405588.917838,279850.393333
11,132193.930896,165440.581326,312990.734246,297800.180195,414416.968052,290117.196479
12,136964.075047,161890.739915,307330.244995,301226.702837,448560.205578,285533.460658

In [60]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [61]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

,26,29,31,33,35,43
1,48085.696832,48095.572533,89186.689411,88185.142502,113900.869703,73286.511642
2,40113.113369,43378.025397,80319.281467,78957.967618,103638.636148,67479.738959
3,40085.531360,41982.765565,80008.684160,79131.436250,103847.651433,69920.213258
4,40636.388145,41700.818780,81455.071970,77815.368684,104237.681857,71889.961380
5,41556.479662,43125.282979,80930.770516,78844.592482,104892.489032,71681.394327
6,41131.763946,44233.359194,82950.569895,79243.267457,106480.069606,73258.595429
7,40045.087279,45743.025361,84337.400813,80635.653498,105282.950787,73382.479825
8,40770.503545,46603.213320,86202.769273,80729.624149,106028.621697,75714.764203
9,40703.732025,46813.471313,85485.258658,81838.688562,107647.853004,75683.447271
10,40701.362207,45839.425015,86099.403223,82476.857412,109349.201166,76630.369088
11,41277.525924,47970.022672,88090.016140,82075.815253,110789.592374,79673.989360
12,42247.150323,46771.451604,86633.016980,82628.390176,117133.150102,78007.296457

In [62]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [63]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

,26,29,31,33,35,43
1,15014.387289,14983.796287,26301.902477,25209.659204,31625.473371,20975.770104
2,13581.732885,14062.001803,25133.231626,23757.907316,30169.754595,20291.317987
3,13646.880230,13722.197144,25200.932975,23636.943879,30276.346203,20999.407223
4,13738.978029,13580.861104,25621.482729,23242.918457,30543.248584,21542.610997
5,13993.578865,14045.394166,25257.035514,23539.695377,30545.265868,21482.197267
6,13904.541366,14308.068489,25807.696037,23601.555639,31025.606733,21898.796329
7,13515.418521,14783.816742,26239.962945,23953.783270,30764.371217,21812.504674
8,13720.393179,15016.160920,26712.278561,24187.757591,30965.942265,22483.979818
9,13701.409183,15085.465227,26614.696724,24451.932037,31476.645190,22430.206185
10,13644.500888,14911.755540,26616.396859,24632.737558,31936.989929,22688.145800
11,13897.223687,15338.849463,27096.718930,24448.453030,32177.846919,23587.116292
12,14049.912021,14844.278788,26596.366029,24464.222115,33271.352611,22954.894807

In [64]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [65]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

          26        29        31        33        35        43
1   0.170144  0.176368  0.168447  0.151255  0.167549  0.148594
2   0.148170  0.175645  0.161784  0.155064  0.170899  0.134146
3   0.151502  0.160514  0.159621  0.165834  0.181770  0.134590
4   0.152635  0.158897  0.159916  0.162523  0.169432  0.143646
5   0.146871  0.167655  0.159512  0.161704  0.168542  0.137885
6   0.159488  0.165132  0.155401  0.164941  0.160823  0.139546
7   0.157369  0.177696  0.155881  0.159535  0.156936  0.148087
8   0.154396  0.177095  0.167518  0.149321  0.154879  0.150221
9   0.147299  0.180199  0.167236  0.151540  0.152209  0.154580
10  0.143181  0.172131  0.164995  0.143305  0.153848  0.149587
11  0.151440  0.186788  0.171602  0.149749  0.158514  0.144984
12  0.147395  0.178903  0.165294  0.147389  0.160103  0.143950

In [66]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [67]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

          26        29        31        33        35        43
1   0.303439  0.316945  0.301909  0.271679  0.297232  0.268749
2   0.265945  0.311462  0.289270  0.276060  0.299971  0.243519
3   0.270012  0.288482  0.284424  0.289751  0.314435  0.243955
4   0.274561  0.285380  0.284123  0.284001  0.298524  0.259153
5   0.264775  0.300030  0.282988  0.281160  0.296589  0.248797
6   0.281683  0.295974  0.275726  0.285960  0.285663  0.251751
7   0.278419  0.313566  0.277314  0.280879  0.279485  0.265111
8   0.273408  0.313376  0.294042  0.266059  0.275709  0.268357
9   0.263297  0.316005  0.292658  0.269896  0.271778  0.274775
10  0.256621  0.303020  0.290781  0.258233  0.274050  0.268205
11  0.264468  0.325417  0.300044  0.267400  0.281891  0.260128
12  0.261474  0.314612  0.290480  0.263433  0.285047  0.258002

In [68]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [69]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

          26        29        31        33        35        43
1   0.410248  0.429309  0.407148  0.368418  0.398436  0.366072
2   0.360803  0.417710  0.389691  0.371142  0.398294  0.332990
3   0.364647  0.391508  0.382374  0.384749  0.413212  0.333073
4   0.372639  0.387133  0.381441  0.377893  0.397149  0.352098
5   0.360113  0.405827  0.379335  0.373150  0.394477  0.338377
6   0.377199  0.401104  0.369831  0.378568  0.382866  0.342266
7   0.373899  0.419113  0.372584  0.374874  0.375382  0.357843
8   0.367033  0.420136  0.391529  0.358237  0.370795  0.361825
9   0.355773  0.420858  0.388657  0.363081  0.366369  0.368879
10  0.347964  0.404744  0.387788  0.350652  0.368639  0.362677
11  0.352548  0.430479  0.397517  0.360546  0.378262  0.352614
12  0.351424  0.419448  0.386941  0.355444  0.382613  0.349630

In [70]:
a25['ano'] = 2007
a50['ano'] = 2007
a75['ano'] = 2007
fgt0['ano'] = 2007
fgt1['ano'] = 2007
fgt2['ano'] = 2007

## Calculamos el ingreso promedio por año y región

In [71]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [72]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b2007pi.loc[(b2007pi['v035']==x) & (b2007pi['v070']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

            26          29          31          33          35          43
1   127.874571  129.844246  160.832347  178.278353  204.936028  176.657403
2    90.261586  111.217672  126.016286  146.385611  170.982834  142.557352
3    88.756626  105.310813  122.545088  153.200964  172.805368  143.405487
4    91.234366  106.680596  123.298979  152.454040  166.196500  146.397022
5    92.066679  107.781947  127.270791  152.680278  170.182226  145.347500
6    92.427174  110.369717  128.212720  154.894414  167.789508  147.133518
7    92.673057  112.991833  128.198870  155.229876  165.032061  152.315662
8    93.479816  114.107944  132.410832  147.843090  164.862218  153.310341
9    92.454899  114.796217  130.048529  149.932928  163.446849  155.538232
10   93.423526  109.422007  133.273871  148.326976  164.645831  154.877700
11   93.142285  119.714687  137.354561  151.332256  169.431433  153.963281
12   97.213037  121.802137  137.093634  154.606508  185.541131  157.541530

In [73]:
ynr['ano'] = 2007

----------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [74]:
a25_07 = a25
a50_07 = a50
a75_07 = a75
fgt0_07 = fgt0
fgt1_07 = fgt1
fgt2_07 = fgt2
ynr_07 = ynr

In [75]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b2007p, b2007pf, b2007pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [77]:
a25_07.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2007\\a25_07.csv')
a50_07.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2007\\a50_07.csv')
a75_07.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2007\\a75_07.csv')
fgt0_07.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2007\\fgt0_07.csv')
fgt1_07.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2007\\fgt1_07.csv')
fgt2_07.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2007\\fgt2_07.csv')
ynr_07.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2007\\ynr_07.csv')